@use '@angular/material' as mat;
@use 'variables' as dt;
@import '_inputbox';

.chart-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
.chart {
  max-height: 600px;
  min-height: 450px;
  height: 70vh;
  flex-basis: 600px;
  flex-grow: 1;
  min-width: 0;
  margin-right: 20px;
  margin-bottom: 20px;

  position: relative;

  dt-line-area-chart {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.tab-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 400px;
  min-width: 0;

  margin-bottom: 16px;

  dt-tabs {
    @include mat.elevation(4);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 25px;
  }

  .content {
    display: flex;
  }

  table {
    border-spacing: 2px;
    border-collapse: separate;
    table-layout: fixed;
    padding: 5px 0;

    flex: 1;

    th {
      word-break: break-word;
    }

    th,
    td {
      text-align: center;
      padding: 5px;

      &.highlight {
        width: 40%;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    .center-cell {
      width: 10%;
    }

    input {
      margin: 0;
      text-align: right;
    }
  }
}

.tabs-footer {
  display: flex;

  border-left: 1px solid rgba(59, 76, 91, 0.2);

  mat-form-field,
  button {
    flex: 1 0 0;
    min-width: 0;
  }

  .tradeoff-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: dt.$orange;
    color: white;

    &.active {
      background-color: #f5f5f5;
      color: dt.$orange;
      border: 2px solid dt.$orange;
    }
  }

  .button-form-field {
    input {
      visibility: hidden;
    }

    .button-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      display: flex;

      button {
        flex: 1;

        color: dt.$orange;
        font-size: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: rgba(dt.$orange, 0.1);
        }

        &[disabled] {
          color: dt.$grey-foreground;
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}

// The options field at the bottom
.options-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  & > .option-box {
    flex: 1;
    margin-bottom: 10px;
    border-radius: 5px;
    white-space: nowrap;

    & > div {
      @extend %inputbox-appearance;
      padding: 5px 15px;
      @include mat.elevation(4);
      min-width: 0;
      border-radius: 5px;

      // Inside the boxes, the items should flex vertically
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      .range-input {
        margin-left: 15px;
        flex: 1 0 auto;
        width: auto;
        // Remove red border when the input is deemed invalid
        box-shadow: none;

        & > div {
          min-width: 0;
        }
      }
    }
  }
}

.objective-name {
  overflow-wrap: anywhere;
}

//Adjustments for screens with less width
.reversed-stacking {
  .chart {
    height: 40vh;
  }

  .tab-container {
    flex-direction: column-reverse;
  }

  .options-container {
    margin-bottom: 15px;
  }

  .option-box {
    margin: 5px;
  }
}
