<div class="list">
  <klug-objective-box
    *ngFor="let objective of decisionData.objectives; index as objectiveIndex"
    [objectiveIndex]="objectiveIndex"
    (delete)="deleteObjective(objectiveIndex)"
  ></klug-objective-box>
</div>

<button
  mat-raised-button
  (click)="addObjective()"
  [disabled]="decisionData.objectives.length >= constants.maxObjectiveCount"
  color="klug-red"
>
  <mat-icon>add</mat-icon>
  <span>weiteres Ziel hinzufügen </span>
</button>
