<div class="select-container">
  <dt-select
    *ngIf="riskProfileValues.length > 1"
    [(selectedOptions)]="filterIndexes"
    (selectedOptionsChange)="changeComparisonFilter()"
    [multiple]="true"
  >
    <dt-select-label i18n>Vergleichen mit</dt-select-label>
    <ng-container *ngFor="let filterOutcome of filterOutcomes; let i = index">
      <dt-select-option [value]="filterOutcome.alternativeIndex">{{
        decisionData.alternatives[filterOutcome.alternativeIndex].name
      }}</dt-select-option>
    </ng-container>
  </dt-select>
  <dt-select *ngIf="objectiveScaleType !== 'verbal'" [(selectedOptions)]="useIndicatorScale" (selectedOptionsChange)="formatXAxis()">
    <dt-select-label i18n>Bandbreite</dt-select-label>
    <dt-select-option [value]="true" i18n>Gesamtskala</dt-select-option>
    <dt-select-option [value]="false" i18n>Angepasst</dt-select-option>
  </dt-select>
</div>
<div class="chart-container">
  <!-- Caption y-axis -->
  <span class="y-caption" i18n>Überschreitungswahrscheinlichkeit in %</span>
  <div class="chart-labels">
    <ng-container *ngFor="let _ of [].constructor(numberofHorizontalLines); let i = index">
      <!-- Labels (y axis) -->
      <span class="y-label" [style.top.px]="i * lineSpacing" [style.height.px]="yLabelHeight" [style.line-height.px]="yLabelHeight">
        {{ (1 - i / (numberofHorizontalLines - 1)) * 100 | toFixed : 0 }}
      </span>
    </ng-container>
  </div>
  <div class="chart">
    <div class="chart-canvas" [style.height.px]="(numberofHorizontalLines + 1) * lineSpacing">
      <dt-diagram-legend
        [items]="legendList"
        [style.top.px]="23"
        [style.right]="'calc(' + (100 - chartWidthPercentage) + '% + 10px)'"
        (highlightedItemChange)="hoveredIndex = $event"
      ></dt-diagram-legend>
      <ng-container *ngFor="let _ of [].constructor(numberofHorizontalLines); let i = index">
        <!-- Grid Lines (horizontal)-->
        <span
          class="grid-horizontal-line"
          [style.top.px]="i * lineSpacing + yLabelHeight / 2"
          [style.width.%]="chartWidthPercentage"
        ></span>
      </ng-container>
      <ng-container *ngIf="objectiveScaleType === 'verbal'; then verbalLabels; else numericalLabels"></ng-container>
      <ng-template #verbalLabels>
        <ng-container *ngFor="let verbalOption of verbalOptions; let i = index" #verbalLabels>
          <!-- Grid Lines (horizontal)-->
          <span class="grid-vertical-line" [style.left.%]="i * (1 / (verbalOptions.length - 1)) * chartWidthPercentage"> </span>
          <!-- Labels (x axis) -->
          <span class="x-label" [style.left.%]="i * (1 / (verbalOptions.length - 1)) * chartWidthPercentage">
            {{ verbalOption }}
          </span>
        </ng-container>
      </ng-template>
      <ng-template #numericalLabels>
        <ng-container *ngFor="let _ of [].constructor(numberOfVerticalLines); let i = index" #numericalLabels>
          <!-- Grid Lines (horizontal)-->
          <span class="grid-vertical-line" [style.left.%]="i * (1 / (numberOfVerticalLines - 1)) * chartWidthPercentage"> </span>
          <!-- Labels (x axis) -->
          <span
            class="x-label"
            [style.left.%]="i * (1 / (numberOfVerticalLines - 1)) * chartWidthPercentage"
            [matTooltip]="scaleMin + (i / (numberOfVerticalLines - 1)) * (scaleMax - scaleMin) + ''"
            [matTooltipDisabled]="!isNumberRounded(scaleMin + (i / (numberOfVerticalLines - 1)) * (scaleMax - scaleMin))"
          >
            {{ scaleMin + (i / (numberOfVerticalLines - 1)) * (scaleMax - scaleMin) | roundAsPower : significantDigits }}
          </span>
        </ng-container>
      </ng-template>
      <!-- Caption (x-axis) -->
      <span class="x-caption">
        <span i18n>Ergebnis im Ziel</span> „{{ objective.name }}“
        <span *ngIf="scaleUnit"> (in {{ scaleUnit }}) </span>
      </span>
      <ng-container *ngFor="let riskArray of riskProfileValues; let arrayIndex = index">
        <ng-container *ngFor="let riskValue of riskArray; let valueIndex = index">
          <!-- Points -->
          <span
            class="point"
            *ngIf="valueIndex < riskArray.length - 1"
            [style.left]="'calc(' + calculateLeftPercentage(valueIndex, riskArray) + '% + 1px)'"
            [style.top.px]="
              (1 - riskArray[valueIndex + 1].riskProbability) * (numberofHorizontalLines - 1) * lineSpacing + yLabelHeight / 2
            "
            [style.opacity]="riskValue.isVisible ? '1' : '0'"
            [style.background-color]="lineColours[arrayIndex % lineColours.length]"
            (mouseenter)="riskValue.isVisible = true"
            (mouseleave)="riskValue.isVisible = false"
            [matTooltip]="createTooltip(riskArray, valueIndex)"
            [matTooltipPosition]="'above'"
            matTooltipClass="custom-tooltip"
          ></span>
          <!-- Solid step lines (horizontal) -->
          <span
            class="function-horizontal-line"
            [style.left.%]="calculateLeftPercentageStepLine(valueIndex, riskArray)"
            [style.top.px]="(1 - riskValue.riskProbability) * (numberofHorizontalLines - 1) * lineSpacing + yLabelHeight / 2"
            [style.width]="'calc(' + calculateWidthPercentageStepLine(valueIndex, riskArray) + '% + ' + lineThickness + 'px)'"
            [style.background-color]="lineColours[arrayIndex % lineColours.length]"
            [style.height.px]="!isLineHovered(arrayIndex) && hoveredIndex !== -1 ? lineThickness / 1.5 : lineThickness"
            [style.opacity]="!isLineHovered(arrayIndex) && hoveredIndex !== -1 ? 0.7 : 1"
            [style.z-index]="isLineHovered(arrayIndex) ? 2 : 1"
          ></span>
          <!-- Dashed step lines (vertical) -->
          <span
            *ngIf="valueIndex < riskArray.length - 1"
            class="function-vertical-line"
            [style.left.%]="calculateLeftPercentage(valueIndex, riskArray)"
            [style.top.px]="(1 - riskValue.riskProbability) * (numberofHorizontalLines - 1) * lineSpacing + yLabelHeight / 2"
            [style.height.px]="
              (riskValue.riskProbability - riskArray[valueIndex + 1].riskProbability) * (numberofHorizontalLines - 1) * lineSpacing
            "
            [style.border-left-color]="lineColours[arrayIndex % lineColours.length]"
            [style.border-left-width.px]="!isLineHovered(arrayIndex) && hoveredIndex !== -1 ? lineThickness / 1.5 : lineThickness"
            [style.opacity]="!isLineHovered(arrayIndex) && hoveredIndex !== -1 ? 0.7 : 1"
            [style.z-index]="isLineHovered(arrayIndex) ? 2 : 1"
          ></span>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
