@use '@angular/material' as mat;

.chart-container {
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
}

.chart-labels {
  width: 50px;
  position: relative;
  text-align: center;
}

.chart {
  width: 100%;
}

.chart-canvas {
  padding: 5px;
  width: 100%;
  min-width: 500px;
  position: relative;
}

.y-caption {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
}

.y-label {
  position: absolute;
  left: 0;
  right: 0;
}

.x-caption {
  position: absolute;
  bottom: 0;
  left: 45%;
  margin-bottom: 5px;
  transform: translateX(-50%);
}

.x-label {
  position: absolute;
  bottom: 30px;
  transform: translateX(-50%);
  white-space: nowrap;
}

.grid-horizontal-line {
  background-color: #e1e1e1;
  width: 90%;
  height: 2px;
  left: 0;
  position: absolute;
}

.grid-vertical-line {
  background-color: #e1e1e1;
  width: 2px;
  top: 15px;
  height: calc(100% - 80px);
  position: absolute;
}

.select-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-right: 50px;
}

.function-horizontal-line {
  height: 2px;
  position: absolute;
  z-index: 1;
}

.function-vertical-line {
  position: absolute;
  bottom: 0;
  border-left: 2px dotted;
  z-index: 1;
}

.point {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
}

dt-diagram-legend {
  position: absolute;
}

::ng-deep {
  .custom-tooltip {
    font-size: 14px;
  }
}
