<div class="dt-limit-width">
  <dt-step-title step="objectives">{{ 'objectives' | naviStep }}</dt-step-title>

  <dt-step-description>
    <ng-template #description>
      <ng-container *dtProjectMode="'educational'" i18n>Hier siehst Du das Ergebnis des zweiten Schritts.</ng-container>
      <ng-container *dtProjectMode="'starter'" i18n
        >Arbeite Deine wichtigsten Ziele in der Entscheidungssituation heraus und erstelle eine Zielhierarchie.</ng-container
      ></ng-template
    >
    <ng-template #subDescription>
      <ng-container *dtProjectMode="'educational'" i18n
        >Du kannst an dieser Stelle weiterhin Änderungen vornehmen. Es kann sein, dass Du später die Hierarchie noch etwas auf Deine
        Alternativen anpassen musst. Der Entscheidungsprozess kann hier iterativ sein.</ng-container
      >
      <ng-container *dtProjectMode="'starter'" i18n
        >Baue eine Zielhierarchie auf, indem Du über die Funktionsleiste oder durch „Enter“ neue Aspekte erstellst. Aspekte mit eigenem Wert
        ordnest Du direkt rechts des Knotens „Zielhierarchie“ ein. Aspekte ohne eigenen Wert, die für einen anderen Aspekt hilfreich sind,
        ordnest Du wiederum rechts davon ein.
      </ng-container>
    </ng-template>
  </dt-step-description>

  <ng-container *dtProjectMode="'educational'">
    <div class="display-container">
      <dt-select [selectedOptions]="displayVariant" (selectedOptionsChange)="setDisplay($event)">
        <dt-select-label i18n>Ansicht</dt-select-label>
        <dt-select-option [value]="'list'" i18n>Liste</dt-select-option>
        <dt-select-option [value]="'tree'" i18n>Zielhierarchie</dt-select-option>
      </dt-select>
      <dt-collapse-all
        *ngIf="displayVariant === 'list'"
        (expandAll)="expandAll()"
        (collapseAll)="collapseAll()"
        [allExpanded]="allExpanded"
        [allCollapsed]="allCollapsed"
      ></dt-collapse-all>
    </div>
  </ng-container>
</div>

<ng-container [ngSwitch]="displayVariant">
  <ng-container *ngSwitchCase="'list'">
    <dt-objective-list class="dt-limit-width" (newExpansionStatus)="updateExpansionStatus($event)"> </dt-objective-list>
  </ng-container>
  <ng-container *ngSwitchCase="'tree'">
    <dt-objective-aspect-hierarchy
      [listOfAspects]="listOfAspects"
      [listOfDeletedAspects]="listOfDeletedAspects"
      [tree]="tree"
      [brainstormingOpen]="false"
      [trashBinOpen]="false"
    ></dt-objective-aspect-hierarchy>
  </ng-container>
</ng-container>

<ng-template #starterModeHelp>
  <div class="dt-help-padding">
    <p i18n>
      Mit den Fundamentalzielen formulierst Du die Aspekte, auf die es für Dich in der Entscheidung im Kern ankommt. Überlege also, was für
      Dich wirklich wichtig ist und finde hierfür passende, kurze Begriffe. Sammle zu diesem Zweck Deine Zielaspekte und versuche, diese in
      einer Zielhierarchie zu strukturieren. In den Folgeschritten werden lediglich die blauen Ziele der ersten Ebene weiterverwendet und
      als Bewertungskriterien herangezogen.
    </p>
  </div>
</ng-template>

<ng-template #helpTemplate>
  <div class="dt-help-padding">
    <p i18n
      >Du hast Schritt 2, die Benennung der Fundamentalziele, abgeschlossen. An dieser Stelle kannst Du jederzeit noch Änderungen vornehmen
      <span>(s. hierzu auch die Übersicht über die Shortcuts, welche Du durch Klicken auf das Fragezeichen-Symbol einsehen kannst).</span>
    </p>
    <p i18n>
      Alternativ kannst Du Dir Deine Ziele auch in einer Listenansicht anzeigen lassen. Im Gegensatz zur Zielhierarchie findest Du hier alle
      Fundamentalziele in Boxen aufgeführt. In diesen Boxen kannst Du Deine Ziele entweder im weißen Textfeld oder mithilfe des
      Kommentardreiecks oben rechts näher beschreiben. Rechts siehst Du einen kleinen Ausschnitt aus der Zielhierarchie, in welchem Dir alle
      Aspekte angezeigt werden, die hierarchisch unterhalb Deines Fundamentalziels angeordnet sind. Greife Deine Ziele oben links in der
      Kopfzeile am Symbol <mat-icon>drag_handle</mat-icon>, um sie per Drag&Drop vertikal zu verschieben. Verwende den Mülleimer
      <mat-icon>delete</mat-icon>, um ein Ziel zu löschen.
    </p>
    <p i18n>
      Du solltest auf dieser Ergebnisseite nun eine Selbsteinschätzung vornehmen, wie hoch die Qualität Deiner erzielten Ergebnisse ist.
      Klicke auf den Button „Qualität bewerten“ unten in der Mitte. In dem Fenster, das sich öffnet, wird Dir ein Balken mit einer Skala von
      null bis zehn angezeigt. Gib durch Klicken in den Balken oder Verschieben von diesem an, wie hoch die von Dir eingeschätzte Qualität
      der Ergebnisse des Schrittes ist. Weitere Hintergrundinformationen zur Entscheidungsqualität findest Du zum Schluss in der
      Abschlussbetrachtung. Dort wirst Du auch eine Übersicht darüber finden, wie hoch Du die Qualität in den anderen Schritten eingeschätzt
      hast. Eine solche Übersicht findest Du auch in dem Fenster, das sich bei Klick auf den Projektnamen oben in der Kopfleiste dieser
      Seite öffnet.
    </p>
  </div>
</ng-template>
