@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.display-container {
  display: flex;
  align-items: center;
  color: gray;
  justify-content: space-between;

  > span {
    margin-right: 20px;
  }
}

mat-divider {
  margin-top: 5px;
  margin-bottom: 10px;
}

dt-objective-aspect-hierarchy {
  align-self: center;
  min-width: min(100%, 1300px);
  max-width: 100%;
  flex: 1;
  flex-basis: 0;
  min-height: 500px;
  border: 1px solid lightgray;
}
