<ng-container [ngSwitch]="state">
  <div *ngSwitchCase="'ready'" class="mobile-wrapper" [dtWidthTrigger]="{ 'mobile-mode': 700 }">
    <div class="list-container">
      <div class="list-item" matRipple [class.selected]="value === 'blank'" (click)="templateClick('blank')">
        <mat-radio-button name="template-selection" [checked]="value === 'blank'" i18n>Ohne Vorlage fortfahren</mat-radio-button>
      </div>
      <div
        class="list-item"
        matRipple
        *ngFor="let template of templates"
        [class.selected]="value === template.name"
        (click)="templateClick(template.name)"
      >
        <mat-radio-button name="template-selection" [checked]="value === template.name">{{
          template.content.decisionProblem
        }}</mat-radio-button>
        <button mat-icon-button class="show-details-button" (click)="showDetailsPopover($event, popoverContent)"
          ><mat-icon>info</mat-icon></button
        >

        <ng-template #popoverContent>
          <div class="mat-elevation-z8 popover">
            <ng-container *ngTemplateOutlet="templateDetails; context: { $implicit: template.content }"></ng-container>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="detail-container">
      <ng-container
        *ngTemplateOutlet="activeDecisionData ? templateDetails : noTemplate; context: { $implicit: activeDecisionData }"
      ></ng-container>
    </div>
  </div>
  <div *ngSwitchCase="'loading'" class="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngSwitchCase="'offline'" i18n class="offline"> Vorlagen sind offline nicht verfügbar </div>
</ng-container>

<ng-template #templateDetails let-decisionData>
  <dt-inputbox [draggable]="false">
    <div class="caption-wrapper" i18n>Entscheidungsfrage</div>
    <div class="content-wrapper">{{ decisionData.decisionStatement.statement }}</div>
  </dt-inputbox>
  <dt-inputbox *ngFor="let obj of decisionData.objectives; let i = index" [collapsedByDefault]="true" [draggable]="false">
    <div class="caption-wrapper"
      ><ng-container i18n>Ziel {{ i + 1 }}:</ng-container> {{ obj.name }}</div
    >
  </dt-inputbox>
</ng-template>
<ng-template #noTemplate>
  <p class="no-template-text" i18n>Wähle eine Vorlage aus, um Details anzuzeigen.</p>
</ng-template>
