:host {
  display: block;
}

.active-chart {
  padding-bottom: 20px;
}

mat-divider {
  margin: 0px 0 20px 0;
}

#objective-weighting {
  display: block;
  width: 100%;
  max-width: min-content;
  padding: 5px;
  margin: 0 auto;
}
