@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../klug-colors' as klug-colors;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  klug-step-description {
    .exclamation-mark {
      color: klug-colors.$klug-exclamation;
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  klug-step-description {
    @include mat.typography-level($typography-config, 'subheading-1');

    .exclamation-mark {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
