@use 'variables' as dt;
@use '@angular/material' as mat;

:host {
  display: block;

  @include mat.elevation(4);

  border: 1px solid dt.$blue;
  border-radius: 4px;

  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 8px;

  // Style all icon buttons added by users
  ::ng-deep .mat-icon-button {
    width: 32px;
  }

  &.dark {
    color: white;
  }
}

.body-wrapper {
  overflow: hidden;
}

.body {
  display: flex;

  border-top: 1px solid dt.$blue;

  position: relative;
}

.left {
  flex: 1 0 200px;
}

.right {
  display: flex;
  overflow: hidden;

  position: relative;
  min-height: 100%;

  border-left: 1px solid dt.$blue;

  &,
  .right-content {
    max-width: 100%;
  }

  .expand-button-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    backdrop-filter: blur(2px);
    background-color: rgba(230, 230, 230, 0.8);

    &:hover {
      background-color: rgba(210, 210, 210, 0.8);
    }
  }

  .expand-button {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    color: dt.$orange;
  }
}

.small-screen {
  .left {
    margin-right: 24px;
  }

  .right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    &.expanded {
      @include mat.elevation(8);
    }
  }
}
