<dt-object-box [darkHeader]="true" [expanded]="expanded" (expandedChange)="expandedChange.emit($event)">
  <ng-template #header>
    <mat-icon class="drag-handle" [draggable]="true" dtDragHandle>drag_handle</mat-icon>
    <input
      data-cy="name-input"
      class="browser-default name-input"
      type="text"
      [(ngModel)]="objective.name"
      placeholder="Name des Ziels"
      i18n-placeholder
    />
    <button *ngIf="showSendButton" mat-icon-button (click)="sendObjective(me)" #me="dtElementRef" dtElementRef
      ><mat-icon>send</mat-icon></button
    >
    <button *ngIf="teamTrait?.isOtherUsersProject" mat-icon-button #me="dtElementRef" dtElementRef (click)="transferObjectiveToMe(me)">
      <mat-icon>publish</mat-icon>
    </button>
    <button data-cy="delete-button" mat-icon-button (click)="deleteClick.emit()"><mat-icon>delete</mat-icon></button>

    <dt-note-btn
      [(comment)]="objective.comment"
      caption="Erläuterung zum Ziel &bdquo;{{ objective.name }}&ldquo;"
      [darkBackground]="true"
      i18n-caption
    >
      <dt-team-comments additional-modal-content [object]="objective"></dt-team-comments>
    </dt-note-btn>
  </ng-template>

  <ng-template #body>
    <quill-editor
      [(ngModel)]="objective.comment"
      format="json"
      bounds="self"
      theme="bubble"
      [modules]="{ toolbar: { container: [['bold', 'italic', 'underline', 'strike']] } }"
      placeholder="Beschreibung des Ziels"
      i18n-placeholder
    ></quill-editor>
  </ng-template>

  <ng-template #sidePanel>
    <div class="sidepanel-wrapper">
      <ng-container [ngTemplateOutlet]="objectiveHierarchy" [ngTemplateOutletContext]="{ $implicit: true }"></ng-container>
    </div>
  </ng-template>
</dt-object-box>

<ng-template #objectiveHierarchy let-showFullscreenButton>
  <dt-objective-aspect-hierarchy
    [tree]="aspectTree"
    [editable]="false"
    [forceHideNoteBtn]="true"
    [onlyAspects]="true"
    [allowInputSelection]="false"
    [allowSavingImage]="false"
    [allowFullscreen]="false"
  >
    <dt-button-tiny
      toolbar
      *ngIf="showFullscreenButton"
      class="fullscreen-button"
      icon="fullscreen"
      (click)="hierarchyModal.open()"
    ></dt-button-tiny>
    <mat-divider toolbar *ngIf="showFullscreenButton" [vertical]="true"></mat-divider>
  </dt-objective-aspect-hierarchy>
</ng-template>

<dt-modal #hierarchyModal [contentPadding]="false">
  <ng-template #title i18n>Aspekte für das Ziel &bdquo;{{ objective.name }}&ldquo;</ng-template>
  <ng-template #content>
    <div class="hierarchy-modal-content">
      <ng-container [ngTemplateOutlet]="objectiveHierarchy"></ng-container>
    </div>
  </ng-template>
</dt-modal>
