@use 'variables' as dt;

.shorter-line {
  margin-right: 25px;
}

.control-field {
  display: flex;
  flex-flow: column;
  touch-action: none;

  dt-range-input {
    margin: 2px 0;
  }
}

.control-field-slider-grid {
  overflow: auto;
  justify-content: flex-start;
  flex-direction: row;
  scroll-behavior: smooth;
}

.content-wrapper {
  position: relative;
}

.italic-text {
  font-style: italic;
  margin-right: 5px;
}

.scrolling-arrow {
  position: absolute;
  margin-right: -5px;
  top: 0;
  width: 25px;
  height: 100%;
  background-color: rgba(157, 165, 173, 0.2);
  transition: background 0.5s ease-out;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 5;
}

.scrolling-arrow:hover {
  background-color: rgba(157, 165, 173, 0.4);
}

.control-field-slider-grid::-webkit-scrollbar {
  display: none;
}

.control-field-slider-grid {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-left: 25px;
  margin-right: 20px;
}

h3 {
  margin-top: 16px;
}

.active-chart {
  position: sticky;
  top: -40px;
  background-color: white;
  z-index: 10;
  transition: box-shadow 0.2s;

  padding-bottom: 10px;

  max-height: 40vh;

  &.stuck {
    box-shadow: 0 4px 2px -2px gray;
  }

  @media screen and (max-height: 400px) {
    position: initial;

    &.stuck {
      box-shadow: initial;
    }
  }
}

.active-chart-top {
  height: 1px;
}

.caption-wrapper {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.inverted-button-orange {
  color: dt.$orange;
}

.red-warning {
  color: red;
  display: flex;
  width: 100%;
  align-items: center;

  .inverted-button-red {
    margin-left: 10px;
  }
}

.caption-wrapper mat-checkbox ::ng-deep {
  span {
    color: white !important;
  }

  .mat-checkbox-frame {
    border-color: hsla(0, 0%, 100%, 0.8) !important;
  }
}

.caption-field,
.control-field {
  color: dt.$inputbox-foreground;
  // min-width: 400px;
}

.parameter-group {
  margin-top: 20px;
}

.field-wrapper:not(:last-child) {
  margin-right: 20px;
}

.state-name {
  color: gray;
}

.field-wrapper {
  width: 100%;
  min-width: 270px;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 580px) {
    min-width: 100px;
  }

  .dummy-container {
    width: 70px;
  }

  .title-container {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    user-select: none;
  }
}

.warning-popover {
  background-color: #fff;
  padding: 5px;
  max-width: 600px;
}
