<dt-step-title *ngIf="showTitle" [showStepNumber]="showTitle" step="results"
  ><span i18n>{{ 'results' | naviStep }}:&nbsp;</span>
  <span i18n>Sen&shy;si&shy;ti&shy;vi&shy;täts&shy;a&shy;na&shy;ly&shy;se</span></dt-step-title
>

<dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()" [withBiggerMargin]="!decisionData.isProfessional()">
  <ng-template #description>
    <ng-container *dtProjectMode="'educational'" i18n
      >Ändere die Parameter und schaue, wie sich die Änderungen auf das Ergebnis auswirken.</ng-container
    >
    <ng-container *dtProjectMode="'professional'" i18n
      >Hier kannst Du viele Parameter des Projektes verändern und dadurch Konstellationen identifizieren, die zu einer anderen Rangfolge der
      Alternativen führen würden. Dadurch kannst Du ein besseres Gefühl für das Zusammenspiel aller Faktoren entwickeln.
    </ng-container>
    <ng-container *dtProjectMode="'starter'" i18n
      >Ändere die Zielgewichte und schaue, wie sich die Änderungen auf das Ergebnis auswirken.</ng-container
    >
  </ng-template>
  <ng-template #subDescription>
    <ng-container *dtProjectMode="'educational'" i18n
      >Hier kannst Du viele Parameter des Projektes verändern. Dadurch kannst Du Änderungen identifizieren, die zu einem anderen Ergebnis
      führen würden und somit ein besseres Gefühl für das Zusammenspiel der Faktoren entwickeln.</ng-container
    >
    <ng-container *dtProjectMode="'starter'" i18n
      >Hier kannst Du die Zielgewichte testweise verändern. Dadurch kannst Du Änderungen identifizieren, die zu einem anderen Ergebnis
      führen würden, und somit ein besseres Gefühl für das Zusammenspiel der Faktoren entwickeln.
    </ng-container>
  </ng-template>
</dt-step-description>

<div class="active-chart-top" dtViewIntersection (enterView)="chartUnStick()" (leaveView)="chartStick()"></div>
<dt-chart-ranking
  class="active-chart"
  [(selectedAlternatives)]="selectedAlternatives"
  (selectedAlternativesChange)="change()"
  [utilityValues]="alternativeUtilities"
  [weightedUtilityMatrix]="weightedUtilityMatrix"
  [initialUtilityValues]="selectedUtilityValues"
  [class.stuck]="chartStuck"
  [enableAlternativeSelection]="true"
>
  <div *ngIf="hasDivisionByZero" class="red-warning">
    <span>Achtung: Division durch Null</span>
    <dt-button-tiny
      class="inverted-button-red"
      [dtHoverPopover]="divisionByZeroWarning"
      [dtHoverPopoverPosition]="'bottom'"
      [icon]="'info'"
      [invertColor]="'#ffa0a0'"
    ></dt-button-tiny>
  </div>
  <dt-button *ngIf="showOutcomes && decisionData.projectMode !== 'starter'" type="raised-less" (click)="openOutcomeSelectionModal()" i18n>
    Parameterauswahl im Wirkungsmodell
  </dt-button>
  <dt-select [multiple]="true" [(selectedOptionsGrouped)]="selectedParameters">
    <dt-select-label i18n>Parameter</dt-select-label>

    <dt-select-option [value]="'objective-weights'" [showAsGroupLabel]="true" i18n>Zielgewichte</dt-select-option>

    <ng-container *dtProjectMode="['educational', 'professional']">
      <dt-select-group [value]="'objectives'">
        <dt-select-label i18n>Nutzenfunktionen</dt-select-label>
        <dt-select-option *ngFor="let objective of objectives; let index = index" [value]="index">{{ objective.name }}</dt-select-option>
      </dt-select-group>

      <dt-select-group [value]="'influence-factors'">
        <dt-select-label i18n>Einflussfaktoren</dt-select-label>
        <dt-select-option *ngFor="let influenceFactor of decisionData.influenceFactors; let index = index" [value]="index">{{
          influenceFactor.name
        }}</dt-select-option>
      </dt-select-group>

      <dt-select-group [value]="'indicator-weights'">
        <dt-select-label i18n>Indikatorgewichte</dt-select-label>
        <dt-select-option *ngFor="let objective of objectivesIndicator; let index = index" [value]="index">{{
          objective.name
        }}</dt-select-option>
      </dt-select-group>
    </ng-container>

    <dt-select-option *dtProjectMode="['educational', 'professional']" [value]="'outcomes'" [showAsGroupLabel]="true" i18n
      >Wirkungsmodell</dt-select-option
    >
  </dt-select>
</dt-chart-ranking>

<div class="parameter-group">
  <dt-inputbox *ngIf="showObjectiveWeights" [collapsibleButton]="true" [draggable]="false" [margin]="true">
    <div class="caption-wrapper" title="Zielgewichte" i18n-title i18n>Zielgewichte</div>
    <div class="control-wrapper">
      <dt-button-tiny
        (click)="resetWeightsOfObjectivesSA()"
        [icon]="'refresh'"
        [disabled]="weightsOfObjectivesSA.valuesChanged()"
      ></dt-button-tiny>
    </div>
    <div class="content-wrapper">
      <div
        class="line"
        *ngFor="
          let weightOfObjective of weightsOfObjectivesSA.weightsOfObjectives;
          index as i;
          count as count;
          trackBy: decisionData.trackByIndex
        "
      >
        <div class="caption-field" [title]="decisionData.objectives[i].name">
          {{ decisionData.objectives[i].name }}
        </div>
        <div class="control-field">
          <dt-range-input
            [value]="weightOfObjective.value"
            [shownValue]="weightOfObjective.shownValue"
            [initialValue]="weightOfObjective.initValue"
            (valueChange)="weightsOfObjectivesSA.setValue($event, i); change()"
            [min]="weightOfObjective.valueRangeLimits.start"
            [max]="weightOfObjective.valueRangeLimits.end"
            [step]="stepWeightOfObjectives"
            [interval]="weightOfObjective.precisionInterval"
            [hasResponsiveLabelWidth]="true"
            [unit]="'percent'"
            [disabled]="count === 1"
          >
          </dt-range-input>
        </div>
      </div>
    </div>
  </dt-inputbox>
  <ng-container *dtProjectMode="['educational', 'professional']">
    <dt-inputbox *ngIf="isAnySelectedUtilityFunctionNumerical()" [collapsibleButton]="true" [draggable]="false" [margin]="true">
      <div class="caption-wrapper" title="Parameter c der Nutzenfunktionen" i18n-title i18n>Parameter c der Nutzenfunktionen</div>
      <div class="control-wrapper">
        <dt-button-tiny
          (click)="resetUtilityFunctionsNumericalSA()"
          [icon]="'refresh'"
          [disabled]="utilityFunctionsNumericalSAValuesChanged()"
        ></dt-button-tiny>
      </div>
      <div class="content-wrapper">
        <div
          class="line"
          *ngFor="let utilityFunctionNumerical of utilityFunctionsNumericalSA; let i = index; trackBy: decisionData.trackByIndex"
        >
          <ng-template
            #numerical
            [ngTemplateOutlet]="numerical"
            let-objectiveIdx="numericalObjectiveIdx"
            [ngTemplateOutletContext]="{ numericalObjectiveIdx: getObjectiveIndex(i, 'numerical') }"
          >
            <ng-container *ngIf="objectiveIdx > -1">
              <div class="caption-field" [title]="objectives[objectiveIdx].name">
                {{ objectives[objectiveIdx].name }}
              </div>
              <div class="control-field">
                <dt-range-input
                  [value]="utilityFunctionNumerical.value"
                  (valueChange)="utilityFunctionNumerical.value = $event; change()"
                  [initialValue]="utilityFunctionNumerical.initValue"
                  [min]="utilityFunctionNumerical.valueRangeLimits.start"
                  [max]="utilityFunctionNumerical.valueRangeLimits.end"
                  [step]="stepUtilityFunctionsNumerical"
                  [interval]="utilityFunctionNumerical.precisionInterval"
                  [hasResponsiveLabelWidth]="true"
                >
                </dt-range-input>
              </div>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </dt-inputbox>

    <ng-container *ngFor="let utilityFunctionVerbal of utilityFunctionsVerbalSA; let i = index; trackBy: decisionData.trackByIndex">
      <ng-template
        #verbal
        [ngTemplateOutlet]="verbal"
        let-objectiveIdx="verbalObjectiveIdx"
        [ngTemplateOutletContext]="{ verbalObjectiveIdx: getObjectiveIndex(i, 'verbal') }"
      >
        <ng-container *ngIf="objectiveIdx > -1">
          <dt-inputbox [collapsibleButton]="true" [draggable]="false" [margin]="true">
            <div class="caption-wrapper" [title]="'Nutzenbewertung von ' + objectives[objectiveIdx].name" i18n-title i18n
              >Nutzenbewertung von <span class="italic-text">„{{ objectives[objectiveIdx].name }}”</span></div
            >
            <div class="control-wrapper">
              <dt-button-tiny
                (click)="utilityFunctionVerbal.resetValues(); change()"
                [icon]="'refresh'"
                [disabled]="utilityFunctionVerbal.valuesChanged()"
              ></dt-button-tiny>
            </div>
            <div class="content-wrapper">
              <div class="line" *ngFor="let value of utilityFunctionVerbal.values; let j = index; trackBy: decisionData.trackByIndex">
                <div class="caption-field" [title]="objectives[objectiveIdx].verbalData.options[j]">
                  {{ objectives[objectiveIdx].verbalData.options[j] }}
                </div>
                <div class="control-field">
                  <dt-range-input
                    [value]="utilityFunctionVerbal.values[j]"
                    (valueChange)="utilityFunctionVerbal.values[j] = $event; utilityFunctionVerbal.valuesChange(j); change()"
                    [initialValue]="utilityFunctionVerbal.initValues[j]"
                    [min]="utilityFunctionVerbal.valueRangeLimits.start"
                    [max]="utilityFunctionVerbal.valueRangeLimits.end"
                    [step]="stepUtilityFunctionsVerbal"
                    [interval]="utilityFunctionVerbal.precisionIntervals[j]"
                    [valueLimits]="utilityFunctionVerbal.valueLimits[j]"
                    [hasResponsiveLabelWidth]="true"
                  >
                  </dt-range-input>
                </div>
              </div>
            </div>
          </dt-inputbox>
        </ng-container>
      </ng-template>
    </ng-container>

    <ng-container
      *ngFor="
        let uncertaintyFactor of influenceFactorsSA.slice(0, decisionData.influenceFactors.length);
        let i = index;
        trackBy: decisionData.trackByIndex
      "
    >
      <ng-container *ngIf="selectedInfluenceFactors.includes(i)">
        <dt-inputbox [collapsibleButton]="true" [draggable]="false" [margin]="true">
          <div
            class="caption-wrapper"
            [title]="'Wahrscheinlichkeit (in %) für Einflussfaktor ' + (decisionData.uncertaintyFactors[i] | influenceFactorName)"
            i18n-title
          >
            <span i18n
              >Wahrscheinlichkeit (in %) für Einflussfaktor
              <span class="italic-text"> „{{ decisionData.uncertaintyFactors[i] | influenceFactorName }}”</span>
            </span>
          </div>
          <div class="control-wrapper">
            <dt-button-tiny
              [icon]="'view_compact'"
              [dtHoverPopover]="impactModelPopover"
              [dtHoverPopoverPosition]="'left'"
            ></dt-button-tiny>
            <ng-template #impactModelPopover>
              <dt-matrix-popover [highlightOutcomes]="getOutcomesForInfluenceFactor(influenceFactors[i])"></dt-matrix-popover>
            </ng-template>
            <dt-button-tiny
              (click)="uncertaintyFactor.resetValues(); change()"
              [icon]="'refresh'"
              [disabled]="uncertaintyFactor.valuesChanged()"
            ></dt-button-tiny>
          </div>
          <div class="content-wrapper">
            <div class="line" *ngFor="let value of uncertaintyFactor.values; let j = index; trackBy: decisionData.trackByIndex">
              <div class="caption-field" [title]="uncertaintyFactor.stateNames[j]">
                {{ uncertaintyFactor.stateNames[j] }}
              </div>
              <div class="control-field">
                <dt-range-input
                  [value]="value"
                  (valueChange)="uncertaintyFactor.setValue($event, j); change()"
                  [initialValue]="uncertaintyFactor.initValues[j]"
                  [min]="uncertaintyFactor.valueRangeLimits.start"
                  [max]="uncertaintyFactor.valueRangeLimits.end"
                  [step]="stepInfluenceFactors"
                  [interval]="uncertaintyFactor.precisionIntervals[j]"
                  [style]="'thin'"
                  [hasResponsiveLabelWidth]="true"
                >
                </dt-range-input>
              </div>
            </div>
          </div>
        </dt-inputbox>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="showOutcomes">
      <ng-container *ngFor="let o of flattenedTransposedOutcomes; let i = index">
        <ng-container *ngIf="selectedOutcomes[o.alternativeIndex][o.objectiveIndex]">
          <dt-inputbox [collapsibleButton]="true" [draggable]="false" [margin]="true">
            <div
              class="caption-wrapper"
              [title]="
                'Wirkungsprognose für Ziel ' +
                objectives[o.objectiveIndex].name +
                ' und Alternative ' +
                decisionData.alternatives[o.alternativeIndex].name
              "
              i18n-title
            >
              <span i18n
                >Wirkungsprognose für Ziel
                <span class="italic-text"> „{{ objectives[o.objectiveIndex].name }}” </span>
                und Alternative
                <span class="italic-text"> „{{ decisionData.alternatives[o.alternativeIndex].name }}”</span>
              </span>
            </div>
            <div class="control-wrapper">
              <dt-button-tiny
                [icon]="'view_compact'"
                [dtHoverPopover]="impactModelPopover"
                [dtHoverPopoverPosition]="'left'"
              ></dt-button-tiny>
              <ng-template #impactModelPopover>
                <dt-matrix-popover [highlightOutcomes]="[outcomes[o.alternativeIndex][o.objectiveIndex]]"></dt-matrix-popover>
              </ng-template>
              <dt-button-tiny
                (click)="o.outcomeSA.resetValue(); change()"
                icon="refresh"
                [disabled]="!outcomesSA[o.alternativeIndex][o.objectiveIndex].valueChanged()"
              ></dt-button-tiny>
            </div>
            <div class="content-wrapper" #contentWrapper>
              <!-- Numerical sliders -->
              <ng-container *ngIf="objectives[o.objectiveIndex].isNumerical">
                <!-- With influence factor -->
                <ng-container *ngIf="o.outcomeSA.influenceFactor">
                  <div class="line" *ngFor="let state of o.outcomeSA.influenceFactor.values; let stateIdx = index">
                    <div class="caption-field state-name" [title]="o.outcomeSA.influenceFactor.stateNames[stateIdx]">
                      {{ o.outcomeSA.influenceFactor.stateNames[stateIdx] }}
                    </div>
                    <div class="control-field">
                      <dt-range-input
                        [value]="$any(o.outcomeSA.values[stateIdx])"
                        (valueChange)="onValueChange($event, o, stateIdx)"
                        [initialValue]="$any(o.outcomeSA.initValues[stateIdx])"
                        [min]="getScaleMin(objectives[o.objectiveIndex].numericalData)"
                        [max]="getScaleMax(objectives[o.objectiveIndex].numericalData)"
                        [step]="
                          calculateSliderStep(
                            objectives[o.objectiveIndex].numericalData.from,
                            objectives[o.objectiveIndex].numericalData.to
                          )
                        "
                        [style]="'thin'"
                        [hasResponsiveLabelWidth]="true"
                        [allowManualInput]="true"
                      >
                      </dt-range-input>
                    </div>
                  </div>
                </ng-container>
                <!-- Without influence factor -->
                <ng-container *ngIf="!o.outcomeSA.influenceFactor">
                  <div class="line">
                    <div class="caption-field"></div>
                    <div class="control-field">
                      <dt-range-input
                        [value]="$any(o.outcomeSA.values[0])"
                        (valueChange)="o.outcomeSA.values[0] = $event; change()"
                        [initialValue]="$any(o.outcomeSA.initValues[0])"
                        [min]="getScaleMin(objectives[o.objectiveIndex].numericalData)"
                        [max]="getScaleMax(objectives[o.objectiveIndex].numericalData)"
                        [step]="
                          calculateSliderStep(
                            objectives[o.objectiveIndex].numericalData.from,
                            objectives[o.objectiveIndex].numericalData.to
                          )
                        "
                        [style]="'thin'"
                        [hasResponsiveLabelWidth]="true"
                        [allowManualInput]="true"
                      >
                      </dt-range-input>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <!-- Verbal sliders -->
              <ng-container *ngIf="objectives[o.objectiveIndex].isVerbal">
                <!-- With influence factor -->
                <ng-container *ngIf="o.outcomeSA.influenceFactor">
                  <div class="line" *ngFor="let state of o.outcomeSA.influenceFactor.values; let stateIdx = index">
                    <div class="caption-field state-name" [title]="o.outcomeSA.influenceFactor.stateNames[stateIdx]">
                      {{ o.outcomeSA.influenceFactor.stateNames[stateIdx] }}
                    </div>
                    <div class="control-field">
                      <dt-range-input
                        [value]="$any(o.outcomeSA.values[stateIdx])"
                        (valueChange)="onValueChange($event, o, stateIdx)"
                        [initialValue]="$any(o.outcomeSA.initValues[stateIdx])"
                        [min]="1"
                        [max]="objectives[o.objectiveIndex].verbalData.options.length"
                        [step]="1"
                        [shownValue]="objectives[o.objectiveIndex].verbalData.options[$any(o.outcomeSA.values[stateIdx]) - 1]"
                        [style]="'thin'"
                        [hasResponsiveLabelWidth]="true"
                      >
                      </dt-range-input>
                    </div>
                  </div>
                </ng-container>
                <!-- Without influence factor -->
                <ng-container *ngIf="!o.outcomeSA.influenceFactor">
                  <div class="line">
                    <div class="caption-field"></div>
                    <div class="control-field">
                      <dt-range-input
                        [value]="$any(o.outcomeSA.values[0])"
                        (valueChange)="o.outcomeSA.values[0] = $event; change()"
                        [initialValue]="$any(o.outcomeSA.initValues[0])"
                        [min]="1"
                        [max]="objectives[o.objectiveIndex].verbalData.options.length"
                        [shownValue]="objectives[o.objectiveIndex].verbalData.options[$any(o.outcomeSA.values[0]) - 1]"
                        [step]="1"
                        [style]="'thin'"
                        [hasResponsiveLabelWidth]="true"
                      >
                      </dt-range-input>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <!-- Indicator sliders -->
              <ng-container *ngIf="objectives[o.objectiveIndex].isIndicator">
                <!-- With influence factor -->
                <ng-container *ngIf="o.outcomeSA.influenceFactor">
                  <div #arrows>
                    <div class="scrolling-arrow" (click)="scrollHorizontally(-1, contentWrapper)">
                      <dt-button-tiny [icon]="'chevron_left'"></dt-button-tiny>
                    </div>
                    <div class="scrolling-arrow" [style.right]="0" (click)="scrollHorizontally(1, contentWrapper)">
                      <dt-button-tiny [icon]="'chevron_right'"></dt-button-tiny>
                    </div>
                  </div>
                  <div class="line">
                    <div class="caption-field"></div>
                    <div class="control-field control-field-slider-grid" [dtOverflow] [dtOverflowShow]="arrows">
                      <div class="field-wrapper state-name" *ngFor="let stateName of o.outcomeSA.influenceFactor.stateNames">
                        <div class="dummy-container"></div>
                        <div class="title-container">
                          {{ stateName }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="line"
                    *ngFor="let indicator of objectives[o.objectiveIndex].indicatorData.indicators; let indicatorIdx = index"
                  >
                    <div class="caption-field" [title]="indicator.name">
                      {{ indicator.name }}
                    </div>
                    <div class="control-field control-field-slider-grid">
                      <ng-container *ngFor="let state of o.outcomeSA.influenceFactor.values; let stateIdx = index">
                        <div class="field-wrapper">
                          <dt-range-input
                            [value]="$any(o.outcomeSA.values[stateIdx][indicatorIdx])"
                            (valueChange)="onValueChange($event, o, stateIdx, indicatorIdx)"
                            [initialValue]="$any(o.outcomeSA.initValues[stateIdx][indicatorIdx])"
                            [min]="getScaleMin(indicator)"
                            [max]="getScaleMax(indicator)"
                            [step]="calculateSliderStep(indicator.min, indicator.max)"
                            [style]="'thin'"
                            [hasResponsiveLabelWidth]="true"
                            [allowManualInput]="true"
                          >
                          </dt-range-input>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
                <!-- Without influence factor -->
                <ng-container *ngIf="!o.outcomeSA.influenceFactor">
                  <div
                    class="line"
                    *ngFor="let indicator of objectives[o.objectiveIndex].indicatorData.indicators; let indicatorIdx = index"
                  >
                    <div class="caption-field" [title]="indicator.name">
                      {{ indicator.name }}
                    </div>
                    <div class="control-field">
                      <dt-range-input
                        [value]="$any(o.outcomeSA.values[0][indicatorIdx])"
                        (valueChange)="o.outcomeSA.values[0][indicatorIdx] = $event; change()"
                        [initialValue]="$any(o.outcomeSA.initValues[0][indicatorIdx])"
                        [min]="getScaleMin(indicator)"
                        [max]="getScaleMax(indicator)"
                        [step]="calculateSliderStep(indicator.min, indicator.max)"
                        [style]="'thin'"
                        [hasResponsiveLabelWidth]="true"
                        [allowManualInput]="true"
                      >
                      </dt-range-input>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </dt-inputbox>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngFor="let objective of objectivesIndicator; let i = index; trackBy: decisionData.trackByIndex">
      <ng-container *ngIf="selectedIndicatorWeights.includes(i)">
        <dt-inputbox [collapsibleButton]="true" [draggable]="false" [margin]="true">
          <div class="caption-wrapper" [title]="'Indikatorgewichte von ' + objective.name" i18n-title>
            <span i18n
              >Indikatorgewichte von<span class="italic-text"> „{{ objective.name }}”</span>
            </span>
          </div>
          <div class="control-wrapper">
            <dt-button-tiny
              *ngIf="objective.indicatorData.useCustomAggregation"
              class="inverted-button-orange"
              [dtHoverPopover]="scaleWarning"
              [dtHoverPopoverPosition]="'right'"
              [icon]="'info'"
              [invertColor]="'#fff'"
            ></dt-button-tiny>
            <dt-button-tiny
              [icon]="'view_compact'"
              [dtHoverPopover]="impactModelPopover"
              [dtHoverPopoverPosition]="'left'"
            ></dt-button-tiny>
            <ng-template #impactModelPopover>
              <dt-matrix-popover [highlightOutcomes]="getOutcomesForObjective(objective)"></dt-matrix-popover>
            </ng-template>
            <dt-button-tiny
              (click)="
                weightsOfIndicatorsSA[i].resetValue();
                this.objectiveWeightsUpperBound[i].currentValue = this.objectiveWeightsUpperBound[i].initialValue;
                change()
              "
              [icon]="'refresh'"
              [disabled]="
                !weightsOfIndicatorsSA[i].valueChanged() &&
                this.objectiveWeightsUpperBound[i].currentValue === this.objectiveWeightsUpperBound[i].initialValue
              "
            ></dt-button-tiny>
          </div>
          <div class="content-wrapper">
            <div class="scrolling-arrow" [style.right]="0" (click)="changeWeightUB(2, i)">
              <dt-button-tiny [icon]="'start'"></dt-button-tiny>
            </div>
            <div
              class="line shorter-line"
              *ngFor="
                let indicatorCoef of weightsOfIndicatorsSA[i].indicatorCoefficients;
                let j = index;
                trackBy: decisionData.trackByIndex
              "
            >
              <div class="caption-field" [title]="objective.indicatorData.indicators[j].name">
                {{ objective.indicatorData.indicators[j].name }}
              </div>
              <div class="control-field">
                <dt-range-input
                  [value]="indicatorCoef"
                  [initialValue]="weightsOfIndicatorsSA[i].initIndicatorCoefficients[j]"
                  (valueChange)="weightsOfIndicatorsSA[i].indicatorCoefficients[j] = $event; change()"
                  [min]="weightLowerBound"
                  [max]="objectiveWeightsUpperBound[i].currentValue"
                  (maxChange)="objectiveWeightsUpperBound[i].currentValue = $event"
                  [step]="calculateSliderStep(weightLowerBound, objectiveWeightsUpperBound[i].currentValue)"
                  [style]="'thin'"
                  [hasResponsiveLabelWidth]="true"
                  [allowManualInput]="true"
                  [absoluteUpperBound]="absoluteWeightUpperBound"
                >
                </dt-range-input>
              </div>
            </div>
          </div>
        </dt-inputbox>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #divisionByZeroWarning>
  <div class="warning-popover mat-elevation-z4" i18n>
    Durch Veränderung der Parameter im Rahmen der Sensitivitätsanalyse ist in der benutzerdefinierten Formel eine Division durch Null
    aufgetreten.
  </div>
</ng-template>

<ng-template #scaleWarning>
  <div class="warning-popover mat-elevation-z4" i18n>
    Eine Veränderung der Indikatorgewichten erfordert unter Umständen eine Anpassung Deiner benutzerdefinierten Formel.
  </div>
</ng-template>

<ng-template #helpContent>
  <p *dtProjectMode="'starter'" i18n>
    Hier kannst Du Dir einmal anschauen, wie sich die Ergebnisse ändern, wenn Du die Zielgewichte veränderst. Auch an dieser Stelle kannst
    Du dich hierbei in der detaillierten Darstellung die Nutzenanteile aus allen Zielen anzeigen lassen.
  </p>

  <ng-container *dtProjectMode="['educational', 'professional']">
    <p i18n>
      Hier kannst Du Dir einmal anschauen, wie sich die Ergebnisse ändern, wenn Du an den Parametern Veränderungen vornimmst. Auch an dieser
      Stelle kannst Du Dir hierbei in der detaillierten Darstellung die Nutzenanteile aus allen Zielen anzeigen lassen.
    </p>
    <p i18n>Die etwas dunkleren Bereiche auf den Schiebereglern stellen die von Dir angegebenen Präzisionsintervalle dar.</p>
  </ng-container>

  <p i18n>
    Du kannst mit den Dropdowns „Parameter“ und „Alternativen“ auswählen, welche Alternativen Du in der Sensitivitätsanalyse berücksichtigen
    willst und welche Parameter Du in der Analyse variieren willst.
  </p>
</ng-template>
