@use 'variables' as dt;

mat-form-field {
  display: block;
}

p,
mat-form-field {
  margin: 8px 24px;
}

.header {
  @include dt.typography-level(body-2);
  padding: 12px 24px 8px 24px;
}

.mode-selection .entry {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.active {
    background-color: #e5e5e5;
  }

  .bold {
    font-weight: 500;
  }
}

dt-template-selection {
  flex: 1;
  min-height: 200px;
}
