<dt-userarea [isStartPage]="true"></dt-userarea>

<div data-cy="start_container" class="dt-limit-width start-container">
  <div class="logo">
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 20670 5197"
      style="fill-rule: evenodd; clip-rule: evenodd; stroke-linejoin: round; stroke-miterlimit: 2"
    >
      <g transform="matrix(1,0,0,1,-1189.65,5.6401)">
        <g *ngIf="isNightlyVersion" id="nightly-text" transform="matrix(1,0,0,1,1488.75,-109.606)">
          <text
            x="11094.2px"
            y="4308.46px"
            style="font-family: 'Arial-BoldMT', 'Arial', sans-serif; font-weight: 700; font-size: 900px; fill: #3b4c5b"
          >
            NIGHTL
            <tspan x="14361.1px " y="4308.46px ">Y</tspan>
          </text>
        </g>

        <text
          x="1188.87px"
          y="3226.15px"
          style="font-family: 'Arial-BoldMT', 'Arial', sans-serif; font-weight: 700; font-size: 1770.83px; fill: #3b4c5b"
        >
          ENTSCHEIDUNGS
        </text>
      </g>
      <g>
        <g *ngIf="isNightlyVersion" id="nightly-logo" transform="matrix(17.1179,0,0,17.1179,10779,781.985)">
          <clipPath id="_clip1">
            <path
              d="M418.406,-35.403C496.485,-35.403 559.874,27.987 559.874,106.066C559.874,184.145 496.485,247.535 418.406,247.535C340.327,247.535 276.937,184.145 276.937,106.066C276.937,27.987 340.327,-35.403 418.406,-35.403ZM495.077,173.544C482.072,161.559 463.569,150.578 411.006,150.578C375.061,150.578 303.035,150.72 303.035,150.72L303.064,165.194C303.064,165.194 375.07,165.05 411.006,165.05C456.582,165.05 473.351,173.745 484.866,183.908L468.732,200.281L512.902,200.975L512.231,156.135L495.077,173.544ZM514,143.398L514,69.091L529.003,69.091L529.003,143.398L514,143.398ZM303.142,143.398L303.142,69.091L317.74,69.091L348.152,118.713L348.152,69.091L362.091,69.091L362.091,143.398L347.037,143.398L317.081,94.941L317.081,143.398L303.142,143.398ZM464.175,143.398L437.614,69.091L453.885,69.091L472.69,124.086L490.886,69.091L506.802,69.091L480.191,143.398L464.175,143.398ZM444.964,143.398L428.643,143.398L422.155,126.519L392.452,126.519L386.319,143.398L370.404,143.398L399.345,69.091L415.211,69.091L444.964,143.398ZM417.34,114L407.101,86.426L397.065,114L417.34,114ZM495.077,38.954L512.231,56.362L512.902,11.523L468.732,12.215L484.866,28.59C473.351,38.753 456.582,47.447 411.006,47.447C375.07,47.447 303.064,47.304 303.064,47.304L303.035,61.777C303.035,61.777 375.061,61.92 411.006,61.92C463.569,61.92 482.072,50.939 495.077,38.954Z"
            />
          </clipPath>
          <g clip-path="url(#_clip1)">
            <path
              d="M558.749,124.207C556.781,140.05 552.257,155.027 545.179,169.136C538.101,183.246 528.89,195.878 517.546,207.035C512.109,208.066 507.023,209.894 502.288,212.519C497.554,215.144 492.843,217.816 488.156,220.535C485.812,221.941 483.656,223.183 481.687,224.261C479.718,225.339 477.913,226.535 476.273,227.847C474.632,229.16 473.109,230.66 471.702,232.347C470.296,234.035 468.937,236.191 467.624,238.816C451.781,244.628 435.374,247.535 418.406,247.535C407.999,247.535 397.757,246.457 387.679,244.3C377.601,242.144 367.874,238.816 358.499,234.316C355.499,228.035 351.257,223.371 345.773,220.324C340.288,217.277 334.265,215.378 327.702,214.628C315.327,204.41 305.109,192.597 297.046,179.191C288.984,165.785 283.312,151.207 280.031,135.457C281.437,130.675 282.398,125.824 282.913,120.902C283.429,115.98 283.687,111.035 283.687,106.066C283.687,101.097 283.406,96.152 282.843,91.23C282.281,86.308 281.343,81.457 280.031,76.675C282.843,63.082 287.32,50.73 293.46,39.621C299.601,28.511 307.359,17.894 316.734,7.769C317.39,7.019 318.187,6.152 319.124,5.168C320.062,4.183 321.023,3.199 322.007,2.214C322.991,1.23 323.976,0.316 324.96,-0.528C325.945,-1.372 326.859,-2.028 327.702,-2.497C329.015,-3.247 330.398,-3.739 331.851,-3.973C333.304,-4.207 334.781,-4.325 336.281,-4.325C337.593,-4.325 338.929,-4.278 340.288,-4.184C341.648,-4.09 342.984,-4.043 344.296,-4.043C347.015,-4.043 349.054,-4.372 350.413,-5.028C351.773,-5.684 352.734,-6.504 353.296,-7.489C353.859,-8.473 354.163,-9.622 354.21,-10.934C354.257,-12.247 354.351,-13.559 354.491,-14.872C354.632,-16.184 354.913,-17.45 355.335,-18.668C355.757,-19.887 356.671,-20.965 358.077,-21.903C359.39,-22.747 360.796,-23.45 362.296,-24.012C363.796,-24.575 365.249,-25.137 366.656,-25.7C375.093,-28.981 383.554,-31.418 392.038,-33.012C400.523,-34.606 409.312,-35.403 418.406,-35.403C426.843,-35.403 435.163,-34.676 443.366,-33.223C451.57,-31.77 459.656,-29.543 467.624,-26.543C469.874,-21.856 472.827,-17.731 476.484,-14.168C480.14,-10.606 484.195,-7.512 488.648,-4.887C493.101,-2.262 497.812,-0.129 502.781,1.511C507.749,3.152 512.671,4.347 517.546,5.097C528.89,16.253 538.101,28.886 545.179,42.996C552.257,57.105 556.781,72.082 558.749,87.925C557.343,89.8 556.218,91.582 555.374,93.269C554.531,94.957 553.898,96.691 553.476,98.472C553.054,100.253 552.773,102.105 552.632,104.027C552.491,105.949 552.421,108.035 552.421,110.285C552.421,113.378 552.796,116.003 553.546,118.16C554.296,120.316 556.031,122.332 558.749,124.207Z"
              style="fill: rgb(233, 233, 233); fill-rule: nonzero"
            />
            <path
              d="M358.64,-22.043C361.359,-20.168 363.585,-17.731 365.32,-14.731C367.054,-11.731 367.921,-8.543 367.921,-5.168C367.921,-2.356 367.382,0.269 366.304,2.707C365.226,5.144 363.773,7.277 361.945,9.105C360.116,10.933 357.984,12.386 355.546,13.464C353.109,14.543 350.484,15.082 347.671,15.082C345.14,15.082 342.726,14.636 340.429,13.746C338.132,12.855 336.093,11.636 334.312,10.089C332.531,8.543 331.054,6.691 329.882,4.535C328.71,2.378 327.984,0.035 327.702,-2.497C337.265,-10.372 347.577,-16.887 358.64,-22.043ZM458.765,-5.168C458.765,-9.106 459.538,-12.926 461.085,-16.629C462.632,-20.332 464.812,-23.59 467.624,-26.403C476.999,-22.934 485.906,-18.551 494.343,-13.254C502.781,-7.957 510.515,-1.793 517.546,5.238C516.421,8.238 514.898,10.957 512.976,13.394C511.054,15.832 508.874,17.941 506.437,19.722C503.999,21.503 501.304,22.863 498.351,23.8C495.398,24.738 492.327,25.207 489.14,25.207C484.921,25.207 480.984,24.41 477.327,22.816C473.671,21.222 470.46,19.043 467.695,16.277C464.929,13.511 462.749,10.3 461.156,6.644C459.562,2.988 458.765,-0.95 458.765,-5.168ZM347.671,197.05C350.484,197.05 353.109,197.589 355.546,198.668C357.984,199.746 360.116,201.199 361.945,203.027C363.773,204.855 365.226,206.988 366.304,209.425C367.382,211.863 367.921,214.488 367.921,217.3C367.921,220.675 367.054,223.863 365.32,226.863C363.585,229.863 361.359,232.3 358.64,234.175C347.577,229.019 337.265,222.503 327.702,214.628C327.984,212.097 328.71,209.777 329.882,207.668C331.054,205.558 332.554,203.707 334.382,202.113C336.21,200.519 338.249,199.277 340.499,198.386C342.749,197.496 345.14,197.05 347.671,197.05ZM489.14,186.925C492.327,186.925 495.398,187.418 498.351,188.402C501.304,189.386 503.999,190.746 506.437,192.48C508.874,194.214 511.054,196.324 512.976,198.808C514.898,201.293 516.421,203.988 517.546,206.894C510.515,213.925 502.781,220.089 494.343,225.386C485.906,230.683 476.999,235.066 467.624,238.535C464.812,235.722 462.632,232.464 461.085,228.761C459.538,225.058 458.765,221.238 458.765,217.3C458.765,213.082 459.562,209.144 461.156,205.488C462.749,201.832 464.929,198.621 467.695,195.855C470.46,193.089 473.671,190.91 477.327,189.316C480.984,187.722 484.921,186.925 489.14,186.925ZM558.609,87.925C558.984,90.925 559.288,93.949 559.523,96.996C559.757,100.043 559.874,103.066 559.874,106.066C559.874,109.066 559.757,112.089 559.523,115.136C559.288,118.183 558.984,121.207 558.609,124.207C557.202,124.863 555.773,125.378 554.32,125.753C552.866,126.128 551.343,126.316 549.749,126.316C546.937,126.316 544.312,125.777 541.874,124.699C539.437,123.621 537.304,122.168 535.476,120.339C533.648,118.511 532.218,116.378 531.187,113.941C530.156,111.503 529.64,108.878 529.64,106.066C529.64,103.253 530.156,100.628 531.187,98.191C532.218,95.753 533.648,93.621 535.476,91.793C537.304,89.964 539.437,88.511 541.874,87.433C544.312,86.355 546.937,85.816 549.749,85.816C551.343,85.816 552.866,86.003 554.32,86.378C555.773,86.753 557.202,87.269 558.609,87.925ZM287.062,75.691C291.281,75.691 295.218,76.488 298.874,78.082C302.531,79.675 305.718,81.855 308.437,84.621C311.156,87.386 313.312,90.597 314.906,94.253C316.499,97.91 317.296,101.847 317.296,106.066C317.296,110.285 316.499,114.222 314.906,117.878C313.312,121.535 311.156,124.746 308.437,127.511C305.718,130.277 302.531,132.457 298.874,134.05C295.218,135.644 291.281,136.441 287.062,136.441C285.843,136.441 284.648,136.347 283.476,136.16C282.304,135.972 281.156,135.738 280.031,135.457C278.999,130.582 278.226,125.707 277.71,120.832C277.195,115.957 276.937,111.035 276.937,106.066C276.937,101.097 277.195,96.175 277.71,91.3C278.226,86.425 278.999,81.55 280.031,76.675C281.156,76.394 282.304,76.16 283.476,75.972C284.648,75.785 285.843,75.691 287.062,75.691ZM438.656,70.628C438.656,75.503 437.718,80.097 435.843,84.41C433.968,88.722 431.437,92.472 428.249,95.66C425.062,98.847 421.312,101.378 416.999,103.253C412.687,105.128 408.093,106.066 403.218,106.066C398.343,106.066 393.749,105.128 389.437,103.253C385.124,101.378 381.374,98.847 378.187,95.66C374.999,92.472 372.491,88.722 370.663,84.41C368.835,80.097 367.921,75.503 367.921,70.628C367.921,65.753 368.859,61.183 370.734,56.918C372.609,52.652 375.14,48.925 378.327,45.738C381.515,42.55 385.241,40.019 389.507,38.144C393.773,36.269 398.343,35.332 403.218,35.332C408.093,35.332 412.663,36.269 416.929,38.144C421.195,40.019 424.945,42.55 428.179,45.738C431.413,48.925 433.968,52.652 435.843,56.918C437.718,61.183 438.656,65.753 438.656,70.628ZM499.265,136.441C499.265,139.253 498.726,141.878 497.648,144.316C496.57,146.753 495.116,148.886 493.288,150.714C491.46,152.543 489.327,153.972 486.89,155.003C484.452,156.035 481.827,156.55 479.015,156.55C476.202,156.55 473.577,156.035 471.14,155.003C468.702,153.972 466.57,152.543 464.741,150.714C462.913,148.886 461.46,146.753 460.382,144.316C459.304,141.878 458.765,139.253 458.765,136.441C458.765,133.628 459.304,131.003 460.382,128.566C461.46,126.128 462.913,123.996 464.741,122.168C466.57,120.339 468.702,118.886 471.14,117.808C473.577,116.73 476.202,116.191 479.015,116.191C481.827,116.191 484.452,116.73 486.89,117.808C489.327,118.886 491.46,120.339 493.288,122.168C495.116,123.996 496.57,126.128 497.648,128.566C498.726,131.003 499.265,133.628 499.265,136.441ZM398.156,151.488C398.156,153.644 397.757,155.636 396.96,157.464C396.163,159.293 395.085,160.886 393.726,162.246C392.366,163.605 390.749,164.683 388.874,165.48C386.999,166.277 385.031,166.675 382.968,166.675C380.812,166.675 378.82,166.277 376.991,165.48C375.163,164.683 373.593,163.582 372.281,162.175C370.968,160.769 369.913,159.152 369.116,157.324C368.32,155.496 367.921,153.55 367.921,151.488C367.921,149.425 368.32,147.48 369.116,145.652C369.913,143.824 370.991,142.23 372.351,140.871C373.71,139.511 375.304,138.433 377.132,137.636C378.96,136.839 380.906,136.441 382.968,136.441C385.031,136.441 386.976,136.839 388.804,137.636C390.632,138.433 392.249,139.488 393.656,140.8C395.062,142.113 396.163,143.707 396.96,145.582C397.757,147.457 398.156,149.425 398.156,151.488Z"
              style="fill: rgb(210, 210, 210); fill-rule: nonzero"
            />
          </g>
        </g>
        <g *ngIf="!isNightlyVersion" id="actual-logo" transform="matrix(2.05033,0,0,2.05033,17942,2598.43)">
          <g transform="matrix(1,0,0,1,-1181.5,-1181.5)">
            <path
              d="M1181.1,0C1832.97,0 2362.2,529.234 2362.2,1181.1C2362.2,1832.97 1832.97,2362.2 1181.1,2362.2C529.234,2362.2 0,1832.97 0,1181.1C0,529.234 529.234,0 1181.1,0ZM1821.22,1744.46C1712.64,1644.4 1558.16,1552.72 1119.32,1552.72C819.221,1552.72 217.888,1553.91 217.888,1553.91L218.129,1674.75C218.129,1674.75 819.301,1673.55 1119.32,1673.55C1499.83,1673.55 1639.83,1746.14 1735.97,1830.99L1601.27,1967.69L1970.04,1973.48L1964.43,1599.12L1821.22,1744.46ZM1979.2,1492.78L1979.2,872.405L2104.46,872.405L2104.46,1492.78L1979.2,1492.78ZM218.783,1492.78L218.783,872.405L340.658,872.405L594.565,1286.69L594.565,872.405L710.938,872.405L710.938,1492.78L585.255,1492.78L335.157,1088.22L335.157,1492.78L218.783,1492.78ZM1563.22,1492.78L1341.47,872.405L1477.31,872.405L1634.31,1331.55L1786.23,872.405L1919.11,872.405L1696.94,1492.78L1563.22,1492.78ZM1402.83,1492.78L1266.57,1492.78L1212.4,1351.86L964.421,1351.86L913.217,1492.78L780.339,1492.78L1021.97,872.405L1154.43,872.405L1402.83,1492.78ZM1172.2,1247.34L1086.72,1017.13L1002.93,1247.34L1172.2,1247.34ZM1821.22,620.789L1964.43,766.131L1970.04,391.775L1601.27,397.557L1735.97,534.265C1639.83,619.115 1499.83,691.7 1119.32,691.7C819.301,691.7 218.129,690.505 218.129,690.505L217.888,811.338C217.888,811.338 819.221,812.533 1119.32,812.533C1558.16,812.533 1712.64,720.85 1821.22,620.789Z"
              style="fill: #3b4c5b"
            />
          </g>
        </g>
      </g>
    </svg>
  </div>

  <mat-card *ngIf="unsupportedBrowser" class="error-card mat-elevation-z4">
    <p i18n>
      ⚠ Deine Browser-Version ist möglicherweise veraltet und wird nicht vom Entscheidungsnavi unterstützt. Dadurch kann es zu Problemen bei
      der Nutzung des Tools kommen. Wir empfehlen die jeweils aktuellste Version von
      <a href="https://google.de/chrome">Google Chrome</a>, <a href="https://mozilla.org/firefox">Mozilla Firefox</a>, Safari oder Microsoft
      Edge zu nutzen.
    </p>
  </mat-card>

  <div class="card-container">
    <mat-card matRipple class="mat-elevation-z4 new-project-card" data-cy="new-project-button" (click)="newProjectClick()">
      <h2 i18n>Neues Projekt</h2>
      <p i18n>
        Du entwickelst für ein beliebiges Entscheidungsproblem eine reflektierte Entscheidung. Falls gewünscht wirst Du hierbei in allen
        Prozessschritten mit detaillierten Hilfestellungen unterstützt.
      </p>
    </mat-card>

    <mat-card
      [dtOverlayProgress]="onlineProjects === undefined && !isOffline"
      class="recently-edited-card mat-elevation-z4"
      [class.disabled]="onlineProjects === null"
    >
      <h2 matRipple [matRippleDisabled]="onlineProjects == null" (click)="openProjectList()" i18n>Deine aktuellen Projekte</h2>
      <dt-recently-edited-projects *ngIf="onlineProjects" [projects]="onlineProjects"></dt-recently-edited-projects>
      <p *ngIf="onlineProjects === null" class="offline-text" i18n>Logge Dich ein, um Deine Projekte abzurufen!</p>
    </mat-card>

    <mat-card
      class="mat-elevation-z4 quickstart-card"
      matRipple
      [matRippleDisabled]="isOffline || quickstartProjects == null"
      [class.disabled]="isOffline || quickstartProjects == null"
      [dtOverlayProgress]="quickstartProjects == null && !isOffline"
      (click)="openTemplatesModal()"
    >
      <h2 i18n>Templates und Beispiele</h2>
      <p *ngIf="!isOffline" i18n>
        Greife auf vorbereitete Templates zurück oder hole Dir Anregungen aus fertigen Projekten anderer Anwender. Alle Projekte kannst Du
        nach Deinen Vorstellungen verändern und erweitern.
      </p>
      <p *ngIf="isOffline" i18n>
        Du bist offline. Um auf vorbereite Templates oder fertige Projekte anderer Anwender zugreifen zu können, musst Du mit dem Internet
        verbunden sein.
      </p>
    </mat-card>
  </div>
</div>
