@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.decision-statement-box {
  display: block;
  @include mat.elevation(4);

  .caption-wrapper {
    width: 100%;

    padding: 4px 5px 4px 0;

    @include dt.typography-level(body-2);
    text-align: center;
  }

  mat-expansion-panel {
    background-color: transparent;
    box-shadow: none;

    mat-expansion-panel-header {
      font-size: inherit;
      padding: 0 0 0 15px;

      &:hover {
        background-color: transparent;
      }
    }
  }

  mat-expansion-panel-header,
  .simple-input {
    height: 64px;
  }

  .simple-input {
    padding: 0 15px;
    display: flex;
    align-items: center;
  }

  .statement-wrapper {
    height: 3rem;
    width: 100%;
    padding: 0 4px 1px;

    border-bottom: 1px solid #9e9e9e;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    &:focus-within {
      border-bottom: 2px solid dt.$orange;
      padding-bottom: 0;
    }

    &::before,
    &::after {
      content: '';
      flex: 1;
    }

    .statement-input {
      outline: none;
      cursor: text;
    }
  }

  .statement-hint {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: gray;
  }
}

:host ::ng-deep {
  .mat-expansion-panel-body {
    padding: 4px 15px;
  }

  .mat-expansion-indicator {
    margin-right: 15px;
  }
}
