<div class="hidden">
  <klug-decision-statement-box #decisionStatement></klug-decision-statement-box>
  <klug-objective-list #objectiveList class="list"></klug-objective-list>
  <klug-alternative-list #alternativeList class="list"></klug-alternative-list>
  <klug-assessment-graph #assessmentGraph></klug-assessment-graph>
  <klug-comparison-graph #comparisonGraph></klug-comparison-graph>
  <klug-evaluation-graph #evaluationGraph [showKey]="true"></klug-evaluation-graph>
</div>
