<dt-collapsible-tiny>
  <ng-template #header>
    <span class="header" i18n>Legende:</span>
  </ng-template>
  <ng-template #content>
    <div class="item-list">
      <div
        *ngFor="let item of items; index as itemIndex"
        class="item"
        [class.selected]="selectedItem === itemIndex"
        [style.color]="highlightedItem === itemIndex || selectedItem === itemIndex ? getItemColor(itemIndex) : 'initial'"
        (click)="selectedItemChange.emit(itemIndex)"
        (mouseenter)="highlightItem(itemIndex)"
        (mouseleave)="highlightItem(-1)"
      >
        <div class="item-color-square" [style.background-color]="getItemColor(itemIndex)"> </div>
        <span class="item-name">
          {{ item }}
        </span>
      </div>
    </div>
  </ng-template>
</dt-collapsible-tiny>
