@use '@angular/material' as mat;

:host {
  z-index: 3;
}

.header {
  margin-left: 5px;
  font-weight: 500;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;

  .item {
    display: flex;
    gap: 10px;
    align-items: baseline;
    cursor: pointer;

    &.selected {
      font-weight: bold;
    }

    .item-color-square {
      min-height: 10px;
      min-width: 10px;
      border: 1px solid black;
    }

    .item-name {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
