<dt-modal-content size="big" [showFooter]="true" [contentPadding]="false" [flexContent]="true" (closeClick)="closeClick()">
  <ng-template #title i18n>Auswahl einer Messskala für das Ziel &bdquo;{{ objective.name }}&ldquo;</ng-template>
  <ng-template #subheader>
    <mat-radio-group [(ngModel)]="objectiveType" class="scale-type-selection">
      <mat-radio-button [value]="ObjectiveType.Numerical" i18n>Numerisch</mat-radio-button>
      <mat-divider [vertical]="true"></mat-divider>
      <mat-radio-button [value]="ObjectiveType.Verbal" i18n>Verbal</mat-radio-button>
      <mat-divider [vertical]="true"></mat-divider>
      <mat-radio-button *dtProjectMode="['educational', 'professional']" [value]="ObjectiveType.Indicator" i18n
        >Konstruierte Skala aus Indikatoren</mat-radio-button
      >
    </mat-radio-group>
    <dt-note-btn [(comment)]="comment" [caption]="objective.name | noteBtnPreset : 'objective'"></dt-note-btn>
  </ng-template>
  <ng-template #content>
    <div class="main-container">
      <dt-numerical-objective-scale
        [class.hidden]="objectiveType !== ObjectiveType.Numerical"
        [numericalData]="objective.numericalData"
        (isValid)="numericalIsValid = $event"
        (isDirty)="numericalIsDirty = $event"
      ></dt-numerical-objective-scale>
      <dt-verbal-objective-scale
        [class.hidden]="objectiveType !== ObjectiveType.Verbal"
        [verbalData]="objective.verbalData"
        (isValid)="verbalIsValid = $event"
        (isDirty)="verbalIsDirty = $event"
      ></dt-verbal-objective-scale>
      <dt-indicator-objective-scale
        [class.hidden]="objectiveType !== ObjectiveType.Indicator"
        [objectiveIdx]="objectiveIdx"
        [indicatorData]="objective.indicatorData"
        (isValid)="indicatorIsValid = $event"
        (isDirty)="indicatorIsDirty = $event"
      ></dt-indicator-objective-scale>
    </div>
  </ng-template>

  <ng-template #footer>
    <span class="footer-warning" *ngIf="hasObjectiveTypeChanged && !allOutcomesEmpty" i18n>
      Warnung: Das Ändern der Ausprägungsskala löscht alle bisher eingetragenen Ausprägungen.
    </span>
    <div class="footer-buttons">
      <dt-button [disabled]="!isValid" (click)="isValid && close(true)" icon="save" iconPosition="left" i18n>Übernehmen</dt-button>
      <dt-button (click)="close(false)" type="raised-less" i18n>Verwerfen</dt-button>
    </div>
  </ng-template>
</dt-modal-content>
