<div class="dt-limit-width">
  <dt-step-title *ngIf="showTitle" [showStepNumber]="false" i18n>Identifizieren der wichtigen Stellhebel</dt-step-title>

  <dt-step-description [class.dt-limit-width]="!decisionData.isProfessional()" [mainDescriptionOnly]="decisionData.isProfessional()">
    <ng-template #description>
      <ng-container *ngIf="!decisionData.isProfessional()" i18n
        >Versuche, alle Deine Alternativen durch verschieden stark ausgeprägte Eigenschaften zu beschreiben.
      </ng-container>
      <ng-container *ngIf="decisionData.isProfessional()" i18n
        >Versuche, Deinen Alternativenraum durch verschiedene Stellhebel zu strukturieren.
      </ng-container>
    </ng-template>
    <ng-template #subDescription i18n
      >Jeder Stellhebel sollte dabei unterschiedliche Zustände annehmen können, die insgesamt das mögliche Spektrum in diesem Stellhebel
      umfassen. Gibt es Stellhebelkombinationen, für die Du noch keine Alternative hast? Wenn ja, versuche diese zu finden.
    </ng-template>
  </dt-step-description>
</div>

<dt-screw-list
  [screws]="decisionData.hintAlternatives.screws"
  [screwConfigurationProviders]="decisionData.alternatives"
  (screwConfigurationChangeAtProvider)="decisionData.alternatives[$event[0]].screwConfiguration = $event[1]"
  [newScrewConfiguration]="screwConfigurationForNewAlternative"
  (newScrewConfigurationChange)="screwConfigurationForNewAlternative = $event"
  (appendScrew)="appendScrew()"
  (moveScrew)="moveScrew($event[0], $event[1])"
  (editOrDeleteScrew)="editOrDeleteScrew($event)"
  [canBlur]="!screwEditModalOpened"
>
</dt-screw-list>

<div class="dt-limit-width">
  <form (submit)="addAlternative()" class="alternative-add-form">
    <label for="alternative" i18n>Name einer neuen Alternative mit den obigen Stellhebelpositionen:</label>
    <div class="dt-inputbox">
      <input
        type="text"
        id="alternative"
        name="alternative"
        [(ngModel)]="nameForNewAlternative"
        placeholder="Alternative"
        i18n-placeholder
        title="Name der neuen Alternative"
        i18n-title
        data-cy="add-alternative-input"
      />
    </div>
    <dt-button [disabled]="!nameForNewAlternative || nameForNewAlternative.length === 0" i18n data-cy="add-alternative-button"
      >Hinzufügen</dt-button
    >
  </form>

  <dt-alternative-list [pageKey]="pageKey" [collapsedByDefault]="true"></dt-alternative-list>
</div>
