@use 'variables' as dt;

.graph-container {
  display: grid;
  grid-template-rows: 1fr min-content min-content;

  position: relative;

  column-gap: 5px;

  width: 100%;
  height: 100%;

  padding: 10px 5px;
  padding-right: 10px;

  font-size: dt.font-size(caption);

  .utility-label {
    grid-row: 1;
    grid-column: 1;

    margin-right: 0.5em;

    font-style: italic;

    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
  }

  .y-scale {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(100% + 1em);
    transform: translateY(-0.5em);

    grid-row: 1;
    grid-column: 2;

    > span {
      line-height: 1em;
    }
  }

  .slider {
    grid-row: 1;
  }

  .graph-overlay {
    position: absolute;
    pointer-events: none;

    grid-row: 1;
    grid-row-end: 2;

    place-self: start;
    width: 100%;
    height: 100%;
  }

  .selection-background {
    background-color: #246aa81a;
  }

  .line-overlay-container {
    grid-column-start: 3;
    grid-column-end: -1;

    path {
      stroke: dt.$blue;
      stroke-width: 1px;
      stroke-dasharray: 5;
      fill: none;
    }
  }

  .seperator {
    border-top: 1px solid black;
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: -1;

    transform: translateY(-1px);
  }

  .x-label {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    grid-column: 3;
    text-align: center;
  }

  .input-field {
    width: 50px;
    text-align: center;

    justify-self: center;

    transition: color 0.2s;

    &.notCustom {
      color: #b3b3b3;
    }
  }

  .x-axis-label {
    font-size: dt.font-size(body-1);
    font-weight: 500;

    margin: 10px;
    margin-top: 5px;

    grid-row: 4;
    grid-column: 3 / -1;

    overflow: hidden;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

dt-bar-slider.middle ::ng-deep {
  .sliderfill {
    border: 4px solid red;
    border-bottom: none;
  }

  .slidertrack {
    background: coral;
  }
}

dt-bar-slider.greyed-out:not(:hover) ::ng-deep .sliderfill {
  background: #bbbbbb;
}
