<div class="graph-container" [style.grid-template-columns]="gridColumns">
  <div *ngIf="showYAxisLabel" class="utility-label" i18n> Nutzen </div>
  <div class="y-scale">
    <span>1.0</span>
    <ng-container [ngSwitch]="huge">
      <ng-container *ngSwitchCase="true">
        <span>0.8</span>
        <span>0.6</span>
        <span>0.4</span>
        <span>0.2</span>
      </ng-container>

      <ng-container *ngSwitchCase="false">
        <span>0.5</span>
      </ng-container>
    </ng-container>
    <span>0.0</span>
  </div>
  <dt-bar-slider
    *ngFor="let option of objective?.verbalData?.options; let i = index; let first = first; let last = last"
    class="slider"
    [style.grid-column]="3 + i"
    [class.middle]="i === selectedMiddle"
    [class.greyed-out]="!hasChanges"
    [(value)]="objective.verbalData.utilities[i]"
    [disabled]="first || last"
    [precision]="relativeDeviation(objective.verbalData.utilities[i], objective.verbalData.precision)"
    [interval]="true"
    [width]="objective.verbalData.options.length > 7 && !huge ? 20 : 30"
    [fillContainer]="true"
    (valueChange)="newBarValue(i, $event)"
  ></dt-bar-slider>
  <div
    *ngIf="huge"
    class="graph-overlay selection-background"
    [style.grid-column-start]="2 + selectedLeft + 1"
    [style.grid-column-end]="2 + selectedRight + 2"
  >
  </div>
  <svg class="graph-overlay line-overlay-container" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path [attr.d]="getPathLine(1)" vector-effect="non-scaling-stroke"></path>
  </svg>
  <svg *ngIf="hasPrecision" class="graph-overlay line-overlay-container" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path [attr.d]="getPathLine(2)" vector-effect="non-scaling-stroke"></path>
  </svg>
  <div class="seperator"></div>
  <div
    *ngFor="let option of objective?.verbalData?.options; let i = index"
    class="x-label"
    [style.grid-column]="3 + i"
    [matTooltip]="option"
    #tooltip="matTooltip"
    [dtOverflow]
    [dtOverflowTooltip]="tooltip"
  >
    {{ option }}
  </div>
  <div *ngIf="huge" class="x-axis-label"> {{ objective.name }} </div>
  <ng-container *ngIf="huge">
    <input
      *ngFor="let option of objective?.verbalData?.options; let i = index; let first = first; let last = last"
      #input
      type="number"
      step="1"
      min="0"
      max="100"
      class="input-field"
      [class.notCustom]="!objective.verbalData.hasCustomUtilityValues"
      [style.grid-column]="3 + i"
      [disabled]="first || last"
      [ngModel]="displayUtility(i)"
      (ngModelChange)="inputChange(input, i, $event)"
    />
  </ng-container>
</div>
