<div class="container">
  <div class="heading">
    <h1 *ngIf="showStepNumber" class="circle-header">
      <div class="circle">{{ stepNumber }}</div>
    </h1>
    <div>
      <h1 class="title" [class.sub-title]="subTitle !== undefined">
        <ng-content></ng-content>
      </h1>
      <h4 *ngIf="subTitle !== undefined" class="title">{{ subTitle }}</h4>
    </div>
  </div>
</div>
