<div class="export-type-dropdown">
  <h4 i18n>Art des Exports auswählen</h4>
  <mat-form-field class="events-field dt-no-margin">
    <mat-label i18n>Art des Exports</mat-label>
    <mat-select [(ngModel)]="exportType">
      <mat-option value="standard" i18n>Standardauswertung</mat-option>
      <mat-option value="alternatives-and-objectives" i18n>Alternativen/Ziele</mat-option>
      <mat-option value="project-files" i18n>Projektdateien</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<ng-container [ngSwitch]="exportType">
  <ng-container *ngIf="exportType === 'standard'">
    <form [formGroup]="formGroupStandard" (ngSubmit)="createExportStandard()">
      <section>
        <p i18n>Die Abgaben werden als Excel Tabelle exportiert.</p>
      </section>

      <section>
        <h4 i18n>
          Spalten der Tabelle<br />
          <span class="mat-caption">
            Der Export enthält standardmäßig bereits folgende Spalten: Abgabe ID, Benutzer ID und Email Adresse, Link zum Naviprojekt, sowie
            den Abgabezeitpunkt.<br />
            Hier können optional zusätzliche Spalten ausgewählt werden.
          </span>
        </h4>

        <div class="step-row">
          <button mat-stroked-button type="button" (click)="selectFullExport()" i18n><mat-icon>select_all</mat-icon> Vollständig</button>
          <button mat-stroked-button type="button" (click)="selectDefaultExport(formGroupStandard)" i18n
            ><mat-icon>restart_alt</mat-icon> Standardauswahl</button
          >
          <button mat-stroked-button type="button" (click)="selectMinimalExport()" i18n
            ><mat-icon>deselect</mat-icon> Minimalauswahl</button
          >
        </div>

        <ul class="attribute-list" formGroupName="parameters">
          <li>
            <mat-checkbox formControlName="projectInformation">
              <ng-container i18n>Grundlegende Projektinformationen</ng-container>
              <mat-icon
                matTooltip="Der Projektname, die Projektnotiz, die Entscheidungsfrage, sowie die Enscheidungsnavi-Version mit der das Projekt erstellt wurde"
                i18n-matTooltip
                >info</mat-icon
              >
            </mat-checkbox>
          </li>
          <li>
            <mat-checkbox formControlName="modelParameterCounts">
              <ng-container i18n>Anzahl Parameter im Modell</ng-container>
              <mat-icon matTooltip="Die Anzahl der Ziele, Alternativen, Einflussfaktoren, und Indikatoren" i18n-matTooltip>info</mat-icon>
            </mat-checkbox>
          </li>
          <li>
            <mat-checkbox formControlName="processStatus">
              <ng-container i18n>Fortschritt im Entscheidungsprozess</ng-container>
              <mat-icon
                matTooltip="Wurden alle Ziele, Alternativen, und Einflussfaktoren kommentiert, sowie alle Trade-offs durchgeführt"
                i18n-matTooltip
              >
                info
              </mat-icon>
            </mat-checkbox>
          </li>
          <li>
            <mat-checkbox formControlName="includeObjectives" i18n>Ziele</mat-checkbox>
            <ul>
              <li><mat-checkbox formControlName="objectiveExplanations" i18n>Erläuterungen einbeziehen</mat-checkbox></li>
              <li><mat-checkbox formControlName="limitObjectiveCount" i18n>Anzahl der ausgegebenen Ziele beschränken</mat-checkbox></li>
              <li *ngIf="parametersFormStandard.controls.objectiveCountLimit.enabled">
                <mat-form-field class="dt-no-margin">
                  <mat-label i18n>Maximale Anzahl Ziele</mat-label>
                  <input matInput type="number" min="1" step="1" formControlName="objectiveCountLimit" />
                </mat-form-field>
              </li>
            </ul>
          </li>
          <li>
            <mat-checkbox formControlName="includeAlternatives" i18n>Alternativen</mat-checkbox>
            <ul>
              <li><mat-checkbox formControlName="alternativeExplanations" i18n>Erläuterungen einbeziehen</mat-checkbox></li>
              <li
                ><mat-checkbox formControlName="limitAlternativeCount" i18n
                  >Anzahl der ausgegebenen Alternativen beschränken</mat-checkbox
                ></li
              >
              <li *ngIf="parametersFormStandard.controls.alternativeCountLimit.enabled">
                <mat-form-field class="dt-no-margin">
                  <mat-label i18n>Maximale Anzahl Alternativen</mat-label>
                  <input matInput type="number" min="1" step="1" formControlName="alternativeCountLimit" />
                </mat-form-field>
              </li>
            </ul>
          </li>
          <li>
            <mat-checkbox formControlName="includeInfluenceFactors" i18n>Einflussfaktoren</mat-checkbox>
            <ul>
              <li><mat-checkbox formControlName="influenceFactorExplanations" i18n>Erläuterungen einbeziehen</mat-checkbox></li>
              <li
                ><mat-checkbox formControlName="limitInfluenceFactorCount" i18n
                  >Anzahl der ausgegebenen Einflussfaktoren beschränken</mat-checkbox
                ></li
              >
              <li *ngIf="parametersFormStandard.controls.influenceFactorCountLimit.enabled">
                <mat-form-field class="dt-no-margin">
                  <mat-label i18n>Maximale Anzahl Einflussfaktoren</mat-label>
                  <input matInput type="number" min="1" step="1" formControlName="influenceFactorCountLimit" />
                </mat-form-field>
              </li>
            </ul>
          </li>
          <li>
            <mat-checkbox formControlName="stepExplanations" i18n>Erläuterungen für Hauptschritte</mat-checkbox>
          </li>
          <li>
            <mat-checkbox formControlName="decisionQuality" i18n>Entscheidungsqualität</mat-checkbox>
          </li>
          <li>
            <mat-checkbox formControlName="timeRecording" i18n>Zeiterfassung</mat-checkbox>
          </li>
          <li>
            <mat-checkbox
              formControlName="submissionQuestionnaire"
              matTooltip="Der Fragebogen kann nur ausgewählt werden, wenn genau eine Veranstaltung exportiert wird"
              [matTooltipDisabled]="parametersFormStandard.controls.submissionQuestionnaire.enabled"
              i18n-matTooltip
              i18n
            >
              Fragebogen zur Abgabe
            </mat-checkbox>
          </li>
          <li>
            <mat-checkbox formControlName="submissionFreeText" i18n>Freitextfeld zur Abgabe</mat-checkbox>
          </li>
        </ul>
      </section>

      <section>
        <button mat-raised-button type="submit" color="primary" [disabled]="isLoading" [dtOverlayProgress]="isLoading" i18n>
          <mat-icon>download</mat-icon>
          Exportieren
        </button>
      </section>
    </form>
  </ng-container>
  <ng-container *ngSwitchCase="'alternatives-and-objectives'">
    <form [formGroup]="formGroupAltAndObj" (ngSubmit)="createExportAltAndObj()">
      <section>
        <p i18n>Die Abgaben werden als Excel Tabelle exportiert.</p>
      </section>

      <section>
        <h4 i18n>
          Spalten der Tabelle<br />
          <span class="mat-caption">
            Der Export enthält standardmäßig bereits folgende Spalten:
            <ul>
              <li
                >Blatt Alternativen: Veranstaltung ID, Benutzer ID, Anzahl (von Alternativen), Nr. (der Alternative), Name (der
                Alternative).</li
              >
              <li>Blatt Ziele: Veranstaltung ID, Benutzer ID, Anzahl (von Zielen), Nr. (des Ziels), Name (des Ziels).</li>
            </ul>
            Hier können optional zusätzliche Spalten ausgewählt werden.
          </span>
        </h4>

        <div class="step-row">
          <button mat-stroked-button type="button" (click)="selectFullExport()" i18n><mat-icon>select_all</mat-icon> Vollständig</button>
          <button mat-stroked-button type="button" (click)="selectMinimalExport()" i18n
            ><mat-icon>deselect</mat-icon> Minimalauswahl</button
          >
        </div>

        <ul class="attribute-list" formGroupName="parameters">
          <li>
            <mat-checkbox formControlName="alternativesSheet" i18n>Alternativen</mat-checkbox>
            <ul>
              <li><mat-checkbox formControlName="defaultAnalysis" i18n>Auswertung der Abgabe</mat-checkbox></li>
              <li
                ><mat-checkbox formControlName="linearNumericalAnalysis" i18n
                  >Auswertung für lineare Nutzenfunktionen (numerische Skalen / Indikatorskalen)</mat-checkbox
                ></li
              >
              <li
                ><mat-checkbox formControlName="linearVerbalAnalysis" i18n
                  >Auswertung für lineare Nutzenfunktionen (verbale Skalen)</mat-checkbox
                ></li
              >
              <li
                ><mat-checkbox formControlName="linearBothAnalysis" i18n
                  >Auswertung für lineare Nutzenfunktionen (alle Skalen)</mat-checkbox
                ></li
              >
              <li
                ><mat-checkbox formControlName="linearMostImportantAnalyses" i18n
                  >Auswertung (das n-te wichtigste Ziel ist linear)</mat-checkbox
                ></li
              >
              <li
                ><mat-checkbox formControlName="linearMostImportantAccumulatedAnalyses" i18n
                  >Auswertung (die ersten n wichtigsten Ziele sind linear)</mat-checkbox
                ></li
              >
              <li
                ><mat-checkbox formControlName="linearLeastImportantAccumulatedAnalyses" i18n
                  >Auswertung (das n-te unwichtigste Ziel ist linear)</mat-checkbox
                ></li
              >
              <li
                ><mat-checkbox formControlName="linearLeastImportantAccumulatedAnalyses" i18n
                  >Auswertung (die ersten n unwichtigsten Ziele sind linear)</mat-checkbox
                ></li
              >
            </ul>
          </li>
          <li>
            <mat-checkbox formControlName="objectivesSheet" i18n>Ziele</mat-checkbox>
            <ul>
              <li><mat-checkbox formControlName="scaleInfo" i18n>Typ der Skala, Skalengrenzen und Einheit</mat-checkbox></li>
              <li><mat-checkbox formControlName="weightInfo" i18n>Informationen zum Zielgewicht</mat-checkbox></li>
              <li><mat-checkbox formControlName="utilityInfo" i18n>Krümmung und Präzision der Nutzenfunktion</mat-checkbox></li>
            </ul>
          </li></ul
        >
      </section>

      <section>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="isLoading || selectedEvents.length === 0 || !areAltAndObjParametersValid()"
          [dtOverlayProgress]="isLoading"
          i18n
        >
          <mat-icon>download</mat-icon>
          Exportieren
        </button>
      </section>
    </form>
  </ng-container>
</ng-container>

<ng-container *ngIf="exportType === 'project-files'">
  <form (ngSubmit)="createExportProjectFiles()">
    <section>
      <p i18n>
        Alle Projektdateien der ausgewählten Veranstaltungen werden in eine zip-Datei exportiert. Die Ordnerstruktur folgt dem folgenden
        Format:
        <code>[Veranstaltungs-ID]/[Abgabe-ID].json</code>.
      </p>
    </section>

    <section>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="isLoading || selectedEvents.length === 0"
        [dtOverlayProgress]="isLoading"
        i18n
      >
        <mat-icon>download</mat-icon>
        Exportieren
      </button>
    </section>
  </form>
</ng-container>
