@use 'variables' as dt;

table {
  text-align: left;
}

th {
  font-weight: bold;
  white-space: nowrap;
}

th,
td {
  padding: 0 8px;
}

.predefined-description {
  font-size: dt.font-size(caption);
  color: dt.$grey-foreground;
}
