.tree-select {
  width: 250px;
  height: 20px;

  border: 1px solid orange;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;

  user-select: none;
}

.selection {
  width: 100%;
  padding: 0;
  position: absolute;
  list-style: none;
  top: 30px;
  left: -1px;

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);

  background: white;
  overflow: hidden;
  z-index: 99;
  overflow-x: hidden;
  margin: 0px;
}

.selection-element {
  padding: 10px 15px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  text-align: left;
  background: white;
  overflow: hidden;
  text-align: center;
  transition: background-color 0.2s;
}

.selection-element:hover {
  background-color: rgb(230, 230, 230);
}

.parent-element {
  background-color: rgb(255, 224, 189);
}

.parent-element:hover {
  background-color: rgb(255, 213, 164);
}

.hasChildren {
  position: absolute;
  right: 8px;
}

.isParent {
  position: absolute;
  left: 8px;
}
