<div class="tree-select" (click)="toggle()">
  <span *ngIf="selected">{{ this.displayFunction(selected) }}</span>
  <span *ngIf="!selected">{{ default }}</span>
  <ul class="selection" [hidden]="!isOpen">
    <li *ngIf="currentLayer.value" class="selection-element parent-element" (click)="select($event, parent)">
      <span class="isParent"><</span>
      {{ this.displayFunction(currentLayer.value) }}
    </li>
    <li *ngFor="let child of currentLayer.children" class="selection-element" (click)="select($event, child)">
      {{ this.displayFunction(child.value) }}
      <span *ngIf="child.children" class="hasChildren">></span>
    </li>
  </ul>
</div>
