<mat-chip-list>
  <mat-chip *ngFor="let tag of visibleTags" (click)="tagClick.emit(tag)">
    {{ tag.name | localizedString }}
  </mat-chip>
  <mat-chip *ngIf="hasOverflow" [dtHoverPopover]="popoverTemplate" dtHoverPopoverPosition="right">&mldr;</mat-chip>
</mat-chip-list>

<ng-template #popoverTemplate>
  <div class="popover">
    <mat-chip-list>
      <mat-chip *ngFor="let tag of overflowingTags" (click)="tagClick.emit(tag)">
        {{ tag.name | localizedString }}
      </mat-chip>
    </mat-chip-list>
  </div>
</ng-template>
