<dt-modal-content size="small" (closeClick)="discard()" [flexContent]="true">
  <ng-template i18n #title> Projekt in Teamprojekt umwandeln </ng-template>
  <ng-template #content>
    <form [formGroup]="formGroup" class="dt-form">
      <mat-form-field>
        <mat-label i18n>Team Name</mat-label>
        <input matInput formControlName="teamName" />
      </mat-form-field>

      <button mat-raised-button color="accent" [disabled]="!formGroup.valid" (click)="createTeam()" i18n>Team erstellen</button>
    </form>
  </ng-template>
</dt-modal-content>
