<dt-inputbox
  (deleteEvent)="onDelete()"
  [deleteButton]="!readonly"
  [deleteDisabled]="deleteDisabled"
  [draggable]="!readonly && draggable"
  [collapsibleButton]="collapsibleButton"
  [collapsedByDefault]="collapsedByDefault"
  [confirmDeleteTemplate]="confirmDeleteTemplate"
>
  <div class="caption-wrapper">
    <ng-content select=".caption-wrapper"></ng-content>
  </div>
  <div class="control-wrapper">
    <ng-content select=".control-wrapper"></ng-content>
    <dt-button-tiny (click)="openNotes()" [icon]="'note'" i18n-title title="Notizen Editor öffnen"></dt-button-tiny>
  </div>
  <div class="content-wrapper">
    <div class="container-left">
      <ng-container *ngIf="nameInput; else customLeft">
        <input
          type="text"
          class="name"
          [(ngModel)]="name"
          [readonly]="readonly"
          (ngModelChange)="onNameChange($event)"
          [placeholder]="namePlaceholder"
          data-cy="name-input"
        />
        <div *ngIf="showSmallContainer" class="small-container">
          <ng-content select=".small-container"></ng-content>
        </div>
      </ng-container>
      <ng-template #customLeft>
        <ng-content select=".container-left"></ng-content>
      </ng-template>
    </div>
    <div class="container-right" [class.short-quill]="shortQuill">
      <quill-editor
        [(ngModel)]="notes"
        (ngModelChange)="onNotesChange($event)"
        format="json"
        bounds="self"
        theme="bubble"
        [placeholder]="notesPlaceholder"
        [modules]="editorModules"
        [readOnly]="!notesEditable || readonly"
      >
      </quill-editor>
    </div>
  </div>
</dt-inputbox>
<dt-note-btn
  [triangle]="false"
  [(comment)]="notes"
  [caption]="noteCaption"
  (commentChange)="onNotesChange($event)"
  [readonly]="readonly"
  (noteModalClick)="noteModalClick.emit()"
></dt-note-btn>
