@use 'variables' as dt;

.header {
  display: flex;
  align-items: center;
  cursor: pointer;

  > h4 {
    margin: 0;
    flex: 1;
    font-weight: 500;
    font-size: 15px;
    color: #333;
  }
}

.large-header {
  padding: 6px 10px 5px 20px;
  background: dt.$help-blue-lighten-8;
  border-bottom: 1px solid #b2c7d2;
}

.small-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 5px;
  margin-bottom: 10px;

  > h4 {
    font-weight: 400;
  }
}

:host:not(:last-of-type) .large-content {
  border-bottom: 1px solid #b2c7d2;
}
.large-content ::ng-deep {
  img {
    width: 100%;
  }

  .image-maxwidth {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }
}
