<dt-extendable-header
  i18n-headerName
  variation="large"
  headerName="Allgemeine Tipps zur Formulierung praktikabler Alternativen"
  [initialOpening]="true"
  [isLast]="true"
>
  <ul>
    <li i18n
      >Definiere die Handlungsalternativen nicht zu abstrakt. Bedenke, dass Du alle Handlungsalternativen später sinnvoll bewerten musst.
      Deshalb sollten alle Alternativen je nach Entscheidungskontext einen gewissen Detailgrad aufweisen. Alternativen wie „Arbeiten gehen“
      oder „Studieren“ weisen eine große inhaltliche Streuung und damit viele Unsicherheiten auf, wodurch sie in den seltensten Fällen
      sinnvoll bewertet werden können. Werde hier etwas konkreter! (Was möchtest Du studieren? Als was möchtest Du arbeiten?)</li
    >
    <li i18n
      >Deine Alternativen müssen inhaltlich auf einer Ebene sein, damit Du diese auch gut miteinander vergleichen kannst. Meist reicht es
      schon, wenn Du sichergehst, dass sich alle Alternativen über denselben Zeithorizont erstrecken. Weiterhin sollten sich alle
      Alternativen für eine gute Vergleichbarkeit gegenseitig ausschließen.</li
    >
    <li i18n
      >Scheue nicht davor, einen Blick zurück auf die Entscheidungsfrage und Ziele zu werfen. Es passiert oft, dass zu diesem Zeitpunkt noch
      rückwirkend Äderungen an diesen Schritten vorgenommen werden. Da der Prozess iterativ ist, stellt das kein Problem dar.</li
    >
  </ul>
</dt-extendable-header>
