@use '@angular/material' as mat;

.tables-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.column-line {
  border-right: 1px solid;
  border-left: 1px solid;
}

.row-line {
  border-bottom: 1px solid;
  font-weight: bold;
}

.shortcuts-table {
  max-width: 700px;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 260px 90px auto;
  padding: 20px 0;

  > * {
    padding: 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  p {
    margin: 0;
    text-align: center;

    kbd {
      background-color: rgb(238, 238, 238);
      border-radius: 3px;
      border: 1px solid #b4b4b4;
      color: #333;
      display: inline-block;
      font-size: 0.85em;
      font-weight: 700;
      line-height: 1;
      padding: 2px 4px;
      white-space: nowrap;
      margin: 0 5px;

      @include mat.elevation(1);
    }
  }

  svg {
    width: 24px;
    height: 24px;
    --color: black;
  }
}
