<dt-modal-content (closeClick)="close()">
  <ng-template #title i18n>Konflikt bei Projektversionen erkannt</ng-template>
  <ng-template #content>
    <p i18n>
      Das Projekt in deinem Entscheidungsnavi-Account wurde in der Zeischenzeit <b>verändert</b>. Möglicherweise wurde es an einem anderen
      Gerät bearbeitet. Wenn Du jetzt speicherst, werden diese <b>Änderungen überschrieben</b>.
    </p>
    <ul class="dt-plain-list">
      <li i18n>Deine lokale Version ist vom {{ data.localLoadTime | date : 'medium' }}</li>
      <li i18n>Die Version im Account wurde am {{ data.onlineUpdateTime | date : 'medium' }} verändert</li>
    </ul>
    <p i18n>
      Du kannst entweder die Version aus Deinem Account, oder die gerade geladene Version behalten. Welche Version möchtest Du behalten?
    </p>
  </ng-template>
  <ng-template #footer>
    <dt-button (click)="close('take-local')" [disabled]="isLoading" i18n>Lokale Version</dt-button>
    <dt-button (click)="close('take-online')" [disabled]="isLoading" [dtOverlayProgress]="isLoading" i18n>Account Version</dt-button>
    <dt-button type="raised-less" (click)="close()" [disabled]="isLoading" i18n>Abbrechen</dt-button>
  </ng-template>
</dt-modal-content>
