@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
}

.delete-button:hover:not([disabled]) {
  color: dt.$orange;
}

.list-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-button {
  align-self: flex-start;
  min-width: 0;
  padding: 0;
}

.drag-handle {
  cursor: move;
}

.cdk-drag-preview {
  @extend .list-item;

  background-color: dt.$blue-lighten-9;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
