<dt-modal-content size="small" (closeClick)="close()">
  <ng-template #title i18n>Anmelden</ng-template>
  <ng-template #content>
    <form #actualForm="ngForm" class="dt-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <mat-form-field>
        <mat-label i18n>E-Mail-Adresse</mat-label>
        <input type="email" matInput formControlName="email" />
        <button
          *ngIf="shouldShowSeedUsers"
          mat-icon-button
          matSuffix
          color="accent"
          [matMenuTriggerFor]="seedUserMenu"
          (click)="$event.stopPropagation()"
          type="button"
          ><mat-icon>recent_actors</mat-icon></button
        >
        <mat-menu #seedUserMenu>
          <button *ngFor="let seedUser of seedUsers" mat-menu-item (click)="loginWithSeedUser(seedUser)">
            {{ seedUser.name }}
          </button>
        </mat-menu>
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>Passwort</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>

      <mat-error *ngIf="loginForm.getError('server-error') === 'rate-limit'" i18n
        >Du kannst in kurzer Zeit zu viele Anfragen gestellt. Bitte versuche es später noch einmal.</mat-error
      >

      <mat-error *ngIf="loginForm.getError('server-error') === 'credentials'" i18n
        >Die eingegebene Kombination aus E-Mail und Passwort ist falsch.</mat-error
      >

      <mat-error *ngIf="loginForm.getError('server-error') === 'something'" i18n
        >Bei der Übertragung der Daten ist ein Fehler aufgetreten.</mat-error
      >

      <button
        mat-raised-button
        [dtOverlayProgress]="loginForm.disabled"
        type="submit"
        color="accent"
        [disabled]="(!loginForm.valid && !actualForm.submitted) || loginForm.disabled"
        i18n
        >Anmelden</button
      >
    </form>

    <div class="other-options"
      ><a (click)="openRegisterModal()" i18n>Account erstellen</a>&nbsp;·&nbsp;<a (click)="openPasswordResetModal()" i18n
        >Passwort vergessen</a
      ></div
    >
  </ng-template>
</dt-modal-content>
