<dt-modal-content (closeClick)="close()">
  <ng-template #title i18n>Ziel löschen</ng-template>
  <ng-template #content>
    <p i18n>
      Diese Aktion wird das Ziel &bdquo;{{ name }}&ldquo; <strong>unwiderruflich</strong> löschen. Folgende mit dem Ziel verknüpfte Daten
      werden ebenfalls gelöscht und können <strong>nicht</strong> wiederhergestellt werden:
    </p>
    <dt-attached-objective-data [objectiveIndex]="objectiveIndex"></dt-attached-objective-data>
    <p i18n>Bist Du sicher, dass Du das Ziel &bdquo;{{ name }}&ldquo; löschen willst?</p>
  </ng-template>
  <ng-template #footer>
    <dt-button (click)="close(true)" color="warn" i18n>Ja, löschen</dt-button>
    <dt-button (click)="close()" type="raised-less" i18n>Nein, abbrechen</dt-button>
  </ng-template>
</dt-modal-content>
