<div class="graph-container" [dtWidthTrigger]="{ small: 500 }">
  <div *ngIf="showYAxisLabel" class="utility-label" i18n> Nutzen </div>
  <div class="y-scale">
    <span>1.0</span>
    <ng-container [ngSwitch]="true">
      <ng-container *ngSwitchCase="true">
        <span>0.8</span>
        <span>0.6</span>
        <span>0.4</span>
        <span>0.2</span>
      </ng-container>

      <ng-container *ngSwitchCase="false">
        <span>0.5</span>
      </ng-container>
    </ng-container>
    <span>0.0</span>
  </div>
  <div class="vertical-seperator"></div>
  <div #clickCatcher class="graph-click-catcher" (mousedown)="mouseDownCatcher(clickCatcher, $event)">
    <div
      *ngFor="let dot of tooltipDots; trackBy: trackTooltips"
      class="tooltip-dot"
      [style.left.%]="dot.x"
      [style.top.%]="dot.y"
      [class.dont-show]="draggingGraph"
      [class.red]="dot.red"
      [dtHoverPopover]="tooltip"
      [dtHoverPopoverDisabled]="draggingGraph"
      [dtHoverPopoverDisableAnimation]="true"
      [dtHoverPopoverClickthrough]="true"
      dtHoverPopoverPosition="right"
    >
      <div class="circle"></div>
      <ng-template #tooltip>
        <div class="tooltip mat-elevation-z2">
          <div
            ><span class="bold">{{ objective.name }}</span
            >: {{ dot.objectiveValue }}</div
          >
          <div><span class="bold" i18n>Nutzen</span>: {{ dot.utilityValue }}</div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="graph-overlay grid-background"> </div>
  <div class="graph-overlay grid-background fine"> </div>
  <div *ngIf="showIntervals && !noWidth" class="graph-overlay interval-container">
    <div
      class="interval"
      [style.left.%]="normalizedAndOrderedLeftInterval.start * 100"
      [style.right.%]="100 - normalizedAndOrderedLeftInterval.end * 100"
    >
      <div class="interval-start white-text-outline">{{ data.intervals.levelInterval.start | round }}</div>
      <div class="interval-right white-text-outline">{{ data.intervals.levelInterval.end | round }}</div>
    </div>
  </div>
  <div *ngIf="showIntervals" class="graph-overlay inner-interval-container">
    <div
      class="interval"
      [style.left.%]="normalizedMidUtilityInterval.start * 100"
      [style.right.%]="100 - normalizedMidUtilityInterval.end * 100"
      [class.exact]="!isInaccurate || noWidth"
    >
      <div class="interval-middle white-text-outline">
        {{ data.intervals.midUtilityInterval.start | round
        }}<ng-container *ngIf="isInaccurate && !noWidth"> - {{ data.intervals.midUtilityInterval.end | round }}</ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="showIntervals" class="graph-overlay dot-container">
    <div
      class="dot"
      [style.left.%]="normalizedMidUtilityInterval.start * 100"
      [style.bottom.%]="utilityValuesOfMidUtilityInterval.start * 100"
    ></div>
    <div
      class="dot"
      [style.left.%]="normalizedMidUtilityInterval.end * 100"
      [style.bottom.%]="utilityValuesOfMidUtilityInterval.end * 100"
    ></div>
  </div>
  <svg class="graph-overlay line-overlay-container" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path [attr.d]="graphOfUtilityFunctionWithLowerCurvature" vector-effect="non-scaling-stroke"></path>
    <path *ngIf="isInaccurate" [attr.d]="graphOfUtilityFunctionWithHigherCurvature" vector-effect="non-scaling-stroke"></path>
  </svg>
  <div class="horizontal-seperator"></div>
  <div
    class="x-label-container"
    [style.width.%]="100 + 100 / (xLabels.length - 1)"
    [style.transform]="'translateX(-' + 100 / xLabels.length / 2 + '%)'"
  >
    <div
      *ngFor="let option of xLabels; let i = index"
      class="x-label"
      [style.grid-column]="4 + i"
      [matTooltip]="option"
      #tooltip="matTooltip"
      [dtOverflow]
      [dtOverflowTooltip]="tooltip"
    >
      {{ option }}
    </div>
  </div>
  <div class="x-axis-label"> {{ objective.name }} </div>
</div>
