@use 'sass:color';
@use 'variables' as dt;

$grid-color: lightgray;

.graph-container {
  display: grid;
  grid-template-rows: 1fr min-content min-content min-content;
  grid-template-columns: min-content min-content min-content 1fr;

  position: relative;

  width: 100%;
  height: 100%;

  padding: 10px;
  padding-right: 2.5em;

  font-size: dt.font-size(caption);

  &:not(.small) {
    .x-axis-label {
      display: initial;
    }

    .grid-background.fine {
      display: initial;
    }
  }

  .utility-label {
    grid-row: 1;
    grid-column: 1;

    margin-right: 0.5em;

    font-style: italic;

    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
  }

  .y-scale {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(100% + 1em);
    transform: translateY(-0.5em);

    grid-row: 1;
    grid-column: 2;

    margin-right: 10px;

    > span {
      line-height: 1em;
    }
  }

  .graph-click-catcher {
    position: relative;
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: -1;

    .tooltip-dot {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      z-index: 10;

      transform: translate(-50%, -50%);

      padding: 10px 5px;
      min-width: 5%;

      position: absolute;

      &:hover:not(.dont-show) .circle {
        opacity: 1;
      }

      .circle {
        width: 9px;
        height: 9px;

        border-radius: 50%;

        opacity: 0;

        background-color: dt.$blue;

        filter: drop-shadow(0px 0px 2px dt.$blue);
      }

      &.red {
        z-index: 11;
        .circle {
          background-color: dt.$crimson-red;
          filter: drop-shadow(0px 0px 2px dt.$crimson-red);
        }
      }
    }
  }

  .graph-overlay {
    position: absolute;
    pointer-events: none;

    grid-column-start: 4;
    grid-column-end: -1;

    grid-row: 1;
    grid-row-end: 2;

    place-self: start;
    width: 100%;
    height: 100%;
  }

  .grid-background {
    background-size: 20% 20%;

    border-right: 1px solid $grid-color;
    background-image: linear-gradient(to right, $grid-color 1px, transparent 1px),
      linear-gradient(to bottom, $grid-color 1px, transparent 1px);
    background-repeat: repeat;

    grid-column-start: 4;
    grid-column-end: -1;

    &.fine {
      display: none;
      background-size: 10% 10%;
      background-image: linear-gradient(to bottom, color.change($grid-color, $alpha: 0.5) 1px, transparent 1px);
      background-repeat: repeat;
    }
  }

  .interval-container {
    .interval {
      position: absolute;
      height: 100%;
      background-color: color.change(dt.$blue, $alpha: 0.1);
      border-left: 1px dashed dt.$blue;
      border-right: 1px dashed dt.$blue;

      top: 0;
      bottom: 0;

      > div {
        position: absolute;

        bottom: 5px;

        z-index: 2;
      }

      .interval-start {
        left: 0;
        transform: translateX(calc(-50% - 1px));
      }

      .interval-right {
        right: 0;
        transform: translateX(calc(50% + 1px));
      }
    }
  }

  .inner-interval-container {
    .interval {
      position: absolute;
      height: 100%;
      background-color: color.change(dt.$crimson-red, $alpha: 0.4);
      border-left: 1px dashed dt.$crimson-red;
      border-right: 1px dashed dt.$crimson-red;

      top: 0;
      bottom: 0;

      &.exact {
        transform: translateX(-50%);

        border-right: 1px solid dt.$crimson-red;
        border-left: none;
      }

      > div {
        position: absolute;

        bottom: 5px;

        z-index: 2;
      }

      .interval-middle {
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .dot-container {
    .dot {
      position: absolute;

      z-index: 1;

      width: 11px;
      height: 11px;

      border-radius: 50%;
      background-color: dt.$crimson-red;

      transform: translate(-50%, 50%);
    }
  }

  .line-overlay-container {
    path {
      stroke: dt.$blue;
      stroke-width: 1px;
      fill: none;
    }
  }

  .vertical-seperator {
    border-right: 1px solid black;
    grid-row: 1;
    grid-column: 3;
  }

  .horizontal-seperator {
    border-top: 1px solid black;
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: -1;

    transform: translateY(-1px);
  }

  .x-label-container {
    display: flex;
    justify-content: space-between;

    hyphens: none;

    min-width: 0;

    gap: 5px;

    margin-top: 5px;

    grid-column: 4;
    grid-row: 3;
    .x-label {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-align: center;
      flex: 1;
    }
  }

  .x-axis-label {
    display: none;

    font-size: dt.font-size(body-1);
    font-weight: 500;

    margin-top: 5px;

    grid-row: 4;
    grid-column: 3 / 5;

    overflow: hidden;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.white-text-outline {
  text-shadow: 0 0 1px white, 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white;
}

.tooltip {
  display: flex;
  flex-direction: column;

  border: 1px solid gray;

  font-size: dt.font-size(caption);

  background-color: white;
  padding: 5px;
}
