@use 'widgets';
@use 'variables' as dt;

:host {
  position: absolute;
  top: 0;
  right: 0;
}

/**
 * container for comment area and button
 */
.note-btn-wrapper {
  line-height: 0;

  /**
   * orange triangle: the button/field which opens the small comment area
   */
  svg {
    position: relative;
    z-index: 10;

    &:not(.disabled) .poly {
      fill: rgba(59, 76, 91, 0.25);

      cursor: pointer;

      &.dark-background {
        fill: rgba(255, 255, 255, 0.75);
      }

      &:not(.is-empty) {
        fill: rgba(248, 147, 30, 1);
      }

      &.team {
        fill: dt.$help-blue-lighten-4;
      }

      &:hover {
        fill: rgb(255, 196, 0);
      }
    }
  }
}

.note-title {
  text-align: left;
  margin-bottom: 0.5rem;

  h4,
  h6 {
    margin-bottom: 0.5rem;
  }

  h4 {
    color: dt.$foreground;
  }

  h6 {
    margin-top: 0;
    font-weight: normal;
    color: dt.$grey-foreground;
  }
}

.note-hover-container {
  display: flex;
  flex-direction: column;

  max-width: 500px;
  max-height: 200px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;

  ::ng-deep {
    * {
      @include widgets.thin-scrollbar;
    }

    .ql-editor {
      flex-basis: 0px !important;
    }

    .ql-toolbar {
      display: none;
    }
  }
}
