<mat-menu #optionsMenu [xPosition]="'before'" class="dt-select-menu">
  <div (click)="multiple && $event.stopPropagation()">
    <ng-container *ngFor="let selectItem of groupsAndOptions; let selectItemIndex = index">
      <ng-container *ngIf="isOption(selectItem)">
        <ng-template
          *ngTemplateOutlet="
            optionTemplate;
            context: {
              groupText: null,
              groupName: rootGroupName,
              options: [selectItem]
            }
          "
        >
        </ng-template>
      </ng-container>
      <ng-container *ngIf="isGroup(selectItem)">
        <ng-template
          *ngTemplateOutlet="
            optionTemplate;
            context: {
              groupText: selectItem.label.text,
              groupName: selectItem.value,
              options: selectItem.groupedOptions
            }
          "
        >
        </ng-template>
      </ng-container>
    </ng-container>

    <ng-template #optionTemplate let-options="options" let-groupName="groupName" let-groupText="groupText">
      <mat-selection-list
        class="option-group"
        [class.opened]="openedGroups.has(groupName)"
        [multiple]="multiple"
        [attr.data-cy]="'dt-select-' + textForSelected"
      >
        <div mat-subheader class="option-group-header" *ngIf="groupText" (click)="toggleGroup(groupName)">
          <mat-checkbox
            [checked]="isGroupSelected(groupName)"
            [indeterminate]="isGroupIndeterminate(groupName)"
            [disableRipple]="true"
            (click)="$event.preventDefault()"
          ></mat-checkbox>
          {{ groupText | uppercase }}
          <div class="option-group-header-collapse-icon" (click)="$event.stopPropagation(); toggleFoldingOfGroup(groupName)">
            <mat-icon>{{ openedGroups.has(groupName) ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
          </div>
        </div>
        <ng-container *ngIf="openedGroups.has(groupName)">
          <ng-container *ngFor="let option of options">
            <div
              class="option"
              [matTooltip]="option.tooltipWhenDisabled"
              matTooltipPosition="left"
              [matTooltipDisabled]="option.tooltipWhenDisabled == null || !option.disabled"
            >
              <mat-list-option
                *ngIf="!option.showAsGroupLabel"
                (click)="textOfLastSelected = option.text; toggleOption(groupName, option.value)"
                [disabled]="option.disabled"
                [selected]="isOptionSelected(groupName, option.value)"
                [checkboxPosition]="multiple ? 'before' : 'after'"
              >
                <span class="option-text">{{ option.text }}</span>
              </mat-list-option>

              <ng-container *ngIf="option.showAsGroupLabel && groupName === rootGroupName">
                <div
                  class="option-group-header pseudo"
                  mat-subheader
                  (click)="textOfLastSelected = option.text; toggleOption(groupName, option.value)"
                >
                  <mat-checkbox
                    (click)="$event.preventDefault()"
                    [checked]="isOptionSelected(groupName, option.value)"
                    class="option-group-checkbox"
                  ></mat-checkbox>
                  {{ option.text | uppercase }}
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </mat-selection-list>
    </ng-template>
  </div>
</mat-menu>

<dt-button
  [icon]="selectionListOpened ? 'arrow_drop_up' : 'arrow_drop_down'"
  [iconPosition]="'right'"
  [type]="'raised-less'"
  [color]="'muted'"
  [disabled]="disabled"
  [class.disabled]="disabled"
  [matMenuTriggerFor]="optionsMenu"
  (menuOpened)="selectionListOpened = true"
  (menuClosed)="selectionListOpened = false"
  (click)="disabled ? $event.stopPropagation() : null"
  ><span *ngIf="label" class="label">{{ label.text }}:</span><span class="selected">{{ textForSelected }}</span></dt-button
>
