@use 'variables' as dt;

.option-group {
  overflow: hidden;
  padding-top: 0;

  &.opened .option-group-header:not(.pseudo) {
    border-bottom: 1px solid #bebebe;
  }

  .option-group-header {
    flex: 1;
    height: 41px;
    line-height: 1;
    font-size: dt.font-size(button);

    padding: 0 16px;
    margin-top: 0;

    color: rgba(0, 0, 0, 0.6);
    background: #ebedee;
    user-select: none;
    cursor: pointer;

    mat-checkbox {
      margin-right: 16px;
    }

    .option-group-header-collapse-icon {
      display: flex;
      align-items: center;
      height: 100%;
      margin-left: auto;
      margin-right: -16px;
      padding: 0 16px 0 5px;
    }
  }

  .option {
    display: flex;
    align-items: center;

    .option-text {
      overflow: hidden;
      word-wrap: break-word;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

dt-button {
  .label {
    margin-right: 8px;
  }

  .selected {
    color: dt.$orange;
  }

  &.disabled {
    pointer-events: none;

    .selected {
      color: gray;
    }
  }
}

::ng-deep .dt-select-menu.mat-menu-panel {
  max-width: 350px;
  min-width: 250px;
  min-height: 0;

  .mat-menu-content {
    padding: 0;
  }
}

// Give margin to right element of a chain of button-like-elements
:host-context(dt-select + dt-select, dt-button + dt-select, dt-collapse-all + dt-select, span + dt-select) {
  margin-left: 5px;
}

:host ::ng-deep mat-selection-list:not(:first-child) {
  .mat-subheader {
    border-top: 1px solid #bebebe;
  }
}
