<div class="dt-help-padding">
  <p i18n
    >Die Schwachpunktanalyse ist ein iterativer Prozess, den Du mehrmals durchführen kannst. So ist es einerseits möglich, dass eine
    Alternative nicht nur einen Schwachpunkt in einem Ziel hat, sondern Schwachpunkte in mehreren Zielen aufweist. Du kannst und solltest in
    diesem Falle alle Schwachpunkte einzeln aufdecken und überlegen, wie Du diese eliminieren kannst.</p
  >

  <p i18n
    >Weiterhin ist es sinnvoll, die Schwachpunktanalyse auf die verbesserten Alternativen selbst anzuwenden. Wenn Du also eine verbesserte
    Alternative erzeugt hast, überlege auch hier, ob sich durch die Verbesserung vielleicht andere Schwachpunkte ergeben haben.
  </p>

  <p i18n>Behalte dieses Vorgehen auch für spätere Teilschritte im Kopf, in denen Du vielleicht ebenfalls noch neue Ideen findest.</p>
</div>
