<dt-modal-content
  [contentPadding]="false"
  [showFooter]="false"
  size="small"
  (closeClick)="dialogRef.close()"
  *ngIf="authService.user$ | async as user"
>
  <ng-template i18n #title>Profil</ng-template>
  <ng-template #content>
    <div *ngIf="!user.emailConfirmed" class="warning-row">
      <mat-icon>warning</mat-icon>&nbsp;
      <div i18n>E-Mail-Adresse nicht bestätigt. <a (click)="confirmEmail()">Jetzt bestätigen</a>.</div>
    </div>
    <mat-divider></mat-divider>
    <mat-action-list *ngIf="screen === 'overview'">
      <mat-list-item (click)="screen = 'email'">
        <div matLine>E-Mail </div>
        <div matLine> {{ user.email }}</div>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item (click)="screen = 'username'">
        <div matLine i18n>Benutzername </div>
        <div matLine *ngIf="user.name">{{ user.name }}</div>
        <div matLine *ngIf="!user.name" i18n>Kein Benutzername vergeben</div>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item (click)="screen = 'password'">
        <div matLine i18n>Passwort</div>
        <div matLine>**********</div>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item (click)="deleteAccount()">
        <div matLine i18n>Account löschen</div>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-action-list>

    <div class="screen-header" *ngIf="screen !== 'overview'">
      <mat-icon (click)="screen = 'overview'">keyboard_arrow_left</mat-icon>
      <ng-container [ngSwitch]="screen">
        <span class="mat-h3" i18n *ngSwitchCase="'email'">E-Mail ändern</span>
        <span class="mat-h3" i18n *ngSwitchCase="'username'">Benutzername ändern</span>
        <span class="mat-h3" i18n *ngSwitchCase="'password'">Passwort ändern</span>
      </ng-container>
    </div>

    <div class="screen-container" *ngIf="screen !== 'overview'">
      <dt-change-email *ngIf="screen === 'email'"></dt-change-email>
      <dt-change-username *ngIf="screen === 'username'"></dt-change-username>
      <dt-change-password *ngIf="screen === 'password'" (changePasswordSuccess)="screen = 'overview'"></dt-change-password>
    </div>
  </ng-template>
</dt-modal-content>
