<div [dtOverlayProgress]="!weightLines" [dtOverlayProgressColor]="'accent'">
  <div class="members">
    <div
      *ngFor="let member of members; index as i"
      class="member"
      (mouseenter)="hoveringMemberIndex = i"
      (mouseleave)="hoveringMemberIndex = -1"
      [class.invalid]="!weightLines[i]"
    >
      {{ member.user.name ?? member.user.email }}
    </div>
  </div>
  <div *ngIf="weightLines" class="graph-holder">
    <div class="graph-container" [style.padding-right.%]="100 / (objectiveNames.length - 1) / 2">
      <div class="utility-label" i18n> Zielgewichte </div>
      <div class="y-scale">
        <span>100</span>
        <span>80</span>
        <span>60</span>
        <span>40</span>
        <span>20</span>
        <span>0</span>
      </div>
      <div class="vertical-seperator"></div>
      <div class="graph-overlay grid-background"> </div>
      <ng-container *ngFor="let line of weightLines; index as i">
        <svg
          class="graph-overlay line-overlay-container"
          [class.grayed-out]="hoveringMemberIndex !== -1 && hoveringMemberIndex !== i"
          viewBox="0 0 100 100"
          preserveAspectRatio="none"
        >
          <path [attr.d]="line" vector-effect="non-scaling-stroke"></path>
        </svg>
      </ng-container>
      <div class="horizontal-seperator"></div>
      <div
        class="x-label-container"
        [style.width.%]="100 + 100 / (objectiveNames.length - 1)"
        [style.transform]="'translateX(-' + 100 / objectiveNames.length / 2 + '%)'"
      >
        <div
          *ngFor="let objectiveName of objectiveNames; let i = index"
          class="x-label"
          [style.grid-column]="4 + i"
          [matTooltip]="objectiveName"
          #tooltip="matTooltip"
          [dtOverflow]
          [dtOverflowTooltip]="tooltip"
        >
          {{ objectiveName }}
        </div>
      </div>
      <div class="x-axis-label" i18n> Ziele </div>
    </div>
  </div>
</div>
