@use '@angular/material' as mat;
@use 'sass:color';
@use 'variables' as dt;

$grid-color: lightgray;

.graph-holder {
  display: flex;
}

.graph-container {
  display: grid;
  grid-template-rows: 300px min-content min-content min-content;
  grid-template-columns: min-content min-content min-content 1fr;

  position: relative;

  width: 100%;
  height: 100%;

  padding: 18px;
  padding-right: 10%;
  padding-left: calc(10% - 5em);

  font-size: dt.font-size(caption);

  overflow: hidden;

  .utility-label {
    grid-row: 1;
    grid-column: 1;

    margin-right: 0.5em;

    font-style: italic;

    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
  }

  .y-scale {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(100% + 1em);
    transform: translateY(-0.5em);

    grid-row: 1;
    grid-column: 2;

    margin-right: 10px;

    > span {
      line-height: 1em;
    }
  }

  .graph-overlay {
    position: absolute;
    pointer-events: none;

    grid-column-start: 4;
    grid-column-end: -1;

    grid-row: 1;
    grid-row-end: 2;

    place-self: start;
    width: 100%;
    height: 100%;
  }

  .grid-background {
    background-size: 20% 20%;

    border-right: 1px solid $grid-color;
    background-image: linear-gradient(to right, $grid-color 1px, transparent 1px),
      linear-gradient(to bottom, $grid-color 1px, transparent 1px);
    background-repeat: repeat;

    grid-column-start: 4;
    grid-column-end: -1;
  }

  .line-overlay-container {
    stroke-width: 2px;
    fill: none;

    transition: 150ms opacity ease-in-out;

    &.grayed-out {
      opacity: 0.2;
    }
  }

  @for $i from 1 to 30 {
    .line-overlay-container:nth-of-type(#{$i}) {
      path {
        stroke: color.adjust(#0000ff, $hue: $i * 73);
      }
    }
  }

  .vertical-seperator {
    border-right: 1px solid black;
    grid-row: 1;
    grid-column: 3;
  }

  .horizontal-seperator {
    border-top: 1px solid black;
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: -1;

    transform: translateY(-1px);
  }

  .x-label-container {
    display: flex;
    justify-content: space-between;

    hyphens: none;

    min-width: 0;

    gap: 5px;

    margin-top: 5px;

    grid-column: 4;
    grid-row: 3;
    .x-label {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-align: center;
      flex: 1;
    }
  }

  .x-axis-label {
    display: none;

    font-size: dt.font-size(body-1);
    font-weight: 500;

    margin-top: 5px;

    grid-row: 4;
    grid-column: 3 / 5;

    overflow: hidden;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  padding: 10px;

  .member {
    display: flex;
    align-items: center;

    cursor: pointer;

    &.invalid {
      opacity: 0.5;
    }

    &:not(.invalid):hover {
      font-weight: 500;
    }
  }

  @for $i from 1 to 30 {
    .member:nth-child(#{$i}) {
      &::before {
        display: block;
        content: '';

        width: 10px;
        height: 5px;

        margin-right: 5px;

        background-color: color.adjust(#0000ff, $hue: $i * 73);
      }
    }
  }
}
