<dt-utilityfunction-graph-verbal #graph [objective]="objective" [hasChanges]="hasChanges"></dt-utilityfunction-graph-verbal>

<div class="bottom-container">
  <mat-form-field *ngIf="!objective.verbalData.hasCustomUtilityValues; else cLocked" class="dt-number-input" hideRequiredMarker>
    <mat-label i18n>Krümmung</mat-label>
    <input
      matInput
      type="number"
      step="0.1"
      [min]="-cMax"
      [max]="cMax"
      [ngModel]="objective.verbalData.c"
      (ngModelChange)="updateC($event)"
      [enableScroll]="true"
      required
    />
    <dt-input-spinner
      (increase)="adjustC(0.1)"
      (decrease)="adjustC(-0.1)"
      [plusDisabled]="objective.verbalData.c === cMax"
      [minusDisabled]="objective.verbalData.c === -cMax"
    ></dt-input-spinner>
  </mat-form-field>
  <mat-divider [vertical]="true"></mat-divider>
  <mat-form-field class="dt-number-input" hideRequiredMarker>
    <mat-label i18n>Präzisionsintervall</mat-label>
    <span matPrefix>±</span>
    <input
      matInput
      type="number"
      step="0.1"
      min="0"
      [max]="pMax"
      [ngModel]="objective.verbalData.precision"
      (ngModelChange)="updatePrecision($event)"
      [enableScroll]="true"
      required
    />
    <dt-input-spinner
      (increase)="adjustPrecision(0.1)"
      (decrease)="adjustPrecision(-0.1)"
      [plusDisabled]="objective.verbalData.precision === pMax"
      [minusDisabled]="objective.verbalData.precision === 0"
    ></dt-input-spinner>
  </mat-form-field>
</div>

<ng-template #cLocked>
  <div
    class="unlock-button"
    matTooltip="Das Entsperren der Krümmung setzt ihre manuellen Nutzenwerte zurück"
    i18n-matTooltip
    (click)="unlockC()"
  >
    <mat-icon>lock</mat-icon>&nbsp;<ng-container i18n>Krümmung</ng-container>
  </div>
</ng-template>
