@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

dt-utilityfunction-graph-verbal {
  flex: 1;
}

.bottom-container {
  display: flex;

  mat-form-field,
  .unlock-button {
    flex: 1 0 0;
    min-width: 0;
  }

  .unlock-button {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    background-color: #f5f5f5;

    &:hover {
      color: dt.$orange;
    }
  }

  border-top: 1px solid rgba(59, 76, 91, 0.2);
}
