.navline {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 20px;
}

.finish-text {
  max-width: 700px;
}

mat-checkbox {
  border-bottom: 1px solid transparent;

  &.invalid {
    border-bottom-color: red;
  }
}

.error {
  color: red;
  font-weight: 500;
  margin-top: 10px;
}

.pdf-button {
  mat-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

mat-form-field {
  width: 100%;
}

.mat-checkbox-disabled a {
  color: lightgray;
}

.token-info-container {
  > p {
    max-width: 500px;
  }

  .token {
    text-align: center;

    margin: 10px 0;
  }
}
