<div *ngIf="userIsOnStep" class="navline klug-limit-width">
  <button mat-raised-button color="primary" [routerLink]="backLink" [disabled]="!backLink">Zurück</button>
  <ng-container [ngSwitch]="userIsOnLastStep">
    <button *ngSwitchCase="false" mat-raised-button color="primary" [routerLink]="forwardLink" [disabled]="!forwardLink">Weiter</button>
    <ng-container *ngSwitchCase="true">
      <button mat-raised-button color="accent" (click)="openPDFReport()" [disabled]="showPdfExport" class="pdf-button"
        >PDF Zusammenfassung

        <mat-progress-bar *ngIf="showPdfExport" mode="indeterminate"></mat-progress-bar>
      </button>
      <button *ngSwitchCase="true" mat-raised-button color="primary" (click)="openFinishDialog()">Weiter</button>
    </ng-container>
  </ng-container>
</div>

<klug-pdf-export *ngIf="showPdfExport"></klug-pdf-export>

<ng-template #finishTemplate let-dialogRef="dialogRef">
  <form [formGroup]="finishForm" (ngSubmit)="continueToQuestionnaire(dialogRef)" #actualForm="ngForm">
    <div mat-dialog-content>
      <p class="finish-text">
        Das KLUGentscheiden-Tool ist eine Schulversion des umfangreicheren Tools mit dem Namen Entscheidungsnavi (<a
          href="https://enavi.app"
          target="_blank"
          rel="noopener"
          >www.enavi.app</a
        >). Du kannst all Deine Eingaben auch dort importieren und anschließend weiter daran arbeiten. Wenn Du möchtest, informieren wir
        Dich per E-Mail, wie das geht und schicken Dir auch eine PDF-Zusammenfassung Deines Projekts zu. Trage dazu einfach Deine
        E-Mail-Adresse in das Feld ein.
      </p>

      <mat-form-field appearance="fill">
        <mat-label>E-Mail Adresse</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-checkbox
        formControlName="privacyPolicy"
        [disabled]="!finishForm.controls.email.value"
        [class.invalid]="finishForm.errors?.privacyPolicyRequired"
      >
        Ich akzeptiere die <a href="https://entscheidungsnavi.de/privacy/" target="_blank" rel="noopener">Datenschutzerklärung</a>.
      </mat-checkbox>
      <div *ngIf="finishErrored" class="error">
        Bei der Anfrage an den Server ist ein unbekannter Server aufgetreten. Möglicherweise ist Ihre Internetverbindung instabil.
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="exportingProject" [ngSwitch]="isOfficialKlugProject">
        <ng-container *ngSwitchCase="true"> Zurück zur KLUGentscheiden!-Plattform </ng-container>
        <ng-container *ngSwitchCase="false"> Weiter zum Entscheidungsnavi </ng-container>
      </button>
      <mat-progress-bar *ngIf="exportingProject" mode="indeterminate"></mat-progress-bar>
    </div>
  </form>
</ng-template>

<ng-template #tokenInfoTemplate let-dialogRef="dialogRef" let-data>
  <h2 mat-dialog-title>Hinweis</h2>
  <div mat-dialog-content class="token-info-container">
    <p>
      Notiere dir bitte das untenstehende Token, falls du später nochmals auf das Projekt zugreifen möchtest. Ohne das Token ist ein
      erneuter Zugriff nicht möglich.
    </p>

    <h1 class="token">{{ data.token }}</h1>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" (click)="dialogRef.close('confirm')"> Weiter </button>
  </div>
</ng-template>
