<dt-table-layout *dtDataLoad="displayedEvents$ | async as displayedEvents; error: hasError">
  <div header class="header">
    <button mat-raised-button *ngIf="canCreateEvents$ | async" color="primary" routerLink="create" i18n>
      <mat-icon>add</mat-icon> Veranstaltung anlegen
    </button>
  </div>

  <table
    mat-table
    [dataSource]="displayedEvents$"
    matSort
    [matSortDisableClear]="true"
    [matSortActive]="activeSort$.value.active"
    [matSortDirection]="activeSort$.value.direction"
    (matSortChange)="activeSort$.next($any($event))"
  >
    <ng-container matColumnDef="submissionStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Abgabe</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon
          [class.active-submission]="row.submissionStatus === 'open'"
          [dtHoverPopover]="submissionPopover"
          dtHoverPopoverPosition="right"
          [ngSwitch]="row.submissionStatus"
        >
          <mat-icon *ngSwitchCase="'open'">alarm_on</mat-icon>
          <mat-icon *ngSwitchCase="'upcoming'">acute</mat-icon>
          <mat-icon *ngSwitchCase="'expired'">lock_clock</mat-icon>
        </mat-icon>

        <ng-template #submissionPopover>
          <div class="submission-popover">
            <div class="status" [ngSwitch]="row.submissionStatus">
              <ng-container *ngSwitchCase="'open'" i18n>Abgabe möglich</ng-container>
              <ng-container *ngSwitchCase="'expired'" i18n>Abgabezeitraum abgelaufen</ng-container>
              <ng-container *ngSwitchCase="'upcoming'" i18n>Abgabezeitraum hat noch nicht begonnen</ng-container>
            </div>
            <table>
              <tr>
                <td>Beginn des Abgabezeitraums</td>
                <td>{{ row.startDate ? (row.startDate | date : 'medium') : '—' }}</td>
              </tr>
              <tr>
                <td>Ende des Abgabezeitraums</td>
                <td>{{ row.endDate ? (row.endDate | date : 'medium') : '—' }}</td>
              </tr>
            </table>
          </div>
        </ng-template>

        <mat-icon
          *ngIf="!row.questionnaireReleased"
          matTooltip="Der Fragebogen ist noch nicht veröffentlicht"
          matTooltipPosition="right"
          i18n-matTooltip
          class="error-icon"
          >error</mat-icon
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Code</th>
      <td mat-cell *matCellDef="let row">{{ row.code || '—' }}</td>
    </ng-container>
    <ng-container matColumnDef="registrationCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Teilnehmer</th>
      <td mat-cell *matCellDef="let row">{{ row.registrationCount | number }}</td>
    </ng-container>
    <ng-container matColumnDef="submissionCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Abgaben</th>
      <td mat-cell *matCellDef="let row">{{ row.submissionCount | number }}</td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Erstellt am</th>
      <td mat-cell *matCellDef="let row">{{ row.createdAt | date : 'short' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [routerLink]="row.id"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length" i18n>Keine Veranstaltungen angelegt.</td>
    </tr>
  </table>

  <dt-table-footer [totalCount]="displayedEvents.length"></dt-table-footer>
</dt-table-layout>
