:host {
  display: grid;
  grid-template-columns: 180px 285px auto 35px;
  grid-column-gap: 20px;
  margin-top: 25px;
}

:host:first-of-type {
  margin-top: 15px;
}

.alternative-name {
  align-self: center;
}

input.alternative-input {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(59, 76, 91, 0.1);
  border: 1px solid rgba(59, 76, 91, 0.2);
  border-radius: 2px;
  padding: 5px 10px;
  align-self: center;
  height: 100%;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  box-shadow: none !important;
}

.objective-button {
  max-width: 285px;
  margin: auto 0;
}

.objective {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

dt-button.disabled {
  pointer-events: none;
}

.note-wrapper {
  position: relative;
}

.full-height {
  height: 100%;
}
