<span class="alternative-name">{{ alternative.name }}</span>

<dt-button
  #objectiveButton
  class="objective-button"
  [maxWidthWrapper]="true"
  [matMenuTriggerFor]="objectiveMenu"
  [disabled]="readonly"
  [class.disabled]="readonly"
  data-cy="objective-selection-button"
>
  <mat-menu #objectiveMenu="matMenu" data-cy="objective-selection-menu">
    <button *ngFor="let objective of objectives" mat-menu-item (click)="selectObjective(objective)">{{ objective.name }}</button>
  </mat-menu>
  <span
    *ngIf="selectedObjective; else notSelected"
    class="objective"
    #overflow="dtOverflow"
    [dtOverflow]
    [matTooltip]="selectedObjective.name"
    [matTooltipDisabled]="!overflow.isOverflowing"
    >{{ selectedObjective.name }}</span
  >
  <ng-template #notSelected>
    <span i18n class="objective">Bitte auswählen&hellip;</span>
  </ng-template>
</dt-button>

<form (submit)="addAlternative()">
  <div class="note-wrapper full-height">
    <input
      #alternativeName
      class="alternative-input"
      type="text"
      [(ngModel)]="name"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Alternative benennen"
      [attr.disabled]="selectedObjective ? null : ''"
      i18n-placeholder
      [readonly]="readonly"
      data-cy="alternative-name-input"
    />
    <dt-note-btn *ngIf="selectedObjective" [(comment)]="comment" [caption]="name | noteBtnPreset : 'alternative'"></dt-note-btn>
  </div>
</form>
<div>
  <dt-button
    [minWidth]="false"
    [defaultPadding]="false"
    [maxWidth]="true"
    [marginLeftRight]="0"
    *ngIf="selectedObjective && name"
    (click)="addAlternative()"
    [icon]="'add'"
    [iconOnly]="true"
    [disabled]="readonly"
    data-cy="alternative-add-button"
  ></dt-button>
</div>
