@use 'variables' as dt;

.email-form {
  border-top: 2px solid gray;
}

.loaded-marker {
  position: absolute;
  left: 0;
  height: 100%;
  width: 7px;
  background-color: dt.$orange;
}

.settings-container,
.evaluation-container {
  padding: dt.$modal-padding;
}

mat-chip ~ mat-chip {
  margin-left: 10px;
}

dt-flex-table.member-table {
  ::ng-deep .cell:first-child {
    background-color: dt.$blue-lighten-9;
    min-height: 60px;
  }
}

div.name-container {
  display: flex;
  flex-direction: column;

  gap: 3px;

  pointer-events: none;

  font-weight: 500;

  line-height: 1;

  span.subtitle {
    font-size: dt.font-size(caption);
    color: gray;

    ~ .subtitle {
      display: none;
    }
  }
}

.take-main-project-container {
  display: flex;
  align-items: center;
  height: 55px;
  position: absolute;

  top: 0;
  right: 0;

  padding-right: 10px;

  button {
    height: 30px;
    line-height: 30px;
  }
}

.unread-comments-count {
  margin-left: 10px;
}

::ng-deep .dt-team-editor-menu-panel {
  max-width: 300px;
  min-height: unset;
}
