@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: block;
}

.box-wrapper {
  @include mat.elevation(4);

  position: relative;

  border-radius: 5px;
  overflow: hidden;
}

.box-header {
  display: flex;
  align-items: center;

  padding: 8px 4px 8px 16px;

  background-color: dt.$blue;
  color: white;

  .name {
    flex: 1;

    margin-right: 16px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: bold;
    transition: color 0.1s ease-in-out;

    cursor: pointer;

    &:hover {
      color: dt.$orange;
    }

    &:empty {
      align-self: stretch;
    }
  }
}

.box-content {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  align-items: center;
  gap: 8px;

  padding: 8px 16px;

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: color 0.1s ease-in-out;

    &.has-comment {
      cursor: help;

      &:hover {
        color: dt.$orange;
      }
    }
  }

  mat-form-field {
    width: 100px;
  }
}

.name-hover-container {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);

  width: 150px;
  max-height: 300px;

  padding: 8px;
}

.box-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow-x: auto;

  padding: 4px 16px;

  background-color: #f5f5f5;

  mat-form-field {
    width: 100px;
  }
}
