<ng-container *ngIf="objectiveIdx != null">
  <dt-utility-function-detailed-numerical-or-indicator
    *ngIf="objective && !objective.isVerbal"
    [objective]="objective"
  ></dt-utility-function-detailed-numerical-or-indicator>
  <dt-utility-function-detailed-verbal
    *ngIf="objective && objective.isVerbal"
    [objective]="objective"
  ></dt-utility-function-detailed-verbal>
</ng-container>
