<div class="chart-row">
  <div class="chart-cell" *ngFor="let _ of objectives; index as objectiveIndex">
    <dt-chart-cell
      [weightedUtilityValue]="getRelativeValue(objectiveIndex)"
      [color]="getCellColor(objectiveIndex)"
      [text]="getCellText(objectiveIndex)"
    ></dt-chart-cell>
  </div>
</div>
