@use 'variables' as dt;

.settings-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 1px;

  background-color: lightgray;

  border: 1px solid lightgray;

  &:not(:empty) {
    margin-bottom: 5px;
  }

  .setting {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #f5f6f6;

    .heading {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 500;
    }

    .options {
      display: flex;

      > div {
        color: rgb(167, 167, 167);
        user-select: none;

        font-size: 0.8rem;

        padding: 0 1ch;

        cursor: pointer;

        &.selected {
          cursor: default;
          color: dt.$orange;
          font-weight: 500;
        }

        &:not(.selected):not(.disabled):hover {
          text-decoration: underline;
        }

        &.disabled {
          cursor: default;
          color: rgb(94, 94, 94);
        }
      }
    }
  }

  mat-divider {
    align-self: stretch;
    border-right-width: 2px;
    margin: 0 10px;
  }
}

:host:first-of-type .settings-container {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

:host:last-of-type .settings-container {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
