<div class="settings-container">
  <div class="setting">
    <div class="heading">{{ heading }}</div>
    <div class="options">
      <div
        [class.selected]="idx === selectedIndex"
        [class.disabled]="optionsDisabled[idx] && idx !== selectedIndex"
        *ngFor="let option of options; let idx = index"
        (click)="clickOption(idx)"
      >
        {{ option }}
      </div>
    </div>
  </div>
</div>
