<div class="klug-limit-width">
  <h1>Wie gut passen meine Optionen zu meinen Zielen? </h1>
  <klug-step-description
    >Bewerte hier, wie gut sich eine Option dazu eignet, Deine Ziele zu erreichen. Verwende dafür eine Punkteskala von 0 (eignet sich
    überhaupt nicht, um mein Ziel zu erreichen) bis 10 (eignet sich voll und ganz, um mein Ziel zu erreichen).
  </klug-step-description>
</div>

<klug-assessment-graph></klug-assessment-graph>

<ng-template #help>
  <p>
    Nicht alle Optionen passen gleich gut zu unseren Zielen. Schaue Dein erstes Ziel an und vergib zwischen 0 und 10 Punkten. Eine Bewertung
    mit 0 Punkten bedeutet, dass sich die Option überhaupt nicht dazu eignet, das Ziel zu erreichen. Eine Bewertung mit 10 Punkten bedeutet,
    dass das Ziel absolut erfüllt wird.
  </p>
  <p
    >Bewertungen sollten grundsätzlich auf korrekt recherchierten Fakten beruhen. Jedoch ist es herausfordernd, für alle Bewertungen Fakten
    zu finden. Denke über andere Möglichkeiten, um an Informationen zu gelangen, nach, z. B. indem Du mit Expert:innen sprichst, die sich in
    den entsprechenden Bereichen gut auskennen.
  </p>
</ng-template>
