@use 'sass:color';
@import 'forms';

// Remove bottom margin from mat-form-field. This prevents the use of mat-hint or mat-error.
@mixin form-field-no-margin {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .mat-form-field-underline {
    bottom: 0;
  }
}

@mixin form-field-slim {
  .mat-form-field-flex {
    padding-top: 0.25em;

    .mat-form-field-infix {
      padding-bottom: 0.35em;
    }
  }
}

@mixin thin-scrollbar {
  scrollbar-color: #839192;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border: none;
  }
  &::-webkit-scrollbar-track {
    background: color.scale(#cdcdcd, $lightness: 75%);
    border: none;
  }
  &::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  &::-webkit-scrollbar-track:active {
    background: transparent;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

mat-form-field.dt-no-margin {
  @include form-field-no-margin;
}

mat-form-field.dt-no-label {
  .mat-form-field-infix {
    border-top: none;
  }

  .mat-form-field-flex {
    padding-top: 0;
  }
}

mat-form-field.dt-slim {
  @include form-field-slim;
}

mat-form-field.dt-number-input {
  @include form-field-no-margin;
  @include form-field-slim;

  text-align: center;
}

// Mat Tooltip
.mat-tooltip {
  font-size: 12px;
}

.mat-tooltip-trigger {
  // https://github.com/angular/components/issues/4892
  touch-action: auto !important;
}

// mat-menu
.mat-menu-panel {
  margin-top: 5px;
  .mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

mat-icon {
  flex-shrink: 0;
}

mat-icon.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

body.dt-webkit mat-icon.material-symbols-outlined {
  // Weight 400 does not work in Safari, so we use weight 300
  font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}

html {
  scroll-behavior: smooth;

  hyphens: auto;
  word-wrap: break-word;

  // Enable font smoothing in Safari
  -webkit-font-smoothing: antialiased;
}

// Prevent certain things from being hyphenated
mat-error::before, // The icon from mat-error
mat-chip {
  hyphens: none;
}
