<div class="dt-help-padding">
  <p i18n
    >In diesem Schritt sollst Du Deine Handlungsmöglichkeiten (= Alternativen), zwischen denen Du in dem Entscheidungsproblem wählen kannst,
    entwickeln und auflisten. Häufig hat man in einer Entscheidungssituation einige Handlungsalternativen im Kopf, die man nur noch
    aufschreiben muss. Doch ähnlich wie bei den Zielen konnten auch bei den Alternativen
    <span
      class="hover-text"
      [dtHoverPopoverDisableClick]="true"
      [dtHoverPopoverPosition]="'bottom'"
      [dtHoverPopoverDelay]="500"
      [dtHoverPopover]="noteHover"
    >
      Studien
    </span>
    zeigen, dass Entscheider nicht dazu in der Lage sind, wirklich alle Handlungsoptionen selbstständig zu erkennen. Du denkst schlichtweg
    von Natur aus zu wenig nach und gehst zu unkreativ an die Entscheidungsfrage heran. Die Gefahr ist also groß, dass viele, potenziell
    interessante Optionen einfach übersehen werden.
  </p>

  <p i18n
    >Du wirst also deshalb auch in diesem Schritt einem strukturierten Prozess folgen, der Dich systematisch bei der Suche nach neuen
    Alternativen unterstützt. Der Leitidee des proaktiven Entscheidens folgend lenken diese Prozessschritte stets das Augenmerk auf die
    Ziele, die Du im letzten Schritt formuliert hast. Im Idealfall werden mit diesem Vorgehen Alternativen generiert, die besser sind als
    die Dir bislang bekannten. Es lohnt sich also, auch in diesem Schritt ausreichend Zeit zu investieren und den Anregungen in der linken
    Menüleiste zu folgen.
  </p>

  <p i18n> Der Prozess teilt sich in die folgenden Teilschritte auf: </p>

  <ul>
    <li i18n>
      <b>Bekannte Alternativen:</b> Hier schreibst Du zunächst kreativ und frei alle Alternativen auf, die Dir einfallen. Du brauchst auf
      nichts Besonderes zu achten.
    </li>
    <li i18n>
      <b>Finden von Schwachpunkten:</b> Hier wendest Du eine Kreativitätstechnik an, die Dir dabei hilft, „Out-of-the-Box“ zu denken. Du
      versuchst in diesem Teilschritt, Deine Alternativen, die Du bereits kennst und mit denen Du vielleicht noch nicht ganz zufrieden bist,
      gezielt zu verbessern und Schwachpunkte zu eliminieren.
    </li>
    <li i18n>
      <b>Zielfokussierte Suche:</b> Wie bei der Schwachpunktanalyse arbeitest Du auch hier mit einer Kreativitätstechnik, die Dein kreatives
      Denken anregen soll. Die zielfokussierte Suche hilft Dir dabei, mithilfe Deiner Ziele komplett neue Handlungsalternativen zu finden,
      auf die Du von selbst vielleicht nicht gekommen wärst.
    </li>
    <li i18n>
      <b>Befragen anderer Leute:</b> Damit Du keine Handlungsalternativen übersiehst, ist es sinnvoll, wenn Du andere Personen nach Ideen
      befragst, was Du machen könntest. Erkläre Dein Entscheidungsproblem Deinen Freunden, Deiner Familie oder Bekannten und fragen sie,
      welche zusätzlichen Alternativen sie sich vorstellen können.
      <br />
      Sehr hilfreich und kreativitätsfördernd ist es manchmal auch, sich Personen vorzustellen, die gänzlich andere Auffassungen haben als
      man selbst. Was würden diese Personen an Deiner Stelle tun?
    </li>
    <li i18n>
      <b>Wichtige Stellhebel:</b> Mit der Formulierung der Handlungsalternativen soll ein umfassendes Bild über die Entscheidungssituation
      und mögliche Lösungen gegeben werden. Je breiter eine Entscheidungsfrage jedoch formuliert ist, desto schwieriger wird es, den
      Handlungsraum vollständig abzudecken und keine attraktiven Alternativen zu übersehen. Die Stellhebelmethode stellt hier ein
      zuverlässiges Hilfsmittel dar, um eben genau zu überprüfen, ob noch attraktive Optionen übersehen wurden. Wenn es Dir gelingt, die
      wichtigsten Gestaltungsparameter Deiner Alternativen zu identifizieren, so kannst Du alle möglichen Kombinationen austesten und den
      gesamten Raum an Handlungsoptionen repräsentativ abdecken.
    </li>
    <li i18n>
      <b>Sinnvolles Zusammenfassen:</b> Wenn Du die bisherigen Methoden mit viel Engagement durchgeführt hast, siehst Du Dich vielleicht
      einer Vielzahl von Handlungsalternativen gegenübergestellt und läufst Gefahr, die Übersicht zu verlieren. Grundsätzlich gilt wie bei
      den Zielen: Die Anzahl der näher in Betracht kommenden Alternativen sollte überschaubar groß bleiben. Ansonsten verliert man schnell
      den Blick für das Wesentliche, verirrt sich im Detail und der Aufwand wird sehr groß, wenn man mit zu vielen Alternativen in die
      nächsten Schritte gehen würde.
      <br />
      Insofern sollte die Anzahl der Alternativen in diesem Schritt auf ein vernünftiges Maß reduziert werden. Versuche, mit maximal sieben
      Alternativen weiterzuarbeiten. Gleichzeitig solltest Du aber auch mindestens drei verschiedene Alternativen haben.
    </li>
    <li i18n>
      <b>Intuitives Ordnen:</b> Für die spätere Auswertung ist es sinnvoll, wenn Du Dich an dieser Stelle mit Deinem Bauchgefühl
      auseinandersetzt und Deine Alternativen intuitiv ordnest. Dies kann Dir am Ende dabei helfen, eventuelle Diskrepanzen zwischen dem
      analytischen Ergebnis und dem Bauchgefühl aufzudecken und vielleicht sogar Fehler in Deinem Modell zu finden.
    </li>
  </ul>
  <br />
  <p i18n
    >Für weitere Informationen zu den Handlungsalternativen empfehlen wir ein
    <a (click)="youtubeModal1.open()">Video aus der digitalen Vorlesung „Entscheidungslehre“</a>, veröffentlicht auf der Seite des
    Fördervereins Reflektiert Entscheiden.
  </p>
  <dt-youtube-modal i18n-modalTitle [videoId]="'K9LwC5kY3hk'" modalTitle="Schritt 3" #youtubeModal1></dt-youtube-modal>
</div>

<ng-template #noteHover>
  <dt-note-hover>
    <p i18n>
      Siebert, Johannes; Keeney, Ralph L. (2015), „Creating More and Better Alternatives for Decisions Using Objectives“, in: Operations
      Research, September/October 2015, 63(5), S. 1114-1158
    </p>
  </dt-note-hover>
</ng-template>
