<dt-modal-content (closeClick)="close()" size="small">
  <ng-template #title i18n>Account löschen</ng-template>
  <ng-template #content>
    <ng-container *ngIf="userData$ | async as userData; else loadingContainer">
      <p i18n>
        Du bist im Begriff, Deinen Entscheidungsnavi Account zur Email-Adresse
        <span class="highlight">&bdquo;{{ email$ | async }}&ldquo;</span> unwiederbringlich zu löschen. Dadurch werden alle
        <span class="highlight">{{ userData.projectCount }} Projekte</span> im Account gelöscht.
      </p>
      <p *ngIf="userData.submittedEvents.length > 0" i18n>
        Deine <span class="highlight">{{ userData.submittedEvents.length }} Veranstaltungsabgaben</span> sind davon nicht betroffen und
        werden nicht gelöscht. Bitte wende Dich direkt an die Verwalter folgender Veranstaltungen, wenn Du Deine Abgaben löschen möchtest:
        {{ userData.submittedEvents.join(', ') }}.
      </p>
      <p i18n>Bitte gib zur Bestätigung Dein Passwort ein.</p>
      <form [formGroup]="confirmForm" (ngSubmit)="delete()">
        <mat-form-field>
          <mat-label i18n>Passwort</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="confirmForm.controls.password.errors?.required" i18n>Bitte gib Dein Passwort ein</mat-error>
          <mat-error *ngIf="confirmForm.controls.password.errors?.wrongPassword" i18n>Das Passwort ist falsch</mat-error>
          <mat-error *ngIf="confirmForm.controls.password.errors?.something" i18n>Unbekannter Fehler beim Löschen</mat-error>
        </mat-form-field>
      </form>
    </ng-container>

    <ng-template #loadingContainer>
      <mat-spinner></mat-spinner>
    </ng-template>
  </ng-template>
  <ng-template #footer>
    <dt-button
      color="warn"
      [disabled]="confirmForm.disabled || confirmForm.invalid"
      [dtOverlayProgress]="confirmForm.disabled"
      (click)="delete()"
      i18n
      >Ja, Account löschen</dt-button
    >
    <dt-button type="raised-less" [disabled]="confirmForm.disabled" (click)="close()" i18n>Nein, abbrechen</dt-button>
  </ng-template>
</dt-modal-content>
