$klug-mat-primary: (
  50: #e0eaf1,
  100: #b3cadb,
  200: #80a7c4,
  300: #4d84ac,
  400: #26699a,
  500: #004f88,
  600: #004880,
  700: #003f75,
  800: #00366b,
  900: #002658,
  A100: #8ab1ff,
  A200: #578fff,
  A400: #246dff,
  A700: #0a5cff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$klug-mat-accent: (
  50: #fff2e4,
  100: #fedebb,
  200: #fdc88e,
  300: #fcb160,
  400: #fca13e,
  500: #fb901c,
  600: #fa8819,
  700: #fa7d14,
  800: #f97311,
  900: #f86109,
  A100: #ffffff,
  A200: #fff3ee,
  A400: #ffd1bb,
  A700: #ffbfa1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$klug-mat-red: (
  50: #fbe6e7,
  100: #f6c1c4,
  200: #f0989d,
  300: #e96e75,
  400: #e54f58,
  500: #e0303a,
  600: #dc2b34,
  700: #d8242c,
  800: #d31e25,
  900: #cb1318,
  A100: #fffbfb,
  A200: #ffc8c9,
  A400: #ff9597,
  A700: #ff7b7e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$klug-red: #e0303a;
$klug-blue-light: #4eb8ec;
$klug-blue: #008cdb;
$klug-blue-dark: #004f88;
$klug-orange: #e8640f;
$klug-exclamation: #3262ac;

$klug-help: #6fb8eb;

$klug-diagram-colors: (#fb901c, #e8640f, #008cdb, #35617a, #004f88, #3490a5, #4eb8ec, #e0303a, #a72e35, #b55060);
