@use 'variables' as dt;

:host {
  padding: 0;
  min-width: 0;

  color: gray;
  font-weight: 500;
  height: 36px;
  font-size: dt.font-size(button);

  opacity: 1;

  .single-tool-wrapper,
  .category-wrapper {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 100%;
  }

  .category-wrapper {
    .category-name-tool-separator {
      padding: 0 8px 0 0;
    }

    .category-tool {
      font-weight: normal;
    }
  }
}

.active {
  //color: dt.$orange;
  font-weight: 500 !important;
}

::ng-deep .dt-pf-tool-category-menu {
  margin-top: 1px;

  .mat-menu-content {
    padding: 0;
  }

  .category-tool-selection-list {
    padding: 0;

    .category-tool {
      height: 40px;

      ::ng-deep .mat-list-text {
        font-size: dt.font-size(button);
      }
    }
  }
}
