<form [dtWidthTrigger]="{ 'column-layout': 800 }" [formGroup]="form">
  <div cdkDropList (cdkDropListDropped)="indicatorDrop($event)" formArrayName="indicators" #indicatorList class="indicator-list">
    <div
      *ngFor="let indicatorControl of indicatorsForm.controls; let i = index"
      class="indicator-row row"
      cdkDrag
      cdkDragLockAxis="y"
      [cdkDragBoundary]="indicatorList"
      [formGroupName]="i"
    >
      <mat-icon class="indicator-drag-handle" cdkDragHandle>drag_handle</mat-icon>

      <div class="input-wrapper">
        <mat-form-field appearance="standard" class="description-field">
          <mat-label i18n>Name</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="indicatorControl.get('name').errors?.required" i18n> Name darf nicht leer sein </mat-error>
          <mat-hint i18n>Formelsymbol {{ i | indicatorVariable : 'indicator' }}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="standard" class="dt-no-margin">
          <mat-label i18n>Schlechtester Wert</mat-label>
          <input matInput type="number" formControlName="min" />
        </mat-form-field>

        <mat-form-field appearance="standard" class="dt-no-margin">
          <mat-label i18n>Bester Wert</mat-label>
          <input matInput type="number" formControlName="max" />
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label i18n>Einheit</mat-label>
          <input matInput formControlName="unit" maxlength="10" />
          <mat-hint align="end">{{ indicatorControl.get('unit').value?.length || 0 }}/10</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label i18n>Gewicht</mat-label>
          <input matInput type="number" formControlName="weight" />
          <mat-error *ngIf="indicatorControl.get('weight').hasError('min')" i18n>Gewicht muss positiv sein</mat-error>
          <mat-hint i18n>Formelsymbol {{ i | indicatorVariable : 'coefficient' }}</mat-hint>
        </mat-form-field>
      </div>

      <button mat-icon-button type="button" [disabled]="indicators.length < 2" (click)="deleteIndicator(i)">
        <mat-icon>delete</mat-icon>
      </button>

      <dt-note-btn formControlName="comment" [caption]="indicatorControl.get('name').value | noteBtnPreset : 'indicator'"></dt-note-btn>
    </div>

    <div class="row">
      <button mat-button color="accent" (click)="addIndicator()" type="button" i18n
        ><mat-icon>add_box</mat-icon> Indikator hinzufügen</button
      >
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row indicator-scale-row">
    <div class="content-column">
      <div class="section-title" i18n>Aggregierte Skala</div>
      <div class="row">
        <mat-form-field appearance="standard" class="dt-no-margin scale-type-selection">
          <mat-label i18n>Aggregationsart</mat-label>
          <mat-select formControlName="useCustomAggregation">
            <mat-option [value]="false" i18n>Additiv gewichtete Zusammensetzung bei Definition einer gewünschten Zielskala</mat-option>
            <mat-option [value]="true" i18n>Benutzerdefinierte Formel</mat-option>
          </mat-select>
          <mat-icon matSuffix *ngIf="!form.get('useCustomAggregation').value" [dtHoverPopover]="formula">info</mat-icon>
          <ng-template #formula>
            <div class="formula-container mat-elevation-z3"><dt-katex [latex]="defaultAggregationTex"></dt-katex></div>
          </ng-template>
        </mat-form-field>
      </div>
      <div *ngIf="form.get('useCustomAggregation').value" class="row">
        <mat-form-field appearance="standard" class="description-field custom-formula-field">
          <mat-label i18n>Aggregationsformel</mat-label>
          <input matInput formControlName="customAggregationFormula" />
          <mat-error *ngIf="form.get('customAggregationFormula').errors?.invalidFormula" i18n>Die Formel ist ungültig</mat-error>
          <mat-error *ngIf="form.get('customAggregationFormula').errors?.collapsedInterval" i18n>
            Die angegebene Formel muss ein Intervall aufspannen
          </mat-error>
          <button mat-icon-button matSuffix type="button" (click)="aggregationExplanationModal.open()"><mat-icon>info</mat-icon></button>
        </mat-form-field>
      </div>
      <mat-slide-toggle *ngIf="form.get('useCustomAggregation').value" formControlName="automaticCustomAggregationLimits" i18n
        >Bandbreite automatisch berechnen</mat-slide-toggle
      >
      <div class="row default-aggregation-settings">
        <div class="input-wrapper">
          <div formGroupName="range">
            <div class="input-wrapper">
              <mat-form-field appearance="standard" class="dt-no-margin" floatLabel="always">
                <mat-label i18n>Schlechtester Wert</mat-label>
                <ng-container [ngSwitch]="form.get('useCustomAggregation').value && form.get('automaticCustomAggregationLimits').value">
                  <input *ngSwitchCase="true" disabled matInput type="number" [value]="aggregationFormulaMin" />
                  <input *ngSwitchCase="false" matInput type="number" formControlName="worst" />
                </ng-container>
              </mat-form-field>
              <mat-form-field appearance="standard" class="dt-no-margin" floatLabel="always">
                <mat-label i18n>Bester Wert</mat-label>
                <ng-container [ngSwitch]="form.get('useCustomAggregation').value && form.get('automaticCustomAggregationLimits').value">
                  <input *ngSwitchCase="true" disabled matInput type="number" [value]="aggregationFormulaMax" />
                  <input *ngSwitchCase="false" matInput type="number" formControlName="best" />
                </ng-container>
              </mat-form-field>
            </div>
          </div>
          <mat-form-field appearance="standard">
            <mat-label i18n>Einheit</mat-label>
            <input matInput formControlName="aggregatedUnit" maxlength="10" />
            <mat-hint align="end">{{ form.get('aggregatedUnit').value?.length || 0 }}/10</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <mat-error *ngIf="form.get('range').errors?.collapsedInterval" class="collapsed-interval-error" i18n>
        Bester und schlechtester Wert dürfen nicht identisch sein
      </mat-error>
      <dt-button
        class="description-button"
        [disabled]="!form.valid"
        (click)="openDescription()"
        [noSubmit]="true"
        icon="edit_note"
        iconPosition="left"
        i18n
        >Ausprägungen der Zielskala beschreiben</dt-button
      >
      <mat-error *ngIf="!isFormulaComplete" class="dt-error" i18n> Du hast nicht alle Indikatoren in der Formel verwendet. </mat-error>
      <mat-error *ngIf="isScaleChanged" class="dt-error" i18n>
        Die konstruierte Skala wurde geändert. Die beschriebenen Stufen werden entsprechend angepasst.
      </mat-error>
      <mat-error *ngIf="isFormulaChanged" class="dt-error" i18n>
        Wenn Du zwischen additiven und benutzerdefinierten Formeln wechselst, verlierst Du alle bereits beschriebenen Stufen.
      </mat-error>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-divider></mat-divider>
    <div #hierarchyContainer class="content-column hierarchy-container">
      <dt-objective-aspect-hierarchy
        [tree]="objectiveTree"
        [editable]="false"
        [forceHideNoteBtn]="true"
        [allowZoom]="false"
        [allowFullscreen]="false"
        [allowSavingImage]="false"
        [allowInputSelection]="false"
        [onlyAspects]="true"
        (dblClickedElement)="addIndicatorFromHierarchy($event)"
      >
        <dt-button-tiny
          #tooltip="matTooltip"
          toolbar
          icon="info"
          matTooltipPosition="above"
          i18n-matTooltip
          matTooltip="Durch Doppelklick kannst Du direkt Aspekte aus diesem Ziel als Indikator hinzufügen."
          (click)="tooltip.show()"
        >
        </dt-button-tiny>
        <mat-divider toolbar [vertical]="true"></mat-divider>
      </dt-objective-aspect-hierarchy>
    </div>
  </div>
</form>

<dt-modal #aggregationExplanationModal>
  <ng-template #title i18n> Die benutzerdefinierte Formel kann folgende Elemente umfassen: </ng-template>
  <ng-template #content>
    <table class="indicator-aggregation-example">
      <tr>
        <td i18n>Indikatorvariablen:</td>
        <td i18n>
          "Ind1" steht für den Wert im Indikator 1,<br />
          "Ind2" steht für den Wert im Indikator 2,<br />
          etc.
        </td>
      </tr>
      <tr>
        <td i18n>Indikatorkoeffizienten:</td>
        <td i18n
          >Die definierten Koeffizienten a, b, c, etc. können mit Deinen eingetragenen numerischen Werten auch in der Formel verwendet
          werden.</td
        >
      </tr>
      <tr>
        <td i18n>Zahlen:</td>
        <td i18n
          >Es können beliebige reelle Zahlen mit Dezimalstellen verwendet werden. Der Punkt wird als Dezimaltrennzeichen verwendet.</td
        >
      </tr>
      <tr>
        <td i18n>Operationszeichen:</td>
        <td i18n>
          Erlaubt sind die Grundrechenarten "+", "-", "*", "/", Klammerung mittels "(" und ")" sowie die folgenden Symbole: exp, log, "^",
          sqrt, cos, sin, tan.
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <ng-container i18n>Beispiel 1: (Ind1 - 5.5) * Ind2</ng-container><br />
          <ng-container i18n>Beispiel 2: ((Ind1 / 100) * (Ind2 + 2))/(Ind2 + a + b)</ng-container>
        </td>
      </tr>
    </table>
  </ng-template>
</dt-modal>
