@use 'variables' as dt;

.indicator-list .row:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
  padding: 7px 20px;

  .input-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 10px 20px;
  }

  mat-form-field ::ng-deep .mat-form-field-flex {
    padding-top: 0;
  }
}

.collapsed-interval-error {
  margin-top: -10px;
  padding-bottom: 10px;
}

.indicator-row {
  gap: 10px 20px;
  .indicator-drag-handle {
    cursor: move;
  }

  mat-form-field {
    min-width: 100px;
    max-width: 100px;

    &.description-field {
      flex: 1 0 auto;
      max-width: unset;
    }
  }
}

.indicator-scale-row {
  padding: 0;

  .section-title {
    padding: 8px 0;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
  }

  mat-divider {
    align-self: stretch;
  }

  .content-column {
    display: flex;
    flex-direction: column;

    &:first-child {
      margin: 10px 20px;
    }

    flex: 1;

    .row {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .hierarchy-container {
    align-self: stretch;

    min-width: 0;

    flex: 1.1;

    dt-objective-aspect-hierarchy {
      height: 100%;
    }

    mat-divider {
      align-self: stretch;
      margin: 0px 5px;
      border-width: 2px;
    }
  }

  .description-button {
    align-self: center;
    max-width: 50ch;
  }

  .scale-type-selection {
    flex: 1 0 auto;
    max-width: 600px;
  }

  .custom-formula-field {
    flex: 1;
    max-width: 600px;
    width: 180px;
  }
}

.default-aggregation-settings mat-form-field {
  max-width: 120px;
  min-width: 100px;
}

.column-layout .indicator-scale-row {
  flex-direction: column;
  align-items: stretch;
}

// Custom formula explanation modal
table.indicator-aggregation-example {
  td {
    vertical-align: top;

    &:not(:last-child) {
      padding-right: 0.5rem;
    }
  }

  tr:not(:last-child) td {
    padding-bottom: 1rem;
  }
}

// Default formula popover
.formula-container {
  background-color: white;
  padding: 10px;
}

// Drag and Drop Indicator Table
.cdk-drag-preview {
  @extend .row;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: white;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
