<div class="dt-limit-width header-wrapper">
  <dt-step-title step="results" i18n>{{ 'results' | naviStep }}: Zielgewichte</dt-step-title>

  <dt-step-description>
    <ng-template #description [ngSwitch]="selectedObjective !== -1">
      <ng-container i18n *ngSwitchCase="false">Gib an, wie wichtig Dir die einzelnen Ziele sind.</ng-container>
      <ng-container i18n *ngSwitchDefault>
        Gib an, wie viel Verschlechterung Du in einem Ziel hinnehmen würdest, um eine Verbesserung in einem anderen Ziel zu erreichen.
      </ng-container>
    </ng-template>
    <ng-template #subDescription [ngSwitch]="selectedObjective !== -1">
      <ng-container *ngSwitchCase="false">
        <ng-container *dtProjectMode="'educational'" i18n>
          Um Deine Zielgewichte zu validieren, kannst Du die Tradeoffs nutzen. In diesen musst Du angeben, wie viel Du für eine Verbesserung
          in einem Ziel bereit bist, von einem anderen Ziel abzugeben.
        </ng-container>
        <ng-container *dtProjectMode="'starter'" i18n>
          Die Höhe der Zielgewichte kannst Du durch Klicken in die Balken einstellen.
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchDefault i18n>
        Passe die Werte für Zielgewichtung und Präzisionsintervall durch die Buttons unten an oder gib direkt einen Tradeoff an. Rechts
        siehst Du die Bedeutung der Abbildung auf zwei Arten erklärt.
      </ng-container>
    </ng-template>
  </dt-step-description>

  <dt-note-btn
    *ngIf="selectedObjective !== -1"
    [caption]="objective.name | noteBtnPreset : 'objectiveWeight'"
    [(comment)]="decisionData.weights.explanations[selectedObjective]"
  ></dt-note-btn>

  <dt-objective-weighting-navigation
    *dtProjectMode="'educational'"
    (selectedObjectiveChange)="selectedObjective = $event"
  ></dt-objective-weighting-navigation>
</div>

<div [class.dt-limit-width]="selectedObjective !== -1">
  <router-outlet></router-outlet>
</div>

<ng-template #starterHelp>
  <div class="dt-help-padding">
    <p i18n>
      Mit den Zielgewichten gibst Du an, wie wichtig Dir Deine Fundamentalziele sind. Du kannst entweder Balkenhöhen durch entsprechendes
      Klicken angeben oder Punktwerte zwischen 0 und 100 eintragen. Am Ende wird für jedes Zielgewicht eine Prozentzahl berechnet. Bei der
      Angabe des Zielgewichtes für ein Ziel solltest Du stets berücksichtigen, wie stark Du den Unterschied zwischen der schlechtesten und
      der besten Ausprägung Deiner gewählten Skala für dieses Ziel bewertest.
    </p>
  </div>
</ng-template>
