<div class="expand-collapse-buttons-wrapper mat-elevation-z2">
  <button class="expand-collapse-buttons" [class.disabled]="allCollapsed" (click)="collapseAllClick()" matRipple i18n>
    Alle einklappen
  </button>
  <button class="expand-collapse-buttons" [class.disabled]="allExpanded" (click)="expandAllClick()" matRipple i18n>
    Alle ausklappen
  </button>
</div>
