@use 'variables' as dt;

.expand-collapse-buttons-wrapper {
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
}

.expand-collapse-buttons {
  color: dt.$orange;
  padding: 0 16px;
  font-size: dt.font-size(button);
  font-weight: 500;

  &.disabled {
    color: rgba(0, 0, 0, 0.26);
    background: #e0e0e0;
    pointer-events: none;
  }
}

.expand-collapse-buttons:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}
