<dt-modal-content [showFooter]="true" [flexContent]="true" size="small" (closeClick)="discard()" [dtOverlayProgress]="loading">
  <ng-template #title [ngSwitch]="createNew">
    <ng-container i18n *ngSwitchCase="true">KLUGentscheiden Projekt erstellen</ng-container>
    <ng-container i18n *ngSwitchCase="false">KLUGentscheiden Projekt bearbeiten</ng-container>
  </ng-template>

  <ng-template #content>
    <form [formGroup]="projectFormGroup">
      <fieldset [disabled]="loading">
        <mat-form-field>
          <mat-label i18n>Token</mat-label>
          <input matInput formControlName="token" />
          <mat-error *ngIf="projectFormGroup.hasError('duplicateToken', 'token')" i18n> Dieser Token wird bereits verwendet </mat-error>
          <mat-error *ngIf="projectFormGroup.hasError('required', 'token')" i18n> Der Token darf nicht leer sein </mat-error>
        </mat-form-field>
        <mat-slide-toggle formControlName="readonly" i18n>Schreibgeschützt</mat-slide-toggle>
        <mat-slide-toggle formControlName="isOfficial" i18n>Offizielles KLUGentscheiden Projekt</mat-slide-toggle>
      </fieldset>
    </form>
  </ng-template>

  <ng-template #footer>
    <button mat-raised-button color="primary" i18n (click)="save()" [disabled]="projectFormGroup.invalid || loading">Speichern</button>
    <button mat-stroked-button i18n (click)="discard()" [disabled]="loading">Verwerfen</button>
    <button *ngIf="!createNew" mat-stroked-button color="warn" i18n (click)="delete()" [disabled]="loading">Löschen</button>
  </ng-template>
</dt-modal-content>
