@use 'variables' as dt;

.hover-text {
  color: dt.$orange;
  cursor: pointer;
}

ul,
ol {
  padding-left: 20px;

  p {
    margin-bottom: 0;
  }
}

p {
  > mat-icon {
    vertical-align: bottom;
  }
}
