section + section {
  margin-top: 16px;
}

h4 {
  margin-bottom: 12px;

  + p {
    margin-top: -12px;
  }
}

mat-form-field,
mat-checkbox,
mat-slide-toggle {
  display: block;
}

mat-form-field {
  max-width: 100%;
  margin: 12px 0;
}

mat-checkbox {
  margin-bottom: 8px;
}
