@use 'variables' as dt;

.main-container {
  padding: 15px;
  overflow: auto;
}

/* nur für chrome */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* für firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.hidden-element {
  display: none;
}

.stage-value {
  margin-bottom: 10px;
}

input.stage-value-input {
  max-width: 80px;
  text-align: center;
}

.custom-left {
  flex: 1 0 200px;
  min-width: 200px;
  margin: auto;
  text-align: center;
  padding-top: 5px;
}

.stage-container {
  margin-bottom: 15px;
}

.add-stage-container {
  text-align: center;
  margin-bottom: 15px;
}

.add-stage-button {
  min-width: 300px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0;
}

// Popover
.init-params-popover {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;

  .title {
    padding: 10px;
    text-align: center;
    font-size: dt.font-size(subheading-1);
    background-color: dt.$blue-lighten-8;
  }

  form,
  .bottom-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 10px;
  }

  mat-form-field {
    text-align: center;
  }

  mat-divider {
    margin-top: 20px;
  }

  .apply-stage-button {
    margin: auto;
  }
}

.stage-divider {
  margin-bottom: 10px;
}

.settings-center-container {
  display: flex;
  min-width: 200px;
  align-items: center;
  justify-content: right;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.formula-caption {
  text-align: center;
  @include dt.typography-level(body-2);
  // font-weight: bold;
}

.button-container {
  min-width: 200px;
}

.error-container {
  text-align: center;
}
