<dt-button *ngIf="tutorialId != null" (click)="tutorial.open()" type="raised-less" icon="play_circle_outline">Tutorial</dt-button>

<dt-youtube-modal #tutorial [videoId]="tutorialId" i18n>Tutorial</dt-youtube-modal>
