<svg:g #ticksel>
  <svg:g *ngFor="let tick of xAxis.ticks; let i = index" class="tick" [attr.transform]="tickTransform(tick)">
    <title>{{ tickFormat(tick) }}</title>
    <svg:text
      #textel
      stroke-width="0.01"
      [attr.text-anchor]="textAnchor"
      [attr.transform]="textTransform(tick, $any(textel))"
      [style.font-size]="'12px'"
    >
      {{ tickTrim(tickFormat(tick)) }}
    </svg:text>
  </svg:g>
</svg:g>
<svg:g *ngFor="let tick of xAxis.ticks" [attr.transform]="tickTransform(tick)">
  <svg:g *ngIf="xAxis.gridLines" [attr.transform]="gridLineTransform()">
    <svg:line class="gridline-path gridline-path-vertical" [attr.y1]="-dims.height" y2="0" />
  </svg:g>
</svg:g>
