@use 'variables' as dt;

.button-container {
  display: flex;
  justify-content: center;
}

dt-drag-drop-list {
  margin: 8px 0;
}

.settings-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
