@use '@angular/material' as mat;
@use 'variables' as dt;

.notes-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  flex-wrap: wrap;

  margin-bottom: 20px;

  gap: min(5%, 100px);
  row-gap: 20px;

  span {
    font-weight: 500;
  }

  > div {
    display: flex;
    flex-direction: column;

    min-width: 200px;

    @include mat.elevation(1);

    flex: 1 1 350px;

    background-color: dt.$inputbox-background;
    border: 1px solid dt.$inputbox-border;

    > dt-decision-statement-note-list {
      padding: 5px 15px;
    }

    > span:first-child {
      padding: 5px 10px;
      background-color: #e2e2e2;
      border-bottom: 1px solid lightgray;
    }
  }
}
