.navigation-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  .bottom-container {
    display: flex;
    flex: 1;
    overflow: auto;

    .left {
      display: flex;
      flex: 1;
      overflow: auto;
      flex-direction: column;

      .routing-scroll-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        flex: 1;

        padding: 20px;
        scrollbar-gutter: stable;

        width: 100%;

        .routing-container {
          display: flex;
          flex-direction: column;

          box-sizing: border-box;
          margin: 0 auto;

          max-width: 100%;

          flex: 1;
          min-height: 0;
        }
      }
    }

    klug-help {
      height: 100%;
    }
  }

  .links {
    text-align: center;
    background-color: lightgray;

    padding: 5px 0;
    font-weight: 500;
    font-size: 15px;

    a {
      color: black;

      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
