/* You can add global styles to this file, and also import other style files */
@import './styles/material-theme';
@import './styles/main';
@import 'widgets';
@import '~ress/ress.css';

p {
  text-align: justify;
}

// Only show the first error in a form field
mat-form-field mat-error:not(:first-of-type) {
  display: none;
}
