<dt-modal-content (closeClick)="modal.close()">
  <ng-template #title i18n>Zu Entscheidungsnavi {{ targetModeName }} wechseln</ng-template>
  <ng-template #content>
    <p i18n
      >Möchtest Du mit Deinem Projekt ins Entscheidungsnavi {{ targetModeName }} wechseln? Dadurch wird weitere Funktionalität im
      Entscheidungsnavi freigeschaltet.</p
    >
    <div class="warning-container">
      <mat-icon>warning_amber</mat-icon>
      <p i18n>Du kannst danach nicht wieder ins Entscheidungsnavi Starter zurückwechseln.</p>
    </div>
  </ng-template>
  <ng-template #footer>
    <dt-button (click)="modal.close(true)" i18n>Ja, Wechseln</dt-button>
    <dt-button (click)="modal.close(false)" type="raised-less" i18n>Nein</dt-button>
  </ng-template>
</dt-modal-content>
