@use 'variables' as dt;

.project-area {
  display: flex;
  background-color: white;
  color: dt.$blue;
  margin: 5px 0 5px 0;
  border-radius: 3px;
  height: 29px;

  overflow: hidden;

  mat-divider {
    height: 100%;
    border-right-width: 2px;
    border-right-color: dt.$blue;
  }

  button {
    padding: 0;
    line-height: 1;
  }
}

.section-button {
  overflow: hidden;
  height: 29px;

  .content {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 5px;
  }

  .project-label-and-statement {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &.alone .content {
    padding-right: 10px;
  }

  .label,
  .decision-statement {
    flex: 1;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: dt.font-size(caption);
    font-weight: 500;
  }

  .decision-statement {
    font-size: 11px;
  }
}

.save-indicator-wrapper {
  display: flex;
  align-items: center;

  button,
  & > mat-icon {
    display: block;
    width: 30px;
    min-width: 0;
    text-align: center;
  }

  button {
    height: 100%;
  }

  .error-icon {
    color: dt.$crimson-red;
  }
}

.team-edit-icon {
  font-size: 19px;
  line-height: 19px;
  height: 19px;

  &:not(.can-edit) {
    color: darkgray;
  }
}
