@use 'variables' as dt;

// mat-select
// .mat-option-text {
//   font-size: 14px;
// }

.mat-select-placeholder {
  color: inherit;
}

.mat-sort-header-button:focus {
  background: none;
}

.mat-list-option .mat-list-text {
  font-size: dt.font-size(body-1);
}

mat-icon.dt-smaller-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}
