<div class="header" i18n>Versionsverlauf</div>
<mat-divider></mat-divider>

<mat-action-list *ngIf="projectData$ | async as data; else loadingOrError">
  <button mat-list-item (click)="onClick(data.project.info.id)" [class.active]="data.project.info.loadedHistoryEntry == null">
    <span class="date">{{ data.project.info.updatedAt | date : 'medium' }}</span>
    &nbsp;—&nbsp;
    <span class="type-description" i18n>Neueste Version</span>
  </button>
  <button
    mat-list-item
    *ngFor="let entry of data.history"
    (click)="onClick(data.project.info.id, entry.id)"
    [class.active]="data.project.info.loadedHistoryEntry === entry.id"
  >
    <span class="date">{{ entry.versionTimestamp | date : 'medium' }}</span>
    &nbsp;—&nbsp;
    <span class="type-description" i18n>Sicherung</span>
    <mat-icon *ngIf="entry.resolvesConflict" matTooltip="Aus Versionskonflikt entstanden" i18n-matTooltip>merge</mat-icon>
  </button>
</mat-action-list>

<ng-template #loadingOrError [ngSwitch]="hasError">
  <mat-spinner *ngSwitchCase="false"></mat-spinner>
  <mat-error class="dt-error" *ngSwitchDefault i18n
    >Beim Laden der Historie ist ein Fehler aufgetreten. Bitte versuche es später noch einmal.</mat-error
  >
</ng-template>
