:host {
  flex: 1 0 0;
  min-height: 0;

  padding: 16px;

  display: flex;
  flex-direction: column;
}

.header:not(:empty) {
  margin-bottom: 16px;
}

.table-outer-container,
.table-inner-container {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}

.table-outer-container {
  min-height: 200px;

  .table-inner-container {
    position: relative;
    min-height: 0;
  }

  .table-scroll-container {
    overflow: auto;
  }

  ::ng-deep {
    table {
      width: 100%;
    }

    .mat-row:hover {
      background-color: #eeeeee;
      cursor: pointer;
    }

    .mat-row:last-child .mat-cell {
      border-bottom: none;
    }

    mat-paginator,
    dt-table-footer {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      position: sticky;
      bottom: 0;
    }
  }

  .loading-shade {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 56px;
    z-index: 101;
    background: rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
