<div class="chart-container">
  <!-- This additional wrapper is needed to ensure the absolute positioned bars are within the containers margin -->
  <div class="chart-wrapper">
    <div class="vertical-line-container">
      <div *ngFor="let line of verticalLines" class="vertical-line" [style.left.%]="line"></div>
    </div>

    <div *ngFor="let value of values" class="chart-row">
      <div class="chart-bar">
        <div class="chart-bar-left" [style.width.%]="value[1]">
          <span>{{ value[1] | number : '1.0-2' }}</span>
          <div class="interval-line"></div>
        </div>

        <div class="chart-bar-center">
          <div class="interval-center-line"></div>
          <div class="interval-center-circle" [style.left.%]="((value[0] * 100 - value[1]) / (value[2] - value[1])) * 100"></div>
        </div>

        <div [style.width.%]="100 - value[2]">
          <div class="interval-line"></div>
          <span>{{ value[2] | number : '1.0-2' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
