<div data-cy="professional-nav" class="professional-nav" [class.evaluate-and-decide]="activePhase === 'ead'">
  <div class="phase-and-categories">
    <div
      class="phase"
      data-cy="phase-structure-and-estimate"
      (mouseenter)="openModeSelectionMenu()"
      (mouseleave)="resetHoverTimeout()"
      (click)="switchToEvaluateAndDecide()"
    >
      <mat-icon class="phase-icon">analytics</mat-icon>
      <span class="phase-name" i18n>Strukturieren und Schätzen</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <div mat-tab-nav-bar color="accent" class="tool-categories" [disablePagination]="true" [disableRipple]="true">
      <dt-pf-tool mat-tab-link [(activeTool)]="activeTool" [tool]="'sae-overview'" [active]="activeTool === 'sae-overview'"></dt-pf-tool>
      <dt-pf-tool mat-tab-link [(activeTool)]="activeTool" [tool]="'sae-assumptions'" [active]="activeTool === 'sae-assumptions'">
      </dt-pf-tool>
      <dt-pf-tool
        mat-tab-link
        categoryName="Ziele"
        i18n-categoryName
        [(activeTool)]="activeTool"
        [toolsInCategory]="SAE_OBJECTIVES_TOOL_CATEGORY"
        [active]="SAE_OBJECTIVES_TOOL_CATEGORY.includes(activeTool)"
      >
      </dt-pf-tool>
      <dt-pf-tool
        mat-tab-link
        categoryName="Alternativen"
        i18n-categoryName
        [(activeTool)]="activeTool"
        [toolsInCategory]="SAE_ALTERNATIVES_TOOL_CATEGORY"
        [active]="SAE_ALTERNATIVES_TOOL_CATEGORY.includes(activeTool)"
      >
      </dt-pf-tool>
      <dt-pf-tool
        mat-tab-link
        [(activeTool)]="activeTool"
        [tool]="'sae-influence-factors'"
        [active]="activeTool === 'sae-influence-factors'"
      ></dt-pf-tool>
    </div>
  </div>

  <div class="phase-and-categories">
    <div
      class="phase"
      data-cy="phase-evaluate-and-decide"
      (mouseenter)="openModeSelectionMenu()"
      (mouseleave)="resetHoverTimeout()"
      (click)="switchToStructureAndEstimate()"
    >
      <mat-icon class="dt-smaller-icon phase-icon">gavel</mat-icon>
      <span class="phase-name" i18n>Bewerten und Entscheiden</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <div mat-tab-nav-bar color="accent" class="tool-categories" [disablePagination]="true" [disableRipple]="true">
      <dt-pf-tool mat-tab-link [(activeTool)]="activeTool" [tool]="'ead-overview'" [active]="activeTool === 'ead-overview'"></dt-pf-tool>
      <dt-pf-tool
        mat-tab-link
        [(activeTool)]="activeTool"
        [tool]="'ead-utility-functions'"
        [active]="activeTool === 'ead-utility-functions'"
      >
      </dt-pf-tool>
      <dt-pf-tool
        mat-tab-link
        [(activeTool)]="activeTool"
        [tool]="'ead-objective-weighting'"
        [active]="activeTool === 'ead-objective-weighting'"
      >
      </dt-pf-tool>
      <dt-pf-tool
        mat-tab-link
        categoryName="Auswertung"
        i18n-categoryName
        [(activeTool)]="activeTool"
        [toolsInCategory]="EAD_EVALUATION_TOOL_CATEGORY"
        [active]="EAD_EVALUATION_TOOL_CATEGORY.includes(activeTool)"
      >
      </dt-pf-tool>
    </div>
  </div>

  <!-- wrap div around mat menu so it does not open on click -->
  <div class="menu-trigger" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
    <mat-menu class="dt-professional-mode-menu" #menu="matMenu">
      <mat-radio-group class="mode-selection" [value]="activePhase" (mouseleave)="menuTrigger.closeMenu()">
        <mat-radio-button (click)="switchToStructureAndEstimate()" [value]="'sae'" i18n>Strukturieren und Schätzen</mat-radio-button>
        <mat-radio-button (click)="switchToEvaluateAndDecide()" [value]="'ead'" i18n>Bewerten und Entscheiden</mat-radio-button>
      </mat-radio-group>
    </mat-menu>
  </div>
</div>

<div class="outer-professional-tab-container">
  <div [class.dt-limit-width]="limitWidth" class="inner-professional-tab-container">
    <router-outlet #toolOutlet="outlet" (activate)="setPhaseAndTool($event, toolOutlet.activatedRoute)"></router-outlet>
  </div>
</div>
