<dt-modal-content (closeClick)="close()" [contentPadding]="false" [size]="'small'">
  <ng-template #title> {{ teamMember.user.name ?? teamMember.user.email }} </ng-template>
  <ng-template #subtitle i18n>Ungelesene Kommentare</ng-template>
  <ng-template #content>
    <ng-container>
      <mat-accordion *ngIf="unreadCommentEntries" displayMode="flat">
        <mat-expansion-panel *ngFor="let entry of unreadCommentEntries | keyvalue" #panel>
          <mat-expansion-panel-header collapsedHeight="35px" expandedHeight="35px">
            <mat-panel-title>
              <div class="count">{{ entry.value.length }}</div>
              <span class="label">{{ getLabelForObject(entry.value[0].object) }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <dt-team-comments
            *ngIf="panel.open"
            [object]="{ uuid: entry.key }"
            [memberId]="teamMember.id"
            [firstUnreadCommentId]="entry.value[0].id"
          ></dt-team-comments>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </ng-template>
</dt-modal-content>
