@use 'variables' as dt;

:host {
  display: flex;
}

.wrapper {
  width: 100%;
  min-width: 100px;
  line-height: 1.3;

  display: flex;
  align-items: center;

  color: dt.$blue;
  background-color: #ebedee;
  border: 2px solid dt.$blue;
  border-radius: 4px;
  overflow: hidden;

  .text {
    flex: 1;
    overflow: hidden;
    margin: 4px 0 4px 4px;

    align-self: stretch;
    display: flex;
    align-items: center;
  }

  &:not(.readonly) .text {
    cursor: pointer;
  }

  input {
    min-height: 32px; // match height of the button
    height: auto;
    width: 0;
    flex: 1;
    margin: 4px;
  }

  button {
    transition: color 0.25s;
  }
  button:not(.disabled):hover {
    color: dt.$orange;
  }
}

.grayed-out {
  border-color: #c0c0c0 !important;
  color: #808080 !important;
}

// https://css-tricks.com/almanac/properties/l/line-clamp/
// This is supported by most modern browsers, in other browsers the text will just cut out.
.ellipsis {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
