<div class="wrapper" [class.readonly]="readonly" [class.grayed-out]="grayedOut">
  <ng-container *ngIf="!isEditing || readonly; else editMode">
    <div class="text" (click)="!readonly && (isEditing = true)" [matTooltip]="name" matTooltipShowDelay="500"
      ><span class="ellipsis">{{ name }}</span></div
    >
    <button
      mat-icon-button
      [class.disabled]="readonly"
      [disabled]="readonly"
      (click)="!readonly && deleteClick.emit()"
      data-cy="delete-button"
      ><mat-icon>delete</mat-icon></button
    >
  </ng-container>
  <ng-template #editMode>
    <input
      type="text"
      [ngModel]="name"
      (ngModelChange)="nameChange.emit($event)"
      (keydown.enter)="isEditing = false"
      (keydown.escape)="isEditing = false"
      (blur)="isEditing = false"
      dtAutoFocus
    />
  </ng-template>
</div>
