<div
  class="navigation-wrapper"
  [dtWidthTrigger]="{ 'sidenav-over': 800 }"
  (dtWidthTriggerStateChange)="sidenavOver = $event['sidenav-over']"
>
  <dt-navbar (menuClick)="toggleMenu()"></dt-navbar>
  <mat-drawer-container class="content-container">
    <mat-drawer [mode]="sidenavOver ? 'over' : 'side'" [disableClose]="!sidenavOver" [opened]="menuOpened">
      <mat-nav-list class="sidenav-list">
        <a routerLink="/dashboard" routerLinkActive="active" mat-list-item>
          <mat-icon>dashboard</mat-icon>
          <ng-container i18n>Dashboard</ng-container>
        </a>
        <ng-container *ngIf="authService.userHasRole('admin') | async">
          <a routerLink="/users" routerLinkActive="active" mat-list-item>
            <mat-icon>group</mat-icon>
            <ng-container i18n>Benutzerverwaltung</ng-container>
          </a>
          <mat-divider></mat-divider>
          <div mat-subheader i18n>Vorlagen</div>
          <a routerLink="/quickstart-projects" routerLinkActive="active" mat-list-item>
            <mat-icon>inventory</mat-icon>
            <ng-container i18n>Projekte</ng-container>
          </a>
          <a routerLink="/quickstart-tags" routerLinkActive="active" mat-list-item>
            <mat-icon>label</mat-icon>
            <ng-container i18n>Tags</ng-container>
          </a>
          <a routerLink="/quickstart-values" routerLinkActive="active" mat-list-item>
            <mat-icon>numbers</mat-icon>
            <ng-container i18n>Werte</ng-container>
          </a>
        </ng-container>
        <ng-container *ngIf="hasEventAccess$ | async">
          <mat-divider></mat-divider>
          <div mat-subheader i18n>Veranstaltungen</div>
          <a routerLink="/events" routerLinkActive="active" mat-list-item>
            <mat-icon>event_upcoming</mat-icon>
            <ng-container i18n>Übersicht</ng-container>
          </a>
          <a routerLink="/event-export" routerLinkActive="active" mat-list-item>
            <mat-icon>table</mat-icon>
            <ng-container i18n>Export</ng-container>
          </a>
        </ng-container>
        <ng-container *ngIf="authService.userHasRole('klug-manager') | async">
          <mat-divider></mat-divider>
          <div mat-subheader>KLUGentscheiden</div>
          <a routerLink="/klug" routerLinkActive="active" mat-list-item>
            <mat-icon>rebase</mat-icon>
            <ng-container i18n>Übersicht</ng-container>
          </a>
        </ng-container>
      </mat-nav-list>

      <footer>
        <mat-divider></mat-divider>
        <div class="footer-content mat-caption">
          <div>Entscheidungsnavi Cockpit {{ version }} © {{ year }} EFi</div>
          <div class="footer-links">
            <a href="https://entscheidungsnavi.de/privacy" i18n-href target="_blank" rel="noopener" i18n>Datenschutz</a>
            <a href="https://entscheidungsnavi.de/sitenotice" i18n-href target="_blank" rel="noopener" i18n>Impressum</a>
          </div>
        </div>
      </footer>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
