<dt-decision-statement-box
  class="dt-limit-width"
  dtExplainable
  [explanationTrigger]="explainDecisionStatementTrigger"
  [(decisionStatement)]="decisionData.decisionStatement.statement"
  data-cy="structure-and-estimate-decision-statement"
></dt-decision-statement-box>
<dt-explanation-criteria-open-button
  #explainDecisionStatementTrigger="explanationTrigger"
  dtExplanationTrigger
  criteriaToExplain="APPROPRIATE_FRAME"
></dt-explanation-criteria-open-button>

<div class="impact-model">
  <dt-impact-matrix [extendable]="true" data-cy="structure-and-estimate-impact-model"></dt-impact-matrix>
</div>
