@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.impact-model {
  display: flex;
  width: 100%;
  max-height: 100%;
  min-height: 100px;
  justify-content: center;
}
