@use 'variables' as dt;

:host {
  display: flex;
  position: relative;
}

.polar-chart-scroll-container {
  width: 100%;
  overflow: auto;
}

.polar-chart-label-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: max-content;
  background-color: #fff;

  svg.polar-chart {
    fill: #fff;

    path.polar-chart-background {
      fill: dt.$polar-chart-background;
    }

    path.donut-hole {
      stroke: dt.$polar-chart-grid-color;
      fill: white;
      stroke-width: 2;

      &:last-child {
        opacity: 0.3;
      }
    }

    path.grid-line {
      stroke: dt.$polar-chart-grid-color;
      stroke-width: 2;
      fill: none;

      &.ring {
        stroke-dasharray: 10 10;

        &.outer-most {
          stroke-dasharray: none;
        }
      }
    }

    g.ring {
      opacity: 0.3;

      path {
        stroke: dt.$blue;
        stroke-width: 2;
      }

      circle {
        fill: dt.$blue;
      }

      &.selected {
        opacity: 0.8;
      }
    }
  }

  .dimension-label {
    position: absolute;

    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    max-width: 220px;

    font-size: dt.font-size(subheading-1);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;

    &.single-line {
      white-space: nowrap;
    }
  }
}

dt-diagram-legend {
  position: absolute;
  top: 0;
  right: 0;

  &.with-gap-to-scrollbar {
    right: 25px;
  }
}
