<dt-modal-content (closeClick)="close()">
  <ng-template #title>
    <ng-container *ngIf="data.project; else newProject" i18n>Projekt bearbeiten</ng-container>
    <ng-template #newProject i18n>Projekt hinzufügen</ng-template>
  </ng-template>
  <ng-template #content>
    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <mat-form-field class="dt-no-margin">
        <mat-label i18n>Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-slide-toggle formControlName="visibility" i18n>Sichtbar für Benutzer</mat-slide-toggle>
      <dt-tag-input formControlName="tags" [allTags]="data.tags" i18n>Tags</dt-tag-input>
      <mat-form-field>
        <mat-label i18n>Link Token</mat-label>
        <input matInput type="text" formControlName="shareToken" />
        <mat-hint i18n>Ein benutzerdefinierter Token zur Verlinkung</mat-hint>
        <mat-error *ngIf="formGroup.controls.shareToken.errors?.['already-exists']" i18n>Dieser Link Token existiert bereits</mat-error>
        <mat-error *ngIf="formGroup.controls.shareToken.errors?.['is-mongo-id']" i18n>Der Link Token darf keine Mongo ID sein</mat-error>
      </mat-form-field>
      <div class="file-upload-container">
        <div>
          <ng-container i18n>Projektdaten:</ng-container>&nbsp;
          <span [class.red]="data.project == null && !formGroup.get('fileUpload').value">{{ fileState }}</span>
        </div>
        <div class="filler"></div>
        <button mat-icon-button *ngIf="formGroup.get('fileUpload').value" (click)="formGroup.get('fileUpload').setValue(null)" type="button"
          ><mat-icon>clear</mat-icon></button
        >
        <button mat-icon-button (click)="fileInput.click()" type="button"><mat-icon>file_upload</mat-icon></button>
      </div>
      <input #fileInput hidden type="file" accept=".json" formControlName="fileUpload" />

      <mat-error *ngIf="formGroup.hasError('invalid-project')" i18n>Die Projektdatei ist ungültig.</mat-error>

      <div class="button-wrapper">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [dtOverlayProgress]="formGroup.disabled"
          [disabled]="formGroup.disabled || formGroup.invalid"
          i18n
          >Speichern</button
        >
        <button mat-stroked-button type="reset" [disabled]="formGroup.disabled" (click)="close()" i18n>Verwerfen</button>
        <button mat-stroked-button *ngIf="data.project" type="button" color="warn" [disabled]="formGroup.disabled" (click)="delete()" i18n
          >Projekt löschen</button
        >
      </div>
    </form>
  </ng-template>
</dt-modal-content>
