@use 'variables' as dt;

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  gap: 8px;
  margin: 8px 16px;

  mat-card-content {
    @include dt.typography-level(subheading-1);
  }
}
