<dt-step-title step="results">{{ 'results' | naviStep }}: <ng-container i18n>Nutzenfunktionen</ng-container></dt-step-title>

<dt-note-btn *ngIf="objective" [caption]="objective.name | noteBtnPreset : 'utilityFunction'" [(comment)]="explanation"></dt-note-btn>

<dt-step-description>
  <ng-template #description i18n>
    Gib an, wie hoch Dein persönlicher Nutzen für die verschiedenen Ausprägungen der Skalen ist.
  </ng-template>
  <ng-template #subDescription [ngSwitch]="selectedObjective">
    <ng-container *ngSwitchCase="-1" i18n>
      Oft kannst Du in diesem Schritt einen linearen Verlauf annehmen, um die Komplexität zu reduzieren.
    </ng-container>
    <ng-container *ngSwitchDefault i18n>
      Du kannst die Nutzenfunktion durch Klicken in die Abbildung und über die Buttons unterhalb der Abbildung anpassen. Die Bedeutung der
      Kurvenform wird Dir rechts in den {{ verbalizeDisplayOptionsCount() }} Darstellungsoptionen erläutert.
    </ng-container>
  </ng-template>
</dt-step-description>

<dt-utility-function-navigation (selectedObjectiveChange)="selectedObjective = $event"></dt-utility-function-navigation>

<router-outlet></router-outlet>
