@use 'variables' as dt;

.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  user-select: none;

  cursor: pointer;

  &.force {
    mat-icon {
      opacity: 0.3;
    }
  }

  &.orange-arrow {
    mat-icon {
      color: dt.$orange;
    }
  }
}

.body {
  overflow: hidden;
}
