<div class="event-dropdown-container">
  <h4 i18n>Veranstaltungen auswählen</h4>
  <mat-form-field class="events-field">
    <mat-label i18n>Veranstaltungen</mat-label>
    <mat-select [(ngModel)]="selectedIds" multiple>
      <mat-option *ngFor="let event of events" [value]="event.id">{{ event.name }}</mat-option>
    </mat-select>
    <mat-hint i18n>{selectedSubmissionCount, plural, =1 {1 Abgabe} other {{{ selectedSubmissionCount }} Abgaben}} enthalten</mat-hint>
  </mat-form-field>
</div>

<dt-event-export-excel [selectedEvents]="selectedIds"></dt-event-export-excel>

<ng-template #loadingOrError>
  <div class="loading-container" [ngSwitch]="hasError">
    <mat-error class="dt-error" *ngSwitchCase="true" i18n>Beim Laden der Veranstaltungen ist ein Fehler aufgetreten.</mat-error>
    <mat-spinner *ngSwitchDefault></mat-spinner>
  </div>
</ng-template>
