.loading-container {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.event-dropdown-container {
  padding-left: 24px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.events-field {
  display: block;
  max-width: 800px;
}
