<dt-step-title *ngIf="showTitle" step="results" i18n>{{ 'results' | naviStep }}: Robustheitstest</dt-step-title>

<dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()" [withBiggerMargin]="!decisionData.isProfessional()">
  <ng-template #description i18n>
    Analysiere hier, wie sich verschiedene Szenarien der Einflussfaktoren oder unpräzise angegebene Parameter auf das Ergebnis auswirken.
  </ng-template>
  <ng-template #subDescription i18n>
    Mit der Anzahl der Simulationsschritte kannst Du die Genauigkeit der Analyseergebnisse beeinflussen.
  </ng-template>
</dt-step-description>

<ng-container [ngSwitch]="state">
  <div *ngSwitchCase="'no-worker'" class="worker-error">
    <p i18n>
      Leider kann Dein Browser nicht für diesen Schritt verwendet werden. Bitte nutze einen
      <a href="https://caniuse.com/#feat=webworkers" rel="noopener noreferrer" target="_blank">aktuelleren Browser</a>.
    </p>
  </div>

  <div *ngSwitchCase="'calculating'" class="progress-wrapper">
    <div>
      <ng-container i18n>Berechne</ng-container>
      <ng-container *ngIf="progress != null"> ({{ progress | percent }})</ng-container>
    </div>
    <mat-progress-bar
      color="accent"
      [mode]="progress == null ? 'indeterminate' : 'determinate'"
      [value]="progress * 100"
    ></mat-progress-bar>
    <button mat-button *ngIf="result != null" color="accent" (click)="cancelCalculation()" i18n>Abbrechen</button>
  </div>

  <ng-container *ngSwitchCase="'done'">
    <dt-robustness-check-chart
      [result]="result"
      [selectedAlternatives]="activeAlternativeIndices"
      [expectedUtilityValues]="expectedUtilityValues"
    ></dt-robustness-check-chart>

    <form [formGroup]="paramForm" (ngSubmit)="start()">
      <dt-navline [navLine]="navLine" data-cy="secondary-navline" *dtProjectMode="'professional'"></dt-navline>

      <section>
        <div class="box steps-box">
          <div i18n>Simulationsschritte</div>
          <dt-range-input-log
            [min]="1_000"
            [max]="10_000_000"
            [value]="paramForm.value.calculationSteps"
            (valueChange)="updateCalculationSteps($event)"
            data-cy="simulation-steps-input"
          ></dt-range-input-log>
        </div>
      </section>

      <section class="options-row">
        <div class="box" formArrayName="alternatives">
          <div class="header" i18n>Alternativen</div>
          <mat-slide-toggle *ngFor="let alternativeIndex of sortedAlternativeIndices" [formControlName]="alternativeIndex">
            {{ decisionData.alternatives[alternativeIndex].name }}
          </mat-slide-toggle>
        </div>

        <div class="box" data-cy="influence-factor-box">
          <div class="header" i18n>Einflussfaktoren</div>
          <mat-slide-toggle formControlName="predefinedScenarios" i18n>Systemseitige Einflussfaktoren</mat-slide-toggle>
          <ng-container formArrayName="userdefinedScenarioIDs">
            <mat-slide-toggle *ngFor="let influenceFactor of decisionData.influenceFactors" [formControlName]="influenceFactor.id">
              {{ influenceFactor | influenceFactorName }}
            </mat-slide-toggle>
          </ng-container>
        </div>

        <div class="box" data-cy="imprecision-box">
          <div class="header" i18n>Unpräzise Angaben</div>
          <mat-slide-toggle formControlName="probabilities" i18n>Wahrscheinlichkeitsschätzungen</mat-slide-toggle>
          <mat-slide-toggle formControlName="utilities" i18n>Nutzenbewertungen</mat-slide-toggle>
          <mat-slide-toggle formControlName="objectiveWeights" i18n>Zielgewichte</mat-slide-toggle>
        </div>
      </section>
    </form>
  </ng-container>
</ng-container>

<ng-template #debug>
  <h3>Robustheitstest Performance</h3>
  <span>Runs: </span><input type="number" [(ngModel)]="dbgRunCount" />
  <button mat-raised-button (click)="dbgStart()" [disabled]="dbgRunsRemaining > 0">Time Robustheitstest</button>
  <mat-progress-bar *ngIf="dbgRunsRemaining > 0" mode="determinate" [value]="(1 - dbgRunsRemaining / dbgRunCount) * 100"></mat-progress-bar>
  <span *ngIf="dbgAvgTimePerRun >= 0">Result: Avg. {{ dbgAvgTimePerRun | number : '1.0-2' }}ms/run</span>
</ng-template>
