@use '@angular/material' as mat;
@use 'variables' as dt;

.progress-wrapper {
  text-align: center;

  mat-progress-bar {
    margin: 12px 0;
  }
}

.worker-error,
.worker-error a {
  font-weight: bold;
  color: #ee0000;
  text-decoration: underline;
}

dt-navline {
  border-top: none;
  background-color: white;
}

form {
  $grey: #d0cece;

  border-top: 2px solid $grey;
  margin-top: 20px;

  section {
    padding: 8px 0;

    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .box {
    border: 2px solid $grey;
    border-radius: 5px;
    padding: 0 12px;

    .header {
      font-weight: bold;
      border-bottom: 1px solid $grey;
    }

    .header,
    mat-slide-toggle {
      margin: 8px 0;
    }

    mat-slide-toggle {
      display: block;
    }
  }

  .steps-box {
    flex: 1;
    max-width: 600px;

    display: flex;
    align-items: center;
    gap: 8px;

    div {
      font-weight: bold;
    }

    dt-range-input-log {
      flex: 1;
    }
  }

  .options-row .box {
    flex: 1 0 300px;
    min-width: 300px;
  }

  dt-button {
    margin: 0;
  }
}
