@use 'variables' as dt;

/* nur für chrome */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* für firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

table {
  width: 100%;
}

#outer-table {
  margin-top: 15px;
  min-width: 580px;
}

.inner-table-container-div {
  width: 100%;
  max-height: 400px;
  overflow: overlay;
}

.inner-table-container-cell {
  border: none !important;
}

.rounding-row {
  td {
    border-bottom: none !important;
  }
}

.input-value {
  text-align: center !important;
  max-width: 100px;
}

.precision-value {
  margin-top: 10px;
  font-weight: bold;
}

.grayed-out {
  color: gray;
}

.message-error {
  color: red;
  font-size: dt.font-size(caption);
  font-weight: bold;
}

.message-warning {
  color: dt.$orange;
  font-size: dt.font-size(caption);
  font-weight: bold;
}

.vector-table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;

  .input-cell {
    padding: 10px 10px;
  }

  th,
  td {
    border: 1px #9e9e9e solid;
  }

  th {
    color: white;
    background-color: #3b4c5b;
    padding: 10px 0;
  }
}

.change-stages-button {
  line-height: 24px;
  height: 25px;
  font-size: dt.font-size(subheading-2);
  min-width: 40px;
  padding: 0;

  mat-icon {
    margin-top: -3px;
  }
}

.unsaved-link {
  color: #f8931e;
  cursor: pointer;
}

.saved-link {
  color: green;
}

.error-container {
  text-align: center;
}

.indicator-info {
  font-weight: normal;
  font-size: dt.font-size(caption);
}

.calculate-button-cell {
  .calculate-text {
    margin-left: 1ch;
  }

  &.icon-only .calculate-text {
    display: none;
  }
}
