<div #graph class="container" [style.grid-template-columns]="gridColumns" [style.grid-template-rows]="gridRows">
  <div *ngIf="showKey" class="key">
    <div *ngFor="let objective of objectives" class="objective">
      <div class="square"></div>
      <div class="name">{{ objective.name }}</div>
    </div>
  </div>
  <div *ngFor="let alternative of sortedAlternatives; index as alternativeIndex" class="alternative">
    <div
      *ngFor="let objective of objectives; index as objectiveIndex"
      class="objective"
      [style.height.%]="sortedUtilityValues[alternativeIndex][objectiveIndex] * 100"
      (mouseenter)="hoveredObjectiveIndex = objectiveIndex"
      (mouseleave)="hoveredObjectiveIndex = -1"
      [class.not-hovered]="hoveredObjectiveIndex !== -1 && hoveredObjectiveIndex !== objectiveIndex"
    >
      <div
        [matTooltip]="objective.name + ' (' + sortedDisplayValues[alternativeIndex][objectiveIndex] + ')'"
        [matTooltipPosition]="'above'"
      ></div>
      <div [matTooltip]="objective.name" [matTooltipPosition]="'above'">{{ sortedDisplayValues[alternativeIndex][objectiveIndex] }}</div>
    </div>
  </div>
  <div *ngFor="let alternative of sortedAlternatives; index as alternativeIndex" class="alternative-name">
    {{ alternative.name }}
  </div>
</div>
