@use 'variables' as dt;
@import 'widgets';

// Change global styles for the mat dialog
::ng-deep {
  .dt-mat-dialog-panel {
    .mat-dialog-container {
      padding: 0;
      background: transparent;
    }

    @media screen and (max-width: 599px) {
      margin: auto 0 !important;
    }
  }

  .dt-mat-dialog-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal-window {
  display: flex;
  flex-direction: column;

  position: relative;

  max-height: 100vh;
  width: 100vw;

  &.small-modal {
    max-width: 500px;
  }

  &.flex-modal {
    max-width: 100vw;
    width: min-content;

    .modal-footer-content {
      flex-wrap: wrap;
      width: 0;
    }
  }

  .modal-title {
    display: flex;
    padding: 4px;
    padding-left: dt.$modal-padding;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    align-items: center;
    justify-content: space-between;

    background-color: dt.$blue;

    margin: 0;

    button {
      color: dt.$orange;
    }

    h4 {
      color: white;
      margin: 0;
    }

    .mat-caption {
      color: #bcc0c2;

      strong {
        font-weight: 500;
      }
    }

    .modal-title-text {
      min-width: 0;
    }
  }

  .modal-subheader {
    position: relative; // Support note-btn in subheader
    display: flex;
    align-items: center;

    background-color: #e2e4e5;

    & > ::ng-deep mat-form-field {
      @include form-field-no-margin;
      flex: 1;

      // Add more padding
      .mat-form-field-infix {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
        // Allow the form field to become smaller
        width: unset;
      }

      // Remove background-color with appearance="fill"
      &.mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: unset;
      }
    }
  }

  .modal-content {
    flex: 0 1 auto;
    overflow: auto;
    background-color: white;
  }
  .modal-content.flex-content {
    display: flex;
    flex-direction: column;
  }

  mat-divider {
    border-top-color: #e0e0e0;
  }

  .modal-footer {
    background-color: dt.$modal-background;
    width: 100%;
    padding: 4px 6px;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .modal-footer-content {
    flex: 1 1 auto;
  }

  .modal-footer,
  .modal-footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.modal-content.content-padding {
  padding: 1rem dt.$modal-padding;
}

@media screen and (min-width: 600px) {
  .modal-window {
    width: 90vw;
    max-height: 80vh;
  }
  .modal-window.big-modal {
    width: 95vw;
  }
  .modal-window.flex-modal {
    max-width: 95vw;
  }
}

@media screen and (min-width: 992px) {
  .modal-window {
    width: 70vw;
  }
  .modal-window.big-modal {
    width: 90vw;
  }
  .modal-window.giant-modal {
    width: 95vw;
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 55vw;
  }
  .modal-window.big-modal {
    width: 70vw;
  }
  .modal-window.giant-modal {
    width: 90vw;
  }
}
