<dt-modal-content size="giant" (closeClick)="dialogRef.close()" [showFooter]="true" [contentPadding]="false" [flexContent]="true">
  <ng-template i18n #title> Auswahl von Ausprägungen </ng-template>
  <ng-template #content>
    <div class="content-container">
      <div class="matrix-container">
        <div class="left-column-with-blank-box">
          <div class="box blank"></div>
          <div class="left-column">
            <div *ngFor="let alternative of decisionData.alternatives; let i = index" class="box box-alternative header">
              <div class="caption">
                <div class="alternative-name">
                  <span class="ellipsis">{{ alternative.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="right-column">
          <div class="header-row">
            <div *ngFor="let objective of decisionData.objectives; let i = index" class="box box-objective header">
              <div class="objective-name">{{ objective.name }}</div>
            </div>
          </div>
          <div class="table-content">
            <div *ngFor="let alternative of decisionData.alternatives; let i = index" class="content-row">
              <div *ngFor="let objective of decisionData.objectives; let j = index" class="content-cell">
                <div class="field-container">
                  <div class="slide-toggle-hitbox" (click)="toggle.toggle()">
                    <mat-slide-toggle #toggle [(ngModel)]="selectionArray[i][j]" (click)="$event.stopPropagation()"></mat-slide-toggle>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #footer>
    <dt-button (click)="dialogRef.close()" type="raised-less" i18n>Schließen</dt-button>
  </ng-template>
</dt-modal-content>
