@use '@angular/material' as mat;
@use 'variables' as dt;

.field-container {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #c0c0c0;

  .slide-toggle-hitbox {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.content-container {
  padding: 5px;
}

.matrix-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 10px;
  overflow: auto;

  .box {
    height: 50px;
    min-width: 200px;

    &.header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }
  }

  .box-objective {
    background-color: dt.$objective;
    color: white;
    height: 120px;
    border-top: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
  }

  .box-alternative {
    background-color: dt.$alternative;
    color: dt.$blue;
    border-left: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
  }

  .left-column-with-blank-box {
    .blank.box {
      border: 1px solid #c0c0c0;
      height: 120px;
    }

    .left-column {
      border-right: 1px solid #c0c0c0;

      .box {
        justify-content: flex-start;
        min-height: 50px;
        min-width: 250px;

        .caption {
          flex: 1;
        }
      }
    }
  }

  .right-column {
    overflow-y: hidden;

    .header-row,
    .table-content {
      display: flex;
    }

    .table-content {
      flex-direction: column;
    }

    .header-row {
      .box {
        top: 0;
        flex-direction: column;
        width: 200px;
        border-bottom: 1px solid #c0c0c0;
      }
    }

    .content-row {
      display: flex;

      .content-cell {
        width: 200px;
        min-width: 200px;
        height: 50px;
        border-right: 1px solid #c0c0c0;
      }
    }
  }
}

.alternative-name,
.objective-name {
  font-weight: 500;
  white-space: normal;
  line-height: 1.2;
  overflow: hidden;
  text-align: center;
}

.alternative-name {
  max-width: 60ch;
}

.ellipsis {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

dt-step-description {
  place-self: center;
}

:host::ng-deep {
  .mat-ripple-element {
    transform: translateX(-50%);
  }
}
