<dt-table-layout *dtDataLoad="true; error: hasError" [isLoading]="isLoading">
  <form header class="filters-form" [formGroup]="filterForm" (ngSubmit)="triggerLoadSubject.next()">
    <mat-form-field class="search-query dt-no-margin">
      <mat-label i18n>Suche</mat-label>
      <input type="text" formControlName="searchQuery" matInput />
      <mat-icon
        matSuffix
        matTooltip="Sucht nach Nutzern mit dem gegebenen Text in Name oder Email. Außerdem kann nach Nutzer ID gesucht werden."
        i18n-matTooltip
        >info</mat-icon
      >
    </mat-form-field>
    <mat-radio-group formControlName="emailConfirmed">
      <mat-label i18n>Email bestätigt</mat-label>
      <mat-radio-button value="ignore" i18n>Egal</mat-radio-button>
      <mat-radio-button [value]="true" i18n>Ja</mat-radio-button>
      <mat-radio-button [value]="false" i18n>Nein</mat-radio-button>
    </mat-radio-group>
    <div class="checkbox-container" formArrayName="roles">
      <mat-label i18n>Rollen</mat-label>
      <mat-checkbox *ngFor="let role of roles; index as i" [formControlName]="i">{{ role }}</mat-checkbox>
    </div>
  </form>

  <table
    mat-table
    [dataSource]="items"
    matSort
    [matSortDisableClear]="true"
    [matSortActive]="sort.sortBy"
    [matSortDirection]="sort.sortDirection"
    (matSortChange)="onSortChange($event)"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Name</th>
      <td mat-cell *matCellDef="let row">
        <i *ngIf="!row.name">Kein Name</i>
        {{ row.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>
    <ng-container matColumnDef="emailConfirmed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Email bestätigt</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon>{{ row.emailConfirmed ? 'done' : 'close' }}</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Rollen</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.roles.length === 0">&mdash;</ng-container>
        <mat-chip-list>
          <mat-chip *ngFor="let role of row.roles">{{ role }}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Registriert am</th>
      <td mat-cell *matCellDef="let row">{{ row.createdAt | date : 'medium' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="showDetails(row)"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length" i18n>Keine Benutzer entsprechen dem Filter.</td>
    </tr>
  </table>

  <mat-paginator
    [pageSize]="page.pageSize"
    [pageIndex]="page.pageIndex"
    [length]="itemCount"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)"
  ></mat-paginator>
</dt-table-layout>
