<dt-modal-content size="small" (closeClick)="close()" [showFooter]="done">
  <ng-template #title i18n>Passwort zurücksetzen</ng-template>
  <ng-template #content>
    <ng-container [ngSwitch]="done">
      <ng-container *ngSwitchCase="false" [ngSwitch]="tokenStatus">
        <p i18n *ngSwitchCase="'checking'">Überprüfe Token...</p>
        <mat-error class="dt-error" i18n *ngSwitchCase="'invalid-simple'"
          >Der angegebene Link ist ungültig. Stell sicher, dass der Link vollständig kopiert wurde.</mat-error
        >
        <mat-error class="dt-error" i18n *ngSwitchCase="'invalid-server'">Der angegebene Link ist ungültig. Versuche es erneut.</mat-error>
        <mat-error class="dt-error" i18n *ngSwitchCase="'rate-limit'">
          Du hast in kurzer Zeit zu viele Anfragen gestellt. Bitte versuche es später noch einmal.
        </mat-error>
        <form *ngSwitchCase="'valid'" class="dt-form" #actualForm="ngForm" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <dt-password-form [newPassword]="true"></dt-password-form>

          <mat-error *ngIf="passwordForm.getError('server-error') === 'invalid-password'" i18n
            >Bitte gib ein Passwort mit mindestens 8 Zeichen an!</mat-error
          >

          <mat-error *ngIf="passwordForm.getError('server-error') === 'invalid-token'" i18n>Der angegebene Link ist ungültig.</mat-error>

          <mat-error *ngIf="passwordForm.getError('server-error') === 'rate-limit'" i18n
            >Du hast in kurzer Zeit zu viele Anfragen gestellt. Bitte versuche es später noch einmal.</mat-error
          >

          <mat-error *ngIf="passwordForm.getError('server-error') === 'something'" i18n
            >Bei der Übertragung der Daten ist ein Fehler aufgetreten.</mat-error
          >

          <button
            mat-raised-button
            [dtOverlayProgress]="passwordForm.disabled"
            type="submit"
            color="accent"
            [disabled]="(!passwordForm.valid && !actualForm.submitted) || passwordForm.disabled"
            i18n
            >Passwort ändern</button
          >
        </form>
      </ng-container>
      <ng-container *ngSwitchCase="true">
        <p i18n>Dein Passwort wurde erfolgreich geändert! Du kannst Dich jetzt mit dem neuen Passwort einloggen.</p>
      </ng-container>
    </ng-container>
  </ng-template>
  <ng-template #footer>
    <button mat-raised-button i18n (click)="openLoginModal()" color="accent">Zur Anmeldung</button>
  </ng-template>
</dt-modal-content>

<ng-template #debug>
  <mat-form-field>
    <mat-label>Token Status</mat-label>
    <input matInput [(ngModel)]="tokenStatus" />
  </mat-form-field>
  <mat-checkbox [(ngModel)]="done">Done</mat-checkbox>
</ng-template>
