.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px 20px;

  position: relative;
  padding: 7px 20px;

  .title {
    min-width: 250px;
    max-width: 250px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
  }

  mat-form-field {
    min-width: 100px;
    max-width: 100px;

    &.description-field {
      flex: 1;
      max-width: unset;
    }
  }

  &.error-row {
    padding-top: 0;
  }
}

.column-layout .row {
  flex-direction: column;
  align-items: stretch;

  .title:empty {
    display: none;
  }
}

mat-form-field ::ng-deep .mat-form-field-flex {
  padding-top: 0;
}
