<form *ngIf="objective.isIndicator" [formGroup]="formGroup" class="indicator-form">
  <div class="indicator-value-container" formArrayName="rowArray">
    <mat-form-field *ngFor="let value of independentOutcomeValues; let i = index">
      <mat-label>{{ outcome.influenceFactor | stateName : i }}</mat-label>
      <input type="number" matInput [formControlName]="i" />
      <span matSuffix>{{ objective.unit() }}</span>
      <mat-hint i18n>Von {{ independentRowMin }} bis {{ independentRowMax }}</mat-hint>
      <mat-error *ngIf="formArray.controls[i].errors?.required" i18n>Bitte Zahl eingeben</mat-error>
      <mat-error *ngIf="formArray.controls[i].errors?.min as min" i18n>Wert muss mindestens {{ min.min }} sein</mat-error>
      <mat-error *ngIf="formArray.controls[i].errors?.max as max" i18n>Wert darf höchstens {{ max.max }} sein</mat-error>
    </mat-form-field>
  </div>
</form>

<mat-form-field *ngIf="objective.isNumerical" class="space-between-fields" hideRequiredMarker="true">
  <mat-label>{{ outcome.influenceFactor | stateName : stateIdx }}</mat-label>
  <input type="number" [formControl]="formControl" matInput />
  <span matSuffix>{{ objective.numericalData.unit }}</span>
  <mat-hint i18n>Von {{ objective.numericalData.from }} bis {{ objective.numericalData.to }}</mat-hint>
  <mat-error *ngIf="formControl.errors?.required" i18n>Bitte Zahl eingeben</mat-error>
  <mat-error *ngIf="formControl.errors?.min" i18n>Wert muss mindestens {{ formControl.errors.min.min }} sein</mat-error>
  <mat-error *ngIf="formControl.errors?.max" i18n>Wert darf höchstens {{ formControl.errors.max.max }} sein</mat-error>
</mat-form-field>

<mat-form-field *ngIf="objective.isVerbal" class="dt-no-margin space-between-fields" hideRequiredMarker="true">
  <mat-label>{{ outcome.influenceFactor | stateName : stateIdx }}</mat-label>
  <mat-select [formControl]="formControl">
    <mat-option *ngFor="let option of objective.verbalData.options; let j = index" [value]="j + 1">{{ option }}</mat-option>
  </mat-select>
</mat-form-field>
