.indicator-form {
  .indicator-value-container {
    padding: 10px 5px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  mat-form-field {
    flex: 1 0 170px;
    max-width: 240px;

    ::ng-deep .mat-form-field-infix {
      width: unset;
    }
  }
}

.space-between-fields {
  margin: 0 10px;
}

:host ::ng-deep {
  .mat-form-field-suffix {
    width: 60px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
