@use '../../../../../../../node_modules/@angular/material/index' as mat;
@use 'libs/widgets/src/styles/variables' as dt;

.indicator-form {
  .indicator-aggregation,
  .indicator-value-container {
    padding: 5px;
  }

  .indicator-aggregation {
    background-color: dt.$blue-lighten-9;
    margin-bottom: 5px;
    text-align: center;
    position: relative;

    &.out-of-scale,
    .description.out-of-scale-text {
      color: dt.$crimson-red;
    }

    .description {
      color: rgba(0, 0, 0, 0.7);
      font-size: dt.font-size(caption);
    }

    &:not(.out-of-scale) .out-of-scale-text {
      display: none;
    }
  }

  .indicator-value-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
  }

  .verbal-value-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  mat-form-field {
    flex: 1 0 170px;
    max-width: 240px;

    ::ng-deep .mat-form-field-infix {
      width: unset;
    }
  }
}

.indicator-form-border {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

:host ::ng-deep {
  .mat-form-field-suffix {
    width: 60px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

:host ::ng-deep {
  .space-between-fields {
    margin: 0 10px;
  }
}
