<form *ngIf="objective.isIndicator" [formGroup]="formGroup" class="indicator-form indicator-form-border">
  <div class="indicator-aggregation" [class.out-of-scale]="formArray.errors?.indicatorAggregate">
    <div class="description" i18n
      >Aggregierter Gesamtwert — {{ objective.indicatorData.aggregatedUnit }} von
      {{ objective.indicatorData.worstValue | safeNumber : '?' : '1.0-2' }} bis
      {{ objective.indicatorData.bestValue | safeNumber : '?' : '1.0-2' }}</div
    >
    <div>
      {{ indicatorAggregationFunction(outcomeValues) | safeNumber : '?' : '1.0-2' }}
      {{ objective.indicatorData.aggregatedUnit }}
    </div>
    <div class="description out-of-scale-text" i18n>
      Die ausgewählten Indikatorwerte resultieren in einem Wert, der außerhalb der Skala liegt
    </div>
  </div>
  <div
    [class.indicator-value-container]="objective.isNumerical || objective.isIndicator"
    [class.verbal-value-container]="objective.isVerbal"
    formArrayName="rowArray"
  >
    <mat-form-field *ngFor="let indicator of objective.indicatorData.indicators; let i = index" hideRequiredMarker="true">
      <mat-label>{{ indicator.name }}</mat-label>
      <input type="number" matInput [formControlName]="i" />
      <span matSuffix>{{ indicator.unit }}</span>
      <mat-hint i18n>Von {{ indicator.min }} bis {{ indicator.max }}</mat-hint>
      <mat-error *ngIf="formArray.controls[i].errors?.required" i18n>Bitte Zahl eingeben</mat-error>
      <mat-error *ngIf="formArray.controls[i].errors?.min as min" i18n>Wert muss mindestens {{ min.min }} sein</mat-error>
      <mat-error *ngIf="formArray.controls[i].errors?.max as max" i18n>Wert darf höchstens {{ max.max }} sein</mat-error>
    </mat-form-field>
  </div>
</form>

<mat-form-field *ngIf="objective.isNumerical" hideRequiredMarker="true">
  <mat-label i18n>Wirkungsprognose</mat-label>
  <input type="number" [formControl]="formControl" matInput />
  <span matSuffix>{{ objective.numericalData.unit }}</span>
  <mat-hint i18n>Von {{ objective.numericalData.from }} bis {{ objective.numericalData.to }}</mat-hint>
  <mat-error *ngIf="formControl.errors?.required" i18n>Bitte Zahl eingeben</mat-error>
  <mat-error *ngIf="formControl.errors?.min" i18n>Wert muss mindestens {{ formControl.errors.min.min }} sein</mat-error>
  <mat-error *ngIf="formControl.errors?.max" i18n>Wert darf höchstens {{ formControl.errors.max.max }} sein</mat-error>
</mat-form-field>

<mat-form-field *ngIf="objective.isVerbal" class="dt-no-margin" hideRequiredMarker="true">
  <mat-label i18n>Ausprägung wählen</mat-label>
  <mat-select [formControl]="formControl">
    <mat-option *ngFor="let option of objective.verbalData.options; let j = index" [value]="j + 1">{{ option }}</mat-option>
  </mat-select>
</mat-form-field>
