<dt-extendable-header
  i18n-headerName
  variation="large"
  headerName="Warum eine pauschale Wichtigkeitsangabe der Ziele problematisch ist"
  [initialOpening]="true"
>
  <p i18n
    >Die pauschale Angabe von Zielgewichten über pauschale Wichtigkeitsaussagen ist aus einer wissenschaftlichen Sicht sehr kritisch
    anzusehen, da die Bandbreite der Zielausprägungen außer Acht gelassen wird. So ist es beispielsweise einleuchtend, dass bei einem
    Vergleich der Ziele „Anfangsgehalt“ mit einer Bandbreite von 30.000 bis 200.000 € pro Jahr und „wöchentliche Arbeitszeit“ in der
    Bandbreite 38 – 39 Stunden/Woche das Gewicht für das Ziel „Anfangsgehalt“ größer ausfallen muss. Man würde sicherlich eine Stunde in der
    Woche mehr arbeiten, wenn man dafür 170.000 € im Jahr zusätzlich erhält. Ebenso wäre wohl das Ziel „wöchentliche Arbeitszeit“ wichtiger,
    wenn in diesem eine Bandbreite von 10 bis 80 Stunden vorliegen würde und im Einkommen nur von 50.000 bis 51.000 €. Aus Studien ist nun
    bekannt, dass Menschen im Allgemeinen nicht in der Lage sind, die angegebenen Bandbreiten in ihren Wichtigkeitsaussagen so zu
    berücksichtigen, wie es genau notwendig wäre. Die Folge dieses sogenannten Bandbreiteneffektes ist, dass die resultierenden Angaben und
    Handlungsempfehlungen verzerrt sein können und nur mit hoher Vorsicht zu genießen sind.
  </p>
  <p i18n
    >Dennoch kannst Du mit ruhigem Gewissen mit einer ersten groben Einschätzung der Zielgewichte auf der Basis pauschaler Aussagen starten.
    Deine Einschätzung wird nämlich zunächst nur für zwei Zwecke benutzt. Erstens werden diese Gewichte für die Auswahl eines geeigneten
    Referenzziels für die Tradeoffs benötigt. Zweitens stellen diese Zielgewichte nur die Startwerte dar, mit denen Du anschließend die
    Tradeoffs genauer untersuchen sollst. In diesen Tradeoffs wirst Du vermutlich Deine Einschätzungen noch modifizieren und hierbei die
    Bandbreiten automatisch korrekt berücksichtigen.</p
  >
  <p i18n
    >Überlege also, welches das wichtigste Ziel ist, und weise diesem die maximale Balkenhöhe im leeren Balkendiagramm zu. Weise dann den
    anderen Zielen solche Balkenhöhen zu, dass die relativen Wichtigkeitsunterschiede zwischen den Zielen insgesamt möglichst gut
    wiedergegeben werden. Auch wenn es schwierig ist, versuche, hierbei die jeweils angegebenen Bandbreiten in den Zielen zu
    berücksichtigen.</p
  >
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Das Tradeoff-Verfahren" variation="large">
  <p i18n
    >Um die Zielgewichte fundiert zu ermitteln, solltest Du auf das Tradeoff-Verfahren zurückgreifen. In diesem Verfahren werden jeweils
    immer zwei Ziele gegenübergestellt und die relativen Wichtigkeiten dieser beiden Ziele anhand konkreter Ergebnisse in den Zielen
    verglichen.</p
  >
  <p i18n
    >Konkret funktionieren Tradeoff-Aussagen so, dass Du beim Vergleich von zwei Zielen überlegen musst, wie viel Du in einem Ziel bereit
    wärst aufzugeben, um eine Verbesserung in einem anderen Ziel zu erreichen.
  </p>
  <p i18n
    >Ein Beispiel: Du vergleichst verschiedene Jobangebote und ziehst die beiden Ziele „Jahreseinkommen“ und „Wöchentliche Arbeitszeit“
    heran. Eine Tradeoff-Aussage für diese Ziele könnte folgendermaßen lauten:</p
  >
  <i i18n
    >Ich wäre dazu bereit, 15 Stunden in der Woche mehr zu arbeiten (Verschlechterung in einem Ziel), wenn ich dafür 25.000 € im Jahr mehr
    verdienen würde.</i
  >
  <br /><br />
  <p i18n
    >Man muss in diesem Fall zwei Ergebnispaare finden, die man exakt gleich bewertet. Man fände also beide Ergebnispaare gleich gut. Im
    Beispiel der oberen Tradeoff-Aussage könnten Ergebnispaare wie folgt aussehen:</p
  >
  <i i18n
    >Eine wöchentliche Arbeitszeit von 35 Stunden mit einem Jahresgehalt von 50.000 € finde ich genauso gut wie eine wöchentliche
    Arbeitszeit von 50 Stunden mit einem Jahresgehalt von 75.000 €.</i
  >
  <br /><br />
  <p i18n
    >Auch im Entscheidungsnavi kannst Du das Tradeoff-Verfahren nutzen. Du musst dabei ein Ziel als Referenzziel auswählen, welches Du als
    Basis für die Tradeoff-Vergleiche mit den anderen Zielen heranziehst.</p
  >
  <p i18n>
    Für weitere Informationen zum Tradeoff-Verfahren empfehlen wir ein
    <a (click)="youtubeModal1.open()">Video aus der digitalen Vorlesung „Entscheidungslehre“</a>, veröffentlicht auf der Seite des
    Fördervereins Reflektiert Entscheiden.
  </p>
  <dt-youtube-modal i18n-modalTitle modalTitle="Schritt 5 - Teilschritt 2" [videoId]="'W65WKOaoWr8'" #youtubeModal1></dt-youtube-modal>
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Auswahl eines Referenzziels" variation="large" [isLast]="true">
  <p i18n
    >Um die von Dir angegebenen {{ decisionData.weights.tradeoffWeights.length }} Zielgewichte zu überprüfen, ist ein Referenzziel zu
    bestimmen, welches dann mit allen übrigen Zielen in einen Tradeoff-Vergleich gebracht wird. In einem Tradeoff werden Dir zwei
    Alternativen vorgestellt, die sich nur in den Ergebnissen zweier Ziele unterscheiden. Hierbei musst Du angeben, wie Verschlechterungen
    in einem Ziel durch Verbesserungen in dem anderen Ziel kompensiert werden können. Um solche Tradeoffs gut beantworten zu können, ist es
    sinnvoll, als Referenzziel ein Ziel zu wählen, welches auf einer für Dich möglichst aussagekräftigen und kleinschrittigen Skala gemessen
    wird. Dies sind häufig eher die Ziele mit einer natürlich-numerischen Skala. Zugleich bietet es sich meist auch an, eher wichtige Ziele
    als unwichtige Ziele als Referenzziele auszuwählen.</p
  >
</dt-extendable-header>
