<ng-container *ngIf="values">
  (
  <dt-objective-value [ziel]="ziele[0]" [zielValue]="values[0]" [showName]="true"></dt-objective-value>
  ,
  <dt-objective-value [ziel]="ziele[1]" [zielValue]="values[1]" [showName]="true"></dt-objective-value>
  )
</ng-container>
