<span>
  <ng-container *ngIf="showName">{{ ziel.name }}: </ng-container>
  <ng-container *ngIf="ziel.isNumerical; else nonNumerical">{{ zielValue.value }} {{ ziel.zielNumerisch.einheit }} </ng-container>
  <ng-template #nonNumerical>{{ zielValue.value }}<ng-container *ngIf="!zielValue.isOption">% Nutzen</ng-container> </ng-template>
</span>
