<div *ngIf="tornado.length !== 0">
  <div class="select-container">
    <dt-select [(selectedOptions)]="isProbabilisticVariant" (selectedOptionsChange)="createTornadoDiagram()">
      <dt-select-label i18n>Variante</dt-select-label>
      <dt-select-option [value]="false" i18n>Einfach</dt-select-option>
      <dt-select-option [value]="true" i18n>Probabilistisch</dt-select-option>
    </dt-select>
    <dt-select [(selectedOptions)]="scaleVariant" (selectedOptionsChange)="updateCurrentScaleLimits()">
      <dt-select-label i18n>Bandbreite</dt-select-label>
      <dt-select-option [value]="'total'" i18n>Gesamtskala</dt-select-option>
      <dt-select-option [value]="'worst-best'" i18n> Worst-Best-Szenarien </dt-select-option>
      <dt-select-option [value]="'fixed'" i18n>Angepasst</dt-select-option>
    </dt-select>
  </div>
  <div class="chart-container" [style.padding.px]="chartPadding">
    <div
      class="chart-labels"
      [style.width]="'calc(' + (100 - chartWidthPercentage) / 2 + '% + ' + longestLabelSize * pixelPerCharacter + 'px)'"
    >
      <!-- Indicator Labels -->
      <div *ngFor="let tornadoLine of tornado; let i = index" class="chart-label" [style.top.px]="calculateTopPixels(i)">
        <span class="chart-label-name" [matTooltip]="objective.indicatorData.indicators[tornado[i].indicatorIndex].name">
          {{ objective.indicatorData.indicators[tornado[i].indicatorIndex].name }}
        </span>
        <span
          *ngIf="objective.indicatorData.indicators[i].unit"
          class="unit-label"
          [matTooltip]="'(' + objective.indicatorData.indicators[tornado[i].indicatorIndex].unit + ')'"
        >
          ({{ objective.indicatorData.indicators[tornado[i].indicatorIndex].unit }})
        </span>
      </div>
      <!-- Result Label -->
      <div class="chart-label" [style.top.px]="calculateTopPixels(tornado.length) + scaleSpacing - tornadoLineHeight / 2">
        <span class="chart-label-name" i18n>Ergebnis</span>
        <span class="unit-label" *ngIf="objective.indicatorData.aggregatedUnit"> ({{ objective.indicatorData.aggregatedUnit }}) </span>
      </div>
    </div>
    <div class="chart">
      <div class="chart-canvas" [style.height.px]="calculateTopPixels(tornado.length) + scaleSpacing">
        <!-- Dashed Lines (center, left, right) -->
        <div
          class="dashed-line"
          [style.left.%]="calculateLeftPercentage(totalExpectedValue)"
          [style.top.px]="calculateTopPixels(0)"
          [style.border-left]="dashedLineThickness + 'px dashed #c8c8c8'"
        >
        </div>
        <ng-container *ngFor="let tornadoLine of tornado; let i = index">
          <div
            *ngIf="hoverBarIndex === i"
            class="dashed-line"
            [style.left]="
              'calc(' + calculateLeftPercentage(tornadoLine.tornadoValues[0].outcomeValue) + '% - ' + dashedLineThickness + 'px)'
            "
            [style.top.px]="calculateTopPixels(i)"
            [style.border-left]="dashedLineThickness + 'px dashed #c8c8c8'"
          ></div>
          <div
            *ngIf="hoverBarIndex === i"
            class="dashed-line"
            [style.left]="
              'calc(' + calculateLeftPercentage(tornadoLine.tornadoValues[2].outcomeValue) + '% + ' + dashedLineThickness + 'px)'
            "
            [style.margin-left.px]="-dashedLineThickness"
            [style.top.px]="calculateTopPixels(i)"
            [style.border-left]="dashedLineThickness + 'px dashed #c8c8c8'"
          ></div>
          <!-- White circles (center) -->
          <span
            class="white-circle"
            [style.left]="'calc(' + calculateLeftPercentage(tornadoLine.tornadoValues[1].outcomeValue) + '% + 1px)'"
            [style.top.px]="calculateTopPixels(i)"
            (mouseenter)="hoverBarIndex = i; hoverWhiteCircleIndex = i"
            (mouseleave)="hoverBarIndex = -1; hoverWhiteCircleIndex = -1"
          ></span>
          <!-- Indicator Values (left, center, right) -->
          <span
            #leftIndicatorValue
            class="chart-value left-chart-value"
            [style.left.%]="calculateLeftPercentage(tornadoLine.tornadoValues[0].outcomeValue)"
            [style.top.px]="calculateTopPixels(i) - numberSpacing"
            [style.visibility]="isIndicatorValueVisible(leftIndicatorValue, [rightIndicatorValue], i) ? 'visible' : 'hidden'"
          >
            {{ tornadoLine.tornadoValues[0].indicatorValue }}
          </span>
          <span
            #centerIndicatorValue
            class="chart-value center-chart-value"
            [style.left.%]="calculateLeftPercentage(tornadoLine.tornadoValues[1].outcomeValue)"
            [style.top.px]="calculateTopPixels(i) - numberSpacing"
            [style.visibility]="
              isIndicatorValueVisible(centerIndicatorValue, [leftIndicatorValue, rightIndicatorValue], i, true) ? 'visible' : 'hidden'
            "
          >
            {{ tornadoLine.tornadoValues[1].indicatorValue }}
          </span>
          <span
            #rightIndicatorValue
            class="chart-value right-chart-value"
            [style.left.%]="calculateLeftPercentage(tornadoLine.tornadoValues[2].outcomeValue)"
            [style.top.px]="calculateTopPixels(i) - numberSpacing"
            [style.visibility]="isIndicatorValueVisible(rightIndicatorValue, [leftIndicatorValue], i) ? 'visible' : 'hidden'"
          >
            {{ tornadoLine.tornadoValues[2].indicatorValue }}
          </span>
          <!-- Tornado Lines -->
          <span
            class="tornado-line"
            [style.left]="
              'calc(' + calculateLeftPercentage(tornadoLine.tornadoValues[0].outcomeValue) + '% - ' + dashedLineThickness + 'px)'
            "
            [style.top.px]="calculateTopPixels(i)"
            [style.width]="'calc(' + calculateWidthPercentage(tornadoLine.tornadoValues) + '% + ' + dashedLineThickness * 2 + 'px)'"
            [style.height.px]="tornadoLineHeight"
            (mouseenter)="hoverBarIndex = i"
            (mouseleave)="hoverBarIndex = -1"
          >
          </span>
        </ng-container>
      </div>
      <div class="chart-scale-container">
        <!-- Scale Value (center) -->
        <span
          #centerBottomValue
          class="chart-value scale-value center-scale-value"
          [style.left.%]="calculateLeftPercentage(totalExpectedValue)"
          [matTooltip]="totalExpectedValue + ''"
          [matTooltipDisabled]="!isNumberRounded(totalExpectedValue)"
        >
          {{ totalExpectedValue | roundAsPower : significantDigits }}
        </span>
        <ng-container *ngFor="let tornadoLine of tornado; let i = index">
          <!-- Scale Values (left, right) -->
          <span
            #leftBottomValue
            *ngIf="hoverBarIndex === i && isScaleValueVisible(tornadoLine.tornadoValues[0].outcomeValue)"
            class="chart-value scale-value left-scale-value"
            [style.left.%]="calculateLeftPercentage(tornadoLine.tornadoValues[0].outcomeValue)"
            [style.top.px]="areElementsOverlappingHorizontally(leftBottomValue, [centerBottomValue]) ? tornadoLineSpacing : 0"
            [matTooltip]="tornadoLine.tornadoValues[0].outcomeValue + ''"
            [matTooltipDisabled]="!isNumberRounded(tornadoLine.tornadoValues[0].outcomeValue)"
          >
            {{ tornadoLine.tornadoValues[0].outcomeValue | roundAsPower : significantDigits }}
          </span>
          <span
            #rightBottomValue
            *ngIf="hoverBarIndex === i && isScaleValueVisible(tornadoLine.tornadoValues[2].outcomeValue)"
            class="chart-value scale-value right-scale-value"
            [style.left.%]="calculateLeftPercentage(tornadoLine.tornadoValues[2].outcomeValue)"
            [style.top.px]="areElementsOverlappingHorizontally(rightBottomValue, [centerBottomValue]) ? tornadoLineSpacing : 0"
            [matTooltip]="tornadoLine.tornadoValues[2].outcomeValue + ''"
            [matTooltipDisabled]="!isNumberRounded(tornadoLine.tornadoValues[2].outcomeValue)"
          >
            {{ tornadoLine.tornadoValues[2].outcomeValue | roundAsPower : significantDigits }}
          </span>
        </ng-container>
        <!-- Scale Handlerbars (left, right) -->
        <div
          class="chart-scale-handlebar left-chart-scale-handlebar"
          [style.left.%]="(100 - chartWidthPercentage) / 2"
          [style.top.px]="0"
        ></div>
        <div
          class="chart-scale-handlebar"
          [style.left.%]="chartWidthPercentage + (100 - chartWidthPercentage) / 2"
          [style.top.px]="0"
        ></div>
        <!-- Scale Min/Max -->
        <span
          class="chart-value left-axis-boundaries"
          [style.left.%]="(100 - chartWidthPercentage) / 2"
          [style.top.px]="0"
          [matTooltip]="scaleMin + ''"
          [matTooltipDisabled]="!isNumberRounded(scaleMin)"
        >
          {{ scaleMin | roundAsPower : significantDigits }}
        </span>
        <span
          class="chart-value right-axis-boundaries"
          [style.left.%]="chartWidthPercentage + (100 - chartWidthPercentage) / 2"
          [style.top.px]="0"
          [matTooltip]="scaleMax + ''"
          [matTooltipDisabled]="!isNumberRounded(scaleMax)"
        >
          {{ scaleMax | roundAsPower : significantDigits }}
        </span>
        <!-- Scale Line -->
        <span class="chart-scale" [style.left.%]="(100 - chartWidthPercentage) / 2" [style.width.%]="chartWidthPercentage"></span>
      </div>
    </div>
  </div>
</div>
