<dt-modal-content size="big" (closeClick)="close()" [flexContent]="false" [contentPadding]="true">
  <ng-template #title
    ><span i18n>Qualitätskriterium</span>: <span> {{ criteriaToExplain }}</span></ng-template
  >
  <ng-template #content>
    <h3> {{ criteriaToExplain }}</h3>
    <p *ngFor="let contentFragment of explanation.content"> {{ contentFragment }} </p>
    <div class="bar-wrapper">
      <div class="bar-container">
        <dt-bar-slider
          [(value)]="criteriaValue"
          [interval]="false"
          [vertical]="false"
          [disabledLook]="false"
          [width]="21"
          [min]="0"
          [max]="10"
          [step]="0.01"
          [topLabels]="topLabels"
          [showBottomLabels]="true"
          (valueChange)="forwardValueChange($event)"
        ></dt-bar-slider>
      </div>
    </div>
  </ng-template>
  <ng-template #footer>
    <dt-button [type]="criteriaValue >= 8 ? 'raised-less' : 'raised'" *ngIf="allowRevise" (click)="revise()">{{
      explanation.reviseButtonText
    }}</dt-button>
    <dt-button
      [type]="criteriaValue < 8 || !(explanation.reviseButtonText != null && allowRevise) ? 'raised-less' : 'raised'"
      (click)="close()"
      i18n
      >Schließen</dt-button
    >
  </ng-template>
</dt-modal-content>
