<div #me class="fullscreen-container" [class.unusable]="exportingImage">
  <div
    #mindContainer
    class="mind-container"
    [dtWidthTrigger]="{ 'horizontal-overlay': MIND_CONTAINER_WIDTH_BREAKPOINT }"
    (dtWidthTriggerStateChange)="horizontalWindows = $event['horizontal-overlay']; closeWhenBothWindowsOpen()"
  >
    <div *ngIf="showOverlay && (editable || !smallHierarchy)" class="overlay overlay-buttons">
      <ng-content select="[toolbar]"></ng-content>
      <dt-button-tiny i18n-matTooltip matTooltip="Hilfe" [icon]="'help'" (click)="openHelp()" data-cy="hierarchy-help"> </dt-button-tiny>
      <dt-modal #shortcutExplanationModal [showFooter]="true" data-cy="structure-and-estimate-tool-hierarchy-shortcut-explanation">
        <ng-template i18n #title>Shortcuts für die Zielhierarchie</ng-template>
        <ng-template #content>
          <dt-aspect-hierarchy-shortcuts></dt-aspect-hierarchy-shortcuts>
        </ng-template>
        <ng-template #footer>
          <dt-button type="raised-less" (click)="shortcutExplanationModal.close()" i18n>Schließen</dt-button>
        </ng-template>
      </dt-modal>
      <mat-divider [vertical]="true"></mat-divider>
      <dt-button-tiny
        *ngIf="allowFullscreen"
        [icon]="isInFullscreen ? 'fullscreen_exit' : 'fullscreen'"
        (click)="triggerFullScreen()"
        i18n-matTooltip
        matTooltip="Vollbild"
      ></dt-button-tiny>
      <dt-button-tiny i18n-matTooltip matTooltip="Ansicht zurücksetzen" [icon]="'center_focus_weak'" (click)="resetView()"></dt-button-tiny>
      <ng-container *ngIf="editable">
        <mat-divider [vertical]="true"></mat-divider>
        <dt-button-tiny
          i18n-matTooltip
          matTooltip="Rückgängig machen"
          [icon]="'undo'"
          (click)="undoLast()"
          [disabled]="!canUndo()"
        ></dt-button-tiny>
        <dt-button-tiny
          i18n-matTooltip
          matTooltip="Wiederherstellen"
          [icon]="'redo'"
          (click)="redo()"
          [disabled]="!canRedo()"
        ></dt-button-tiny>
      </ng-container>
      <ng-container *dtProjectMode="['educational', 'professional']">
        <ng-container *ngIf="allowZoom">
          <mat-divider [vertical]="true"></mat-divider>
          <dt-button-tiny i18n-matTooltip matTooltip="Vergrößern" [icon]="'zoom_in'" (click)="zoomIn()"></dt-button-tiny>
          <dt-button-tiny
            i18n-matTooltip
            matTooltip="Verkleinern"
            [icon]="'zoom_out'"
            (click)="zoomOut()"
            [attr.disabled]="scale === 0.40187757201"
          ></dt-button-tiny>
        </ng-container>
        <ng-container *ngIf="editable">
          <mat-divider [vertical]="true"> </mat-divider>
          <div
            class="color-picker"
            [dtColorPicker]="selectedColor('background')"
            [dtColorPickerPreset]="boundPresetColorFunctionBackground"
            (dtColorPicker)="setFill('background', $event)"
            (dtColorPickerOpen)="openColorPicker('background')"
            (dtColorPickerClose)="closeColorPicker('background')"
            i18n-matTooltip
            matTooltip="Hervorhebungsfarbe"
            [class.no-selection]="selected.length === 0"
            [attr.disabled]="selected.length === 0"
          >
            <mat-icon>brush</mat-icon>
            <div class="current-color" [style.background-color]="selectedColor('background')"></div>
          </div>
          <div
            class="color-picker"
            [dtColorPicker]="selectedColor('text')"
            [dtColorPickerPreset]="boundPresetColorFunctionText"
            (dtColorPicker)="setFill('text', $event)"
            (dtColorPickerOpen)="openColorPicker('text')"
            (dtColorPickerClose)="closeColorPicker('text')"
            i18n-matTooltip
            matTooltip="Textfarbe"
            [class.no-selection]="selected.length === 0"
            [attr.disabled]="selected.length === 0"
          >
            <span> A </span>
            <div class="current-color" [style.background-color]="selectedColor('text')"></div>
          </div>
          <dt-button-tiny
            i18n-matTooltip
            matTooltip="Formatierung löschen"
            [icon]="'format_clear'"
            [disabled]="!canClearFormatting()"
            (click)="clearFormatting()"
          ></dt-button-tiny>
        </ng-container>
        <mat-divider [vertical]="true"></mat-divider>
        <ng-container *ngIf="allowSavingImage">
          <dt-button-tiny
            *ngIf="!exportingImage"
            i18n-matTooltip
            matTooltip="Als Bild exportieren"
            [icon]="'photo'"
            (click)="exportImage()"
          >
          </dt-button-tiny>
          <mat-spinner [diameter]="26" *ngIf="exportingImage"></mat-spinner>
        </ng-container>
        <dt-button-tiny
          *ngIf="teamTrait?.isOtherUsersProject"
          [icon]="'publish'"
          (click)="transferSelection()"
          [disabled]="!canTransferSelection"
        >
        </dt-button-tiny>
      </ng-container>
      <ng-container *ngIf="editable">
        <mat-divider [vertical]="true"></mat-divider>
        <div *dtProjectMode="['educational', 'professional']" (click)="collapsedExtras = !collapsedExtras">
          <dt-button-tiny *ngIf="collapsedExtras" [icon]="'chevron_right'"> </dt-button-tiny>
          <dt-button-tiny *ngIf="!collapsedExtras" [icon]="'chevron_left'"> </dt-button-tiny>
        </div>
        <div class="extras" *ngIf="!collapsedExtras">
          <svg
            dtInlineSVG="assets/hierarchy/icons/insert_right.svg"
            class="image-button"
            [class.disabled]="!canInsertRightSelected()"
            (click)="canInsertRightSelected() && insertRightSelected()"
            i18n-matTooltip
            matTooltip="Ziel rechts einfügen"
          ></svg>
          <mat-divider [vertical]="true"> </mat-divider>
          <svg
            dtInlineSVG="assets/hierarchy/icons/insert_below.svg"
            class="image-button"
            [class.disabled]="!canInsertBelowSelected()"
            (click)="canInsertBelowSelected() && insertBelowSelected()"
            i18n-matTooltip
            matTooltip="Ziel darunter einfügen"
          ></svg>
          <svg
            dtInlineSVG="assets/hierarchy/icons/insert_above.svg"
            class="image-button"
            [class.disabled]="!canInsertAboveSelected()"
            (click)="canInsertAboveSelected() && insertAboveSelected()"
            i18n-matTooltip
            matTooltip="Ziel darüber einfügen"
          ></svg>
          <ng-container *dtProjectMode="['educational', 'professional']">
            <mat-divider [vertical]="true"> </mat-divider>
            <dt-button-tiny
              [disabled]="!canFoldSelected()"
              (click)="foldSelected('up')"
              [icon]="'unfold_less'"
              i18n-matTooltip
              matTooltip="Baum einklappen"
            ></dt-button-tiny>
            <dt-button-tiny
              [disabled]="!canFoldSelected()"
              (click)="foldSelected('out')"
              [icon]="'unfold_more'"
              i18n-matTooltip
              matTooltip="Baum ausklappen"
            ></dt-button-tiny>
            <mat-divider [vertical]="true"> </mat-divider>
            <dt-button-tiny
              (click)="$event.preventDefault(); groupSelected()"
              [disabled]="!canGroupSelected()"
              [icon]="'group_work'"
              i18n-matTooltip
              matTooltip="Ziele gruppieren"
            >
            </dt-button-tiny>
          </ng-container>
          <mat-divider [vertical]="true"> </mat-divider>
          <dt-button-tiny
            (click)="deleteSelected()"
            [disabled]="!canDeleteSelected()"
            [icon]="'delete'"
            i18n-matTooltip
            matTooltip="Ziel löschen"
          >
          </dt-button-tiny>
        </div>
      </ng-container>
    </div>
    <div class="overlay overlay-top-right" [style.max-width]="smallHierarchy ? '100%' : 'calc(100% - 220px)'">
      <ng-content select="[titleOverlay]"></ng-content>
    </div>
    <div
      #mindMap
      class="mind-map"
      [class.gray-filter]="exportingImage"
      [style.background-color]="exportingImage || isInFullscreen ? 'white' : 'inherit'"
      (dtPinchZoom)="pinchZoom($event)"
      [dtWidthTrigger]="{ 'hierarchy-width-threshold': 400 }"
      (dtWidthTriggerStateChange)="smallHierarchy = $event['hierarchy-width-threshold']"
    >
      <div #moveContainer class="move-container" [style.background-color]="exportingImage || isInFullscreen ? 'white' : 'inherit'">
        <ng-template #recTree let-list let-depth="depth" let-sequence="sequence" let-parent="parent">
          <div>
            <ng-container *ngFor="let tree of list; let i = index; first as first; last as last">
              <ng-container *ngIf="sequence.slice().concat([i]); let treeLocationSequence">
                <div class="flex-container">
                  <div
                    class="arm"
                    *ngIf="depth !== 0"
                    [class.root]="depth === 1"
                    (click)="depth !== 1 && collapseTree($event, parent, treeLocationSequence.slice(-1))"
                  >
                    <div class="segment up" [class.invisible]="first"></div>
                    <div class="segment base"></div>
                    <div class="segment down" [class.invisible]="last"></div>
                  </div>
                  <dt-objective-aspect-hierarchy-element
                    #mindElement
                    #mindHTMLElement="dtElementRef"
                    dtElementRef
                    [depth]="depth"
                    [tree]="tree"
                    [parentTree]="parent"
                    [useObjectivesFromTree]="useObjectivesFromTree"
                    [editable]="editable"
                    [focused]="selected.indexOf(mindElement) !== -1"
                    [focusable]="selected.length <= 1"
                    [locationSequence]="treeLocationSequence"
                    [forceHideNoteBtn]="exportingImage || onlyAspects || forceHideNoteBtn"
                    [forceAspect]="onlyAspects"
                    [allowInputSelection]="allowInputSelection"
                    (valueChange)="rename({ location: 'tree', locationSequence: treeLocationSequence.slice() }, $event)"
                    (dragged)="dragTreeNode($event, tree, depth, mindElement, treeLocationSequence.slice())"
                    (dtDirectEvent)="dragOverElement($event, mindElement)"
                    (dtDirectEvent2)="mindElement.dragLeave($event)"
                    [event]="['dragover', 'dragleave']"
                    (click)="focus($event, mindElement, treeLocationSequence.slice())"
                    (focusMe)="selected = [mindElement]"
                    [enableAddAbove]="canInsertAbove(treeLocationSequence)"
                    [enableAddRight]="canInsertRightFromAddButtons(mindElement)"
                    [enableAddBelow]="canInsertBelow(treeLocationSequence)"
                    [enableAddLeft]="canGroup([treeLocationSequence])"
                    (addNextToMe)="insertFromAddButtons(mindElement, $event)"
                    (drop)="dropOnElement($event, mindElement, tree, list, i, treeLocationSequence.slice())"
                    (dragend)="dragEnd()"
                    (dblclick)="dblClickedElement.emit([tree.value, treeLocationSequence, mindHTMLElement.nativeElement])"
                  >
                    <div
                      (click)="depth !== 0 && collapseTree($event, tree, treeLocationSequence.slice())"
                      class="arm parent-to-child"
                      [class.root]="depth === 0"
                    >
                      <div [class.invisible]="tree.children.length === 0 || tree.value.collapsed" class="segment base"></div>
                    </div>
                  </dt-objective-aspect-hierarchy-element>
                  <div
                    class="collapse-container"
                    [style.z-index]="activeMove ? -1 : 10"
                    (click)="collapseTree($event, tree, treeLocationSequence.slice())"
                    *ngIf="tree.children && tree.children.length > 0 && tree.value.collapsed"
                  >
                    <mat-icon>add</mat-icon>
                  </div>
                  <ng-container *ngIf="tree.children && !tree.value.collapsed">
                    <ng-container
                      *ngTemplateOutlet="
                        recTree;
                        context: {
                          $implicit: tree.children,
                          depth: depth + 1,
                          sequence: sequence.slice().concat([i]),
                          parent: tree
                        }
                      "
                    ></ng-container>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </ng-template>

        <ng-container *ngTemplateOutlet="recTree; context: { $implicit: [tree], depth: 0, sequence: [] }"></ng-container>
      </div>
    </div>
    <div class="right-container" [class.gray-filter]="exportingImage" *ngIf="editable && listOfAspects !== undefined" (dragend)="dragEnd()">
      <dt-collapsible-tiny
        [open]="brainstormingOpen"
        (openChange)="brainstormingOpen = !brainstormingOpen; closeWhenBothWindowsOpen('trashBin')"
        (dtDirectEvent)="dragOverList($event, 'brainstorming')"
        [event]="'dragover'"
        (drop)="dropOnList($event, 'brainstorming')"
      >
        <ng-template #header>
          <span class="header" i18n>Brainstorming:</span>
        </ng-template>
        <ng-template #content>
          <ul class="browser-default">
            <li
              #li
              *ngFor="let aspect of listOfAspects; let i = index"
              (dtDirectEvent)="dragOverListElement($event, li, 'brainstorming')"
              (dtDirectEvent2)="dragLeaveListElement($event, li, 'brainstorming')"
              [event]="['dragover', 'dragleave']"
              (drop)="dropOnListElement($event, li, i, 'brainstorming')"
            >
              <span class="aspect-element" draggable="true" (dragstart)="dragAspect($event, i, 'brainstorming')">{{ aspect.name }}</span>
            </li>
          </ul>
        </ng-template>
      </dt-collapsible-tiny>
      <dt-collapsible-tiny
        [open]="trashBinOpen"
        (openChange)="trashBinOpen = !trashBinOpen; closeWhenBothWindowsOpen('brainstorming')"
        (dtDirectEvent)="dragOverList($event, 'trash')"
        [event]="'dragover'"
        (drop)="dropOnList($event, 'trash')"
      >
        <ng-template #header>
          <span class="header" i18n>Papierkorb:</span>
          <span (click)="$event.stopPropagation(); listOfDeletedAspects.length > 0 && deleteAllPermanent()" class="delete-all" i18n
            >Alle löschen</span
          >
        </ng-template>
        <ng-template #content>
          <ul class="browser-default">
            <li
              #li
              *ngFor="let aspect of listOfDeletedAspects; let i = index"
              (dtDirectEvent)="dragOverListElement($event, li, 'trash')"
              (dtDirectEvent2)="dragLeaveListElement($event, li, 'trash')"
              [event]="['dragover', 'dragleave']"
              (drop)="dropOnListElement($event, li, i, 'trash')"
            >
              <div class="aspect-element" draggable="true" (dragstart)="dragAspect($event, i, 'trash')">
                <span class="list-element-name">{{ aspect.name }}</span>
                <mat-icon
                  class="delete-icon"
                  (click)="deletePermanent(i)"
                  [style.visibility]="shouldHideTrashButton(i) ? 'hidden' : 'visible'"
                  >delete</mat-icon
                >
              </div>
            </li>
          </ul>
        </ng-template>
      </dt-collapsible-tiny>
    </div>
  </div>
</div>

<ng-template #debug>
  <h4>Objective Hierarchy Test</h4>
  <span>Operation Count</span><input #operationCount type="number" value="200" />
  <button mat-button-raised (click)="test(operationCount.valueAsNumber)">Test</button>
</ng-template>

<ng-template #dragDialogTemplate let-close="close">
  <div class="dialog-container">
    <div class="dialog-caption">Was möchtest Du übernehmen?</div>
    <dt-button (click)="close()" i18n>Nur dieses Element</dt-button>
    <dt-button (click)="dragWithChildren = true; close()" i18n>Gesamter Ast</dt-button>
  </div>
</ng-template>
