<dt-extendable-header i18n-headerName variation="large" headerName="Anspruchsniveaus" [initialOpening]="true">
  <p i18n>
    Vielleicht ist es möglich, dass Du für bestimmte Ziele Mindest- oder Maximalansprüche definieren kannst (z.B. Minimalverdienst, Maximale
    Kosten, Minimale oder maximale Größen…). Falls es Handlungsoptionen gibt, die diese Ansprüche nicht erfüllen bzw. aus dem Raster fallen
    und die Du deshalb sicher nicht auswählen wirst, brauchst Du diese nicht weiter zu beachten und kannst sie löschen.
  </p>
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Zusammenfassen ähnlicher Alternativen">
  <p i18n>
    Durch die Kreativitätstechniken kann es sein, dass Du viele ähnliche Alternativen erzeugt hast, die Du unter einer allgemeineren
    Beschreibung oder einer Kategorie zusammenzufassen kannst. Die Ähnlichkeit zweier Alternativen lässt sich gut daran erkennen, ob sie
    beispielsweise dieselben Stellhebelpositionen aufweisen. Ist dies der Fall, liegen Unterschiede vermutlich nur im Detail, über die Du
    Dir erst in nachgelagerten Schritten Gedanken machen kannst.
  </p>
</dt-extendable-header>

<dt-extendable-header
  i18n-headerName
  variation="large"
  headerName="Allgemeine Tipps zur Formulierung praktikabler Alternativen"
  [isLast]="true"
>
  <ul>
    <li i18n>
      Definiere die Handlungsalternativen nicht zu abstrakt. Bedenke, dass Du alle Handlungsalternativen später sinnvoll bewerten musst.
      Deshalb sollten alle Alternativen je nach Entscheidungskontext einen gewissen Detailgrad aufweisen. Alternativen wie „Arbeiten gehen“
      oder „Studieren“ weisen eine große inhaltliche Streuung und damit viele Unsicherheiten auf, wodurch sie in den seltensten Fällen
      sinnvoll bewertet werden können. Werde hier etwas konkreter! (Was möchtest Du studieren? Als was möchtest Du arbeiten?)
    </li>
    <li i18n>
      Deine Alternativen müssen inhaltlich auf einer Ebene sein, damit Du diese auch gut miteinander vergleichen kannst. Meist reicht es
      schon, wenn Du sichergehst, dass sich alle Alternativen über denselben Zeithorizont erstrecken. Weiterhin sollten sich alle
      Alternativen für eine gute Vergleichbarkeit gegenseitig ausschließen.
    </li>
    <li i18n>
      Scheue nicht davor, einen Blick zurück auf die Entscheidungsfrage und Ziele zu werfen. Es passiert oft, dass zu diesem Zeitpunkt noch
      rückwirkend Äderungen an diesen Schritten vorgenommen werden. Da der Prozess iterativ ist, stellt das kein Problem dar.
    </li>
  </ul>
  <br />
</dt-extendable-header>
