@use 'variables' as dt;

$button-disabled-color: #9f9f9f; // TODO: mit material theme machen

:host {
  display: flex;
  justify-content: center;
}

button {
  // background-color: rgba(dt.$blue, 0);
  height: 25px;
  line-height: 25px;
  padding: 0;
  color: inherit;

  &:hover {
    color: var(--hover-color);
    transition: color 0.3s ease-out;
  }

  &.disabled {
    color: $button-disabled-color;
    cursor: default;
  }
}
