<div class="ziel-group-header">{{ noteGroup.name }}<ng-content select=".dt-group-headline"></ng-content> </div>
<ng-content select=".dt-group-body"></ng-content>
<div class="ziel-group" (dragover)="dragOverGroup($event)" (drop)="drop($event)">
  <dt-aspect-box
    *ngFor="let notiz of noteGroup.notizen; let i = index"
    #aspectBox
    class="ziel-group-item"
    [(name)]="notiz.name"
    (deleteClick)="removeNote(i)"
    [readonly]="readonly"
    [draggable]="!readonly && !aspectBox.isEditing"
    (dragstart)="dragStart($event, i)"
    (dragover)="dragOver($event, i)"
    (drop)="drop($event)"
  >
  </dt-aspect-box>
</div>
<dt-button *ngIf="showAddButton" [disabled]="readonly" [maxWidth]="true" class="add-button" icon="add" (click)="!readonly && addItem()" i18n
  >Hinzufügen</dt-button
>
