<div class="settings-container" *ngIf="!fullscreenRef">
  <dt-button type="raised-less" (click)="toggleFullScreen()" i18n>Vollbildmodus</dt-button>
  <dt-select
    *dtProjectMode="['educational', 'professional']"
    [selectedOptions]="highlightInfluenceFactorId"
    (selectedOptionsChange)="changeHighlightedInfluenceFactor($event)"
  >
    <dt-select-label i18n>Einflussfaktor</dt-select-label>
    <dt-select-option [value]="-1">—</dt-select-option>
    <dt-select-option *ngFor="let influenceFactor of influenceFactorOptions; let i = index" [value]="i">{{
      influenceFactor | influenceFactorName
    }}</dt-select-option>
  </dt-select>
  <dt-select [(selectedOptions)]="showDominanceRelationships" (selectedOptionsChange)="onChange()">
    <dt-select-label i18n>Dominanzen</dt-select-label>
    <dt-select-option [value]="true" i18n>anzeigen</dt-select-option>
    <dt-select-option [value]="false" i18n>verbergen</dt-select-option>
  </dt-select>
  <dt-select [(selectedOptions)]="colorOutcomes">
    <dt-select-label i18n>Einfärbung</dt-select-label>
    <dt-select-option [value]="true" i18n>aktiv</dt-select-option>
    <dt-select-option [value]="false" i18n>inaktiv</dt-select-option>
  </dt-select>
  <dt-select [(selectedOptions)]="smallBoxHeight">
    <dt-select-label i18n>Skalierung</dt-select-label>
    <dt-select-option [value]="false" i18n>normal</dt-select-option>
    <dt-select-option [value]="true" i18n>kompakt</dt-select-option>
  </dt-select>
</div>

<div
  class="matrix-layout-container"
  [class.without-add-buttons]="!decisionData.isProfessional()"
  [class.with-add-buttons]="decisionData.isProfessional()"
  [class.fullscreen]="fullscreenRef"
  [class.unguided]="decisionData.isProfessional()"
  [class.compact]="smallBoxHeight"
>
  <div
    class="matrix-explainable-container"
    dtExplainable
    [triggerAnchor]="'middle'"
    [explainable]="decisionData.isProfessional() && !fullscreenRef"
    [explanationTrigger]="explanationTrigger"
  >
    <div
      #matrixContainer
      [dtScrollbar]="matrixContainer"
      #matrixContainerScrollbars="dtScrollbar"
      class="matrix-container mat-elevation-z5"
      [dtWidthTrigger]="{ 'scroll-snap': 500, 'no-scroll-snap': 330 }"
      cdk-scrollable
    >
      <div
        *ngIf="highlightObjectives"
        class="highlight objectives"
        [style.right.px]="matrixContainerScrollbars.widthOfVerticalScrollbar"
      ></div>
      <div
        *ngIf="highlightAlternatives"
        class="highlight alternatives"
        [style.bottom.px]="matrixContainerScrollbars.heightOfHorizontalScrollbar"
      ></div>
      <div
        *ngIf="highlightCells"
        class="highlight cells"
        [style.right.px]="matrixContainerScrollbars.widthOfVerticalScrollbar"
        [style.bottom.px]="matrixContainerScrollbars.heightOfHorizontalScrollbar"
      ></div>

      <!-- left column, alternatives -->
      <div class="left-column">
        <!-- top left corner -->
        <div class="header-row">
          <div class="box root-box">
            <dt-button (click)="excelExport()" icon="cloud_sync" iconPosition="left" type="raised-less" i18n>Excel</dt-button>
            <div class="alternative-text" i18n>Alternativen</div>
            <div class="objective-text" i18n>Ziele</div>
            <button *ngIf="fullscreenRef" mat-mini-fab class="close-fullscreen-button" (click)="toggleFullScreen()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>

        <!-- left header column -->
        <div
          *ngFor="let alternative of decisionData.alternatives; let i = index"
          #alternativeBox
          class="box"
          matRipple
          [matRippleDisabled]="!isDominated(alternative)"
          [class.dominated]="isDominated(alternative)"
          (click)="isDominated(alternative) && (highlightedDominatedAlternative ? hideDominanceDetails() : showDominanceDetails(i))"
          data-cy="alternative-box"
        >
          <ng-template #alternativeActions>
            <div class="matrix-alternative-actions-wrapper" [class.compact]="smallBoxHeight">
              <button
                class="matrix-popover-button matrix-alternative-actions mat-elevation-z1"
                [matTooltip]="decisionData.alternatives.length <= 2 ? 'Es müssen mindestens zwei Alternativen definiert sein' : null"
                [matTooltipPosition]="'left'"
                [disabled]="decisionData.alternatives.length <= 2"
                data-cy="delete-alternative-button"
                [class.disabled]="decisionData.alternatives.length <= 2"
                i18n-matTooltip
                matTooltip="Alternative löschen"
                *ngIf="extendable || highlightedDominatedAlternative === alternative"
                matRipple
                (click)="$event.stopPropagation(); deleteAlternative(i)"
                [class.disabled]="decisionData.alternatives.length <= 2"
                [class.guided]="!decisionData.isProfessional()"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                *ngIf="teamTrait?.isOtherUsersProject"
                (click)="$event.stopPropagation(); transferMatrixRowOrColumnToMe(alternativeBox, alternative)"
                class="matrix-popover-button matrix-alternative-actions mat-elevation-z1"
                color="accent"
                matRipple
              >
                <mat-icon>publish</mat-icon>
              </button>
            </div>
          </ng-template>
          <div class="header-wrapper">
            <!-- caption -->
            <div class="alternative-name-wrapper">
              <div class="alternative-name" #alternativeName [class.faded-out]="isAlternativeFadedOut(i)">
                <dt-impact-matrix-name-field
                  #alternativeNameField
                  [editable]="extendable"
                  [disabled]="isAlternativeFadedOut(i)"
                  [(name)]="alternative.name"
                  [defaultName]="defaultAlternativeName(i)"
                  [dtHoverPopover]="alternativeActions"
                  [dtHoverPopoverPosition]="'left'"
                  [dtHoverPopoverDelay]="300"
                  [dtHoverPopoverRepositionOnScroll]="true"
                  [dtHoverPopoverDisableClick]="true"
                  [dtHoverPopoverDisableAnimation]="true"
                  data-cy="alternative-name-field"
                >
                </dt-impact-matrix-name-field>
              </div>
            </div>

            <dt-note-btn [(comment)]="alternative.comment" [caption]="alternative.name | noteBtnPreset : 'alternative'">
              <dt-team-comments additional-modal-content [object]="alternative"></dt-team-comments>
            </dt-note-btn>

            <mat-icon *ngIf="isDominated(alternative)" class="domination-icon small-icon">{{
              highlightedDominatedAlternative === alternative ? 'highlight_off' : 'info'
            }}</mat-icon>
          </div>
        </div>
      </div>

      <!-- right column, objectives and matrix fields -->
      <div class="right-column">
        <!-- right header row -->
        <div class="header-row" [class.highlighted]="highlightObjectives">
          <div
            *ngFor="let ziel of decisionData.objectives; let i = index"
            #objectiveBox
            class="box"
            [dtHoverPopover]="objectiveActions"
            [dtHoverPopoverPosition]="'top'"
            [dtHoverPopoverDelay]="300"
            [dtHoverPopoverRepositionOnScroll]="true"
            [dtHoverPopoverDisableClick]="true"
            [dtHoverPopoverDisableAnimation]="true"
            data-cy="objective-actions"
          >
            <ng-template #objectiveActions class="mat-elevation-z1">
              <div class="matrix-objective-actions-wrapper">
                <button
                  class="matrix-popover-button matrix-objective-actions"
                  matRipple
                  (click)="openScaleEditor(i)"
                  i18n-matTooltip
                  matTooltip="Messskala auswählen"
                >
                  <mat-icon>straighten</mat-icon>
                </button>
                <button
                  class="matrix-popover-button matrix-objective-actions"
                  matRipple
                  (click)="openCopyScale(i)"
                  i18n-matTooltip
                  matTooltip="Skala zu anderen Zielen kopieren"
                >
                  <mat-icon>content_copy</mat-icon>
                </button>
                <button
                  class="matrix-popover-button matrix-objective-actions"
                  [type]="'button'"
                  (click)="deleteObjective(i)"
                  [matTooltip]="decisionData.objectives.length <= 1 ? 'Es muss mindestens ein Ziel definiert sein' : null"
                  [disabled]="decisionData.objectives.length <= 1"
                  data-cy="delete-objective-button"
                  [class.disabled]="decisionData.objectives.length <= 1"
                  *ngIf="extendable"
                  matRipple
                  i18n-matTooltip
                  matTooltip="Ziel löschen"
                >
                  <mat-icon>delete</mat-icon>
                </button>
                <button
                  *ngIf="teamTrait?.isOtherUsersProject"
                  (click)="transferMatrixRowOrColumnToMe(objectiveBox, ziel)"
                  class="matrix-popover-button matrix-objective-actions"
                  color="accent"
                  matRipple
                >
                  <mat-icon>publish</mat-icon>
                </button>
              </div>
            </ng-template>

            <div class="header-wrapper">
              <dt-impact-matrix-name-field
                #objectiveNameField
                [editable]="extendable"
                [light]="false"
                [(name)]="decisionData.objectives[i].name"
                [defaultName]="defaultObjectiveName(i)"
                data-cy="objective-name-field"
              >
              </dt-impact-matrix-name-field>

              <!-- info about scale -->
              <div class="alternative-scale-info">
                <span class="ellipsis" (click)="openScaleEditor(i)">
                  <ng-container *ngIf="ziel.isNumerical" i18n>
                    Numerische Skala von {{ ziel.zielNumerisch.von }} bis {{ ziel.zielNumerisch.bis }} {{ ziel.zielNumerisch.einheit }}
                  </ng-container>
                  <ng-container *ngIf="ziel.isVerbal" i18n>
                    Verbale Skala
                    <ng-container *ngIf="ziel.zielVerbal.optionen">
                      von "{{ ziel.zielVerbal.optionen[0] }} " bis "{{ ziel.zielVerbal.optionen[ziel.zielVerbal.optionen.length - 1] }}"
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="ziel.isIndicator" i18n>
                    Indikatorskala von {{ ziel.zielIndicator.worstValue | safeNumber : '?' : '1.0-2' }} bis
                    {{ ziel.zielIndicator.bestValue | safeNumber : '?' : '1.0-2' }}
                    {{ ziel.zielIndicator.aggregatedUnit }}
                  </ng-container>
                </span>
              </div>

              <!-- Notizen -->
              <dt-note-btn [darkBackground]="true" [(comment)]="ziel.comment" [caption]="ziel.name | noteBtnPreset : 'objective'">
                <dt-team-comments additional-modal-content [object]="ziel"></dt-team-comments>
              </dt-note-btn>
            </div>
          </div>
        </div>

        <!-- matrix-fields -->
        <!-- Add a row for every alternative -->
        <div class="content-row" *ngFor="let alternative of decisionData.alternatives; let i = index" data-cy="outcomes">
          <!-- Add a column for every objective -->
          <div
            *ngFor="let objective of decisionData.objectives; let j = index"
            class="box"
            [class.dominated]="isDominated(alternative)"
            [class.dominating]="isDominating(alternative)"
          >
            <div class="field-wrapper">
              <dt-impact-matrix-field
                #matrixField
                *ngIf="lazyAlternative > i && lazyObjective > j"
                [objective]="objective"
                [alternative]="alternative"
                [outcome]="decisionData.outcomes[i][j]"
                [colorOutcomes]="colorOutcomes"
                [class.faded-out]="isOutcomeFadedOut(i, j)"
                [class.highlighted]="isOutcomeHighlighted(i, j)"
                (matrixFieldChange)="onChange()"
                (isValueValidChange)="onOutcomeValidChange(i, j, $event)"
                (influenceFactorModified)="onInfluenceFactorModified($event)"
                (dragstart)="dragField($event, j, i)"
                (drop)="dropOnField(matrixField, $event, j, i)"
                (dragend)="clearDragData()"
                (dtDirectEvent)="dragEnterField($event, matrixField, j, i)"
                (dtDirectEvent2)="dragOverField($event, j, i)"
                (dtDirectEvent3)="dragLeaveField($event, matrixField, j, i)"
                [event]="['dragenter', 'dragover', 'dragleave']"
              >
              </dt-impact-matrix-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="extendable && !fullscreenRef" class="add-objective">
    <button (click)="addObjective()" mat-icon-button data-cy="add-objective-button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngIf="extendable && !fullscreenRef" class="add-alternative">
    <button (click)="addAlternative()" mat-icon-button data-cy="add-alternative-button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<p
  *ngIf="highlightedDominatedAlternative != null"
  class="domination-legend dt-limit-width"
  [class.professional]="decisionData.isProfessional()"
>
  <ng-container *ngIf="!hasIndicatorObjective; else hasIndicatorObjs" i18n>
    Alternativen, welche die ausgewählte Alternative dominieren, sind <span class="dominating">blau</span> markiert.
  </ng-container>
  <ng-template #hasIndicatorObjs i18n>
    Alternativen, welche die ausgewählte Alternative dominieren, sind
    <span class="dominating">grau</span> markiert.<br />
  </ng-template>
</p>

<dt-explanation-simple-open-button
  dtExplanationTrigger
  #explanationTrigger="explanationTrigger"
  #stepToExplainMenuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="stepToExplainMenu"
  [style.zIndex]="1050"
  (explain)="stepToExplainMenuTrigger.openMenu()"
></dt-explanation-simple-open-button>
<mat-menu #stepToExplainMenu="matMenu" xPosition="before">
  <span>
    <button
      mat-menu-item
      (click)="explainObjectivesStep()"
      (mouseenter)="highlightObjectives = true"
      (mouseleave)="highlightObjectives = false"
    >
      <mat-icon>track_changes</mat-icon>
      <span i18n>Ziele</span>
    </button>
    <button
      mat-menu-item
      (click)="explainAlternativesSteps()"
      (mouseenter)="highlightAlternatives = true"
      (mouseleave)="highlightAlternatives = false"
    >
      <mat-icon>alt_route</mat-icon>
      <span i18n>Alternativen</span>
    </button>
    <button
      *ngIf="extendable"
      mat-menu-item
      (mouseenter)="highlightCells = true"
      (mouseleave)="highlightCells = false"
      (click)="explainImpactModel()"
    >
      <mat-icon>view_comfy</mat-icon>
      <span i18n>Wirkungsmodell</span>
    </button>
  </span>
</mat-menu>

<dt-modal
  *ngIf="dragConfirmation"
  #modalDragDrop
  [opened]="true"
  [disableClose]="true"
  [showFooter]="true"
  (modalClose)="dragConfirmation = undefined"
>
  <ng-template #title i18n>Wirkungsprognose kopieren</ng-template>

  <ng-template #content>
    <div class="dragconfirm-modal-content">
      <p i18n>
        Willst Du die Wirkungsprognose für die Alternative &bdquo;{{
          decisionData.alternatives[dragConfirmation.to.alternative].name
        }}&ldquo; im Ziel &bdquo;{{ decisionData.objectives[dragConfirmation.to.objective].name }}&ldquo; wirklich durch die
        Wirkungsprognose der Alternative &bdquo;{{ decisionData.alternatives[dragConfirmation.from.alternative].name }}&ldquo; ersetzen?</p
      >
      <mat-checkbox [(ngModel)]="ImpactMatrixComponent.doNotAskDragConfirmation">Nicht erneut fragen</mat-checkbox>
    </div>
  </ng-template>

  <ng-template #footer>
    <dt-button (click)="confirmDragDrop(dragConfirmation.from, dragConfirmation.to, dragConfirmation.toElement)" i18n> Ja</dt-button>
    <dt-button (click)="modalDragDrop.close()" i18n>Nein</dt-button>
  </ng-template>
</dt-modal>
