@use '@angular/material' as mat;
@use 'variables' as dt;
@use 'sass:math';

$cell-width: 200px;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;
  background-color: white;
}

.settings-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  align-self: end;
}

.matrix-layout-container {
  display: grid;

  flex: 1;
  min-height: 0;

  &.unguided {
    margin-bottom: -20px;
  }

  &.without-add-buttons {
    grid-template-areas: 'M';

    grid-template-rows: minmax(0, min-content);
  }

  &.with-add-buttons {
    grid-template-areas:
      'M O'
      'A .';

    grid-template-rows: minmax(0, min-content) min-content;
    margin-right: -40px;

    &.fullscreen {
      margin: 0px;
    }
  }

  .matrix-explainable-container {
    display: flex;

    grid-area: M;

    min-height: 221px;
    min-width: 0;

    .matrix-container {
      display: flex;
      align-items: flex-start;
      flex-grow: 1;

      overflow: auto;

      .highlight {
        position: absolute;
        z-index: 102;
        border: 2px solid dt.$orange;

        &.alternatives {
          width: 200px;
          top: 125px;
        }

        &.objectives {
          height: 125px;
          left: 200px;
        }

        &.cells {
          left: 200px;
          top: 125px;
        }
      }

      &.scroll-snap:not(.no-scroll-snap) {
        scroll-snap-type: x mandatory;
      }
    }
  }

  .add-alternative,
  .add-objective {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .add-objective {
    grid-area: O;
    height: 133px;
  }

  .add-alternative {
    grid-area: A;
    width: $cell-width;
  }
}

.domination-legend {
  padding: 10px 16px;
  text-align: center;

  &.professional {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  span {
    padding: 2px 6px;
    color: white;
  }
}

.header-row,
.content-row {
  display: flex;
}

.box {
  height: 89px;
  min-width: $cell-width;
  width: $cell-width;

  border-right: 1px solid dt.$blue-darken-3;
  border-bottom: 1px solid #e8dac9;
}

.content-row .box {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-margin-left: min(max(calc(50vw - 40px), 150px), 200px);
  scroll-margin-top: 118px;
}

.content-row .box:not(.dominated):last-child {
  border-right: none;
}

.right-column .header-row .box:last-child {
  border-right: none;
}

.content-row:last-child .box,
.left-column > .box:last-child {
  border-bottom: none;
}

$dominated-border: 2px solid dt.$crimson-red;
.box.dominated {
  border-top: $dominated-border;
  border-bottom: $dominated-border;

  &:last-child {
    border-right: $dominated-border;
  }
}

.left-column {
  position: sticky;
  left: 0;
  z-index: 101;
  background-color: dt.$alternative;
  max-width: max(calc(50vw - 40px), 150px);

  .box {
    min-width: 150px;
    max-width: 100%;
  }
}

.left-column .box.dominated {
  border-left: $dominated-border;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.dominating {
  background-color: dt.$blue-lighten-5;
}

.field-wrapper,
.header-wrapper {
  height: 100%;
  width: 100%;
  text-align: center;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 5px 0 5px;

  dt-impact-matrix-name-field {
    display: block;
    padding: 0 5px;
  }
}

.left-column .header-wrapper {
  justify-content: center;
}

.right-column .header-wrapper {
  justify-content: space-between;
  flex-direction: column;
}

.header-row {
  position: sticky;
  top: 0;
  z-index: 100;

  .header-wrapper {
    background-color: dt.$objective;
    color: white;
  }

  .box {
    // padding top + name + scale + padding bottom
    height: calc(10px + 54px + 32px + 10px + 19px);

    border-bottom: none;
  }

  dt-button {
    height: 1.2rem;
  }
}

.domination-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: dt.$orange;
}

mat-icon.small-icon {
  font-size: inherit;
  width: 1em;
  height: 1em;
}

.alternative-name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .alternative-name {
    width: 100%;
  }
}

.alternative-scale-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alternative-scale-info {
  position: relative;
  font-size: dt.font-size(caption);
  line-height: 1.2;
  margin-bottom: 3px;
  height: 30px;

  &:hover {
    color: dt.$orange;
  }

  .ellipsis {
    -webkit-line-clamp: 2;
    cursor: pointer;
  }
}

// https://css-tricks.com/almanac/properties/l/line-clamp/
// This is supported by most modern browsers, in other browsers the text will just cut out.
.ellipsis {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

dt-impact-matrix-field {
  display: block;
  height: 100%;

  &.faded-out {
    opacity: 0.2;
    cursor: default;
    pointer-events: none;
  }

  &.highlighted {
    outline: 2px solid gray;
  }
}

:host ::ng-deep .impact-drag-over {
  outline: 2px solid dt.$blue;
}

.dragconfirm-modal-content {
  padding: 8px 0;
}

.box.root-box {
  background-color: white;
  position: relative;
  font-weight: bold;

  .alternative-text {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .objective-text {
    position: absolute;
    top: 0;
    right: 0;
  }

  .alternative-text,
  .objective-text {
    padding: 8px;
  }

  .close-fullscreen-button {
    position: absolute;
    top: 8px;
    left: 8px;
  }

  dt-button {
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.matrix-objective-actions-wrapper {
  display: flex;
  width: 199px;
}

.matrix-alternative-actions-wrapper {
  display: flex;
  flex-direction: column;
  height: 89px;
  &.compact {
    height: 70px;
  }
}

.matrix-popover-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: dt.$orange;
  height: 30px;

  &.matrix-alternative-actions {
    width: 30px;
    height: 100%;

    & + & {
      border-top: 1px solid white;
    }

    &:first-of-type {
      border-top-left-radius: 4px;
    }

    &:last-of-type {
      border-bottom-left-radius: 4px;
    }

    &.guided {
      @media (max-width: 800px) {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  &.matrix-objective-actions {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    & + & {
      border-left: 1px solid white;
    }

    &:first-of-type {
      border-top-left-radius: 4px;
    }

    &:last-of-type {
      border-top-right-radius: 4px;
    }
  }

  &.disabled {
    background-color: #cfd1d2;
    color: rgba(0, 0, 0, 0.26);
  }
}

.compact {
  .matrix-explainable-container {
    min-height: 194px;

    .matrix-container {
      .highlight {
        &.alternatives {
          width: 200px;
          top: 106px;
        }

        &.objectives {
          height: 106px;
          left: 200px;
        }

        &.cells {
          left: 200px;
          top: 106px;
        }
      }
    }
  }

  .add-objective {
    height: 106px;
  }

  .box {
    height: 70px;
  }

  .header-row .box {
    height: calc(10px + 54px + 32px + 10px);
  }
}
