<div
  class="field-container"
  [class.show-invalid]="!isValueValid"
  [style.background-image]="colorOutcomes ? backgroundImage : undefined"
  [draggable]="draggable"
>
  <button
    *ngIf="teamTrait?.isOtherUsersProject"
    mat-icon-button
    #me="dtElementRef"
    dtElementRef
    (click)="transferOutcomeToMe(me)"
    class="transfer-button"
    color="accent"
  >
    <mat-icon>publish</mat-icon>
  </button>

  <!-- Wrap everything into a div to make the buttons go to the bottom -->
  <div class="input-wrapper">
    <!-- numerisches objective -->
    <div *ngIf="objective.isNumerical">
      <ng-container *ngIf="!outcome.unsicherheitsfaktor; else numDisplayOnly">
        <div class="input-numerisch">
          <input
            [min]="numericalScaleMin"
            [max]="numericalScaleMax"
            step="any"
            placeholder="?"
            type="number"
            [(ngModel)]="outcome.values[0]"
            [class.invalid]="numericalScaleMin > outcome.values[0] || numericalScaleMax < outcome.values[0]"
            (input)="onChange()"
            [class.text-right]="objective.numericalData.unit"
            required
            (mouseenter)="draggable = false"
            (mouseleave)="draggable = true"
          />
          <span
            title="{{ objective.numericalData.unit }}"
            class="input-einheit truncate-text"
            [class.input-einheit-simple]="decisionData.projectMode === 'starter' && objective.numericalData.unit"
          >
            <ng-container *ngIf="objective.numericalData.unit">&nbsp;{{ objective.numericalData.unit }}</ng-container>
          </span>
        </div>
      </ng-container>

      <ng-template #numDisplayOnly>
        <div (click)="openForecastModal()" class="value-numerisch-wrapper input-numerisch" title="{{ fulltext }}">
          <span class="truncate-text-numerical-indicator">
            <ng-container *ngIf="isValueValid; else invalidValue">
              <span class="limited-box small-box">{{ min }}</span>
              <ng-container *ngIf="min !== max">
                <span class="limited-box no-shrink"><ng-container i18n>bis</ng-container></span>
                <span class="limited-box small-box">{{ max }}</span>
              </ng-container>
            </ng-container>
          </span>
          <span class="input-einheit truncate-text">
            <ng-container *ngIf="objective.numericalData.unit">&nbsp;{{ objective.numericalData.unit }}</ng-container>
          </span>
        </div>
        <div *ngIf="outcome.influenceFactor" class="uf-name">
          <div class="truncate-text" [attr.title]="outcome.influenceFactor | influenceFactorName">
            ({{ outcome.influenceFactor | influenceFactorName }})
          </div>
        </div>
      </ng-template>
    </div>

    <!-- verbales objective -->
    <div *ngIf="objective.isVerbal">
      <ng-container *ngIf="!outcome.influenceFactor; else verbDisplayOnly">
        <div class="input-verbal">
          <mat-select [(ngModel)]="outcome.values[0]" (ngModelChange)="onChange()" placeholder="?" i18n-placeholder>
            <mat-select-trigger>
              <span
                title="{{
                  outcome.values[0] !== undefined ? objective.verbalData.options[$any(outcome.values[0]) - 1] : 'Ausprägung wählen'
                }}"
                i18n-title
                >{{ outcome.values[0] !== undefined ? objective.verbalData.options[$any(outcome.values[0]) - 1] : '?' }}</span
              >
            </mat-select-trigger>
            <mat-option *ngFor="let option of objective.verbalData.options; let j = index" [value]="j + 1">{{ option }}</mat-option>
          </mat-select>
        </div>
      </ng-container>

      <ng-template #verbDisplayOnly>
        <div (click)="openForecastModal()" class="value-verbal">
          <div class="truncate-text" title="{{ text }}">
            <ng-container *ngIf="isValueValid; else invalidValue">
              <span class="limited-box big-box">{{ min }}</span>
              <ng-container *ngIf="min !== max">
                <span class="limited-box"><ng-container i18n>bis</ng-container></span>
                <span class="limited-box big-box">{{ max }}</span>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div *ngIf="outcome.influenceFactor" class="uf-name">
          <div class="truncate-text" [attr.title]="outcome.influenceFactor | influenceFactorName">
            ({{ outcome.influenceFactor | influenceFactorName }})
          </div>
        </div>
      </ng-template>
    </div>

    <!-- Indikator objective -->
    <div *ngIf="objective.isIndicator">
      <div class="value-indicator" [class.without-unit]="!objective.indicatorData.aggregatedUnit" (click)="openForecastModal()">
        <div class="truncate-text container-value-indicator" title="{{ fulltext }}">
          <ng-container *ngIf="isValueValid; else invalidValue">
            <span class="truncate-text-numerical-indicator">
              <span class="limited-box">{{ min }}</span>
              <ng-container *ngIf="min !== max">
                <span class="limited-box no-shrink"><ng-container i18n>bis</ng-container></span>
                <span class="limited-box small-box">{{ max }}</span>
              </ng-container>
            </span>
            <span *ngIf="objective.indicatorData.aggregatedUnit" class="limited-box">{{ objective.indicatorData.aggregatedUnit }}</span>
          </ng-container>
        </div>
      </div>
      <div *ngIf="outcome.influenceFactor" class="uf-name">
        <div class="truncate-text" [attr.title]="outcome.influenceFactor | influenceFactorName">
          ({{ outcome.influenceFactor | influenceFactorName }})
        </div>
      </div>
    </div>
  </div>

  <ng-container *dtProjectMode="['educational', 'professional']">
    <button mat-icon-button (click)="openForecastModal(2)" class="uf-button" title="Eingabefenster öffnen" i18n-title>
      <mat-icon>equalizer</mat-icon>
    </button>
  </ng-container>

  <dt-note-btn
    [(comment)]="outcome.comment"
    [caption]="{ objective: objective.name, alternative: alternative.name } | noteBtnPreset : 'outcome'"
  >
    <dt-team-comments additional-modal-content [object]="outcome"></dt-team-comments>
  </dt-note-btn>

  <ng-template #invalidValue>?</ng-template>
</div>
