@use '@angular/material' as mat;
@use 'variables' as dt;

.field-container {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  font-size: dt.font-size(caption);
  padding: 0 12px;
}

.field-container.show-invalid {
  background-color: rgba(248, 147, 30, 0.3);
}

.input-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

input {
  color: inherit;
}

input::placeholder {
  color: #000000;
  opacity: 1;
}

input:focus::placeholder {
  // hide placeholder on focus
  color: transparent;
}

.uf-button {
  opacity: 0.65;
  transition: opacity 300ms;

  &:hover {
    opacity: 1;
  }
}

.field-container input {
  box-shadow: none;
  height: 2em;
  margin: 0;
  text-align: inherit;

  &.text-right {
    text-align: right;
  }

  &:not(.invalid) {
    border-bottom: 1px solid transparent;
  }
}

.field-container:hover input {
  border-bottom: 1px solid #777777;
}

.input-numerisch,
.input-verbal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2em;
  margin: auto auto auto 0;
}

input {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-einheit {
  padding-left: 6px;
}

.input-numerisch {
  color: inherit;
  line-height: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline;

  input {
    max-width: 80px;
  }

  .input-einheit-simple {
    margin-right: 20px !important;
  }
}

.value-numerisch-wrapper,
.value-verbal,
.value-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 2em;
  line-height: 2;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.value-indicator.without-unit .truncate-text-numerical-indicator {
  justify-content: center;
}

.input-verbal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    cursor: pointer;
  }

  ::ng-deep {
    .mat-select-arrow-wrapper {
      display: none;
    }

    .mat-select-trigger {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.uf-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 4px 11px 4px;
  font-size: dt.font-size(caption);
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container-value-indicator {
  display: flex;
  justify-content: center;
}

.truncate-text-numerical-indicator {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 80px;
}

.no-shrink {
  flex-shrink: 0;
}

.limited-box {
  margin: 0 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.small-box {
  max-width: 32px;
}

.big-box {
  max-width: 50px;
}

.field-container:hover .transfer-button {
  display: block;
}

.transfer-button {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;

  z-index: 1;
}
