<dt-extendable-header i18n-headerName variation="large" headerName="Wann sich natürlich-numerische Skalen eignen" [initialOpening]="true">
  <p i18n>
    Manchmal geht aus der Formulierung eines Fundamentalziels schon eindeutig hervor, dass dieses Ziel auf einer bestimmten numerischen
    Skala zu messen ist. So werden z.B. rein monetäre Ziele als Geldbeträge logischerweise in der jeweiligen Währung gemessen. Bei diesen
    und
    <span class="hover-text" [dtHoverPopoverPosition]="'bottom'" [dtHoverPopoverDelay]="200" [dtHoverPopover]="noteHover1"
      >vergleichbaren Beispielen</span
    >
    sprechen wir von Zielen mit natürlich-numerischen Skalen. Für jede natürlich-numerische Skala ist dann lediglich durch einen minimalen
    und einen maximalen Wert eine Bandbreite möglicher Ergebnisausprägungen anzugeben. Zusätzlich sollte aus Transparenzgründen die
    numerische Angabe mit der jeweiligen Einheit verknüpft sein, z. B. €, $, %, Stunden, km, l/km, etc.
  </p>
  <ng-template #noteHover1>
    <dt-note-hover>
      <p i18n> Zeiträume (min oder h), Entfernungen und Größen (cm, m, km…), Geschwindigkeit (km/h), Prozentangaben (%)... </p>
    </dt-note-hover>
  </ng-template>
</dt-extendable-header>
<dt-extendable-header i18n-headerName variation="large" headerName="Zur Definition von künstlichen Skalen">
  <p i18n> Gibt es für ein Ziel keine natürlich-numerische Skala, so kommen drei verschiedene künstliche Skalen in Frage. </p>
  <p i18n>
    Eine erste Möglichkeit ist eine numerische Skala, die sich auf eine künstliche Maßeinheit, wie z. B. Punkte oder Schulnoten bezieht.
    Eine solche Messung ist grundsätzlich immer möglich, sie ist allerdings relativ pauschal und deshalb angreifbar, wenn sie nicht noch
    genauer konkretisiert wird. Wenn Du eine solche Skala wählst, überlege Dir also zumindest für die minimale und maximale Ausprägung,
    welchen Erfüllungsgrad des Ziels Du genau mit der Zahl meinst und notiere dies möglichst konkret als Erläuterung in der Definition
    <span
      class="hover-text"
      [dtHoverPopoverDisableClick]="true"
      [dtHoverPopoverPosition]="'bottom'"
      [dtHoverPopoverDelay]="500"
      [dtHoverPopover]="noteHover2"
      >(Beispiel)</span
    >. Solltest Du die vordefinierte Sieben-Punkte-Default-Skala verwenden wollen, ergänze zumindest die Beschreibungen der Randpunkte.
  </p>
  <p i18n>
    Eine zweite Möglichkeit ist eine verbale Skala, bei der nur eine geringe Anzahl von möglichen Ergebnisausprägungen (z.B. 3 bis 7)
    vorgesehen ist, dafür aber jede einzelne Ergebnisausprägung verbal in Kurzform beschrieben wird. Im einfachsten Fall sind diese
    Kurzbeschreibungen allgemeine Charakterisierungen wie z.B. von „schlecht“ bis „gut“ oder von „gering“ bis „hoch“, wobei durch Zusätze
    wie „sehr schlecht“ oder „eher schlecht“ Differenzierungen möglich sind. Allerdings ist eine solch einfache Skala ähnlich pauschal und
    angreifbar wie eine einfache künstlich-numerische Skala. Insofern sollte bei einer verbalen Skala versucht werden, die Beschreibungen
    zielspezifisch konkreter zu formulieren, wobei auch für jede Abstufung ein Erläuterungsfeld zur Verfügung steht.
  </p>
  <p i18n>
    Die dritte und aufwändigste Möglichkeit ist die Konstruktion einer neuen künstlichen Skala auf der Basis von mehreren numerischen
    Indikatoren, die gewichtet zu einer neuen Skala zusammengefügt werden. Hierzu muss aber vorausgesetzt werden, dass im Hinblick auf die
    Nutzenbewertung im Fundamentalziel ein Weniger in einem Indikator durch ein Mehr in einem anderen Indikator in einem konstant
    proportionalen Verhältnis ausgeglichen werden kann. Ist dies nicht der Fall, so ist diese Form der Messung angreifbar und es sollte
    lieber eine verbale oder einfache künstlich-numerische Skala gewählt werden, in der aber die unterschiedlichen Ergebnisausprägungen
    detailliert beschrieben werden.
  </p>
  <ng-template #noteHover2>
    <dt-note-hover>
      <p i18n>
        Ziele wie "Spaß an der Arbeit" oder "Attraktivität der Wohnsituation" könntest Du auf einer künstlichen numerischen Punktskala von
        0-10 Punkte messen. In diesem Falle solltest Du konkretisieren, was es genau bedeutet, wenn Du 0 oder 10 Punkte vergibst.
      </p>
    </dt-note-hover>
  </ng-template>
</dt-extendable-header>
<dt-extendable-header i18n-headerName variation="large" headerName="Eigene Bandbreiten bei Indikatorskalen angeben">
  <p i18n>
    Bei Indikatorskalen kannst Du bei der Aggregation zwischen der standardmäßigen additiven Zusammensetzung und der Eingabe einer
    benutzerdefinierten Formel wählen. Im Normalfall (bzw. bei der additiven Aggregation immer) wird die Bandbreite der Skala automatisch
    korrekt berechnet. In Sonderfällen kann es jedoch bei benutzerdefinierten Formeln notwendig sein, dass die Bandbreite selbst eingegeben
    werden muss.
  </p>
  <p i18n>
    Zum Hintergrund: Zur Berechnung der Bandbreiten werden standardmäßig die schlechtesten und besten Werte der möglichen
    Indikatorausprägungen herangezogen. Hast Du also beispielsweise zwei Indikatoren, die beide auf einer Skala von null bis fünf gemessen
    werden, additiv mit Ind1 + Ind2 verknüpft, wird die untere Grenze der Skala durch Addition der schlechtestmöglichen Werte der
    Indikatoren ermittelt, in diesem Falle 0 + 0 = 0. Die obere Grenze wird analog mit den bestmöglichen Werten ermittelt (5 + 5 = 10).
  </p>
  <p i18n>
    Vor allem bei multiplikativen Verknüpfungen kann es hier jedoch zu Problemen kommen. Betrachte folgendes Beispiel: Du hast zwei
    Indikatoren definiert, die jeweils auf einer Skala von -3 bis 3 gemessen werden, und diese über die Formel Ind1 x Ind2 multiplikativ
    verknüpft. Das Entscheidungsnavi würde als automatische Bandbreite eine Skala von 9 bis 9 ermitteln, da sich diese durch Multiplikation
    der schlechtesten (-3 × -3 = 9) und besten Werte (3 × 3 = 9) ergeben würde. In diesem Falle ist jedoch die Bandbreite von -9 bis 9
    korrekt, da der Wert -9 der eigentlich schlechteste ist, der erreicht werden kann (-3 × 3 = -9). Diese Bandbreite muss hier selbst
    eingetragen werden.
  </p>
  <p i18n>
    Überprüfe bei selbst definierten Formeln daher immer, ob die automatisch berechneten Bandbreiten korrekt sind und nimm ggf.
    Nachbesserungen vor.
  </p>
</dt-extendable-header>
<dt-extendable-header i18n-headerName variation="large" headerName="Typen von Indikatorskalen">
  <p i18n>
    Solltest Du ein Fundamentalziel mit einer künstlichen Skala auf der Basis von Indikatoren messen wollen, so gibt es in Abhängigkeit des
    gewählten Indikatortyps drei verschiedene Kategorien:
  </p>
  <dt-extendable-header i18n-headerName variation="small" headerName="Fundamentale Teilaspekte">
    <p i18n>
      Alle Indikatoren stellen hier fundamentale Teilaspekte des betrachteten Fundamentalziels dar. Die Teilaspekte sollten hierbei so
      formuliert sein, dass sie möglichst vollständig sind und Überschneidungen möglichst gering ausfallen
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover3"
        >(Beispiel)</span
      >. Die relative Gewichtung der einzelnen Indikatoren bei der Konstruktion der neuen künstlichen Skala solltest Du danach ausrichten,
      wie hoch der Anteil der Nutzenstiftung des jeweiligen Teilaspektes im Vergleich zur Nutzenstiftung durch die anderen Teilaspekte ist.
      Diesbezüglich zu erfragende Aussagen wären z.B. „Eine Steigerung um x Einheiten im Indikator A entspricht derselben Nutzensteigerung
      im Fundamentalziel wie eine Steigerung um y Einheiten im Indikator B“.
    </p>
    <ng-template #noteHover3>
      <dt-note-hover>
        <p i18n>
          Das Ziel „möglichst gute Fremdsprachenkenntnisse“ könnte beispielsweise mit folgenden fünf fundamentalen Teilaspekten als
          Indikatoren messbar gemacht werden:
        </p>
        <ul>
          <li i18n>Leseverständnis</li>
          <li i18n>Hörverständnis</li>
          <li i18n>Schriftliche Fähigkeit</li>
          <li i18n>Wortschatz</li>
          <li i18n>Grammatikalisches Verständnis</li>
        </ul>
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Instrumentalziele">
    <p i18n>
      In dieser Kategorie werden als Indikatoren Faktoren benannt, die für sich gesehen keinen Wert haben, aber sich deutlich positiv auf
      das betrachtete Fundamentalziel auswirken. Hierbei sollten die Indikatoren so gewählt werden, dass die wichtigsten für das Ziel
      förderlichen Faktoren erfasst sind und die Wirkungszusammenhänge möglichst wenig von weiteren, nicht berücksichtigten Faktoren
      abhängen
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover4"
        >(Beispiel)</span
      >. Die relative Gewichtung der resultierenden Indikatoren solltest Du daran ausrichten, wie bedeutend der Einfluss des
      Instrumentalzieles auf den Nutzen im betrachteten Fundamentalziel ist. Diesbezüglich zu erfragende Aussagen wären z.B. „Eine
      Steigerung um x Einheiten im Indikator A bewirkt aller Voraussicht nach dieselbe Nutzensteigerung im Fundamentalziel wie eine
      Steigerung um y Einheiten im Indikator B“.
    </p>
    <ng-template #noteHover4>
      <dt-note-hover>
        <p i18n>
          Zur Messung des Ziels „Fremdsprachenkenntnisse“ könnten beispielsweise die folgenden Instrumentalziele als Indikatoren definiert
          werden:
        </p>
        <ul>
          <li i18n>Anzahl an besuchten Sprachkurseinheiten</li>
          <li i18n>Länge entsprechender Auslandsaufenthalte</li>
          <li i18n>Dauer der Fremdsprachenschulausbildung</li>
        </ul>
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Korrelierte Skalen">
    <p i18n>
      In dieser Kategorie sind die Indikatoren weder fundamentale Teilaspekte, noch stehen sie in einem förderlichen Wirkungszusammenhang
      mit dem Fundamentalziel. Was die Skalen aus dieser Kategorie charakterisiert, sind ausschließlich sehr hohe Korrelationen, d.h. je
      besser die Ausprägung in diesen Indikatoren ist, desto besser wird in aller Regel auch das Ergebnis im Fundamentalziel sein. In aller
      Regel besteht ein Wirkungszusammenhang zwischen Indikator und Fundamentalziel, der allerdings von der Wirkungsrichtung entgegengesetzt
      zu dem bei Instrumentalzielen ist. D.h., die Indikatoren messen Ergebnisse, die für sich gesehen keinen Nutzen bringen und nur
      erreicht werden können, wenn in dem Fundamentalziel eine entsprechende Ausprägung vorliegt
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover5"
        >(Beispiel)</span
      >.
    </p>
    <ng-template #noteHover5>
      <dt-note-hover>
        <p i18n> Das Ziel „Fremdsprachenkenntnisse“ kann mit den korrelierten Skalen </p>
        <ul>
          <li i18n>Fremdsprachenabschlussnote in der Schule</li>
          <li i18n>Ergebnis eines Sprachzertifikates</li>
        </ul>
        <p i18n
          >gemessen werden. Wer gute Fremdsprachenkenntnisse hat, wird auch eine gute Note haben bzw. ein entsprechendes Zertifikat
          erhalten.</p
        >
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
</dt-extendable-header>
<dt-extendable-header i18n-headerName variation="large" headerName="Geeignete Bandbreiten finden">
  <p i18n>
    Unabhängig davon, für welche Skala Du Dich entschieden hast, musst Du Dir noch überlegen, wie Du die Bandbreite der möglichen
    Ergebnisausprägungen mit der Angabe eines schlechtesten und besten Wertes auf der Skala eingrenzt (Hintergrund: Der schlechteste Wert
    erhält immer einen Nutzenwert von 0 und der beste einen Nutzenwert von 1. Dies ist aber nur eine technische Normierung, die Dich
    eigentlich nicht interessieren muss). Wichtig ist, dass Du die Bandbreite groß genug wählst, sodass die Ausprägungen aller Alternativen
    ausnahmslos in diese Bandbreite fallen. Wähle die Bandbreite aber auch nicht unnötig groß, da dies die Qualität der folgenden Schritte
    reduzieren kann.
  </p>
</dt-extendable-header>
<dt-extendable-header i18n-headerName variation="large" headerName="Wann Du Einflussfaktoren definieren solltest">
  <p i18n>
    Wenn Du die Ergebnismatrix sukzessive mit Inhalt befüllst, wirst Du vielleicht merken, dass in manchen Matrixfeldern eine valide
    Ergebnisabschätzung schwer möglich ist, weil das Ergebnis von weiteren Faktoren oder Zuständen abhängt. In diesem Fall ist es sinnvoll,
    Einflussfaktoren explizit in das Bewertungsmodell zu integrieren, welche diese Unsicherheiten abbilden. Dadurch wird es Dir ermöglicht,
    unterschiedliche Schätzungen der Auswirkung einer Alternative in einem Ziel vorzunehmen, wenn verschiedene Zustände eintreten.
  </p>
  <p i18n>
    Die Formulierung eines Einflussfaktors erfordert zum einen eine aussagekräftige Bezeichnung sowie die Definition von mindestens zwei
    verschiedenen Zuständen. In den meisten Fällen sind diese Einflussfaktoren unsichere Umweltentwicklungen, bei denen auch
    Wahrscheinlichkeiten für die möglichen Entwicklungen (Umweltzustände) anzugeben sind
    <span
      class="hover-text"
      [dtHoverPopoverDisableClick]="true"
      [dtHoverPopoverPosition]="'bottom'"
      [dtHoverPopoverDelay]="200"
      [dtHoverPopover]="noteHover6"
      >(Beispiel)</span
    >. Es können aber auch andere Einflussfaktoren sein, wenn z.B. ein Ergebnis für unterschiedliche Zielgruppen differenziert werden soll
    und ein nach der Bedeutung der Zielgruppen gewichteter Gesamtwert gesucht ist
    <span
      class="hover-text"
      [dtHoverPopoverDisableClick]="true"
      [dtHoverPopoverPosition]="'bottom'"
      [dtHoverPopoverDelay]="200"
      [dtHoverPopover]="noteHover7"
      >(Beispiel)</span
    >. Vom Prinzip her funktioniert ein Einflussfaktor aber immer gleich: Du kannst angeben, wie eine Alternative in einem Ziel abschneidet,
    wenn verschiedene Zustände eintreten würden. Achte in allen Fällen darauf, dass Du die Zustände überschneidungsfrei und vollständig
    angibst, so dass auch die Vergabe von Wahrscheinlichkeiten bzw. der prozentualen Gewichtung fundiert möglich ist. Hast Du einen
    Einflussfaktor mit einem Matrixfeld verknüpft, so kannst Du die Ergebnisabschätzungen anschließend isoliert für jeden Zustand angeben.
  </p>
  <p i18n>
    Es ist grundsätzlich möglich, jeweils einen spezifischen Einflussfaktor pro Matrixfeld zu definieren, wobei ein Einflussfaktor auch in
    verschiedenen Matrixfeldern verwendet werden kann. Wenn Du einen Einflussfaktor für mehrere Alternativen bzw. Matrixfelder verwenden
    willst, geht dies allerdings nur, wenn neben der Formulierung der Zustände auch die entsprechenden Wahrscheinlichkeiten identisch sind.
    Ist dies nicht der Fall, musst Du spezifische Einflussfaktoren definieren und dies entsprechend in der Formulierung klarstellen.
  </p>
  <ng-template #noteHover6>
    <dt-note-hover>
      <p i18n>
        Die Wirkungsprognose im Ziel „Einkommen in den nächsten Jahren“ für eine bestimmte Alternative könnte beispielsweise abhängig sein
        von dem unsicheren Einflussfaktor „Ergebnis der nächsten Gehaltsverhandlung“ mit den folgenden Zuständen:
      </p>
      <ul>
        <li i18n>Keine Gehaltserhöhung</li>
        <li i18n>Geringe Gehaltserhöhung</li>
        <li i18n>Deutlicher Gehaltssprung</li>
      </ul>
    </dt-note-hover>
  </ng-template>
  <ng-template #noteHover7>
    <dt-note-hover>
      <p i18n>
        Möchte ein App-Entwickler mit seiner App verschiedene Zielgruppen erreichen und in jeder Zielgruppe möglichst positive Rezensionen
        erlangen, so könnte er in seinem Wirkungsmodell hinsichtlich des Ziels „Möglichst gute Rezensionen“ mit einem Einflussfaktor
        „Adressierte Zielgruppe“ und den Unterscheidungen
      </p>
      <ul>
        <li i18n>Kinder</li>
        <li i18n>Jugendliche</li>
        <li i18n>Erwachsene</li>
      </ul>
      <br />
      <p i18n>
        eine genauer Differenzierung vornehmen. Die Zuweisung von Prozentsätzen stünde dann für die Gewichtung, mit der die jeweiligen
        Ergebnisse in die Gesamtbewertung einfließen sollen. Diese Gewichtung könnte widerspiegeln, welche Zielgruppe die App wie intensiv
        nutzt.
      </p>
    </dt-note-hover>
  </ng-template>
</dt-extendable-header>
<dt-extendable-header i18n-headerName variation="large" headerName="Zum Verständnis eines Risikoprofils">
  <p i18n>
    In einem Risikoprofil wird dargestellt, wie hoch die Wahrscheinlichkeit ist, eine bestimmte Ergebnisausprägung zu überschreiten. Auf der
    x-Achse ist die (wenn ausgewählt: angepasste) Bandbreite der Zielskala abgebildet, auf der y-Achse Wahrscheinlichkeiten von 0-100%. Wenn
    Du eine Ausprägung auf der x-Achse betrachtest, bedeutet der zugehörige y-Wert, dass diese Ausprägung mit der Wahrscheinlichkeit des
    entsprechenden y-Werts überschritten werden wird.
  </p>
  <p i18n>
    Mit den Punkten im Graphen wird angezeigt, wo der Funktionswert des Risikoprofils in den Stetigkeitslücken der Funktion liegt.
  </p>
</dt-extendable-header>
<dt-extendable-header i18n-headerName variation="large" headerName="Zum Verständnis und Lesen eines Tornadodiagramms">
  <p i18n>
    Ein Tornadodiagramm kannst Du nur dann erzeugen, wenn Du ein Ziel, welches auf einer Indikatorskala gemessen wird, mit einem
    systemseitigen Einflussfaktor verknüpft hast. Mit einem Tornadodiagramm kannst Du Dir grundsätzlich visualisieren, welchen Einfluss
    Deine unsicheren Indikatoren auf das Gesamtergebnis ausüben und wie groß dieser Einfluss ist. Der empfindlichste Indikator, also
    derjenige mit dem größten Einfluss, steht als größter Balken ganz oben, derjenige mit dem zweitgrößten Einfluss darunter usw. Die Zahl
    ganz außen links an einem Tornado-Balken ist immer die schlechteste Ausprägung (Worst), die bei diesem Indikator vergeben wurde. Die mit
    dem weißen Kreis gekennzeichnete Zahl ist der „Median“-Wert und ganz außen rechts steht die beste vergebene Ausprägung (Best).
  </p>
  <p i18n>
    Prinzipiell untersuchst Du mit diesem Diagramm, wie groß das Gesamtergebnis wäre, wenn für einen Indikator die Worst-, Median-, oder
    Best-Ausprägung gelten, während die anderen Indikatoren konstant auf anderen Werten gehalten werden. Wenn Du mit der Maus über einen der
    Balken fährst, werden Dir auf Höhe der äußeren Grenzen solche entsprechende Werte für das Gesamtergebnis auf der Ergebnisskala
    angezeigt. Diese werden, je nach gewählter Variante auf die folgende Art und Weise ermittelt:
  </p>
  <ul>
    <li i18n>
      Einfach: In dieser Variante wird angenommen, dass für den Indikator, über dessen Balken mit der Maus gefahren wurde, die äußeren Werte
      gelten (je nach betrachteter Zahl auf der Ergebnisskala), während die anderen Indikatoren konstant auf ihren Median-Werten gehalten
      werden
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover18"
        >(Beispiel)</span
      >.
    </li>
    <li i18n>
      Probabilistisch: Im Gegensatz zur einfachen Variante werden anstelle der Median-Werte der anderen Indikatoren Erwartungswerte aller
      möglicher Kombinationen der Indikatorausprägungen verwendet. Es wird eine Standardnormalverteilung approximiert, sodass die
      Wahrscheinlichkeiten 25% (Worst), 50% (Medium) und 25% (Best) gelten
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover19"
        >(Beispiel)</span
      >.
    </li>
  </ul>
  <ng-template #noteHover18>
    <dt-note-hover>
      <p i18n>
        Angenommen es wurden drei gleichgewichtete Indikatoren auf Punktskalen von null bis fünf definiert. Die aggregierte Skala verläuft
        ebenfalls von null bis fünf. Die Median-Werte aller Indikatoren liegen bei drei. Nun wird mit der Maus über den Balken des ersten
        Indikators gefahren, der eine schlechtestmögliche Ausprägung von eins (Worst) hat. Auf der Ergebnisskala wird nun ein Wert von
        (1+3+3)/3 = 2,33 angezeigt.
      </p>
    </dt-note-hover>
  </ng-template>
  <ng-template #noteHover19>
    <dt-note-hover>
      <p i18n>
        Angenommen es wurden drei gleichgewichtete Indikatoren definiert. Nun wird mit der Maus über den Balken des ersten Indikators
        gefahren und auf Höhe der äußeren Grenzen werden Werte für das Gesamtergebnis angezeigt. Zustande kommen diese Werte, indem zunächst
        alle möglichen Kombinationen der anderen Indikatoren gebildet werden (Worst-Worst, Worst-Median, Worst-Best…). Für alle diese
        Kombinationen gibt es Eintrittswahrscheinlichkeiten, basierend auf den Prozentangaben der approximierten Normalverteilung (25% - 50%
        - 25%). Es wird nun ein Erwartungswert auf Basis aller möglichen Kombinationen gebildet, der in der probabilistischen Variante
        anstelle der Median-Werte aus der einfachen Version zur Berechnung der Gesamtergebnisse zugrunde gelegt wird.
      </p>
    </dt-note-hover>
  </ng-template>
</dt-extendable-header>
<dt-extendable-header
  i18n-headerName
  variation="large"
  headerName="Achte auf typische Fehler und Verzerrungen in den Wirkungsprognosen"
  [isLast]="true"
>
  <p i18n>
    Aus der psychologischen Entscheidungsforschung sind viele Gefahrenquellen für verzerrte Ergebnisschätzungen (Biasfaktoren) bekannt.
    Überprüfe, ob bei Dir möglicherweise Verzerrungen vorliegen könnten, und korrigiere ggfs. Deine Ergebnisschätzungen.
  </p>
  <dt-extendable-header i18n-headerName variation="small" headerName="Betrachte nur die Zukunft">
    <p i18n>
      Manchmal wird der Fehler gemacht, dass auch vergangene, unveränderbare Resultate in den Ergebnisschätzungen mitberücksichtigt werden.
      Dies kann zu einer falschen Entscheidung führen, wenn diese vergangenen Resultate nur bei einzelnen Alternativen mit eingerechnet
      werden und bei anderen nicht
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover8"
        >(Beispiel)</span
      >. Berücksichtige dies bitte in der Formulierung Deiner Skala und achte darauf, dass Du nur Ergebnisse misst, die Du in der Zukunft
      durch die Wahl Deiner Handlungsalternativen beeinflussen kannst.
    </p>
    <ng-template #noteHover8>
      <dt-note-hover>
        <p i18n>
          Man stelle sich eine Entscheidungssituation vor, in der zwei Projekte A und B verglichen werden sollen und als einziges
          Fundamentalziel der finanzielle Überschuss betrachtet wird. Projekt A bringt einen Gesamtüberschuss von 2.000 Euro, Projekt B
          einen von 1.500 Euro. Hiernach wäre Projekt A besser. Allerdings ergibt sich der Überschuss von B aus vergangenen,
          unwiederbringlichen Aufwendungen von 1.000 Euro und noch in der Zukunft erreichbaren Erträgen von 2.500 Euro, wenn man sich für
          das Projekt entscheidet. Die richtige Entscheidung wäre also die für das Projekt B.
        </p>
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Verlasse Dich nicht auf Deine Intuition">
    <p i18n>
      Bei der Angabe von Wahrscheinlichkeiten sind viele Entscheider zu vorschnell und lassen sich von ihrer Intuition lenken. Auch wenn
      Intuition in vielen Fällen und insbesondere bei Vorliegen einer großen Erfahrung nützlich sein kann, ist es nicht immer ein gutes
      Vorgehen, unreflektiert aus dem Bauch heraus Wahrscheinlichkeiten anzugeben. Dies gilt speziell dann, wenn die Gefahr besteht, in
      schematische Denkmuster zu verfallen. In dem in der Literatur bekannten
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover9"
        >Linda-Beispiel</span
      >
      kommt beispielsweise sehr gut zum Ausdruck, wie leicht sich die Intuition von schematischen Denkmustern in die Irre führen lässt.
      Versuche also bei der Angabe von Wahrscheinlichkeiten, möglichst objektiv und nach Faktenlage zu schätzen und nicht vorschnell
      irgendetwas als wahrscheinlich anzusehen, weil es gerade plausibel erscheint (<span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover10"
        >„Ziegenproblem“</span
      >
      als weiteres Beispiel)!
    </p>
    <ng-template #noteHover9>
      <dt-note-hover>
        <p i18n>
          Tversky und Kahneman (1983) veröffentlichten eine Untersuchung, in der sie anhand des Beispiels von „Linda der Bankangestellten“
          die Tatsache belegten, dass Menschen zu schematischem Denken neigen. Den Probanden wurde eine hypothetische Person wie folgt
          vorgestellt: „Linda ist 31 Jahre alt, sehr intelligent, und nimmt kein Blatt vor den Mund. Sie hat Philosophie studiert. Als
          Studentin hat sie sich intensiv mit Fragen sozialer Gerechtigkeit und Diskriminierung auseinandergesetzt. Außerdem hat sie an
          Anti-Kernkraft-Demonstrationen teilgenommen.“ Danach sollten die Versuchspersonen die Wahrscheinlichkeiten des Vorliegens weiterer
          Eigenschaften schätzen. Unter anderem wurden die beiden Aussagen „1. Linda ist Bankangestellte“ und „2. Linda ist Bankangestellte
          und aktiv in der Frauenbewegung“ präsentiert. Die Mehrheit der Probanden hielt hierbei die zweite Aussage für wahrscheinlicher,
          obwohl rein mathematisch eine zusätzliche Eigenschaft mit einer geringeren Wahrscheinlichkeit assoziiert werden sollte. Dies
          zeigt, dass Menschen schematisch denken, da die zweite Aussage im Kontext des eingeführten Beispiels eine höhere Plausibilität hat
          (Schema: „Wer Philosophie studiert und sich mit sozialen Fragen und Diskriminierung beschäftigt, kann auch durchaus in einer
          Frauenbewegung aktiv sein“)
        </p>
      </dt-note-hover>
    </ng-template>
    <ng-template #noteHover10>
      <dt-note-hover>
        <p i18n>
          Das unter dem Namen „Ziegenproblem“ bekannte Beispiel für Schemadenken stammt aus der amerikanischen Spielshow „Let’s make a deal“
          und zeigt, dass aus Schemata abgeleitete Entscheidungen nicht immer richtig sind. Die Spielshow gestaltet sich wie folgt: Sie sind
          in einer Spielshow und stehen vor drei verschlossenen Türen. Hinter einer Tür befindet sich ein wertvolles Auto, hinter den beiden
          anderen Ziegen. Sie dürfen nun eine Tür auswählen – sagen wir, Sie wählen die Tür 1, die aber zunächst noch nicht geöffnet wird.
          Der Moderator, der genau weiß, hinter welcher Tür das Auto steht, öffnet stattdessen die Tür 3 und es erscheint eine Ziege in
          dieser Tür 3. Auf seine Frage „Möchten Sie vielleicht jetzt doch lieber die Tür 2 wählen?“ kommen Sie ins Grübeln. Wechseln Sie
          oder nicht? Die richtige Lösung lautet „Ja, beim Wechseln erhöht sich die Gewinnchance von 1/3 auf 2/3“. Dies lässt sich mithilfe
          einer Berechnung auf der Basis von relativen Häufigkeiten begründen. Die Intuition lenkt den Menschen allerdings eher auf eine
          Fifty-Fifty-Chance beim Wechseln.
        </p>
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Vermeide Überreaktionen">
    <p i18n>
      Zu Fehleinschätzungen bei der Angabe von Wahrscheinlichkeiten kommt es häufig, wenn sich die Gedanken von Menschen auf gerade sehr
      verfügbare Informationen oder Geschehnisse konzentrieren und hierauf überreagiert wird. In der Psychologie spricht man diesbezüglich
      von einer Verfügbarkeitsheuristik
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover11"
        >(Beispiel)</span
      >. Überprüfe also, ob Du nicht gerade in einer Situation bist, in der Du von einem Ereignis oder von aktuellen Berichten zu stark
      beeinflusst wirst.
    </p>
    <ng-template #noteHover11>
      <dt-note-hover>
        <p i18n>
          Wer beispielsweise gerade von einem Flugzeugabsturz gehört hat oder umfangreiche Berichte über Flugzeugabstürze gesehen hat,
          überschätzt aufgrund der Verfügbarkeitsheuristik regelmäßig die tatsächliche Wahrscheinlichkeit für ein solches Ereignis. Erst
          wenn nach ein paar Tagen die hohe kognitive Verfügbarkeit nachlässt,werden die Schätzungen wieder objektiver.
        </p>
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Ziehe keine allgemeinen Schlüsse aus Geschichten">
    <p i18n>
      Viele Sachverhalte und Risiken werden häufig nicht in Form von Statistiken, sondern in Form von ausgewählten Geschichten oder
      Einzelschicksalen präsentiert. Je schlüssiger die Geschichte in sich ist oder je anschaulicher ein bestimmtes Einzelschicksal
      geschildert wird, desto mehr besteht die Gefahr, dass man hieraus allgemeine Schlüsse zieht. Man nennt dies den Narrative Bias
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover12"
        >(Beispiel)</span
      >. Möchtest Du also Wahrscheinlichkeitsschätzungen auf der Basis einzelner Erzählungen oder Geschichten ableiten, solltest Du Dir
      bewusst machen, dass Du das Risiko einer Verzerrung eingehst. Prüfe also, auf welcher Basis Du Deine Einschätzung abgibst. Um am
      wenigsten anfällig für Verzerrungen bei den Wahrscheinlichkeitsangaben zu sein, wählst Du ein Vorgehen, bei dem die
      Wahrscheinlichkeiten mathematisch berechnet werden. Vielleicht ist es ja möglich, Datenquellen und Statistiken zu finden, auf deren
      Basis eine Ableitung oder Abschätzung der Wahrscheinlichkeiten fundierter möglich ist.
    </p>
    <ng-template #noteHover12>
      <dt-note-hover>
        <p i18n>
          Wenn man sich beispielsweise vor einer Bali-Reise über die Nebenwirkungen der empfohlenen Tollwut-Impfung informiert, wird man
          diese Nebenwirkungen vermutlich überschätzen, wenn man im Fernsehen einen ausführlichen Bericht über das schwere Schicksal eines
          Menschen gesehen hat, der nach der Impfung schwer erkrankt ist. Da solche Geschichten für den Menschen sehr anschaulich sind,
          führen sie zu einer hohen kognitiven Verfügbarkeit und einer entsprechenden Überreaktion.
        </p>
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Unterschätze keine Randereignisse">
    <p i18n>
      Menschen neigen im Allgemeinen dazu, bei der Abschätzung von unsicheren Ergebnissen die Wahrscheinlichkeiten für die mittleren
      Ausprägungen zu hoch anzusetzen und die Wahrscheinlichkeiten der extremen Randereignisse eher zu unterschätzen. Die Gründe hierfür
      liegen insbesondere in einem Narrow Thinking, welches Menschen dabei im Wege steht, sich größere Abweichungen von dem Normalen
      vorzustellen. Als Debiasing-Instrument bietet sich in diesem Fall Time Unpacking an, bei dem man für mehrere, immer länger werdende
      Zeiträume sukzessive Prognosen angibt. Wenn Du also z. B. eine Preisentwicklung für die nächsten drei Monate abzuschätzen möchtest,
      überlegst Du Dir zunächst, wie der Preis nach einem Monat minimal und maximal ausfallen könnte. Anschließend machst Du dasselbe für
      den zweiten und letztlich auch für den dritten Monat.
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover13"
        >Studien</span
      >
      zeigen, dass mit diesen Zwischenschritten die resultierenden Schwankungsbreiten für die zu prognostizierende Größe größer und
      realistischer ausfallen als ohne diese Aufteilung.
    </p>
    <ng-template #noteHover13>
      <dt-note-hover>
        <p i18n>
          Jain, K.; Mukherjee, K.; Bearden, J. N.; Gaba, A. (2015): Unpacking the Future: A Nudge towards Wider Confidence Intervals, in:
          Journal of Consumer Research, 16(2), S. 158–174.
        </p>
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Lass Dich nicht manipulieren">
    <p i18n>
      Eigentlich ist es immer eine gute Idee, auch Informationen von Dritten in der eigenen Schätzung zu berücksichtigen. Allerdings
      solltest Du Dir immer bewusst machen, dass in einigen Veröffentlichungen Daten und Ergebnisse so aufbereitet werden, dass sie einen
      stärkeren Effekt vortäuschen als er tatsächlich vorhanden ist
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover14"
        >(Beispiel)</span
      >. Dies bedeutet nicht, dass Du niemandem mehr trauen sollst. Halte aber die Augen auf und berücksichtige bei allen Informationen die
      Interessenlage und Kompetenz der Quelle.
    </p>
    <ng-template #noteHover14>
      <dt-note-hover>
        <p i18n>
          Ein diesbezüglich bekanntes Beispiel ist die Eilnachricht, die das britische Komitee für Arzneimittelsicherheit im Oktober 1995
          herausgab: „Die Antibaby-Pillen der dritten Generation verdoppeln das Thromboserisiko, d.h. sie erhöhen es um 100%.“. Absolut
          gesehen hat sich das Thromboserisiko bei den Pillen der dritten Generation lediglich von einem Risikolevel „1 von 7000 Frauen“ auf
          „2 von 7.000 Frauen“ erhöht. Die Wahl des Bezugspunkts und die Betonung der hundertprozentigen Steigung wirkt jedoch weitaus
          drastischer.
        </p>
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Löse Dich von vorschnellen Bewertungen">
    <p i18n>
      Wer schon früh eine Vorliebe für eine bestimmte Alternative hat, läuft Gefahr, bei der Angabe der erwarteten Ergebnisse für diese
      Alternative zu positive Werte anzusetzen. Auch bei der Informationssuche beschränken sich Menschen meistens nur auf die Quellen, die
      das unterstützen, was sie ohnehin schon vorher gut finden. Man spricht in diesem Zusammenhang von dem Confirmation Bias
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover15"
        >(Beispiel)</span
      >. Solltest Du merken, dass Du von Beginn an schon bestimmte Alternativen bevorzugst, dann beschäftige Dich bitte intensiver mit
      Informationen bzw. Meinungen, die gegen diese Alternativen sprechen. Das sorgt dafür, dass Deine Einschätzung insgesamt realistischer
      wird!
    </p>
    <ng-template #noteHover15>
      <dt-note-hover>
        <p i18n>
          Hat man sich beispielsweise beim Neukauf eines Autos für eine bestimmte Marke und Ausführung entschlossen und die Bestellung
          aufgegeben, so schaut man sich in Folge kaum noch Werbeanzeigen anderer Marken an, vielmehr blättert man nur noch in dem Prospekt
          des bestellten Autos, um sich noch einmal mit allen Vorteilen zu beschäftigen.
        </p>
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Achte auf ein mögliches Commitment">
    <p i18n>
      Wenn man in einzelne Alternativen schon einiges an Arbeit, Geld oder auch nur Gehirnschmalz investiert hat, besteht die Gefahr, die
      Ergebnisse dieser Alternativen zu positiv einzuschätzen. Unbewusst spielt dabei der Gedanke eine Rolle, dass ja die schon getätigten
      Aufwendungen nicht umsonst gewesen sein sollen. Hierbei wächst die Gefahr dieses sogenannten Sunk-Cost-Effektes mit dem Commitment, d.
      h. mit der emotionalen Bindung an diese Alternative. Das Commitment ist hierbei nicht nur dann hoch, wenn man schon viel investiert
      hat, sondern auch, wenn man sich für die Ergebnisse besonders verantwortlich fühlt und wenn es sich um eine vielleicht eher
      außergewöhnliche Maßnahme handelt und nicht um etwas, was ohnehin fast jeder so machen würde. Machen Dir also zunächst bewusst, welche
      Alternativen mit einem hohen Commitment von Dir verbunden sind, und setze die Ergebnisschätzungen dieser Alternativen bewusst etwas
      konservativer an, um insgesamt ein realistisches Bild zu erhalten!
    </p>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Denke nicht nur im Erfolgsszenario">
    <p i18n>
      Wer eine Alternative selbst entwickelt und diese im Detail durchplant, macht dies natürlich, um damit Erfolg zu haben bzw. um gute
      Ergebnisse zu erzielen. In einem solchen Fall liegt ein sogenannter Inside View vor, in dem wenig Gedanken an einen Misserfolg
      verschwendet werden. Dies hat zur Folge, dass das Projekt zu optimistisch gesehen und ein Misserfolg für unwahrscheinlich erachtet
      wird. Für Dein Entscheidungsproblem bedeutet dies Folgendes: Grundsätzlich besteht die Gefahr, dass Du Alternativen, bei denen Du
      einen solchen Inside View hast, zu positiv einschätzt. Um diesbezüglich zu einer realistischen Einschätzung der Ergebnisse dieser
      Alternativen zu kommen, kann die Prospective-Hindsight-Methode empfohlen werden. Stelle Dir hierzu vor, Du würdest eine Zeitreise
      unternehmen und in dem Zeitpunkt landen, in dem Dein Projekt endgültig gescheitert ist. Blicke dann zurück, um zu analysieren, woran
      es gelegen haben könnte, und bewerte das Projekt abschließend noch einmal neu! Deine Einschätzungen werden nun vermutlich
      realistischer sein.
    </p>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Verbessere Deine Schätzung durch Dialectical Bootstrapping">
    <p i18n>
      Es ist bekannt, dass man gute Schätzungen erlangt, wenn man den Durchschnitt vieler Schätzungen, am besten von vielen verschiedenen
      Personen (Wisdom of Crowd), heranzieht
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover16"
        >(Beispiel)</span
      >. Der Grund für die hohe Qualität solcher Durchschnittswerte liegt darin, dass sich die Fehler der einzelnen Schätzungen ausmitteln.
      Und wenn, wie bei der Befragung verschiedener Personen, die Fehler in unterschiedliche Richtungen gehen, ist das Ergebnis besonders
      gut. Aber auch in dem Fall, dass gerade nicht zufällig andere Personen mitschätzen können, kann man sich helfen. So besteht die
      Methode des
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover17"
        >Dialectical Bootstrapping</span
      >
      darin, dass Schätzer aufgefordert werden, zweimal zu schätzen. Vor der zweiten Schätzung sollen dann mögliche Fehler der ersten
      Schätzung in eine Richtung durch Fehler in die entgegengesetzte Richtung ersetzt werden. Das klingt erstmal etwas kompliziert. Aber
      probiere es doch einfach mal aus! Das Consider-The-Opposite-Vorgehen kann Dir dabei helfen. Gehe hierfür erstmal davon aus, dass Deine
      erste Schätzung falsch ist! Was könnte es für Gründe dafür geben? Welche Annahmen waren vielleicht falsch? Was bedeuten diese
      Erkenntnisse für eine andere Schätzung? War die erste Schätzung eher zu hoch oder zu niedrig? Und was wäre letztlich eine alternative
      Schätzung? Aus Deinen beiden Schätzungen bildest Du dann den Mittelwert und hast vermutlich einen recht realistischen Wert. Studien
      zeigen, dass mit einer solchen Vorgehensweise ungefähr die Hälfte der Verbesserung erreicht werden kann, die man bei der Mittelung von
      Schätzungen mit einer anderen Person erreichen kann. Da diese Methode mit einem überschaubaren Aufwand verbunden ist, würde es sich
      für Dich sicherlich lohnen, dies mal auszuprobieren.
    </p>
    <ng-template #noteHover16>
      <dt-note-hover>
        <p i18n>
          Der US-Radio-Sender Planet Money stellte im August 2015 ein Bild der Kuh Penelope ins Internet und bat die Hörer in einer Umfrage
          eine Schätzung zu dem Gewicht abzugeben. 17.000 Hörer nahmen teil und die durchschnittliche Schätzung war mit 1.287 amerikanischen
          Pfund sehr nah an der richtigen Lösung: 1.355 Pfund.
        </p>
      </dt-note-hover>
    </ng-template>
    <ng-template #noteHover17>
      <dt-note-hover>
        <p i18n>
          Die Methode des Dialectical Bootstrappings vereint die Hegelsche Dialektik (These, Antithese, Synthese) mit der Erzählung des
          Barons von Münchhausen, der vorgab, sich an seinen Schuhriemen („bootstraps“) alleine aus einem Sumpf gezogen zu haben („to
          bootstrap“ = „sich selbst helfen“). Die Methode basiert auf der Überlegung, dass auch durch mehrfaches Schätzen derselben Person
          eine bessere Schätzung erreicht werden kann.
        </p>
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
</dt-extendable-header>
