@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grid-container {
  display: grid;
  height: 100%;

  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 292px;
  grid-gap: 20px;

  justify-content: center;
  overflow: auto;

  flex: 1;
  min-height: 300px;
  flex-basis: 0;
  padding-bottom: 8px;
}

.objective-container {
  display: flex;
  flex-direction: column;

  .objective-title {
    @include dt.typography-level(body-2);
  }
}

.top-container-wrapper {
  position: relative;
  flex-shrink: 0;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: dt.$objective;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;

  button {
    height: 25px;
    width: 25px;

    padding-left: 5px;
    color: orange;

    &:hover {
      color: rgba(255, 118, 0, 1);
    }

    &.disabled {
      cursor: default;
      color: gray;
    }
  }
}

.title-container {
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: white;
  text-align: center;

  &:hover {
    color: orange;
  }
}
