$header-height: 35px;
$header-margin: 10px;
$header-bg: #f2f2f2;

:host {
  position: relative;
}

.illustration {
  float: right;
  width: 100%;
  max-width: 400px;
  min-width: 250px;
  height: 250px;
  margin-left: 20px;

  position: relative;
  display: flex;
  font-size: 1.5rem;
  text-align: center;

  .left-column,
  .header-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-column-wrapper {
    width: $header-height;
    writing-mode: vertical-lr;
    margin-right: $header-margin;

    .left-column {
      width: $header-height;
      margin-top: calc(#{$header-height} + #{$header-margin});
      background-color: $header-bg;
      transform: rotate(180deg);
    }
  }

  .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;

    .header-row {
      height: $header-height;
      margin-bottom: 10px;
      background-color: $header-bg;
    }
  }

  .table-wrapper {
    flex: 1;
    position: relative;

    table {
      height: 100%;
      width: 100%;
      background-color: #d9d9d9;
      border-collapse: collapse;

      td {
        border: 2px solid white;
      }
    }

    .text-content-wrapper {
      position: absolute;
      top: 20px;
      bottom: 20px;
      right: 30px;
      left: 30px;
      padding: 10px;

      border-radius: 30px;
      background-color: rgba(248, 147, 30, 0.6);
      color: white;
      font-size: 1.8rem;
      line-height: 1.2;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
