<p i18n>Gibt es für ein Ziel keine natürlich-numerische Skala, so kommen drei verschiedene künstliche Skalen in Frage.</p>

<p i18n
  >Eine erste Möglichkeit ist eine numerische Skala, die sich auf eine künstliche Maßeinheit, wie z. B. Punkte oder Schulnoten bezieht. Eine
  solche Messung ist grundsätzlich immer möglich, sie ist allerdings relativ pauschal und deshalb angreifbar, wenn sie nicht noch genauer
  konkretisiert wird. Wenn Du eine solche Skala wählst, überlege also zumindest für die minimale und maximale Ausprägung, welchen
  Erfüllungsgrad des Ziels Du genau mit der Zahl meinst und notiere dies möglichst konkret als Erläuterung in der Definition.</p
>

<p i18n
  >Eine zweite Möglichkeit ist eine verbale Skala, bei der nur eine geringe Anzahl von möglichen Ergebnisausprägungen (z.B. 3 bis 7)
  vorgesehen ist, dafür aber jede einzelne Ergebnisausprägung verbal in Kurzform beschrieben wird. Im einfachsten Fall sind diese
  Kurzbeschreibungen allgemeine Charakterisierungen wie z.B. von „schlecht“ bis „gut“ oder von „gering“ bis „hoch“, wobei noch durch Zusätze
  wie „sehr schlecht“ oder „eher schlecht“ Differenzierungen möglich sind. Allerdings ist eine solch einfache Skala ähnlich pauschal und
  angreifbar wie eine einfache künstlich-numerische Skala. Insofern sollte bei einer verbalen Skala versucht werden, die Beschreibungen
  zielspezifisch konkreter zu formulieren, wobei hier für jede Abstufung neben einer Kurzbezeichnung auch ein längeres Erläuterungsfeld zur
  Verfügung steht.</p
>

<p i18n
  >Die dritte und aufwändigste Möglichkeit ist die Konstruktion einer neuen künstlichen Skala auf der Basis von mehreren numerischen
  Indikatoren, die gewichtet zu einer neuen Skala zusammengefügt werden. Hierzu muss aber vorausgesetzt werden, dass im Hinblick auf die
  Nutzenbewertung im Fundamentalziel ein Weniger in einem Indikator durch ein Mehr in einem anderen Indikator in einem konstant
  proportionalen Verhältnis ausgeglichen werden kann. Ist dies nicht der Fall, so ist diese Form der Messung angreifbar und es sollte lieber
  eine verbale oder einfache künstlich-numerische Skala gewählt werden, in der aber die unterschiedlichen Ergebnisausprägungen detailliert
  beschrieben werden.</p
>

<p i18n
  >Überlege für jedes Ziel, welches keine natürlich-numerische Skala besitzt, eine passende künstliche Skala und trage diese in die
  Kopfzeile der Ergebnismatrix ein. Solltest Du die vordefinierte Sieben-Punkte-Default-Skala verwenden wollen, ergänze zumindest die
  Beschreibungen der Randpunkte.</p
>
