<p i18n>
  Solltest Du ein Fundamentalziel mit einer künstlichen Skala auf der Basis von Indikatoren messen wollen, so gibt es in Abhängigkeit des
  gewählten Indikatortyps drei verschiedene Kategorien:
</p>

<h3 i18n>Fundamentale Teilaspekte:</h3>
<p i18n>
  Alle Indikatoren stellen fundamentale Teilaspekte des betrachteten Fundamentalziels dar. Die Teilaspekte sollten hierbei so formuliert
  sein, dass sie möglichst vollständig sind und Überschneidungen möglichst gering ausfallen
  <a (click)="modalFundamental.open()">(Beispiel)</a>. Die relative Gewichtung der einzelnen Indikatoren bei der Konstruktion der neuen
  künstlichen Skala solltest Du danach ausrichten, wie hoch der Anteil der Nutzenstiftung des jeweiligen Teilaspektes im Vergleich zur
  Nutzenstiftung durch die anderen Teilaspekte ist. Diesbezüglich zu erfragende Aussagen wären z.B. „Eine Steigerung um x Einheiten im
  Indikator A entspricht derselben Nutzensteigerung im Fundamentalziel wie eine Steigerung um y Einheiten im Indikator B“.
</p>

<h3 i18n>Instrumentalziele:</h3>
<p i18n>
  In dieser Kategorie werden als Indikatoren Faktoren benannt, die für sich gesehen keinen Wert haben, aber sich deutlich positiv auf das
  betrachtete Fundamentalziel auswirken. Hierbei sollten die Indikatoren so gewählt werden, dass die wichtigsten für das Ziel förderlichen
  Faktoren erfasst sind und die Wirkungszusammenhänge möglichst wenig von weiteren, nicht berücksichtigten Faktoren abhängen
  <a (click)="modalInstrumental.open()">(Beispiel)</a>. Die relative Gewichtung der resultierenden Indikatoren solltest Du daran ausrichten,
  wie bedeutend der Einfluss des Instrumentalzieles auf den Nutzen im betrachteten Fundamentalziel ist. Diesbezüglich zu erfragende Aussagen
  wären z.B. „Eine Steigerung um x Einheiten im Indikator A bewirkt aller Voraussicht nach dieselbe Nutzensteigerung im Fundamentalziel wie
  eine Steigerung um y Einheiten im Indikator B“.
</p>

<h3 i18n>Korrelierte Skalen:</h3>
<p i18n>
  In dieser Kategorie sind die Indikatoren weder fundamentale Teilaspekte, noch stehen sie in einem förderlichen Wirkungszusammenhang mit
  dem Fundamentalziel. Was die Skalen aus dieser Kategorie charakterisiert, sind ausschließlich sehr hohe Korrelationen, d.h. je besser die
  Ausprägung in diesen Indikatoren ist, desto besser wird in aller Regel auch das Ergebnis im Fundamentalziel sein. In aller Regel besteht
  ein Wirkungszusammenhang zwischen Indikator und Fundamentalziel, der allerdings von der Wirkungsrichtung entgegengesetzt zu dem bei
  Instrumentalzielen ist. D.h., die Indikatoren messen Ergebnisse, die für sich gesehen keinen Nutzen bringen und nur erreicht werden
  können, wenn in dem Fundamentalziel eine entsprechende Ausprägung vorliegt <a (click)="modalCoral.open()">(Beispiel)</a>.
</p>

<dt-modal #modalFundamental>
  <ng-template #title i18n> Beispiel </ng-template>
  <ng-template #content>
    <p i18n
      >Das Ziel „möglichst gute Fremdsprachenkenntnisse“ könnte beispielsweise mit folgenden fünf fundamentalen Teilaspekten als Indikatoren
      messbar gemacht werden:
    </p>

    <ul class="dt-plain-list">
      <li i18n>Leseverständnis</li>
      <li i18n>Hörverständnis</li>
      <li i18n>Schriftliche Fähigkeit</li>
      <li i18n>Wortschatz</li>
      <li i18n>Grammatikalisches Verständnis</li>
    </ul>
  </ng-template>
</dt-modal>

<dt-modal #modalInstrumental>
  <ng-template #title i18n> Beispiel </ng-template>
  <ng-template #content>
    <p i18n
      >Zur Messung des Ziels „Fremdsprachenkenntnisse“ könnten beispielsweise die folgenden Instrumentalziele als Indikatoren definiert
      werden:</p
    >

    <ul class="dt-plain-list">
      <li i18n>Anzahl an besuchten Sprachkurseinheiten</li>
      <li i18n>Länge entsprechender Auslandsaufenthalte</li>
      <li i18n>Dauer der Fremdsprachenschulausbildung</li>
    </ul>
  </ng-template>
</dt-modal>

<dt-modal #modalCoral>
  <ng-template #title i18n> Beispiel </ng-template>
  <ng-template #content>
    <p i18n>Das Ziel „Fremdsprachenkenntnisse“ kann mit den korrelierten Skalen</p>

    <ul class="dt-plain-list">
      <li i18n>Fremdsprachenabschlussnote in der Schule</li>
      <li i18n>Ergebnis eines Sprachzertifikates </li>
    </ul>

    <p i18n
      >gemessen werden. Wer gute Fremdsprachenkenntnisse hat, wird auch eine gute Note haben bzw. ein entsprechendes Zertifikat erhalten.</p
    >
  </ng-template>
</dt-modal>
