<dt-step-title [showStepNumber]="false" i18n>Reflexion über grundlegende Werte</dt-step-title>

<dt-step-description>
  <ng-template #description i18n>Gebe an, welche Werte Dir wichtig sind.</ng-template>
  <ng-template #subDescription i18n
    >Du kannst die Wichtigkeit über die Balkengröße angeben, vorhandene Werte löschen bzw. umbenennen und eigene Werte einfügen.
  </ng-template>
</dt-step-description>

<div class="box-container" [dtWidthTrigger]="{ thin: 400 }">
  <div class="box" [ngSwitch]="state">
    <ng-container *ngSwitchCase="'ready'">
      <div class="row header">
        <div class="name-input"></div>
        <div class="value-input">
          <div i18n>weniger wichtig</div>
          <div i18n>besonders wichtig</div>
        </div>
        <div class="button-wrapper"></div>
      </div>

      <mat-divider></mat-divider>

      <div class="values-wrapper">
        <div *ngFor="let value of decisionData.decisionStatement.values; let i = index" class="row" [class.grouped]="i < groupSize">
          <div class="name-input">
            <input
              placeholder="Bezeichnung eingeben"
              type="text"
              title="Bezeichnung"
              [(ngModel)]="value.name"
              [ngModelOptions]="{ standalone: true }"
              minlength="1"
              required
              i18n-placeholder
              i18n-title
            />
          </div>

          <div class="value-input">
            <dt-bar-slider
              [(value)]="value.val"
              [interval]="false"
              [vertical]="false"
              [disabledLook]="!groupSize || i > groupSize - 1"
              [width]="21"
            ></dt-bar-slider>
          </div>

          <div class="button-wrapper">
            <dt-button-tiny (click)="removeValue(i)" icon="delete" title="Wert entfernen" i18n-title></dt-button-tiny>
          </div>
        </div>
      </div>
    </ng-container>

    <div *ngSwitchCase="'empty'" class="empty-placeholder" i18n>Keine Werte angelegt</div>

    <mat-spinner *ngSwitchCase="'loading'"></mat-spinner>

    <mat-divider></mat-divider>

    <div class="buttons">
      <dt-button (click)="!isLoading && addValue()" [disabled]="isLoading" icon="add" i18n>Wert hinzufügen</dt-button>
      <div>
        <dt-button [type]="'raised-less'" (click)="!isLoading && resetValues()" [disabled]="isLoading" icon="clear" i18n
          >Werte zurücksetzen</dt-button
        >
        <dt-button (click)="!isLoading && sortValues()" [disabled]="isLoading" icon="sort" i18n>Werte ordnen</dt-button>
      </div>
    </div>
  </div>
</div>
