@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.box-container {
  display: flex;
  flex-direction: column;

  flex: 1 0 400px;
  min-height: 400px;

  &.thin {
    min-height: 500px;
  }
}

.box {
  display: flex;
  flex-direction: column;
  min-height: 0;

  @include mat.elevation(3);
}

.values-wrapper {
  overflow-y: auto;
  padding: 5px 0;
}

.empty-placeholder {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: dt.font-size(caption);
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  padding: 0 10px;

  .value-input {
    flex: 1 0 100px;
    min-width: 100px;
  }

  .name-input {
    flex: 2 0 100px;
    min-width: 100px;
    max-width: 350px;

    input {
      height: 20px;
      margin: 0;
    }
  }

  .button-wrapper {
    width: 24px;
    overflow: hidden;
  }
}

.row.header {
  padding: 10px;

  .value-input {
    display: flex;
    flex-wrap: wrap;

    div:nth-child(2) {
      flex: 1;
      text-align: right;
    }
  }
}

.row.grouped + .row:not(.grouped) {
  margin-top: 26.5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 5px;
}

.row.header,
.buttons {
  background-color: #ebedee;
}

dt-bar-slider {
  display: block;
}

mat-spinner {
  margin: 16px auto;
}
