@use '@angular/material' as mat;
@use 'variables' as dt;

.row-wrapper {
  display: flex;

  .rank {
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.05);
  }
}

.row {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px 20px;

  position: relative;
  padding: 7px 20px;

  .description-field {
    flex: 1;
  }

  .input-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
  }

  mat-form-field ::ng-deep .mat-form-field-flex {
    padding-top: 0;
  }
}

.drag-handle {
  cursor: move;
}

.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 7px 20px;
}

// Popover
.init-params-popover {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;

  .title {
    padding: 10px;
    text-align: center;
    font-size: dt.font-size(subheading-1);
    background-color: dt.$blue-lighten-8;
  }

  form,
  .bottom-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 10px;
  }

  mat-form-field {
    flex: 1 0 100px;
    max-width: 130px;
  }
}

// Drag and Drop
.cdk-drag-preview {
  @extend .row;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: white;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
