<form [formGroup]="statesForm">
  <div formArrayName="states" cdkDropList (cdkDropListDropped)="drop($event)" #stateList>
    <ng-container *ngFor="let control of statesFormArray.controls; let i = index">
      <div class="row-wrapper">
        <div class="rank" [style.color]="getColorForRank(i)">{{ statesFormArray.controls.length - i }}.</div>

        <div class="row" [formGroupName]="i" cdkDrag cdkDragLockAxis="y" [cdkDragBoundary]="stateList">
          <mat-icon class="drag-handle" cdkDragHandle>drag_handle</mat-icon>

          <div class="input-wrapper">
            <mat-form-field appearance="standard" class="dt-no-margin">
              <mat-label i18n>Ausprägung</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>

            <mat-form-field appearance="standard" class="dt-no-margin description-field">
              <mat-label i18n>Kurze Beschreibung</mat-label>
              <input matInput formControlName="explanation" />
            </mat-form-field>
          </div>

          <button mat-icon-button type="button" [disabled]="statesFormArray.length <= 2" (click)="deleteState(i)"
            ><mat-icon>delete</mat-icon></button
          >

          <dt-note-btn formControlName="comment" [caption]="control.get('name').value | noteBtnPreset : 'verbalOption'"></dt-note-btn>
        </div>
      </div>

      <mat-divider></mat-divider>
    </ng-container>
  </div>

  <div class="title-row">
    <button mat-button color="accent" [disabled]="statesFormArray.length >= 7" (click)="addState()" type="button" i18n>
      <mat-icon>add_box</mat-icon> Ausprägung hinzufügen
    </button>
    <button mat-button type="button" #initParamsOpener (click)="openInitParams()" i18n>Vordefinierte Skala</button>
  </div>
</form>

<ng-template #initParamsPopover>
  <div class="init-params-popover mat-elevation-z8">
    <div class="title" i18n>Vordefinierte Skala</div>

    <mat-divider></mat-divider>

    <form [formGroup]="initParamsForm">
      <mat-form-field>
        <mat-label i18n>Stufen</mat-label>
        <input matInput type="number" formControlName="stepNumber" />
        <mat-error *ngIf="initParamsForm.get('stepNumber').hasError('min')" i18n>Min. 2 Stufen</mat-error>
        <mat-error *ngIf="initParamsForm.get('stepNumber').hasError('max')" i18n>Max. 7 Stufen</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n>Von</mat-label>
        <input matInput formControlName="from" />
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n>Bis</mat-label>
        <input matInput formControlName="to" />
      </mat-form-field>
    </form>

    <mat-divider></mat-divider>

    <div class="bottom-container">
      <dt-button [disabled]="!initParamsForm.valid" (click)="applyInitParams(); openPopover.close()" i18n>Anwenden</dt-button>
      <mat-hint i18n>Dies überschreibt die bisherigen Ausprägungen</mat-hint>
    </div>
  </div>
</ng-template>
