@use 'sass:math';
@use 'sass:color';
@use 'variables' as dt;

:host {
  align-items: center;
  display: flex;
  width: 100%;
}

// thumb
$thumb-diameter: 16px;
$thumb-radius: math.div($thumb-diameter, 2);
$thumb-color: dt.$orange;
$initial-thumb-color: #bbb;
$disabled-thumb-color: color.change(dt.$orange-lighten-4, $saturation: 0%);

// track (bar underneath the thumb)
$track-color: #ddd;
$track-height: $thumb-radius;

.number-input {
  text-align: right;
  width: 100%;
  -moz-appearance: textfield;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid dt.$blue;
  }

  &:focus {
    border-bottom: 2px solid dt.$blue;
    outline: 0;
    box-shadow: none;
  }
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-input-container {
  display: grid;
  grid-template-columns: max-content auto;
  flex: 1;

  &.label-above {
    grid-template-columns: auto;
    row-gap: 5px;

    .limit-container {
      grid-column: 1;
    }

    .value-label {
      margin: 0 8px;

      height: 1.6em;

      span {
        position: absolute;
        transform: translateX(-50%);
      }
    }
  }

  &.label-hidden {
    grid-template-columns: auto;
  }

  .limit-container {
    display: flex;
    justify-content: space-between;
    grid-column: 2;

    font-size: dt.font-size(caption);

    .limit-holder {
      display: flex;
      width: 0;

      &:first-child span {
        transform: translateX(calc(-50% + $thumb-radius));
      }

      &:last-child span {
        transform: translateX(calc(-50% - $thumb-radius));
      }
    }
  }
}

.value-label {
  position: relative;
  margin-right: 1ch;
  text-align: right;

  &.hidden-overflow {
    .label-container {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.input-container {
  align-items: center;
  display: flex;

  margin: 0 calc(1ch - #{$track-height});

  position: relative;

  width: 100%;

  .track {
    background: $track-color;
    height: $track-height;
    margin-left: $thumb-radius;
    margin-right: $thumb-radius;
    position: absolute;
    top: calc(50% - #{math.div($track-height, 2)});
    width: calc(100% - #{$thumb-diameter});
    z-index: 1;
    border-radius: 4px;
  }

  // Shared by thumb and initial thumb.
  @mixin thumb-template {
    height: $thumb-diameter;
    width: $thumb-diameter;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: $thumb-color;
    box-shadow: none;
  }

  @mixin thumb {
    @include thumb-template();
    transition: 100ms transform ease;

    &:hover {
      transform: scale(1.25);
    }
  }

  @mixin disabled-thumb {
    background-color: $disabled-thumb-color;
  }

  input[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    height: 100%;
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 3;

    &:focus {
      outline: none;
    }

    @mixin track {
      background: transparent;
    }

    &::-moz-range-thumb {
      @include thumb();
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: math.div(-$thumb-diameter, 4);
      @include thumb();
    }

    &[disabled] {
      pointer-events: none;

      &::-webkit-slider-thumb {
        @include disabled-thumb();
      }

      &::-moz-range-thumb {
        @include disabled-thumb();
      }
    }

    &::-moz-range-track {
      @include track();
    }

    &::-webkit-slider-runnable-track {
      @include track();
    }
  }

  .initial-thumb {
    @include thumb-template();
    background-color: $initial-thumb-color;
    position: absolute;
    top: calc(50% - #{$thumb-radius});
    transform: translate(-$thumb-radius);
    z-index: 2;
  }

  .value-interval {
    background-color: $initial-thumb-color;
    height: $track-height;
    position: absolute;
  }
}
