@use 'variables' as dt;

button {
  position: absolute;
  top: 0;
  bottom: 0;

  padding: 0 4px;

  font-size: 20px;
  color: dt.$orange;
  background: radial-gradient(#feefdd 10%, rgba(254, 239, 221, 0) 70%);

  &[disabled] {
    color: dt.$grey-foreground;
    background: none;
  }

  &.minus-button {
    left: 0;
  }

  &.plus-button {
    right: 0;
  }
}

// Global style to only show the spinner when the containing form field is focused
::ng-deep mat-form-field {
  dt-input-spinner {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
  }

  &:not(.mat-form-field-disabled) {
    &:focus-within dt-input-spinner,
    dt-input-spinner:focus,
    dt-input-spinner:hover {
      opacity: 1;
      pointer-events: initial;
    }
  }
}
