@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

dt-tabs {
  margin-bottom: 1rem;
}

dt-tab {
  display: block;
  background-color: hsla(0, 0%, 95%, 1);
}

.objectives {
  padding: 10px;

  color: dt.$blue;
  max-height: 350px;
  overflow-y: auto;
}

.objective:first-child {
  font-weight: bold;
}

.objective-block {
  margin-top: 15px;
}

.objective-block:first-child {
  margin-top: 0px;
}

.objective-list {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
}

.selection-text {
  color: dt.$blue;
  font-weight: bold;
  margin-right: 30px;
}

.objective-name {
  transition: color 100ms;
  cursor: pointer;
}

.objective-name:hover {
  color: dt.$orange;
}

.hierarchy-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-grow: 1;
}

.left-container,
.right-container {
  position: relative;
}

.middle-container {
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 30px;
  bottom: 0;
}

.project-list-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.project-list-outer-container {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid dt.$blue;
  width: 95%;
  height: 90%;
  z-index: 150;

  .close-button {
    position: absolute;
    z-index: 10;
    right: 2.5%;
    top: 5%;
    background: dt.$blue;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);
    cursor: pointer;

    mat-icon {
      transform: scale(0.8);
    }
  }
}

.project-list-inner-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  form {
    background-color: #ebebeb;

    display: flex;
    align-items: flex-end;

    mat-form-field,
    dt-tag-input {
      flex: 1;
    }

    .name-field input {
      // same height as dt-tag-input
      height: 32px;
    }

    ::ng-deep .mat-form-field-flex {
      background-color: unset;
    }
  }

  .project-list {
    overflow: auto;

    .project-row {
      display: flex;
      align-items: center;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      cursor: pointer;
      height: 50px;
      border-bottom: 1px solid #d0d0d0;

      span {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 0.3s linear;
}

.stacked-object-wrapper {
  position: relative;
  height: calc(100% - 30px);
}

.stacked-object-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.no-hierarchy-text {
  position: absolute;
  width: 100%;
  top: 50%;
  height: 30px;
  transform: translateY(-15px);
  text-align: center;
}

.loader {
  border: 20px solid #f3f3f3;
  border-radius: 50%;
  border-top: 20px solid #f8921e;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
  margin-right: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.arrow {
  width: 0;
  height: 0;
  border-top: 175px solid transparent;
  border-bottom: 175px solid transparent;

  &.arrow-left {
    border-right: 30px solid #ebebeb;
  }

  &.arrow-right {
    border-left: 30px solid #ebebeb;
  }
}

.hierarchy-title {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-overlay {
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;

  &:hover {
    background-color: #f5f5f5;
  }

  .title-container {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 5px;
  }

  mat-divider {
    align-self: stretch;
    margin: 0px 5px;
    border-width: 2px;
  }

  .title-icon {
    color: dt.$orange;
  }
}

dt-objective-aspect-hierarchy {
  height: 100%;
}

.blurred-background {
  filter: blur(3px);
}
