<div class="dt-limit-width">
  <h1 *ngIf="showTitle" i18n>Schaue Dir die Zielvorschläge an</h1>

  <dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()">
    <ng-template #description>
      <ng-container *ngIf="decisionData.isProfessional()" i18n>
        Auf dieser Seite kannst Du Ziele aus anderen Beispielprojekten übernehmen. Wähle dafür ein entsprechendes Projekt aus und ziehe die
        gewünschten Ziele per Drag-and-drop in Deine eigene Zielhierarchie.
      </ng-container>
      <ng-container *ngIf="!decisionData.isProfessional()" i18n>
        Hier kannst Du aus anderen Beispielprojekten Ideen für Deine Fundamentalziele finden.
      </ng-container>
    </ng-template>
    <ng-template #subDescription i18n
      >Du kannst durch das Setzen von Tags geeignete Projekte eingrenzen und aus der rechten Zielhierarchie passende Ziele für Dich durch
      Drag and Drop in Deine Zielhierarchie übernehmen.</ng-template
    >
  </dt-step-description>
</div>

<div
  *ngIf="tags != null && this.objectiveSystemProjects != null"
  class="hierarchy-wrapper"
  [dtWidthTrigger]="{ 'screen-threshold': 800 }"
  (dtWidthTriggerStateChange)="smallScreen = $event['screen-threshold']"
>
  <div class="left-container" [style.width]="smallScreen ? '49%' : '47%'">
    <div class="stacked-object-wrapper">
      <div class="stacked-object-container">
        <dt-objective-aspect-hierarchy
          [listOfDeletedAspects]="listOfDeletedAspects"
          [tree]="tree"
          [initialZoomDelta]="-25"
          [showOverlay]="!inSelectionMode"
          [class.blurred-background]="inSelectionMode"
        ></dt-objective-aspect-hierarchy>
      </div>
      <div [class.visible]="inSelectionMode" [class.hidden]="!inSelectionMode" class="stacked-object-container project-list-wrapper">
        <ng-container *ngIf="objectiveSystemProjects != null">
          <div class="project-list-outer-container mat-elevation-z3" #projectList>
            <div class="close-button" *ngIf="treeOS != null" (click)="inSelectionMode = false"><mat-icon>close</mat-icon></div>
            <div class="project-list-inner-container">
              <ng-container *ngIf="objectiveSystemProjects?.list.length > 0; else noProjects">
                <form (submit)="$event.preventDefault()">
                  <mat-form-field class="dt-no-margin name-field">
                    <mat-label i18n>Nach Name filtern</mat-label>
                    <input
                      matInput
                      type="text"
                      [(ngModel)]="nameInput"
                      [ngModelOptions]="{ standalone: true }"
                      (input)="updateProjectsAndTags()"
                      autocomplete="off"
                    />
                  </mat-form-field>
                  <dt-tag-input [allTags]="tags" [(selectedTagIds)]="filterTagIds" (selectedTagIdsChange)="updateProjectsAndTags()" i18n
                    >Nach Tags filtern</dt-tag-input
                  >
                </form>
                <div class="project-list" (mouseleave)="hideHoveredProject()">
                  <ng-container *ngFor="let project of filteredProjects">
                    <div
                      class="project-row"
                      (click)="loadProject(project.id, false); this.inSelectionMode = false"
                      (mouseenter)="loadProject(project.id, true)"
                      [style.background-color]="getRowColor(project.id)"
                    >
                      <span>{{ project.name }}</span>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
            <ng-template #noProjects>
              <p i18n>Es sind aktuell keine Standardzielsysteme verfügbar!</p>
            </ng-template>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="!smallScreen" class="middle-container">
    <span class="arrow" [class.arrow-left]="!inSelectionMode"></span>
  </div>

  <div class="right-container" [style.width]="smallScreen ? '49%' : '47%'">
    <div class="stacked-object-wrapper">
      <div class="stacked-object-container" [style.background-color]="treeOSDisplayed == null && treeOS == null ? 'white' : '#f6f6f6'">
        <ng-container *ngIf="treeOS != null || treeOSDisplayed != null; then hierarchy; else noHierarchy"></ng-container>
        <ng-template #hierarchy>
          <dt-objective-aspect-hierarchy
            [tree]="treeOSDisplayed != null ? treeOSDisplayed : treeOS"
            [allowDragPanning]="false"
            [allowInputSelection]="false"
            [editable]="false"
            [initialZoomDelta]="-25"
            [useObjectivesFromTree]="true"
          >
            <span titleOverlay class="title-overlay" (click)="inSelectionMode = true">
              <mat-icon title="In anderen Bespielen suchen" class="title-icon" i18n-title>find_replace</mat-icon>
              <mat-divider [vertical]="true"></mat-divider>
              <span class="title-container" [attr.title]="getProjectTitle()">{{ getProjectTitle() }}</span>
            </span>
          </dt-objective-aspect-hierarchy>
        </ng-template>
        <ng-template #noHierarchy>
          <div class="no-hierarchy-text" i18n>Noch keine Zielhierarchie ausgewählt</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
