<dt-extendable-header
  i18n-headerName
  headerName="In welcher Reihenfolge sollte ich hier vorgehen?"
  variation="large"
  [initialOpening]="helpContext === undefined"
>
  <p i18n>
    Dir stehen im Wirkungsmodell alle Funktionen von Beginn an zur Verfügung. Jedoch solltest Du Dich an eine Reihenfolge halten, um diesen
    Schritt sinnvoll zu bearbeiten:
  </p>
  <ol>
    <li i18n>Definiere für jedes einzelne Ziel eine geeignete Skala</li>
    <li i18n>Trage für alle Alternativen die Auswirkungen in den einzelnen Zielen (Wirkungsprognosen) ein</li>
    <li i18n>Verknüpfe Deine Wirkungsprognosen ggf. und wenn sinnvoll mit Einflussfaktoren</li>
    <li i18n>Kommentiere Deine Wirkungsprognosen, Skalen usw. </li>
    <li i18n>Bestimme die Entscheidungsqualität</li>
  </ol>
  <br />
  <p i18n>Zu jedem dieser Schritte findest Du im Folgenden weitere Beschreibungen.</p>
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Definition einer Skala für ein Ziel">
  <p i18n>
    Als erstes solltest Du für jedes Ziel eine eigene Skala erstellen. Klicke auf die Skalenbezeichnung unterhalb des Namens des
    Fundamentalziels. In dem Fenster, das sich öffnet, kannst Du über die drei Reiter wählen, ob Du eine numerische, eine verbale oder eine
    Indikatorskala anlegen möchtest. Mit dem Button darunter kannst Du eine Skala für andere Ziele kopieren.
  </p>
  <dt-extendable-header i18n-headerName variation="small" headerName="Numerische Skalen">
    <p i18n>
      Bei einer numerischen Skala trägst Du die best- und schlechtestmögliche Ausprägung als obere bzw. untere Grenze als Zahlenwert ein.
      Standardmäßig sind hier die Werte eins und sieben eingetragen. Rechts neben den Eingabefeldern hast Du die Möglichkeit, Deine beiden
      Werte zu beschreiben. Unterhalb der besten und schlechtesten Ausprägung kannst Du eine Einheit angeben, in welcher Dein Ziel gemessen
      werden soll. Speichere Deine Einstellungen mithilfe des „Übernehmen“ Buttons.
    </p>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Verbale Skalen">
    <p i18n>
      Wählst Du eine verbale Skala, werden zunächst automatisch fünf Ausprägungen von gering bis hoch vorgegeben. Du kannst die
      Bezeichnungen dieser Ausprägungen verändern und mithilfe des Buttons unten neue Ausprägungen hinzufügen. Mit den Mülleimerbuttons
      rechts löschst Du Ausprägungen. Greife das Symbol <mat-icon>drag_handle</mat-icon> links, um Deine Ausprägungen vertikal zu
      verschieben. Verwende die Kommentarzeilen und -dreiecke rechts, um die einzelnen Stufen näher zu beschreiben. Du kannst eine verbale
      Skala mithilfe des Buttons „Vordefinierte Skala“ auch erzeugen lassen. Gib die gewünschte Anzahl an Stufen an, die Deine Skala haben
      soll, und im Anschluss die Bezeichnungen der obersten und untersten Stufe. Klicke auf „Anwenden“ und die Skala wird automatisch
      erzeugt. Beachte, dass Deine Skala maximal sieben Stufen haben kann. Speichere Deine Einstellungen zum Schluss mithilfe des
      „Übernehmen“ Buttons.
    </p>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Indikatorskalen - Allgemein">
    <p i18n>
      Wenn Du eine Indikatorskala wählst, musst Du für jeden Indikator einen Namen sowie jeweils den schlechtesten und besten Wert
      eintragen, der angenommen werden kann. Standardmäßig ist die dimensionslose Bandbreite von eins bis sieben eingestellt. Zudem kannst
      Du für jeden Indikator rechts eine Einheit und ein Gewicht angeben, welches bei der späteren Aggregation berücksichtigt werden soll.
      Neue Indikatoren fügst Du mithilfe des entsprechenden Buttons unterhalb Deiner Indikatoren hinzu. Ganz rechts löschst Du Indikatoren.
      Greife das Symbol <mat-icon>drag_handle</mat-icon> links, um Deine Indikatoren vertikal zu verschieben. Rechts unten siehst Du einen
      Ausschnitt aus der Zielhierarchie, der das Fundamentalziel inkl. der untergeordneten Aspekte zeigt. Per Doppelklick auf die
      untergeordneten Aspekte kannst Du diese direkt als Indikatoren in Deine Liste übernehmen.
    </p>
    <p i18n>
      Unten links im Fenster definierst Du die aggregierte Skala, auf welcher das Ziel insgesamt gemessen wird. Du kannst zwischen zwei
      Arten der Aggregation wählen. Standardmäßig ist die additive Gewichtung eingestellt, bei der Du die untere Grenze (schlechtester
      Wert), die obere Grenze (bester Wert) und die Einheit angeben musst, in der das Ziel gemessen werden soll. Auch hier ist standardmäßig
      die dimensionslose Bandbreite von eins bis sieben eingestellt. Die verwendete Formel kannst Du anschauen, indem Du mit der Maus über
      den schwarzen Infobutton fährst. Alternativ kannst Du über das Drop-Down Menü bei der Aggregationsart die Möglichkeit wählen, eine
      benutzerdefinierte Formel anzugeben. Beachte dabei die zulässigen Zeichen (schwarzer Infobutton). Die Bandbreite kannst Du einerseits
      automatisch bestimmen lassen (auf Basis der schlechtesten und besten eingegebenen Werte der Indikatoren) oder eine eigene eingeben,
      wenn es notwendig ist. Siehe zur Eingabe einer eigenen Aggregationsformel auch den Bereich „Weitere Erläuterungen“.
    </p>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Indikatorskalen - Beschreibungen">
    <p i18n>
      Bei einer Indikatorskala kannst Du einzelne Werte auf der Skala des Ziels beschreiben und Konstellationen analysieren, die zu
      einzelnen Werten führen. Mit Klick auf den „Beschreiben“ Button öffnet sich ein Fenster, in dem drei numerische Stufen der Skala des
      Ziels abgebildet sind. Diese kannst Du in dem weißen Textfeld näher erläutern oder beschreiben. Alternativ kannst Du dafür den Button
      <mat-icon>note</mat-icon> klicken, um den Texteditor zu öffnen. Nutze den Mülleimer-Button, um eine Stufe zu löschen (funktioniert
      nicht bei der ersten und letzten Stufe). Wenn Du das Zustandekommen einer Zahl auf einer der Stufen näher untersuchen möchtest, klicke
      auf den Button „Beispiele“, um zu einer Tabellenansicht zu gelangen.
    </p>
    <p i18n>
      In dieser wird Dir gezeigt, welche Konstellationen der Indikatoren dazu führen, dass das Ziel insgesamt mit derjenigen Zahl bewertet
      wird, die auf Deiner Stufe steht
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover1"
        >(Beispiel)</span
      >. Möchtest Du in dieser Tabelle weitere Beispiele als die fünf angezeigten sehen, klicke auf den Button „Weitere Beispiele finden“
      oben links.
    </p>
    <p i18n>
      Wenn Du die Ansicht oben rechts auf „Erweitert“ stellst, stehen Dir weitere Optionen zur Verfügung. Du kannst für Deine Analyse
      einzelne Indikatoren mit einem festen Wert belegen, indem Du diesen in die Eingabezeile bei „Vorgegebene Werte“ eingibst. Wenn Du hier
      etwas einträgst, nimmt der entsprechende Indikator bei folgenden Beispielen nur noch diesen Wert an. In der Zeile „Rundung“ kannst Du
      einstellen, wie detailliert die Indikatoren gerundet werden sollen
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover2"
        >(Beispiel)</span
      >. In der Zeile ganz rechts kannst Du einzelne Kombinationen in der Beschreibung speichern. Klicke den „Speichern“-Button und die
      Indikatorkombination wird in das Kommentarfeld der entsprechenden Stufe auf der Seite davor eingetragen.
    </p>
    <p i18n>
      Um grundsätzlich mehr Stufen als die eingestellten drei zu untersuchen, kannst Du auf der Seite „Stufen für Indikatorskala
      beschreiben“ mithilfe des entsprechenden Buttons unten links weitere Zwischenstufen ergänzen. Um direkt eine bestimmte Zahl von Stufen
      einzufügen, nutze den Button „Schnelleingabe“ oben rechts. Deine Änderungen speicherst Du mit dem „Übernehmen“ Button.
    </p>
    <ng-template #noteHover1>
      <dt-note-hover>
        <p i18n>
          Angenommen, Du hast die Standard-Skala von eins bis sieben verwendet. Wenn Du nun Beispiele für die Stufe mit dem Wert drei
          generierst ("Wunschwert 3"), wird Dir angezeigt, welche Werte die Indikatoren annehmen können, damit das Ziel eine Gesamtbewertung
          von drei erhält.
        </p>
      </dt-note-hover>
    </ng-template>
    <ng-template #noteHover2>
      <dt-note-hover>
        <p i18n>
          Stellst Du die Rundung beispielsweise auf eins, werden nur noch ganzzahlige Werte angezeigt. Wenn Du sie auf 0,1 stellst, werden
          Werte mit einer Nachkommastelle zwischen x,1 und x,9 angezeigt.
        </p>
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Ansichts- und Filteroptionen">
  <p i18n> Rechts über dem Wirkungsmodell findest Du einige Ansichts- und Filteroptionen für Dein Wirkungsmodell: </p>
  <ul>
    <li i18n>Ganz links kannst Du das Wirkungsmodell in den Vollbildmodus schalten</li>
    <li i18n
      >Rechts daneben kannst Du nach Einflussfaktoren filtern. Dann werden die Felder hervorgehoben, die mit dem gefilterten Einflussfaktor
      verknüpft sind.</li
    >
    <li i18n
      >Wiederrum rechts daneben kannst Du einstellen, ob Dominanzen in Deiner Matrix angezeigt werden sollen. In diesem Falle werden
      Alternativen automatisch markiert, die von anderen dominiert werden. Um mehr Infos zu erhalten, klicke auf die dominierten
      Alternativen. Standardmäßig werden Dominanzen immer angezeigt.</li
    >
    <li i18n
      >Ganz rechts kannst Du einstellen, ob Dein Wirkungsmodell farbige Markierungen beinhalten soll. In diesem Falle werden schlechte
      Ergebnisse einer Alternative in einem Ziel mit Rotabstufungen eingefärbt, gute Ergebnisse hingegen mit grünen Farben. Alternativ
      kannst Du die Matrix auch komplett grau einstellen. Farbige Markierungen sind standardmäßig immer aktiviert.</li
    >
  </ul>
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Eingabe einer Wirkungsprognose">
  <p i18n>
    In der oberen Zeile der Matrix findest Du Deine Fundamentalziele aus dem zweiten Schritt. In der Zeile ganz links stehen Deine
    Alternativen, die Du am Ende des dritten Schritts erarbeitet hast. Die hier abgebildeten Kommentardreiecke beinhalten denselben Text,
    den Du in den Schritten zwei und drei ggf. verfasst hast. Jedes einzelne Feld innerhalb der Matrix steht für die Bewertung einer
    Alternative in einem bestimmten Ziel. Je nach gewählter Skala unterscheidet sich die Art der Eingabe.
  </p>
  <p i18n>
    Bei einer numerischen Skala trägst Du direkt in die Matrix eine Zahl ein, die innerhalb der von Dir gewählten Bandbreite liegt. Misst Du
    ein Ziel auf einer verbalen Skala, klicke auf das Fragezeichen im Matrixfeld und wähle die passende Ausprägung im erscheinenden
    Drop-Down Menü. Bei einer Indikatorskala öffnet sich durch Klicken des Fragezeichens ein Fenster, in das Du die Ausprägungen der
    Indikatoren einzeln eingibst (beachte dabei Deine Bandbreiten). Die Gesamtbewertung des Ziels wird anhand der von Dir gewählten
    Aggregationsart automatisch vorgenommen. Deine Eingaben übernimmst Du hier mit dem „Übernehmen“-Button.
  </p>
  <p i18n>
    Du findest rechts oben in jedem Matrixfeld Kommentardreiecke, mit denen Du jede Wirkungsprognose einzeln kommentieren kannst.
  </p>
</dt-extendable-header>
<dt-extendable-header
  i18n-headerName
  variation="large"
  headerName="Definition von Einflussfaktoren"
  [initialOpening]="helpContext === 'uncertaintyfactors'"
>
  <p i18n>
    Möchtest Du eine Alternative in einem Ziel in Abhängigkeit von bestimmten Zuständen bewerten bzw. Unsicherheiten berücksichtigen,
    solltest Du einen Einflussfaktor definieren. Klicke dazu unterhalb der Matrix auf den Button „Einflussfaktoren“. Es öffnet sich eine
    Übersichtsseite, auf der Du mithilfe des Buttons „Einflussfaktor hinzufügen“ einen solchen erstellen kannst.
  </p>
  <dt-extendable-header i18n-headerName variation="small" headerName="Erstellung eines Einflussfaktors">
    <p i18n>
      In dem sich öffnenden Fenster „Einflussfaktoren hinzufügen“ musst Du für Deinen Einflussfaktor zunächst in der grauen Zeile oben einen
      Namen eintragen. Anschließend kannst Du die angezeigten Zustände benennen und mit Wahrscheinlichkeiten versehen. Klicke dazu in die
      weißen Balken rechts neben der Zustandsbezeichnung bzw. ziehe diese an die gewünschte Stelle oder gebe rechts direkt die
      Wahrscheinlichkeiten als Zahl ein (Zwischen 0 und 100).
    </p>
    <p i18n>
      Beachte, dass die Summe der Wahrscheinlichkeiten aller Zustände 100 % ergeben muss. Nutze den „Normieren“ Button unterhalb der Balken,
      damit eine Normierung Deiner Wahrscheinlichkeiten vorgenommen wird. Wenn Du diesen Button nicht nutzt, werden Deine
      Wahrscheinlichkeiten beim Verlassen des Fensters automatisch normiert. Mithilfe des entsprechenden Buttons links unterhalb Deiner
      Zustände kannst Du weitere Zustände hinzufügen. Mit dem Button rechts daneben kannst Du durch die Eingabe eines Erwartungswerts und
      der Streuung Deine Wahrscheinlichkeitsverteilung automatisch generieren lassen. Unter den Prozentzahlen kannst Du ein
      Präzisionsintervall einstellen, wenn Du keine genauen Wahrscheinlichkeiten angeben möchtest. In diesem Falle erzeugst Du in jedem
      Zustand ein Intervall, in welchem Deine eingestellten Wahrscheinlichkeiten um den eingestellten Prozentsatz nach oben und unten
      abweichen
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover4"
        >(Beispiel)</span
      >. Rechts neben den Eingabefeldern der Wahrscheinlichkeiten kannst Du jeden Zustand auf der Eingabezeile beschreiben. Nutze das
      Mülleimer- Symbol <mat-icon>delete</mat-icon> rechts von einem Zustand, um einen solchen wieder zu löschen. Greife das Symbol
      <mat-icon>drag_handle</mat-icon> links, um Deine Ausprägungen vertikal zu verschieben und umzusortieren. Eine Beschreibungsmöglichkeit
      für den gesamten Einflussfaktor findest Du in dem ausklappbaren Erläuterungsfeld unterhalb der Zustände oder im Texteditor, denn Du
      durch Klicken des Kommentardreiecks rechts oben im Erläuterungsfeld öffnen kannst. Mit Klick auf den Button „Verknüpfungen“ unten
      links im Fenster wechselst Du zurück zum Wirkungsmodell, in welchem direkt nach dem entsprechenden Einflussfaktor gefiltert wurde (s.
      Ansichts- und Filteroptionen). Klicke auf „Übernehmen“, um Deine Einstellungen zu speichern und die Erstellung des Einflussfaktors
      abzuschließen.
    </p>
    <p i18n>
      Alle Einflussfaktoren werden auf einer Übersichtsseite in kleinen Fenstern dargestellt. Hier stehen Dir ein paar wenige Funktionen zum
      Bearbeiten des Einflussfaktors zur Verfügung. Durch Klicken auf den Namen oder das Stift- Symbol <mat-icon>edit</mat-icon> gelangst Du
      wieder in das Fenster, um einen Einflussfaktor zu bearbeiten. Über die Mülleimer-Symbole <mat-icon>delete</mat-icon> oben rechts
      kannst Du Einflussfaktoren löschen.
    </p>
    <p i18n>
      Du kannst Einflussfaktoren auch direkt über die Eingabe einer Wirkungsprognose erzeugem. Siehe dazu den folgenden Abschnitt.
    </p>
    <b i18n>
      Hinweis: Damit weitergearbeitet werden kann, muss die Summe der Wahrscheinlichkeiten bei allen Einflussfaktoren beim Verlassen der
      Seite auf jeweils 100% normiert sein. Wenn dies nicht überall der Fall sein sollte, wird eine automatische Normierung beim Verlassen
      der Seite vorgenommen!
    </b>
    <br /><br />
    <ng-template #noteHover4>
      <dt-note-hover>
        <p i18n>
          Wenn Du zwei Zustände mit einer Wahrscheinlichkeit von jeweils 50 % eingestellt hast und ein Präzisionsintervall von 10 % angibst,
          rechnet das Entscheidungsnavi nicht genau mit 50 %, sondern mit einem Intervall, in dem die Werte zwischen 45 und 55 % liegen
          können.
        </p>
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Verknüpfung eines Einflussfaktors mit einer Wirkungsprognose">
    <p i18n>
      Um einen Einflussfaktor mit einer Wirkungsprognose zu verknüpfen, klicke auf den Button <mat-icon>equalizer</mat-icon>. Im Fenster,
      das sich öffnet, kannst Du oben auswählen, welchen Einflussfaktor Du mit der Wirkungsprognose verknüpfen möchtest. Im Anschluss gibst
      Du für jeden einzelnen Zustand eine Wirkungsprognose ein. Speichere Deine Änderungen mit „Übernehmen“.
    </p>
    <p i18n>
      Im Eingabefenster einer Wirkungsprognose hast Du zudem die Möglichkeit, Einflussfaktoren zu bearbeiten. Klicke hierzu auf das
      Stift-Symbol <mat-icon>edit</mat-icon> rechts neben der Bezeichnung Deines Einflussfaktors. Mit dem Plus-Button rechts daneben kannst
      Du direkt einen neuen Einflussfaktor definieren.
    </p>
  </dt-extendable-header>
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Systemseitige Einflussfaktoren, Risikoprofil und Tornadodiagramm" variation="large">
  <p i18n>
    Bei der Verknüpfung einer Wirkungsprognose mit einem Einflussfaktor über den Button <mat-icon>equalizer</mat-icon> hast Du die
    Möglichkeit, systemseitige Einflussfaktoren auszuwählen, z.B. die Worst-Best-Verteilung. In diesem Falle musst Du je nach Skala für jede
    Ziel- bzw. Indikatorausprägung eine Worst (10%-Percentil), Median (50%-Percentil) und Best-Ausprägung (90%-Percentil) angeben (am
    Beispiel der dreistufigen Worst-Best Verteilung). Beachte, dass Deine Ziel- und Indikatorausprägungen von Worst bis Best in
    aufsteigender Reihenfolge vom schlechtesten bis zum besten Ergebnis angegeben werden müssen. Nähere Informationen hierzu entnimmst Du
    den Weiteren Hinweisen.
  </p>
  <p i18n>
    Weiterhin kannst Du Dir im Fenster „Eingabe einer Wirkungsprognose“ ein Risikoprofil der entsprechenden Alternative in dem Ziel
    anschauen. Über den Button rechts über dem Diagramm kannst Du noch weitere Risikoprofile von anderen Alternativen hinzufügen, um so
    mehrere Risikoprofile miteinander zu vergleichen. Bei numerischen und Indikatorskalen kannst Du zusätzlich die Bandbreite des gezeigten
    Achsenabschnitts ändern. Standardmäßig ist als Bandbreite für die x-Achse die gesamte Skala dargestellt. Über die
    Einstellungsmöglichkeit „Angepasst“ ändert sich die Bandbreite der x-Achse und orientiert sich an den tatsächlich vergebenen
    Zielausprägungen.
  </p>
  <p i18n>
    Ein Tornadodiagramm kannst Du nur aufrufen, wenn Du eine Indikatorskala zugrunde gelegt und diese mit dem systemseitigen Einflussfaktor
    verknüpft hast. Du kannst zwischen zwei Varianten des Tornadodiagramms wählen. In der einfachen Variante werden die Gesamtergebnisse des
    Ziels auf Basis der Median-Werte der Indikatoren berechnet. In der probabilistischen Variante werden hierzu die Erwartungswerte aller
    möglicher Indikator-Kombinationen gebildet. Nähere Informationen hierzu entnimmst Du den Weiteren Hinweisen. Für die Bandbreite der
    Ergebnisskala stehen Dir drei verschiedene Ansichtsoptionen zur Verfügung:
  </p>
  <ul>
    <li i18n>Gesamtskala: Hier wird die gesamte Bandbreite der Skala zugrunde gelegt.</li>
    <li i18n
      >Wort-Best-Szenarien: Hier ergeben sich die Grenzen der Skalen aus einer Kombination der angegebenen besten bzw. schlechtesten
      Ergebnisse der Indikatoren
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover5"
        >(Beispiel)</span
      >.
    </li>
    <li i18n>Angepasst: Die Bandbreite passt sich auf die tatsächliche Breite des Tornadodiagramms an.</li>
  </ul>
  <ng-template #noteHover5>
    <dt-note-hover>
      <p i18n>
        Angenommen Du hast zwei Indikatoren auf einer Schulnotenskala von eins bis fünf definiert. Der erste Indikator hat ein Gewicht von
        zwei und der schlechteste vergebene Wert ist eine fünf. Der zweite Indikator hat ein Gewicht von eins und der schlechteste vergebene
        Wert ist eine drei. Die untere Grenze der Worst-Best-Bandbreite ergibt sich aus: (5 × 2 + 3 × 1) ÷ 3 = 4,33. Dieselbe Rechnung
        ergibt sich für die obere Grenze mit den besten Werten.
      </p>
    </dt-note-hover>
  </ng-template>
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Bestimmung der Entscheidungsqualität" [isLast]="true" variation="large">
  <p i18n>
    Wenn Du Dein Wirkungsmodell vollständig aufgestellt hast, solltest Du eine Selbsteinschätzung vornehmen, wie hoch die Qualität Deiner
    erzielten Ergebnisse ist. Klicke auf den Button „Qualität bewerten“ unten in der Mitte. In dem Fenster, das sich öffnet, wird Dir ein
    Balken mit einer Skala von null bis zehn angezeigt. Gib durch Klicken in den Balken oder Verschieben von diesem an, wie hoch die von Dir
    eingeschätzte Qualität der Ergebnisse des Schrittes ist. Weitere Hintergrundinformationen zur Entscheidungsqualität findest Du zum
    Schluss in der Abschlussbetrachtung. Dort wirst Du auch eine Übersicht darüber finden, wie hoch Du die Qualität in den anderen Schritten
    eingeschätzt hast. Eine solche Übersicht findest Du auch in dem Fenster, das sich bei Klick auf den Projektnamen oben in der Kopfleiste
    dieser Seite öffnet.
  </p>
</dt-extendable-header>
