@use 'variables' as dt;

mat-action-list {
  padding: 0;

  button.mat-list-item {
    height: 56px;

    .mat-line {
      font-size: dt.font-size(body-1);

      &:last-of-type {
        color: darkgray;
        font-size: dt.font-size(caption);
      }
    }
  }
}

.no-projects {
  padding: 0.5rem;
  text-align: center;
  font-style: italic;
}
