<mat-action-list>
  <button mat-list-item *ngFor="let project of recentlyEdited" class="project" (click)="loadHistoryProject(project.id)">
    <div matLine>{{ project.name }}</div>
    <div matLine i18n>Bearbeitet vor {{ project.updatedAt | timeAgo }}</div>
  </button>
  <div class="no-projects" *ngIf="recentlyEdited.length === 0" i18n>Noch keine Projekte bearbeitet.</div>
</mat-action-list>
