@use 'variables' as dt;

form {
  background-color: #ebebeb;

  display: flex;
  align-items: flex-end;

  mat-form-field,
  dt-tag-input {
    flex: 1;
    height: 100%;
  }

  .name-field input {
    // same height as dt-tag-input
    height: 32px;
  }

  ::ng-deep .mat-form-field-flex {
    background-color: unset;
  }
}

.date {
  padding-right: 5px;
}

.team-indicator,
.edit-text {
  margin-left: 1rem;
}

.team-name {
  margin-left: 0.5rem;
}

.team-name {
  color: dt.$orange;

  font-size: dt.font-size(caption);
  font-weight: 500;
}

.edit-text {
  color: gray;
  font-size: dt.font-size(caption);
  font-style: italic;
}
