<dt-modal-content [showFooter]="true" (closeClick)="tryClose()" [contentPadding]="false" [flexContent]="true" size="big">
  <ng-template i18n #title> Eingabe einer Wirkungsprognose </ng-template>
  <ng-template i18n #subtitle>
    Ziel <strong>&bdquo;{{ objective.name }}&ldquo;</strong>, Alternative <strong>&bdquo;{{ alternative.name }}&ldquo;</strong>
  </ng-template>
  <ng-template #content>
    <mat-tab-group mat-stretch-tabs color="accent" mat-align-tabs="center" [(selectedIndex)]="selectedTabIndex">
      <mat-tab>
        <ng-template mat-tab-label i18n> Dateneingabe </ng-template>
        <!-- Show Alternative/Objective/Uncertaintyfactor -->
        <mat-form-field class="influencefactor-selection">
          <mat-label i18n>Einflussfaktor</mat-label>
          <mat-select [(ngModel)]="copy.unsicherheitsfaktor" (ngModelChange)="changeUncertaintyFactor($event)">
            <mat-option i18n>--- Kein Einflussfaktor ---</mat-option>
            <mat-optgroup>
              <span i18n>Systemseitige Einflussfaktoren zur Unsicherheitsmodellierung</span>
              <mat-icon color="accent" class="help-icon" [dtHoverPopover]="systemSidedIFDescription" [dtHoverPopoverPosition]="'bottom'">
                help
              </mat-icon>
              <mat-option *ngFor="let predefinedInfluenceFactor of predefinedInfluenceFactors" [value]="predefinedInfluenceFactor">{{
                predefinedInfluenceFactor | influenceFactorName
              }}</mat-option>
            </mat-optgroup>
            <mat-optgroup *ngIf="decisionData.uncertaintyFactors.length > 0">
              <span i18n>Benutzerdefinierte Einflussfaktoren</span>
              <mat-icon color="accent" class="help-icon" [dtHoverPopover]="customIFDescription" [dtHoverPopoverPosition]="'bottom'">
                help
              </mat-icon>
              <mat-option *ngFor="let uf of decisionData.uncertaintyFactors; let i = index" [value]="uf">{{ uf.name }}</mat-option>
            </mat-optgroup>
          </mat-select>
          <button
            *ngIf="!isInfluenceFactorPredefined(copy.unsicherheitsfaktor)"
            [disabled]="copy.unsicherheitsfaktor == null"
            (click)="$event.stopImmediatePropagation(); copy.unsicherheitsfaktor != null && editInfluenceFactor()"
            mat-icon-button
            matSuffix
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="$event.stopImmediatePropagation(); addInfluenceFactor()" mat-icon-button matSuffix
            ><mat-icon>add</mat-icon></button
          >
        </mat-form-field>

        <ng-template #systemSidedIFDescription>
          <div class="explanation-text mat-elevation-z4" i18n>
            Systemseitige Einflussfaktoren beschreiben den Worst-Case (p.10 Perzentil), den Median (p.50 Perzentil) und den Best-Case (p.90
            Perzentil). Alle Worst-Best-Verteilungen werden vom System ausnahmslos als unabhängig voneinander betrachtet. Dies gilt auch für
            alle Indikatoren innerhalb einer konstruierten Skala.
          </div>
        </ng-template>

        <ng-template #customIFDescription>
          <div class="explanation-text mat-elevation-z4" i18n>
            Benutzerdefinierte Einflussfaktoren beschreiben konkrete mögliche Zustände und erfordern die Angabe von Wahrscheinlichkeiten für
            jeden Zustand.
          </div>
        </ng-template>

        <!-- Select the wirkungsprognosen -->
        <div class="content-wrapper" [dtWidthTrigger]="{ mobile: 500 }" (dtWidthTriggerStateChange)="mobileMode = $event['mobile']">
          <!-- If we have an influence factor -->
          <div
            *ngIf="
              copy.unsicherheitsfaktor && (!isInfluenceFactorPredefined(copy.unsicherheitsfaktor) || objective.isIndicator) && !mobileMode
            "
            class="table-wrapper"
          >
            <table class="wirkungsprog-table" [class.indicator]="objective.isIndicator">
              <ng-container *ngIf="!isInfluenceFactorPredefined(copy.unsicherheitsfaktor)">
                <!-- With or without indicators, with a normal influence factor (normal matrix) -->
                <tr>
                  <td class="title" i18n>Zustand</td>
                  <td class="title" i18n>Wahrscheinlichkeit</td>
                  <td class="title" i18n>Wirkungsprognose</td>
                </tr>
                <tr *ngFor="let zustand of copy.unsicherheitsfaktor.states; index as i">
                  <td class="text-center">{{ copy.unsicherheitsfaktor | stateName : i }} </td>
                  <td>
                    <div class="probability-cell">
                      <dt-bar-slider
                        [value]="zustand.probability"
                        [vertical]="false"
                        [disabled]="false"
                        [interval]="true"
                        [disabledLook]="true"
                        [precision]="relativeDeviation(zustand.probability, $any(copy.unsicherheitsfaktor).precision)"
                      ></dt-bar-slider>
                      {{ zustand.probability }}%
                    </div>
                  </td>
                  <td class="text-center">
                    <dt-objective-value [objective]="objective" [(outcomeValues)]="copy.values[i]"></dt-objective-value>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="isInfluenceFactorPredefined(copy.unsicherheitsfaktor) && objective.isIndicator">
                <!-- With indicators, with a systemsided influence factor (transposed matrix) -->
                <tr>
                  <td class="title" i18n>Indikator</td>
                  <td class="title" i18n>Wirkungsprognose</td>
                </tr>
                <tr *ngFor="let indicator of objective.indicatorData.indicators; index as i">
                  <td class="text-center">{{ indicator.name }} </td>
                  <td class="text-center">
                    <dt-independent-objective-value
                      [objective]="objective"
                      [indicatorIdx]="i"
                      [outcome]="copy"
                      [(independentOutcomeValues)]="copy.values"
                    ></dt-independent-objective-value>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>

          <div *ngIf="copy.unsicherheitsfaktor && mobileMode" class="mobile-container">
            <ng-container *ngIf="isInfluenceFactorPredefined(copy.unsicherheitsfaktor)">
              <ng-container *ngIf="objective.isIndicator">
                <!-- Systemsided influence factor, indicator scale -->
                <div class="mobile-state-row" *ngFor="let indicator of objective.indicatorData.indicators; index as indicatorIdx">
                  <span class="title-mobile" i18n>Indikator</span>
                  <div>{{ indicator.name }}</div>
                  <div class="title-mobile" i18n>Wirkungsprognose</div>
                  <div>
                    <dt-independent-objective-value
                      [objective]="objective"
                      [indicatorIdx]="indicatorIdx"
                      [outcome]="copy"
                      [(independentOutcomeValues)]="copy.values"
                    ></dt-independent-objective-value>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="objective.isNumerical || objective.isVerbal">
                <!-- Systemsided influence factor, numerical/verbal scale -->
                <div class="mobile-state-row" *ngFor="let zustand of copy.unsicherheitsfaktor.states; index as i">
                  <span class="title-mobile" i18n>Szenario</span>
                  <div>{{ copy.unsicherheitsfaktor | stateName : i }}</div>
                  <div class="title-mobile" i18n>Wirkungsprognose</div>
                  <div>
                    <dt-independent-objective-value
                      [objective]="objective"
                      [outcome]="copy"
                      [stateIdx]="i"
                      [(independentOutcomeValues)]="copy.values"
                    ></dt-independent-objective-value>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!isInfluenceFactorPredefined(copy.unsicherheitsfaktor)">
              <!-- Userdefined influence factor -->
              <div class="mobile-state-row" *ngFor="let value of copy.values; index as i">
                <span class="title-mobile" i18n>Zustand</span>
                <div>{{ copy.unsicherheitsfaktor | stateName : i }}</div>
                <div class="probability-cell">
                  <dt-bar-slider
                    [value]="copy.unsicherheitsfaktor.states[i].probability"
                    [vertical]="false"
                    [disabled]="false"
                    [interval]="true"
                    [disabledLook]="true"
                    [precision]="relativeDeviation(copy.unsicherheitsfaktor.states[i].probability, copy.unsicherheitsfaktor.praezision)"
                  ></dt-bar-slider>
                  {{ copy.unsicherheitsfaktor.states[i].probability }}%
                </div>
                <div class="title-mobile" i18n>Wirkungsprognose</div>
                <div>
                  <dt-objective-value [objective]="objective" [(outcomeValues)]="copy.values[i]"></dt-objective-value>
                </div>
              </div>
            </ng-container>
          </div>

          <ng-container *ngIf="copy.unsicherheitsfaktor == null">
            <!-- No indicators, no influence factor -->
            <div class="single-value-container">
              <dt-objective-value [objective]="objective" [(outcomeValues)]="copy.values[0]"></dt-objective-value>
            </div>
          </ng-container>

          <ng-container
            *ngIf="
              copy.unsicherheitsfaktor != null &&
              isInfluenceFactorPredefined(copy.unsicherheitsfaktor) &&
              !objective.isIndicator &&
              !mobileMode
            "
          >
            <!-- No indicators, with a system sided influence factor -->
            <div class="single-value-container">
              <ng-container *ngFor="let zustand of copy.unsicherheitsfaktor.states; index as i">
                <dt-independent-objective-value
                  [objective]="objective"
                  [outcome]="copy"
                  [stateIdx]="i"
                  [(independentOutcomeValues)]="copy.values"
                ></dt-independent-objective-value>
              </ng-container>
            </div>
          </ng-container>

          <dt-note-btn
            [(comment)]="copy.comment"
            [caption]="{ objective: objective.name, alternative: alternative.name } | noteBtnPreset : 'outcome'"
          ></dt-note-btn>
        </div>
      </mat-tab>
      <mat-tab [disabled]="!isValid">
        <ng-template mat-tab-label i18n> Risikoprofil </ng-template>
        <ng-template matTabContent>
          <dt-risk-profile #riskProfile [alternative]="alternative" [objective]="objective" [outcome]="copy"></dt-risk-profile>
        </ng-template>
      </mat-tab>
      <mat-tab [disabled]="!isValid || !isTornadoAvailable">
        <ng-template mat-tab-label>
          <label
            [matTooltip]="isCorrectSystemSidedIF() ? noTornadoAvailableMessage : wrongOrderMessage"
            [matTooltipDisabled]="isValid && isTornadoAvailable"
            matTooltipClass="warning-tooltip"
            i18n
          >
            Tornadodiagramm
          </label>
        </ng-template>
        <ng-template matTabContent>
          <dt-tornado-diagram #tornadoDiagram *ngIf="isTornadoAvailable" [objective]="objective" [outcome]="copy"></dt-tornado-diagram>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </ng-template>

  <ng-template #footer>
    <dt-button
      (click)="apply()"
      [disabled]="!isValid"
      icon="save"
      iconPosition="left"
      [matTooltip]="wrongOrderMessage"
      [matTooltipDisabled]="isCorrectSystemSidedIF()"
      matTooltipClass="custom-tooltip"
      [matTooltipPosition]="'above'"
      i18n
    >
      Übernehmen
    </dt-button>
    <dt-button (click)="close()" type="raised-less" i18n>Verwerfen</dt-button>
  </ng-template>
</dt-modal-content>

<dt-modal [showFooter]="true" #confirmationModal>
  <ng-template #title i18n> Ungespeicherte Änderungen </ng-template>
  <ng-template #content>
    <p i18n>Bist Du sicher, dass Du die ungespeicherten Änderungen an der Wirkungsprognose verwerfen willst?</p>
  </ng-template>
  <ng-template #footer>
    <dt-button (click)="close(); confirmationModal.close()" i18n>Verwerfen</dt-button>
    <dt-button (click)="confirmationModal.close()" i18n>Abbrechen</dt-button>
  </ng-template>
</dt-modal>
