@use 'variables' as dt;
// --------- Modal ----------
.text-center {
  text-align: center;
}

.content-wrapper {
  flex: 1;
  min-height: 0;
  display: flex;
  position: relative;

  dt-note-btn {
    z-index: 10001;
  }
}

.table-wrapper {
  overflow: auto;
  flex: 1;
}

.wirkungsprog-table {
  width: 100%;
  border-collapse: separate;

  tr:first-child td {
    position: sticky;
    top: 0;

    border-bottom: 1px solid lightgray;

    z-index: 10000;

    background-color: white;

    text-align: center;
  }

  > tr:not(:first-child) td {
    border-bottom: 1px solid rgba(211, 211, 211, 0.2);
  }

  td {
    vertical-align: middle;
    padding: 7px 10px;
  }

  &.indicator td {
    vertical-align: middle;
  }

  dt-objective-value {
    display: inline-block;
  }
}

.probability-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  dt-bar-slider {
    margin-right: 0.5em;
  }
}

.mobile-container {
  width: 100%;
}

.title {
  font-weight: 500;
}

::ng-deep .mat-optgroup-label {
  font-size: 13px !important;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #ddd;
}

::ng-deep .mat-active {
  background-color: #f5f5f5 !important;
}

.help-icon {
  margin-left: 5px;
  font-size: 22px;
  cursor: pointer;
}

.explanation-text {
  background-color: white;
  padding: 8px;
  margin: 0 8px;
  max-width: 400px;
}

.mobile-state-row {
  display: flex;
  flex-direction: column;
  padding: 0 15px 10px 15px;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .title-mobile {
    font-weight: 500;
    margin: 10px 0 5px 0;
  }
}

.single-value-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
}

mat-tab-group {
  overflow: auto;

  & ::ng-deep .mat-tab-header {
    background-color: #626f7b;
  }

  & ::ng-deep .mat-tab-label-content {
    color: #fff;
    font-size: dt.font-size(body-1);
    font-weight: 700;
  }

  & ::ng-deep .mat-tab-disabled {
    .mat-tab-label-content {
      color: #abb0b4;
    }
  }
}

.influencefactor-selection {
  width: 100%;
}

::ng-deep {
  .error-tooltip {
    font-size: 14px;
    min-width: 500px;
  }
}
