<div *ngIf="entry.question" class="question">{{ entry.question }}</div>
<ng-container [ngSwitch]="entry.displayType">
  <mat-form-field *ngSwitchCase="'dropdown'" class="dt-no-margin">
    <mat-label>{{ entry.label }}</mat-label>
    <mat-select [formControlName]="formIndex">
      <mat-option *ngFor="let option of entry.options; index as optionIndex" [value]="optionIndex">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="boxes" *ngSwitchCase="'radio'">
    <mat-radio-group [formControlName]="formIndex">
      <div *ngIf="entry.label">{{ entry.label }}</div>
      <mat-radio-button *ngFor="let option of entry.options; index as optionIndex" [value]="optionIndex">
        {{ option }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</ng-container>
