<div class="projects">
  <ng-container *ngFor="let project of projects; index as projectIndex; last as lastProject">
    <div class="author">{{ members[projectIndex].user.name ?? members[projectIndex].user.email }}</div>
    <div class="progress">
      <div
        *ngFor="let icon of stepIcons; index as stepIndex"
        class="step-circle"
        [class.in-progress]="stepIndex === progress[projectIndex]"
        [class.invalid]="stepIndex > progress[projectIndex]"
      >
        <mat-icon>{{ icon }}</mat-icon>
      </div>
    </div>
    <mat-divider *ngIf="!lastProject"></mat-divider>
  </ng-container>
</div>
