<dt-drag-drop-list [listElements]="decisionData.objectives" (move)="move($event[0], $event[1])">
  <ng-template let-objective="$implicit" let-index="index">
    <dt-objective-box
      [objective]="objective"
      [(expanded)]="objectiveExpanded[index]"
      (deleteClick)="delete(index)"
      (expandedChange)="updateExpansionStatus()"
    ></dt-objective-box>
  </ng-template>
</dt-drag-drop-list>

<div class="button-container">
  <dt-button (click)="add()" data-cy="add-objective" i18n>Weiteres Ziel hinzufügen</dt-button>
</div>
