.header {
  display: flex;
  gap: 20px;

  align-items: center;
  justify-content: space-between;

  &.help-open {
    .help .expand-icon {
      transform: rotate(180deg);
    }

    .corner {
      border-bottom-right-radius: 50px;
    }
  }
}

.left,
.center,
.right {
  display: flex;
  flex: 1;
}

.center {
  flex-basis: max-content;
  min-width: 0;
  max-width: max-content;
  width: max-content;

  .navigation {
    display: flex;
    gap: 10px;

    overflow: auto;

    padding: 10px 0;

    button {
      flex-shrink: 0;

      mat-icon {
        margin-right: 10px;
      }
    }
  }
}

.right {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;

  gap: 10px;

  .token {
    align-self: center;
  }

  .save-indicator {
    display: flex;
    align-items: center;

    user-select: none;

    vertical-align: middle;

    .save-error-container {
      display: flex;
      align-items: center;
      gap: 10px;

      padding: 5px;
      border-radius: 3px;

      background-color: white;
      font-weight: bold;
    }

    mat-icon {
      flex-shrink: 0;

      width: 20px;
      height: 20px;
      font-size: 20px;
      line-height: 20px;

      &.rotate {
        animation: rotation 2s infinite linear;

        @keyframes rotation {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(-359deg);
          }
        }
      }
    }
  }

  .help {
    display: flex;
    align-items: center;

    position: relative;

    user-select: none;

    padding: 0 20px;
    padding-left: 30px;

    align-self: stretch;

    cursor: pointer;

    .corner {
      position: absolute;
      left: 0px;
      height: 100%;
      width: 10px;
    }

    .expand-icon {
      transform: none;
      transition: transform 250ms ease-in-out;
    }
  }
}

[mat-stroked-button] {
  background-color: white;
  pointer-events: none;
  padding: 0 16px;
}

.logo {
  height: 65px;
  padding: 10px;
}
