:host {
  max-height: 100%;
}

form {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  min-height: 0;
  overflow: auto;
}

table td {
  min-width: 100px;
  padding: 8px;
}

.role-field {
  width: 400px;
}

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.table-wrapper,
.buttons-wrapper {
  padding: 8px 16px;
}
