@use 'sass:color';
@use '@angular/material' as mat;
@use 'variables' as dt;

.menu {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;

  .mat-radio-button {
    padding: 8px;
  }
}

.two-header-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  .top-header {
    display: flex;
  }

  mat-toolbar {
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    padding: 0;

    $toolbar-height: 37px;

    min-height: $toolbar-height;
    height: $toolbar-height;

    button {
      display: block;
    }
  }

  .flex-container {
    display: flex;
    width: 100%;
    overflow: hidden;

    .menu-button {
      padding: 5px 13px 5px 13px;
      min-width: 0;
      display: flex;
      align-items: center;
      height: 37px;
      width: 50px;
      line-height: 1em;
    }

    .spacer {
      min-width: 50px;
    }
  }
}

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  background-color: dt.$blue;

  &,
  button {
    color: white;
  }

  [mat-button] {
    border-radius: 0;
  }

  .logo {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    padding: 0 0 3.5px 5px;

    .project-mode {
      display: flex;
      background-color: white;
      justify-content: flex-end;
      height: 14px;
      align-items: center;
      border-radius: 2px;

      span {
        color: dt.$blue;
        padding-right: 3px;
        font-size: 11px;
        display: flex;
        align-items: center;
        line-height: 100%;
      }
    }

    span {
      font-weight: bold;
      font-size: dt.font-size(caption);
    }
  }

  .button {
    min-width: 45px;
    padding: 0;
    line-height: 100%;
  }

  .login-spinner-wrapper {
    display: flex;
    align-self: center;
    justify-content: center;
    min-width: 45px;
  }

  .update-button {
    margin: 0 5px;
  }

  .side-by-side-button {
    border-radius: 0;
    height: 100%;
    background-color: dt.$help-blue-lighten-8;
    color: dt.$help-blue;

    &.history-button {
      background-color: #fafafa;
      color: dt.$foreground;
    }
  }

  .login-button {
    line-height: 28px;
    align-self: center;

    margin: 0 4px;

    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.user-popover {
  display: flex;
  flex-direction: column;

  background-color: white;

  border-radius: 5px;

  .user-info {
    display: flex;
    align-items: center;
    hyphens: none;

    padding: 10px 16px;
    font-weight: 500;
  }

  button {
    height: 35px;
    line-height: 35px;
  }
}

.update-popover {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: relative;

  margin-top: 10px;

  @include mat.elevation(3);

  background-color: dt.$blue;

  font-weight: 500;

  color: white;

  padding: 15px;

  max-width: 23rem;

  border-radius: 5px;

  span {
    margin-right: 10px;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.left-flex {
  display: flex;
  justify-content: flex-start;
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
  min-width: 260px;

  &.small {
    min-width: fit-content;
    border-right: none;
  }
}

.template-projects-button {
  flex-shrink: 0;
  color: white;

  span {
    color: white;
  }
}

.right-flex {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  height: 37px;
}

:not(mat-menu) button {
  mat-icon + span {
    margin-left: 10px;
  }
}

.no-display {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.change-mode-button {
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

dt-project-area {
  flex: 0 1 auto;
  min-width: 0;
  align-self: center;
}

@media (max-width: 850px) {
  .left-flex {
    min-width: fit-content;
  }
}

@media only screen and (min-width: 415px) {
  .two-header-layout .template-projects-button {
    margin-right: 51px;
  }
}
