.cdk-overlay-container {
  z-index: 1000;
}

.dt-snackbar-container {
  z-index: 1001;

  &.mat-snack-bar-container {
    position: absolute;
    top: 32px;
    right: 0;

    width: unset !important;
  }
}
