@use '@angular/material' as mat;
@use 'variables' as dt;

$slider-point-height: 8px;

.grid {
  display: grid;
  grid-template-columns: 16px 1fr;

  max-width: max-content;

  column-gap: 10px;

  .label {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);

    margin: 15px 0;
    grid-column: 2;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;

    z-index: 1;

    &.selected {
      font-weight: bold;
    }

    &.disabled {
      color: hsl(0, 0%, 60%);
    }
  }

  .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;
    align-self: center;

    grid-column: 1;
    grid-row: 1 / -1;

    .input-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      height: calc(100% + $slider-point-height);
      width: 46px;
      overflow: hidden;

      input {
        position: absolute;

        width: auto;
        height: 100%;
        min-width: 0;
        aspect-ratio: 1;

        cursor: pointer;

        transform: rotate(90deg);
      }
    }

    .slider-point-container,
    .slider-thumb {
      width: 100%;
      pointer-events: none;
    }

    .slider-point-container {
      display: flex;
      align-items: center;
      height: 0px;

      z-index: 1;

      .slider-point {
        width: 100%;
        height: $slider-point-height;
        border-radius: 4px;
        background-color: #bbb;
      }
    }

    .slider-thumb {
      position: absolute;
      height: 24px;
      border-radius: 4px;
      background: dt.$orange;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
      transform: translate(0, -50%);

      z-index: 2;

      transition: top 150ms ease-out;
    }
  }
}

input[type='range'] {
  margin: 0;
  border: none;
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

@mixin track() {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ddd;
}

input[type='range']::-webkit-slider-runnable-track {
  @include track();
}

input[type='range']::-moz-range-track {
  @include track();
}

@mixin thumb() {
  visibility: hidden;
}

input[type='range']::-webkit-slider-thumb {
  @include thumb();
}

input[type='range']::-moz-range-thumb {
  @include thumb();
}
