<dt-utilityfunction-graph-numerical-or-indicator
  [objective]="objective"
  [data]="graphData"
  [showIntervals]="false"
  (changeC)="updateC($event)"
></dt-utilityfunction-graph-numerical-or-indicator>

<div class="bottom-container">
  <mat-form-field class="dt-number-input" hideRequiredMarker>
    <mat-label i18n>Krümmung</mat-label>
    <input
      matInput
      type="number"
      step="0.1"
      [min]="-cMax"
      [max]="cMax"
      [ngModel]="utilityFunction.c"
      (ngModelChange)="updateC($event)"
      [enableScroll]="true"
      required
    />
    <dt-input-spinner
      (increase)="adjustC(0.1)"
      (decrease)="adjustC(-0.1)"
      [plusDisabled]="utilityFunction.c === cMax"
      [minusDisabled]="utilityFunction.c === -cMax"
    ></dt-input-spinner>
  </mat-form-field>
  <mat-divider [vertical]="true"></mat-divider>
  <mat-form-field class="dt-number-input" hideRequiredMarker>
    <mat-label i18n>Präzisionsintervall</mat-label>
    <span matPrefix>±</span>
    <input
      matInput
      type="number"
      step="0.1"
      min="0"
      [max]="pMax"
      [ngModel]="utilityFunction.precision"
      (ngModelChange)="updatePrecision($event)"
      [enableScroll]="true"
      data-cy="precision-input"
      required
    />
    <dt-input-spinner
      (increase)="adjustPrecision(0.1)"
      (decrease)="adjustPrecision(-0.1)"
      [plusDisabled]="utilityFunction.precision === pMax"
      [minusDisabled]="utilityFunction.precision === 0"
    ></dt-input-spinner>
  </mat-form-field>
</div>
