@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

dt-utilityfunction-graph-numerical-or-indicator {
  flex: 1;
}

.bottom-container {
  display: flex;

  mat-form-field {
    flex: 1 0 0;
    min-width: 0;
  }

  mat-divider {
    height: 100%;
  }

  border-top: 1px solid rgba(59, 76, 91, 0.2);
}
