<!-- TODO: when updated on Angular 15, use the directive composition API and remove this container. -->
<div class="blur-container" (dtClickOutside)="canBlur && selectConfiguration(-1)">
  <!-- Configuration labels -->
  <div
    #configurationLabelContainer
    class="configuration-label-container"
    [style.border-top]="getHiddenStatesIndicatorColor(ratioHiddenStateLabelsTop)"
    [style.border-bottom]="getHiddenStatesIndicatorColor(ratioHiddenStateLabelsBottom)"
    (scroll)="updateHiddenStateLabelRatios()"
  >
    <ng-container *ngFor="let screwConfiguration of screwConfigurationProviders; index as configurationIndex">
      <div
        #configurationLabel
        class="configuration-label"
        [class.selected]="selectedProvider === configurationIndex"
        [class.highlighted]="highlightedConfigurationIndices.includes(configurationIndex)"
        (click)="selectConfiguration(configurationIndex)"
        (mouseenter)="enableHighlightOnConfigurations([configurationIndex])"
        (mouseleave)="disableHighlightOnConfigurations()"
      >
        <div class="name dt-reserve-bold-width" [attr.data-text]="screwConfiguration.name">{{ screwConfiguration.name }}</div>
        <div
          class="indicator"
          [style.visibility]="highlightedConfigurationIndices.includes(configurationIndex) ? 'visible' : 'hidden'"
          *ngIf="selectedProvider !== configurationIndex"
          >&bull;
        </div>
        <div
          class="indicator"
          #configurationLock
          *ngIf="selectedProvider === configurationIndex"
          matRipple
          [matRippleDisabled]="true"
          [matRippleRadius]="20"
          [matRippleUnbounded]="true"
          [ngSwitch]="!isShiftPressed && !isSelectedConfigurationUnlocked"
        >
          <mat-icon *ngSwitchCase="true" (click)="toggleLockOfSelectedConfiguration(); $event.stopPropagation()"> lock</mat-icon>
          <mat-icon *ngSwitchCase="false" (click)="toggleLockOfSelectedConfiguration(); $event.stopPropagation()"> lock_open</mat-icon>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- Screws -->
  <div
    #screwList
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListAutoScrollStep]="10"
    (cdkDropListDropped)="moveScrew.emit([$event.previousIndex, $event.currentIndex])"
    (wheel)="onScrollScrewContainer($event)"
    class="screw-list"
  >
    <ng-container *ngFor="let screw of screws; index as screwIndex; let last = last">
      <!-- Screw -->
      <div #screw class="screw" cdkDrag (cdkDragStarted)="isDraggingScrew = true" (cdkDragEnded)="isDraggingScrew = false">
        <div cdkDragHandle class="header" (click)="editOrDeleteScrew.emit(screwIndex)">
          <dt-note-btn
            (click)="$event.stopPropagation()"
            [(comment)]="screw.comment"
            [caption]="screw.name | noteBtnPreset : 'screw'"
            [darkBackground]="true"
          ></dt-note-btn>
          <div class="name">{{ screw.name }}</div>
        </div>
        <div
          *ngFor="let state of screw.states.concat(null); index as stateIndex; last as isNotDefinedState"
          class="state"
          #stateElement
          [class.not-defined]="isNotDefinedState"
          [class.highlighted]="isStateHighlighted(screwIndex, isNotDefinedState ? null : stateIndex)"
          [class.selected]="isStateSelected(screwIndex, isNotDefinedState ? null : stateIndex)"
          (mouseenter)="toggleHighlightOfConfigurationsGoingThroughState(screwIndex, isNotDefinedState ? null : stateIndex)"
          (mouseleave)="disableHighlightOnConfigurations()"
          (click)="clickState(screwIndex, isNotDefinedState ? null : stateIndex, $event)"
          #overflow="dtOverflow"
          [dtOverflow]="stateElement"
          (wheel)="overflow.isOverflowing && $event.stopPropagation()"
        >
          <span class="name">
            {{ state }}
          </span>
        </div>
      </div>
      <!-- State-state connections -->
      <div class="screw-connection-stripe">
        <svg *ngIf="!last" height="100%" [attr.width]="connectorStripeWidth" xmlns:svg="http://www.w3.org/1999/xhtml">
          <ng-container
            *ngFor="
              let stateConnection of sortStateConnectionsByLevelOfHighlight(stateConnections[screwIndex]);
              trackBy: trackStateConnectionsByEndpoints
            "
          >
            <svg:path
              class="screw-state-connection"
              [attr.d]="leftRightConnectorToPathDefinition(stateConnection)"
              [class.highlighted]="isStateConnectionHighlighted(stateConnection)"
              [class.selected]="isStateConnectionSelected(stateConnection)"
            ></svg:path>
            <svg:path
              (mouseenter)="enableHighlightOnConfigurations(stateConnection.configurationIndices)"
              (mouseleave)="disableHighlightOnConfigurations()"
              (click)="scrollConfigurationLabelIntoView(stateConnection.configurationIndices[0])"
              [attr.d]="leftRightConnectorToPathDefinition(stateConnection)"
              class="screw-state-connection-highlight-area"
            ></svg:path>
          </ng-container>
        </svg>
      </div>
    </ng-container>
  </div>
  <button
    class="screw-append-button"
    mat-icon-button
    (click)="appendScrew.emit()"
    matRipple
    [matRippleUnbounded]="true"
    [matRippleCentered]="true"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
