<dt-select-line>
  <ng-content></ng-content>

  <dt-select *ngIf="enableAlternativeSelection" [(selectedOptions)]="selectedAlternatives" [multiple]="true">
    <dt-select-label i18n>Alternativen</dt-select-label>
    <dt-select-option
      [disabled]="selectedAlternatives.length === minAlternatives && selectedAlternatives.includes(index)"
      [tooltipWhenDisabled]="tooltipWhenDisabledText.innerText"
      *ngFor="let alternative of decisionData.alternatives; let index = index"
      [value]="index"
      >{{ alternative.name }}</dt-select-option
    >
  </dt-select>

  <span #tooltipWhenDisabledText i18n [style.display]="'none'"
    >Du musst mindestens {minAlternatives, plural, =1 {eine Alternative} =2 {zwei Alternativen} other { {{ minAlternatives }} Alternativen}}
    selektiert lassen.
  </span>

  <dt-select *ngIf="!initialUtilityValues" [selectedOptions]="orderMode" (selectedOptionsChange)="setOrder($event)">
    <dt-select-label i18n>Sortierung</dt-select-label>
    <dt-select-option [value]="'utilityValues'" i18n>Nutzenwerte</dt-select-option>
    <dt-select-option [value]="'gutFeeling'" i18n>Bauchgefühl</dt-select-option>
  </dt-select>

  <dt-select *ngIf="weightedUtilityMatrix" [selectedOptions]="displayMode" (selectedOptionsChange)="setDisplay($event)">
    <dt-select-label i18n>Darstellung</dt-select-label>
    <dt-select-option [value]="'simple'" i18n>Einfach</dt-select-option>
    <dt-select-option [value]="'detailed'" i18n>Detailliert</dt-select-option>
  </dt-select>
</dt-select-line>

<dt-explanation-criteria-open-button
  #explainCommitmentToFollowThrough="explanationTrigger"
  dtExplanationTrigger
  criteriaToExplain="COMMITMENT_TO_FOLLOW_THROUGH"
></dt-explanation-criteria-open-button>

<div
  class="scroll-container"
  dtExplainable
  [explanationTrigger]="explainCommitmentToFollowThrough"
  [explainable]="explainable"
  [class.explainable]="explainable"
  data-cy="chart-ranking-container"
>
  <div
    class="element-container"
    [style.grid-template-columns]="gridColumnTemplate"
    [style.grid-template-rows]="gridRowTemplate"
    (mouseleave)="hoverPartition = -1"
    [attr.hover-partition]="hoverPartition"
    [dtWidthTrigger]="{ mobile: 500 }"
    (dtWidthTriggerStateChange)="isMobile = $event['mobile']"
  >
    <div *ngFor="let selectedAlternativeIdx of selectedAlternativeIndicesOrdered; let c = index; trackBy: trackByRankingChange">
      <div
        class="ranking"
        [class.ranked-better]="getRankingChange(selectedAlternativeIdx) > 0"
        [class.ranked-worse]="getRankingChange(selectedAlternativeIdx) < 0"
        >{{ c + 1 - getRankingChange(selectedAlternativeIdx) }}.
      </div>
    </div>

    <ng-container *ngIf="showRankingChange && !isMobile">
      <div *ngFor="let selectedAlternativeIdx of selectedAlternativeIndicesOrdered; trackBy: trackByRankingChange" class="ranking-change">
        <ng-container *ngIf="rankingChangeArray[selectedAlternativeIdx] > 0">
          <mat-icon [style.color]="'green'" [inline]="true"> arrow_drop_up</mat-icon>
          <span>(+{{ rankingChangeArray[selectedAlternativeIdx] }})</span>
        </ng-container>

        <ng-container *ngIf="rankingChangeArray[selectedAlternativeIdx] < 0">
          <mat-icon [style.color]="'red'" [inline]="true"> arrow_drop_down</mat-icon>

          <span>({{ rankingChangeArray[selectedAlternativeIdx] }})</span>
        </ng-container>

        <span *ngIf="rankingChangeArray[selectedAlternativeIdx] === 0">-</span>
      </div>
    </ng-container>

    <div
      *ngFor="let selectedAlternativeIdx of selectedAlternativeIndicesOrdered; trackBy: trackByIndex"
      class="caption"
      (mouseenter)="hoverPartition = -1"
    >
      <div class="alternative-name">{{ decisionData.alternatives[selectedAlternatives[selectedAlternativeIdx]].name }}</div>
    </div>
    <ng-container *ngFor="let selectedAlternativeIdx of selectedAlternativeIndicesOrdered; let first = first">
      <!-- value -->
      <div
        class="value-container"
        [class.winner]="selectedAlternativeIdx === winnerIdx"
        *ngIf="(!weightedUtilityMatrix && displayMode === 'detailed') || displayMode === 'simple'"
      >
        <div class="value-bar whole" [style.width.%]="utilityValues[selectedAlternatives[selectedAlternativeIdx]] * 100">
          <div class="value-text overflow-text">
            {{ utilityValues[selectedAlternatives[selectedAlternativeIdx]] * 100 | number : '1.2-2' }}
          </div>
          <div class="value-text">
            {{ utilityValues[selectedAlternatives[selectedAlternativeIdx]] * 100 | number : '1.2-2' }}
          </div>
        </div>
        <div
          class="original-value"
          *ngIf="initialUtilityValues"
          [style.left]="'calc(' + initialUtilityValues[selectedAlternatives[selectedAlternativeIdx]] * 100 + '% - 2px)'"
        ></div>
      </div>

      <div class="value-container-holder" *ngIf="weightedUtilityMatrix && displayMode === 'detailed'">
        <div
          class="objective-names"
          *ngIf="first"
          [style.width.%]="adjustedUtilityValues[orderOfAlternatives[0]] * 100"
          dtViewIntersection
          (enterView)="namesVisible = true"
          (leaveView)="namesVisible = false"
        >
          <div
            *ngFor="let objectiveName of objectiveNames; let dI = index; let last = last"
            class="objective-name"
            [style.color]="colors[dI % colors.length]"
            [style.flex]="weightedUtilityMatrix[orderOfAlternatives[0]][dI] * 100"
          >
            <div class="objective-name-text">
              {{ objectiveName }}
            </div>
            <div *ngIf="!last" class="partition-separator"></div>
          </div>
        </div>
        <div class="value-container" [class.winner]="selectedAlternativeIdx === winnerIdx">
          <div class="partition-container" [style.width]="getUtilityValuePartitionContainerWidth(selectedAlternativeIdx)">
            <ng-container
              *ngFor="
                let utilityValuePartition of nonZeroUtilityValuePartitions(selectedAlternativeIdx);
                let last = last;
                trackBy: trackByIndex
              "
            >
              <div
                class="value-bar partition"
                [style.flex]="
                  utilityValuePartition[2]
                    ? undefined
                    : (utilityValuePartition[0] / utilityValues[selectedAlternatives[selectedAlternativeIdx]]) * 100
                "
                [style.background-color]="colors[utilityValuePartition[1] % colors.length]"
                [class.ignored-partition]="utilityValuePartition[2]"
                [class.clickable]="canIgnoreObjectives"
                [attr.partition]="utilityValuePartition[1]"
                [matTooltip]="namesVisible ? null : objectiveNames[utilityValuePartition[1]]"
                [matTooltipPosition]="'right'"
                (mouseenter)="hoverPartition = utilityValuePartition[1]"
                (click)="toggleObjective(utilityValuePartition[1])"
              >
                <div class="wrap-helper">
                  <div class="fake-wrap-helper"></div>
                  <span class="value-text" [style.background-color]="colors[utilityValuePartition[1] % colors.length]">
                    {{ utilityValuePartition[0] * 100 | number : '1.1-1' }}
                  </span>
                </div>
                <div class="wrap-helper">
                  <div class="fake-wrap-helper"></div>
                  <span class="value-text" [style.background-color]="colors[utilityValuePartition[1] % colors.length]">
                    {{ utilityValuePartition[0] * 100 | number : '1.2-2' }}
                  </span>
                </div>
              </div>
              <div *ngIf="!last" class="partition-separator"></div>
            </ng-container>
            <span class="partition-text">
              {{ shownValues[selectedAlternativeIdx] * 100 | number : '1.2-2' }}
            </span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
