@use '@angular/material' as mat;
@use 'sass:color';
@use 'variables' as dt;

$bar-color: dt.$blue-lighten-5;
$bar-color-best-alternative: dt.$blue;
$current-value-fill: #fff;
$initial-value-stroke: dt.$blue-lighten-2;
$initial-value-stroke-width: 2; // must be the same as in ChartRankingComponent

$label-color: dt.$blue;

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.scroll-container {
  overflow: auto;
  overflow-anchor: none;
  padding: 5px;

  &.explainable {
    overflow: visible;
  }
}

.element-container {
  display: grid;
  grid-auto-flow: column;
  row-gap: 5px;

  overflow: hidden;

  &.mobile .ranking {
    color: rgba(0, 0, 0, 0.5);

    &.ranked-worse {
      color: red;
    }

    &.ranked-better {
      color: green;
    }
  }

  > * {
    align-self: center;
  }

  mat-checkbox {
    margin-right: 10px;
  }

  .ranking {
    margin-right: 10px;

    color: $label-color; // #888888;
    font-weight: 500;
    line-height: 1;
  }

  .ranking-change {
    display: flex;

    justify-content: center;
    align-items: center;

    min-width: 5rem;

    color: $label-color;
    padding: 0 10px;

    mat-icon {
      font-size: 2rem;
      line-height: dt.font-size(body-1);
    }
  }

  .caption {
    flex: 0.3;
    min-width: 5rem;

    margin-left: 15px;
    margin-right: 10px;

    .alternative-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      text-align: left;
      color: $label-color; // #888888;
      font-weight: 500;
    }
  }

  .value-container-holder {
    position: relative;
    min-width: 150px;
  }

  .value-container {
    display: flex;
    align-items: center;

    overflow: hidden;

    position: relative;
    min-width: 150px;

    background-color: color.change($color: dt.$blue, $saturation: 15%, $alpha: 0.05);

    &.winner {
      background-color: color.change($color: dt.$blue, $saturation: 15%, $alpha: 0.15);

      .value-bar {
        background-color: $bar-color-best-alternative;

        &.whole div.value-text {
          background-color: $bar-color-best-alternative;
        }
      }
    }

    .value-bar,
    .original-value {
      height: 30px;
    }

    .value-bar {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      background-color: $bar-color;
      //border: 2px solid rgba(0, 0, 0, 0.4);

      .value-text {
        z-index: 1; // On Top of original-value

        padding-right: 5px;

        &:not(.overflow-text) {
          color: white;
        }
      }

      &.whole {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;

        .value-text {
          display: flex;
          align-items: center;

          background-color: $bar-color;
          height: 100%;
        }

        .overflow-text {
          white-space: nowrap;
          width: 0;
          padding: 0;
          transform: translate(7px, 0);
        }
      }

      &.partition {
        display: flex;
        flex-wrap: wrap;

        overflow: hidden;

        box-sizing: border-box;
        justify-content: center;
        min-width: 0;

        position: relative;

        user-select: none;

        transition: opacity 200ms linear;

        &.ignored-partition {
          width: 5px;
          height: 20px;

          .value-text {
            display: none;
          }
        }

        .value-text {
          padding-right: 0px;
        }

        .wrap-helper {
          display: flex;
          flex-wrap: wrap;

          align-items: center;
          justify-content: center;

          position: absolute;
          width: 100%;
          height: 100%;

          :first-child {
            height: 100%;
          }
        }

        .fake-wrap-helper {
          height: 100%;
        }
      }
    }

    .partition-text {
      position: absolute;
      padding-left: 7px;

      right: 0;
      transform: translateX(100%);
    }

    .original-value {
      position: absolute;

      top: 0;
      width: 2px;
      background-color: #808080;
    }
  }

  .partition-container {
    display: flex;
    align-items: center;

    min-height: 30px;

    position: relative;
  }
}

.partition-separator {
  width: 1px;
}

.objective-names {
  display: flex;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;

  .objective-name {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 1.5rem;

    white-space: nowrap;
    flex: 1;
    min-width: 0;

    opacity: 0;

    transition: opacity 200ms ease-in-out;

    .objective-name-text {
      position: absolute;
      font-weight: 500;
    }
  }
}

.clickable {
  cursor: pointer;
}

@for $i from 0 through 30 {
  .element-container[hover-partition='#{$i}'] {
    .partition:not([partition='#{$i}']) {
      opacity: 0.3;
    }

    .objective-name:nth-child(#{$i + 1}) {
      opacity: 1;
    }
  }
}
