<div class="chart" [style.grid-template-rows]="gridRows">
  <div class="value-header">
    <div i18n>noch zu wenig reflektiert</div>
    <div i18n>ausreichend reflektiert</div>
  </div>
  <div class="total-text bold center" i18n> Gesamtqualität der Entscheidung </div>
  <div class="bar-background top">
    <div class="background-color"></div>
    <div class="lines"></div>
  </div>
  <div class="bar-background bottom">
    <div class="background-color"></div>
    <div class="lines"></div>
  </div>
  <ng-container [ngSwitch]="total < 0">
    <div *ngSwitchCase="true" class="require-text bold high center">
      <span class="backdrop single-line" i18n>Erfordert die Bewertung aller sechs Qualitätskriterien </span></div
    >
    <div *ngSwitchCase="false" class="quality-bar total high center" [style.width.%]="total * 10"></div>
  </ng-container>
  <div class="seperator center"></div>
  <div class="criteria-text bold center" i18n> Qualitätskriterien </div>
  <ng-container *ngFor="let criteria of dqCriteria; index as i">
    <div
      class="criteria single-line center"
      [style.grid-row]="5 + i"
      [matTooltip]="verbalize(criteria)"
      [matTooltipDisabled]="!overflow.isOverflowing"
    >
      <span>{{ i + 1 }}.</span>
      <span class="single-line" #overflow="dtOverflow" [dtOverflow]>{{ verbalize(criteria) }}</span>
    </div>
    <div
      *ngIf="criteriaValues[criteria] >= 0"
      class="quality-bar high center"
      [class.minimum]="minIndex === i"
      [style.width.%]="criteriaValues[criteria] * 10"
      [style.grid-row]="5 + i"
      (click)="openExplanation(i, criteria)"
    ></div>
    <div
      *ngIf="criteriaValues[criteria] < 0.2"
      class="requires-assessment high center"
      [class.disabled]="lockedValues[i] && criteriaValues[criteria] < 0"
      (click)="openExplanation(i, criteria)"
      [style.grid-row]="5 + i"
    >
      <span class="backdrop" i18n>Qualität bewerten</span>
    </div>
  </ng-container>
  <div class="x-scale">
    <div *ngFor="let i of xScale">{{ i }}</div>
  </div>
</div>
