@use 'sass:math';
@use 'sass:color';
@use 'variables' as dt;

:host {
  display: flex;
  justify-content: center;
}

.chart {
  display: grid;
  grid-template-columns: 0px fit-content(250px) minmax(150px, 1fr) 0px;

  flex: 1;

  max-width: 1000px;

  column-gap: min(40px, 5%);

  .value-header {
    display: flex;
    justify-content: space-between;

    color: dt.$grey-foreground;

    grid-column: 3;
    grid-row: 1;

    > * {
      max-width: 12ch;
    }

    div:last-of-type {
      text-align: right;
    }
  }

  .total-text {
    grid-column: 2;
    grid-row: 2;
  }

  .require-text {
    color: dt.$grey-foreground;

    padding-left: 15px;

    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    grid-column: 3;
    grid-row: 2;
  }

  .bar-background {
    position: relative;
    grid-column: 3;

    &.top {
      grid-row: 2;
    }

    &.bottom {
      grid-row: 5 / span 6;
    }

    > * {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .background-color {
      background: linear-gradient(to right, #f2f2f2, #f2f2f2 80%, #e2f0d9 80%);
    }

    .lines {
      background: linear-gradient(to right, #bfbfbf 0px, transparent 1px);
      background-size: calc(10% - 0.1px);
      background-repeat: repeat;
    }
  }

  .seperator {
    border-top: 1px solid #bfbfbf;

    grid-column: 1 / 5;
    grid-row: 3;

    margin-top: 20px;
  }

  .criteria-text {
    grid-column: 2;
    grid-row: 4;
  }

  .criteria {
    display: flex;
    gap: 10px;

    grid-column: 2;
  }

  .requires-assessment {
    grid-column: 3;
    padding-left: 20px;
    color: dt.$orange;

    user-select: none;

    cursor: pointer;

    &.disabled {
      color: color.scale(dt.$grey-foreground, $lightness: 50%);
      cursor: initial;
    }
  }

  .quality-bar {
    grid-column: 3;
    background-color: #bfbfbf;

    &.minimum {
      background-color: #7f7f7f;
    }

    &:not(.total) {
      height: 20px;
      cursor: pointer;

      &:hover {
        background-color: #d8d8d8;
        border: 2px solid dt.$orange-lighten-4;
      }
    }

    &.total {
      background-color: dt.$blue;

      height: 32px;
      grid-row: 2;
    }
  }

  .x-scale {
    display: flex;
    justify-content: space-between;

    width: 100 + math.div(100%, 10);
    transform: translateX(math.div(100%, -22));

    grid-row: 11;
    grid-column: 3 / 4;

    > div {
      flex: 1;
      text-align: center;
      font-size: dt.font-size(caption);
    }
  }
}

.high {
  z-index: 1;
}

.backdrop {
  background-color: #f2f2f2;
}

.center {
  align-self: center;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
