<dt-modal-content (closeClick)="dialogRef.close()" [contentPadding]="false" [flexContent]="true">
  <ng-template #title i18n>Excel-Anbindung</ng-template>

  <ng-template #content>
    <mat-tab-group [(selectedIndex)]="tabIdx" mat-stretch-tabs color="accent" mat-align-tabs="center">
      <mat-tab>
        <ng-template mat-tab-label i18n> Export </ng-template>
        <div class="export-container">
          <div i18n
            >Hier kannst Du Dein Wirkungsmodell als Excel-Datei exportieren und später in derselben Struktur über das entsprechende Tab
            wieder importieren. Bitte beachte hierbei folgende Punkte:
          </div>
          <ul class="bullets">
            <li i18n>Ziele und Skalen darfst Du nicht verändern.</li>
            <li i18n>Verändern kannst Du hingegen alle Wirkungsprognosen (weiß), sofern Du Werte innerhalb der Skala wählst. </li>
            <li i18n
              >Einflussfaktoren kannst Du in Matrixfeldern entfernen oder auch neu hinzufügen, soweit sie in Deinem Projekt definiert sind.
            </li>
            <li i18n
              >Wahrscheinlichkeiten aller benutzerdefinierter Einflussfaktoren kannst Du anpassen, die Summe der Zustände muss jedoch immer
              bei 100% liegen.
            </li>
            <li i18n>Neue Alternativen kannst Du hinzufügen, indem Du diese in neuen Zeilen an die bestehende Matrix anfügst. </li>
          </ul>
          <div class="small-text" i18n>Weitere Hinweise findest Du im Tab README in der Excel-Datei.</div>
          <mat-checkbox class="protection-checkbox" [(ngModel)]="unProtectSheet" i18n
            >Einschränkungen der Excel-Datei aufheben (Expertenmodus)</mat-checkbox
          >
          <mat-error *ngIf="includesDuplicateAlternatives" class="dt-error" i18n>
            Dein Wirkungsmodell enthält eine oder mehrere Alternativen mit demselben Namen.
          </mat-error>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label i18n> Import </ng-template>
        <div class="import-container">
          <div i18n>Hier kannst Du Dein Wirkungsmodell aus Deiner Excel-Datei importieren.</div>
          <div
            class="drag-area"
            [class.dragging]="showDragArea"
            (dragenter)="dragEnter()"
            (dragleave)="dragLeave()"
            (drop)="drop($event)"
            (dragover)="dragOver($event)"
            (click)="excelFileInput.click()"
          >
            <span *ngIf="showDragArea" i18n>Legen Sie eine Excel-Datei hier ab, um sie zu laden</span>
            <span *ngIf="!showDragArea && file == null" i18n>Excel-Datei hochladen</span>
            <span *ngIf="!showDragArea && file != null" i18n>Eine andere Excel-Datei laden</span>
            <input
              #excelFileInput
              style="display: none"
              type="file"
              accept=".xlsx"
              (change)="uploadFromInput(excelFileInput)"
              data-cy="project_file_input"
            />
          </div>
          <div class="uploaded-file">
            <mat-icon>description</mat-icon>
            <span *ngIf="file != null" class="file-name">{{ file.name }}</span>
            <span *ngIf="file == null" class="file-name" i18n>Noch keine Datei geladen</span>
          </div>
          <div *ngIf="file != null" class="log-container">
            <ng-container *ngIf="excelForecastExportService.loadingImportSuccessful">
              <div class="status status-green" i18n>Die Datei kann importiert werden.</div>
              <ng-container *ngFor="let changeMessage of changeMessages | keyvalue">
                <div class="message-title" *ngIf="changeMessage.value.messages.length > 0">
                  {{ changeMessage.value.title }}
                </div>
                <div class="message-list-container">
                  <div class="message-list-entry" *ngFor="let changeMessageRow of changeMessage.value.messages">
                    <mat-icon>{{ changeMessage.value.icon }}</mat-icon
                    ><span>{{ changeMessageRow }}</span>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="excelForecastExportService.loadingImportSuccessful === false">
              <div class="status status-red" i18n>Die Datei kann nicht importiert werden.</div>
              <ng-container *ngFor="let errorMessage of errorMessages | keyvalue">
                <div class="message-title" *ngIf="errorMessage.value.messages.length > 0">
                  {{ errorMessage.value.title }}
                </div>
                <div class="message-list-container">
                  <div class="message-list-entry" *ngFor="let errorMessageRow of errorMessage.value.messages">
                    <mat-icon>close</mat-icon><span>{{ errorMessageRow }}</span>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-template>

  <ng-template #footer>
    <div class="export-buttons">
      <dt-button *ngIf="tabIdx === 0" (click)="export()" i18n>Exportieren</dt-button>
      <dt-button *ngIf="tabIdx === 1" [disabled]="!excelForecastExportService.loadingImportSuccessful" (click)="import()" i18n
        >Importieren</dt-button
      >
      <dt-button (click)="dialogRef.close()" i18n>Abbrechen</dt-button>
    </div>
  </ng-template>
</dt-modal-content>
