:host ::ng-deep {
  .gridline-path {
    stroke: #ddd;
    stroke-width: 1;
    fill: none;
  }

  [ngx-charts-axis-label] text {
    font-weight: 500;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.resizing-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.1);

  transition: opacity 200ms ease-in-out;

  &.hidden {
    pointer-events: none;
    opacity: 0;
  }
}
