<dt-extendable-header i18n-headerName variation="large" headerName="Allgemeine Infos" [initialOpening]="true">
  <p i18n
    >Beim ersten Entwurf Deiner Entscheidungsfrage musst Du auf nichts Besonderes achten. Trage die Frage einfach genauso ein, wie Du sie
    gerade im Kopf hast.</p
  >

  <p i18n
    >Um Deine Entscheidungsfrage inhaltlich zu konkretisieren oder zu ergänzen, kannst Du in die untere linke Box
    <span
      class="hover-text"
      [dtHoverPopoverDisableClick]="true"
      [dtHoverPopoverPosition]="'bottom'"
      [dtHoverPopoverDelay]="200"
      [dtHoverPopover]="noteHover"
    >
      Annahmen
    </span>
    eintragen, von denen Du in Deiner Entscheidungssituation ausgehst oder vielleicht auch Vorentscheidungen, die Du schon getroffen hast.
    Dies hilft dabei, Dir Deine Ausgangslage und Standpunkte nochmal bewusst zu machen und Deine Entscheidung inhaltlich besser
    abzustecken.</p
  >

  <p i18n
    >Wenn Du zu einem späteren Zeitpunkt noch andere, von Deiner Frage unabhängige Entscheidungen treffen musst, kannst Du diese in der
    unteren rechten Box als Folgeentscheidungen sammeln.</p
  >
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Tipps zur Formulierung der Entscheidungsfrage" [isLast]="true">
  <p i18n>Hier findest Du ein paar Tipps, um Deine Entscheidungsfrage möglichst proaktiv zu formulieren:</p>

  <ul>
    <li i18n>Fange die Frage mit „Wie“ (oder einem anderen „W“-Wort) an.</li>
    <li i18n>Mache deutlich, aus wessen Perspektive die Entscheidung betrachtet und wessen Handlungsraum angesprochen wird.</li>
    <li i18n
      >Achte darauf, dass Deine Entscheidungsfrage präzise formuliert ist. Dabei hilft es, einen Ort oder Zeitraum in die Frage zu
      integrieren, z.B. „in Aachen“ oder „in den nächsten drei Jahren“. Manchmal hilft es ebenfalls, ein übergeordnetes Ziel in die
      Entscheidungsfrage zu integrieren, z.B. „um möglichst viel Geld zu sparen“ oder „um meine Lebensqualität zu maximieren“.
    </li>
    <li i18n
      >Notiere Deine
      <span
        class="hover-text"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'bottom'"
        [dtHoverPopoverDelay]="200"
        [dtHoverPopover]="noteHover"
      >
        Annahmen
      </span>
      rund um das Entscheidungsproblem. Dies hilft Dir dabei, Dir immer wieder über Deine eigenen Standpunkte bewusst zu werden. Wenn Du Dir
      bereits über mögliche Folgeentscheidungen bewusst bist, trage diese auch mit ein.</li
    >
  </ul>
</dt-extendable-header>

<ng-template #noteHover>
  <dt-note-hover>
    <p i18n> Betrachte die folgende Entscheidungsfrage: "Wie kann ich meine körperliche Fitness neben dem Studium am besten steigern? </p>
    <br />
    <p i18n> Beispiele für Annahmen an dieses Entscheidungsproblem können lauten: </p>
    <br />
    <ul>
      <li i18n>Aufgrund einer alten Knieverletzung kann ich nicht mehr intensiv Leichtathletik machen</li>
      <li i18n>Aus Platzmangel kann ich in meiner Wohnung keinen Sport machen</li>
      <li i18n>Ich möchte maximal 100€ im Monat ausgeben</li>
    </ul>
  </dt-note-hover>
</ng-template>
