<dt-modal [contentPadding]="false" [flexContent]="true" [showFooter]="!consent">
  <ng-template #title>{{ modalTitle }}</ng-template>
  <ng-template #content>
    <dt-youtube-container
      [style.flex-basis]="consent ? '50vh' : ''"
      [consent]="consent"
      (closeModal)="modal.close()"
      [videoId]="videoId"
    ></dt-youtube-container>
  </ng-template>
  <ng-template #footer>
    <dt-button (click)="consent = true">Zustimmen</dt-button>
    <dt-button (click)="modal.close()">Ablehnen</dt-button>
  </ng-template>
</dt-modal>
